<style>
.paddingTop0{
  padding-top:0em;
}

.maxHeightReservation{
  max-height:34em;
}

.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.5em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.5); /* transparent background */
    color: #fff;
    color:white;
    padding-top: 3em;
padding-bottom: 3em;
padding-left: 2em;
padding-right: 2em;
text-transform: uppercase;
}

</style>

<div class="twelve columns cms">

  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Voiture avec chauffeur ou moto taxi pour Paris Orly</h1>
    </div>
  </div>
<hr style="background:none repeat scroll 0% 0% transparent;"/>
  <div class="row">
    <div class=" maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns " class="paddingTop0">
      <div class="hide-for-small" style="height:7em;">

      </div>
      <div class="" >
        <div class="four columns text-center columnsVisuel">
          <img src="http://lh4.ggpht.com/GYk3e_IPMzCRyUFzTkeWFnIXTYesk05DzDqX50DmVaiXrfS5mrwGT97StgLKrFbddLLUS4o-bnyjpt0qZDrJIAA=s400" title="" alt="">
          <h3>BERLINE</h3>
        </div>
        <div class="four columns text-center columnsVisuel">
          <img src="http://lh3.ggpht.com/01U_l69gF1d_XgtHahVLKLlQVEyuiTmTxjHWA2J_uVvWQJXoNSBoKllUcKaeIRfG73CWO19AoQc9Sml2c6KWBII=s400" title="" alt="">
          <h3>VAN</h3>
        </div>
        <div class="four columns text-center columnsVisuel">
          <img src="http://lh3.ggpht.com/VPLS7zeIXNb0Fmew-cLHIyfx0IgyxxDKZRy27Kbt7TYU5YLfndSFRr68TtRznWRIe7sySy19Hm6dcYtJyQTiBw=s400" title="" alt="">
          <h3>MOTO</h3>
        </div>

      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur privé vous conduit à Orly en 1h00</h2>
      <p>Réservez un chauffeur entre Paris et l'aéroport d'Orly dès 25 €.</p>
      <p>Pour un voyage en véhicule en <a href="/chauffeur-prive-vtc">chauffeur privé</a> aux heures de pointes (7h - 10h et 17h - 20h) comptez <strong>environ 1 h</strong> pour rejoindre l'aéroport d'Orly et voyagez sans stress <strong>à partir de 25 €*.</strong></p>
      <p>Si vous prenez l'avion et que vous êtes pressé, privilégiez le moto-taxi qui vous déposera <strong>en 30 minutes seulement !</strong></p>
      <p>Vous arrivez à l'aéroport par <strong>un vol national? Comptez 30 minutes</strong> pour récupérer vos bagages avant de rejoindre votre chauffeur et <strong>45 minutes pour un vol international.</strong></p>
      <p ><em>* à partir de <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer"> <meta itemprop="currency" content="EUR" /><span itemprop="price">25</span></span>€ en Classe Eco</em></p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/YrGZKHZYGVhT5A8SzzSoiO8iR5Hr7Mo8i5MiJRO1koR0xjOHxwU7jNK8rzHuaeXy5RES0SuuBAgcXDWzZBTMu3k=s650" alt="AlloCab assure vos trajets vers l’aéroport d’Orly en berline ou moto taxi " title="Dès votre arrivée à l'aéroport, bénéficiez de services de qualité délivrés par votre chauffeur"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh5.ggpht.com/RMM2srcI-OCkP0F3jkb_4jLVkxrkb2LJEGGvwtEQI9MQaW-L3avgYAdi6ITn9g5uN_RA1I8s2yAiqFdvzYYpvg=s600" alt=" Un trajet de qualité pour rejoindre l’aéroport d’Orly" title="Votre chauffeur AlloCab vous mène où bon vous semble et vous conseille sur les lieux incontournables de la capitale"/>
    </div>
    <div class="six columns">
      <h2>Déplacez-vous en VIP avec votre chauffeur </h2>
      <p>Bien plus qu'un simple transport, <strong>votre chauffeur privé vous attend à l'aéroport </strong> avec une pancarte à votre nom et prend en charge vos bagages et vous propose un rafraïchissement et la presse du jour.</p>
      <p><strong>En famille, laissez vous guider par votre chauffeur VTC </strong> dans un van tout confort pour 7 passagers. En voyage d'affaires, réservez <a href="/chauffeur-prive-vtc/gamme-vehicules"> un chauffeur en Classe Affaire ou Première</a> pour continuer à travailler en mobilité.</p>
      <p>Pour réserver, rien de plus simple : remplissez le formulaire de réservation et laissez-vous guider. Vous recevrez ensuite un SMS de confirmation et un SMS vous indiquant que votre chauffeur est en approche. A vous de jouer !</p>
    </div>
  </div>
<hr/>
  <div class="row">

    <div class="six columns">
      <h2>Votre chauffeur Allocab à l'aéroport de Paris Orly</h2>
      <p>Paris Orly est la deuxième plateforme aéroportuaire de France après l'aéroport de <a href="/france/paris/aeroport/roissy-charles-de-gaulle">Paris-Charles-de-Gaulle</a>.</p>
      <p>Profitez de la zone commerciale de l'aéroport de Paris Orly pour faire vos achats en <em>duty free</em> : bijouterie et horlogerie, cadeaux et souvenirs, cosmétique etc.</p>
      <p>Un Avion à prendre en dernière minute? Optez pour la rapidité et <a href="http://www.allocab.com/moto-taxi">réservez un moto-taxi !</a> Il vous accueille avec un tablier et une verste pour vous protéger, et prend en charge un bagage cabine pour votre confort.</p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/kb09nnZjUDKalGt5_cXksTKAfTXaiYR85xfaz0RxKzA9MIoOfvs9uiKnFXi7wiuYlNNl38m9hhRNI9Nb5YP5sg=s600" alt="Vos trajets aéroport en chauffeur privé" title="Votre chauffeur VTC vous attend à l'aéroport d'Orly avec une pancarte à votre nom et vous accueille dans son véhicule haut de gamme"/>
    </div>
  </div>


</div>
