<style>
.paddingTop0{
  padding-top:0em;
}

.maxHeightReservation{
  max-height:34em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.5em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.5); /* transparent background */
    color: #fff;
    color:white;
    padding-top: 3em;
padding-bottom: 3em;
padding-left: 2em;
padding-right: 2em;
text-transform: uppercase;
}

.cms .columns .columnsVisuel{


}
</style>


<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Votre chauffeur VTC à l'aéroport Roissy CDG</h1>
    </div>
  </div>
<hr style="background:none repeat scroll 0% 0% transparent;"/>
  <div class="row">
    <div class=" maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns" class="paddingTop0">
      <div class="hide-for-small" style="height:7em;">

      </div>
      <div class="" >
        <div class="four columns text-center columnsVisuel">
          <img src="http://lh3.ggpht.com/tOnAD2y7e9tU1rs-Q5W5XaRH7mChlqq9ORVQr_vj60H5kfGJ1v3oUhdWp9yDeINgiyBRKL4xEMwh6rwRfXbT8Q=s400" title="" alt="">
          <h3>BERLINE</h3>
        </div>
        <div class="four columns text-center columnsVisuel">
          <img src="http://lh3.ggpht.com/cmwIPi_a82Gvi83CzzN17gtwynBRrNaExr3aZ0iVy7Kbfktde-P1I0zFl_OGUtRZnoi0vbQK15IJ6bOW44KDOdw=s400" title="" alt="">
          <h3>VAN</h3>
        </div>
        <div class="four columns text-center columnsVisuel">
          <img src="http://lh6.ggpht.com/Dge2aJO0zA6TPLqlqi8ecJq9bZgaa-T_ZWV-8z2HdyG8xi24oaYgj4QSksshCSKVE4NffrZIfUnse0aKXvjyMjU=s400" title="" alt="">
          <h3>MOTO</h3>
        </div>

      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>



  <div class="row">

    <div class="six columns">
      <h2>Votre voiture avec chauffeur vous conduit à l’aéroport Paris CDG en 1h30</h2>
      <p>Si vous prenez l'avion entre <strong>7h et 10h</strong> ou entre <strong>17h et 20h</strong> (heures de pointes), comptez <strong>environ 1h30</strong> pour un trajet <strong>centre de Paris - Aéroport</strong> en <a href="/chauffeur-prive-vtc">chauffeur privé</a> classe eco dès <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer"> <meta itemprop="currency" content="EUR" /><span itemprop="price"><strong>45</strong></span></span> <strong>€</strong>. En dehors des heures de pointe, il vous faudra compter <strong>1h00 de trajet.</strong></p>
      <p>Profitez également du <a href="http://www.allocab.com/moto-taxi">moto-taxi</a> pour réduire vos trajets et rejoindre le centre de Paris en <strong>seulement 40 minutes</strong> et dès <strong>69 € !</strong></p>
      <p>Vous atterrissez à l'aéroport de Roissy? Pour un vol <strong>national, Comptez un délai de 30 minutes</strong> pour récupérer vos bagages et de rejoindre votre chauffeur VTC. Pour un <strong>international</strong>, il faudra compter <strong>45 minutes</strong> et vous rejoindrez ensuite le centre de Paris en <strong>1h30</strong> environ (heures de pointe) et <strong>1h00</strong> en trafic normal.</p>
    </div>
    <div class="six columns">
      <img style="margin-top: 1em;" src="http://lh3.ggpht.com/zEMmnPW1ErJG6maAjTUxv4aU3rCZHvvaX94l0rXzqHEw1xSIN1q9qwcr8HX0ezBAIzb78P7OWlxqFt2JTMu9uFU=s650" alt="" title="Dès votre arrivée à l'aéroport, votre chauffeur VTC vous attend avec une pancarte à votre nom"/>
    </div>
  </div>

  <hr/>

  <div class="row">

    <div class="six columns">
      <img src="http://lh6.ggpht.com/vzMAZC6v96C30j9PdtUiPQJWoHADDU6_pN-dW9PucHHXf6KrJbhf-CK8wzOx7lxCte-X-nQHWKOB4SmS1Pav=s600" alt="" title="Pour une heure ou plus, votre chauffeur AlloCab vous accompagne en véhicule haut de gamme"/>
    </div>

    <div class="six columns">
      <h2>Vos déplacements haut de gamme avec votre Chauffeur VTC</h2>
      <p>En vacances ou en voyage d'affaires,  <strong>votre chauffeur personnel</strong> vous attend à l'aéroport muni <strong>d'une pancarte à votre nom</strong> et vous propose un rafraichissement et de la presse.</p>
      <p>Avec Allocab, réservez votre chauffeur en quelques minutes et <strong>laissez vous guider</strong> depuis votre réservation jusqu'à l'approche de votre chauffeur.</p>
      <p>Vous recevez un <strong>SMS de confirmation</strong> puis un <strong>SMS d'approche</strong> pour vous assurer un trajet réussi et sans stress.</p>
      <p>N'attendez plus et réservez vite votre chauffeur VTC parmi <a href="/chauffeur-prive-vtc/gamme-vehicules">3 gammes de véhicule</a> : en berline, en van ou en <a href="/moto-taxi">moto-taxi</a> !</p>
    </div>

  </div>


<hr/>

<div class="row">
  <div class="six columns">
    <h2>Voiture avec chauffeur pour Paris CDG</h2>
    <p><strong>L'aéroport Roissy Charles de Gaulle</strong> est le premier aéroport français devant <a href="/france/paris/aeroport/orly">l'aéroport d'Orly</a>. Avec plus de <strong>58 millions de passagers</strong> par an, il propose de nombreux services de qualité notamment son nouveau Centre Commercial Aéroville.</p>
    <p>Ouverts entre 6H00 et 23H00, vous pouvez profiter des restaurants de l'aéroport pour vos petites faims et faire votre shopping dans les boutiques <em>duty free</em> qui proposent un large choix de produits de grande qualité.</p>
    <p><strong>Votre chauffeur Allocab est à </strong>votre disposition: départ pour l'aéroport, retour sur Paris ou location d'une voiture de tourisme avec <a href="/chauffeur-prive-vtc">votre chaufeur privé</a> pour quelques heures.</p>
  </div>
  <div class="six columns">
    <img src="http://lh5.ggpht.com/LymuIGG4GJaXkHWcEBt_R68BPl1vwSCxvay_kH0g8MPZ8f1VPFpZAy-SXu3B9-aUe9WUs_QiVZs3_LVx2LAk1A=s650" alt="" title="Votre chauffeur privé vous récupère à l'aéroport de Paris Roissy Charles de Gaulle"/>
  </div>
</div>
