<div id="home-main" class="twelve columns">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:20px">
            <div class="mobile-four">
                <center><img src="https://lh6.ggpht.com/1QJpy-I-4_2cxr1BRIn1rvdfNejnotVKQIwWib7a1NVlovUiizj4SFb0ivdmbbmpZ4lmqFXAl0xiZfpIdw0QsA=s256"/></center>
            </div>
            <div class="row">
            </div>
        </div>
                <div class="four columns">
                    [WGT]new-fare|DIRECTION|berline|500[/WGT]
                </div>
                <div class="eight columns hide-for-small">
                    <div id="slideshow">
                        <div style='background:#ffffff'>
                            <h1>Le <strong style="font-weight:400">luxe</strong><br/>en van, berline ou moto taxi</h1>
                            <center>[PTR]72001_630[/PTR]</center>

                            <div class="four columns"><center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center></div>

                            <div class="four columns"><center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center></div>

                            <div class="four columns"><center><a href="/moto-taxi/tarif-taxi-moto-prix">En savoir plus...</a></center></div>
                        </div>
                            <div style='background:#ffffff'>
                                <h1>Des <strong style="font-weight:400">économies</strong><br/>en van, berline ou moto taxi</h1>
                                <center>[PTR]73001_630[/PTR]</center>
                                <div class="four columns"><center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center></div>
                                <div class="four columns"><center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center></div>
                                <div class="four columns"><center><a href="/moto-taxi/tarif-taxi-moto-prix">En savoir plus...</a></center></div>
                            </div>

                            <div style='background:#ffffff'>
                                <h1>Téléchargez l'application Allocab<br/>et laissez-vous conduire</h1>
                                <div class="row eight columns centered price-eg">
                                  <div class="seven columns">
                                    [PTR]8008[/PTR]
                                </div>
                                <div class="five columns">
                                  <br/>
                                  <br/>
                                  <br/>
                                  <br/>
                                  <br/>
                                  <br/>
                                  <a href="" title="Téléchargez l'application Allocab pour iPhone et iPad">
                                    [PTR]16008[/PTR]
                                </a>
                                <br/>
                                <br/>
                                <a href="" title="Téléchargez l'application Allocab pour Android">
                                    [PTR]14006[/PTR]
                                </a>
                            </div>
                        </div>


                    </div>
                    <div style='background:#ffffff'>
                        <h1>Réserver votre chauffeur<br/>n'a jamais été aussi simple</h1>

                        <br/><br/>

                        <div class="row price-eg">
                            <div class="one columns"> </div>
                            <div class="two columns">
                              [PTR]7[/PTR]
                              <p>Saisissez les informations de votre course</p>
                          </div>

                          <div class="two columns arrow">
                              [PTR]3004[/PTR]
                          </div>

                          <div class="two columns">
                              [PTR]13009[/PTR]
                              <p>Allocab trouve votre chauffeur</p>
                          </div>

                          <div class="two columns arrow">
                              [PTR]3004[/PTR]
                          </div>

                          <div class="two columns">
                              [PTR]4006[/PTR]
                              <p>Validez votre paiement et votre chauffeur est réservé</p>
                          </div>
                          <div class="one columns"> </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
