 <div id="home-main" class="twelve columns" style="padding-bottom:7em">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:10px">
            <div class="mobile-four" style="padding-left:0px;padding-top:5px">
                <h1 style="font-size:15px;text-align:left;font-weight:400">Trouvez votre chauffeur personnel</h1>
            </div>
            <div class="row">
                <br/>
            </div>
        </div>
        <div class="four columns">


<!--[if lt IE 8]>
<div class="alert-box secondary">   
Votre version Internet est trop ancienne pour utiliser le formulaire de réservation Allocab.
<br/>
Si vous avez un poste à proximité utilisant Internet Explorer 8 et +, Firefox, Google Chrome ou Safari, c'est le moment de changer de chaise.
</div>
<![endif]--> 

<style>
.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}
</style>

<script>
function wigdetInput(value) {
    document.getElementById("new-fare-widget-wrapper").style.height = (value+20)+"px";
    if(value != null) {
        value += 230;
        document.getElementById("new-fare-widget").style.height = value+"px";
    }
}
</script>

<div id="new-fare-widget-wrapper" class="iframe-responsive-wrapper">
    [WGT]new-fare|DIRECTION|berline|500[/WGT]
</div>



        </div>
        <div class="eight columns hide-for-small">

            <div id="slideshow">
                <div style='background:#ffffff'>
                    <ol>
                        <li style="font-size:17px;text-align:left"> Rentrez le lieu, la date et l’heure souhaités de prise en charge </li> 
                        <li style="font-size:17px;text-align:left"> Choisissez le chauffeur qui convient </li> 
                        <li style="font-size:17px;text-align:left"> Renseigner le nom et le téléphone du passager (cela lui permettra d’être tenu au courant de l’arrivée de son chauffeur) </li> 
                        <li style="font-size:17px;text-align:left"> Réglez la course directement grâce à la carte de paiement enregistrée </li> 
                        <li style="font-size:17px;text-align:left"> Pensez à remplir le champs d’information complémentaire (numéro de vol/train) </li> 
                        <li style="font-size:17px;text-align:left;font-weight:400; color:red">N’oubliez pas de facturer votre client !</li> 
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
