<div class="twelve columns">
	<h1 class="twelve columns">Les avantages du moto taxi</h1>
	<hr/>
</div>
<div class="six columns">
	<h2>Ne ratez plus vos rendez-vous à Paris ou ailleurs</h2>
	<p>Paris est la 3ème ville la plus embouteillée au monde et la 1ère en France.<br/>Avec un tel palmarès, le moto taxi est dans Paris le moyen de transport idéal pour éviter les bouchons.<br/>Un taxi roule en moyenne à 15 km/h dans Paris, tandis qu'un moto taxi atteint les 34 km/h de moyenne : c'est au moins 2 fois plus rapide ! Vous évitez ainsi les imprévus, les attentes interminables et n'arrivez plus en retard à un rendez-vous.<br/>Aussi, la géolocalisation du système Allocab optimise les itinéraires ce qui assure une grande ponctualité de la part des chauffeurs.<br/>Voici la liste des villes où vous pouvez trouver un moto taxi :
																																<ul>
																																<li>Paris,</li>
																																<li>Marseille,</li>
																																<li>Aix en provence.</li>
																																</ul>

																																Vous pouvez consulter les zones de couvertures d'Allocab sur une carte de France.

																																</p>
																																</div>

																																<div class="six columns">
																								[PTR]9002[/PTR]
																																</div>

																				<hr/>




																																<div class="six columns">
																								[PTR]1002[/PTR]
																																</div>

																																<div class="six columns">
																																<h2>Le moto taxi même en cas de pluie</h2>
																																<p>Votre chauffeur vous garanti d'être au sec du départ à l'arrivée, grâce à des équipements de pluie complets vous protégeant intégralement de l'eau.
																																</p>
																																</div>


																				<hr/>

																																<div class="six columns">
																																<h2>Avec vos bagages c'est possible</h2>
																																<p>
																																Le moto taxi peut accueillir à son bord votre bagage cabine, votre malette ordinateur et votre sac à main en toute sécurité.
																																</p>
																																</div>

																																<div class="six columns">
																								[PTR]11001[/PTR]
																																</div>

																				<hr/>

																																<div class="six columns">
																								[PTR]7004[/PTR]
																																</div>

																																<div class="six columns">
																																<h2>La sécurité</h2>
																																<p>
																																Votre chauffeur vous fournit tous les <strong>équipements de sécurité</strong> nécessaires pour votre trajet en moto : casque, manteau de protection et gants.
																																<br/>
																																Tous les chauffeurs signent la <strong>charte d'éthique et qualité Allocab</strong> et sont aux petits soins de la montée à la descente du véhicule. Ils s'adaptent à vos souhaits d'itinéraires et de style de conduite.
																																<br/>
																																Vos restez en liaison permanente avec votre chauffeur grâce à un système de communication entre casques. Si vous préférez, vous avez aussi le choix d'écouter la station radio que vous désirez pendant votre voyage.
																																<br/>
																																Dans ces conditions, essayer le moto taxi c'est l'adopter !
																																</p>
																																</div>

																				<hr/>

																																<div class="six columns">
																																<h2>La moto en jupe ?</h2>
																																<p>
																																Pas d'inquiétude pour vous mesdames, votre chauffeur saura comment vous aider à la montée et à la descente de la moto. Il vous guidera pour vous installer confortablement sur votre fauteuil. De plus, un tablier recouvrira vos jambes si vous le souhaitez.
																																</p>
																																</div>

																																<div class="six columns">
																								[PTR]36068[/PTR]
																																</div>

																																</div>