<div class="twelve columns"> 
	<h1 class="twelve columns">Moto taxi - Décret n° 2010-1223 du 11 octobre 2010 relatif au taxi moto</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>
		Décret relatif au transport public de personnes avec conducteur 
		<br>
		Chapitre 1er : disposition relatives au transport à titre onéreux de personnes par véhicules motorisés à deux ou trois roues, articles 1 à 7
	</h2>

	<h3>Article 1</h3>
	<p>
		<strong>I. </strong>Tout conducteur de véhicule motorisé à deux ou trois roues utilisé pour le transport de personnes à titre onéreux doit être titulaire d'un permis de conduire de catégorie A en cours de validité et qui n'est pas affecté par le délai probatoire prévu à l'article L. 223-1 du code de la route.
	</p>
	<p>
		<strong>II. </strong>Nul ne peut exercer cette profession si figure au bulletin n° 2 de son casier judiciaire, ou son équivalent pour les non-nationaux, une des condamnations suivantes :
	</p>
	<ol>
		<li>
			Une condamnation définitive pour un délit prévu et réprimé par le code de la route qui donne lieu à une réduction de la moitié du nombre maximal de points du permis de conduire ;
		</li>
		<li>
			Une condamnation définitive pour conduite d'un véhicule sans être titulaire du permis correspondant à la catégorie du véhicule considéré ou malgré l'annulation ou l'interdiction d'obtenir la délivrance du permis de conduire, ou pour refus de restituer son permis de conduire après invalidation ou annulation de celui-ci ;
		</li>
		<li>
			Une condamnation définitive par une juridiction française ou étrangère à une peine criminelle ou à une peine correctionnelle d'au moins six mois d'emprisonnement pour vol, escroquerie, abus de confiance, atteinte volontaire à l'intégrité de la personne, agression sexuelle ou infraction à la législation sur les stupéfiants.
		</li>
	</ol>
	
	<h3>Article 2</h3>
	<p>A modifié les dispositions suivantes :</p>
	<ul>
		<li>Modifie Code de la route. - art. R221-10 (VD)</li>
		<li>Modifie Code de la route. - art. R221-11 (VD)</li>
	</ul>

	<h3>Article 3</h3>
	<p>
		<strong>I.</strong> Tout conducteur, qui remplit les conditions visées aux articles 1er et 2 du présent décret, reçoit une carte professionnelle délivrée par le préfet du département de son lieu de domicile ou, à Paris, par le préfet de police.
	</p>
	<p>
		<strong> II.</strong> La carte professionnelle doit être restituée lorsque le conducteur cesse son activité professionnelle ou lorsqu'une des conditions prévues pour sa délivrance cesse d'être remplie. A défaut, celle-ci est retirée par l'autorité administrative compétente.
	</p>

	<h3>Article 4</h3>
	<p>
		L'ancienneté des véhicules motorisés à deux ou trois roues utilisés pour le transport à titre onéreux de personnes doit être inférieure à quatre ans.
	</p>
	<p>
		Ces véhicules doivent faire l'objet d'une attestation annuelle d'entretien dans des conditions définies par un arrêté du ministre de l'intérieur et du ministre chargé des transports.
	</p>

	<h3>Article 5</h3>
	<p>
		Les véhicules motorisés à deux ou trois roues utilisés pour le transport de personnes à titre onéreux doivent être munis d'une signalétique définie par arrêté du ministre de l'intérieur.
	</p>
	
	<h3>Article 6</h3>
	<p>
		La réservation d'un véhicule motorisé à deux ou trois roues est prouvée par tout moyen permettant à l'autorité compétente d'en vérifier la réalité et le caractère préalable.
	</p>


	<h3>Article 7</h3>
	<p><strong>I.</strong></p>
	<ol>
		<li>
			Le fait, pour tout conducteur d'un véhicule motorisé à deux ou trois roues utilisé pour le transport à titre onéreux de personnes, de ne pas présenter immédiatement aux agents de l'autorité compétente sa carte professionnelle en cours de validité, prévue à l'article 3 du présent décret, est puni de l'amende prévue pour les contraventions de la 1re classe ;
		</li>
		<li>
			Le fait, pour tout conducteur visé au 1°, invité à justifier dans un délai de cinq jours de la possession de la carte professionnelle prévue à l'article 3 du présent décret, de ne pas présenter ce document avant l'expiration de ce délai, est puni de l'amende prévue pour les contraventions de la 4e classe ;
		</li>
		<li>
			Le fait d'exercer l'activité de conducteur de véhicule motorisé à deux ou trois roues utilisé pour le transport à titre onéreux de personnes, sans être titulaire de la carte professionnelle en cours de validité, prévue à l'article 3 du présent décret, est puni de l'amende prévue pour les contraventions de la 5e classe.
		</li>
	</ol>

	<p><strong>II.</strong></p>
	<ol>
		<li>
			Le fait d'exercer l'activité d'exploitant de transport à titre onéreux de personnes par véhicules motorisés à deux ou trois roues, sans la signalétique prévue à l'article 5 du présent décret, est puni de l'amende prévue pour les contraventions de la 3e classe ;
		</li>
		<li>
			Le fait d'exercer l'activité d'exploitant de transport à titre onéreux de personnes avec des véhicules motorisés à deux ou trois roues, non conformes aux conditions fixées à l'article 4 du présent décret, est puni de l'amende prévue pour les contraventions de la cinquième classe ;
		</li>
		<li>
			Le fait d'exercer l'activité d'exploitant de transport à titre onéreux de personnes par véhicules motorisés à deux ou trois roues, en employant des conducteurs qui ne sont pas titulaires de la carte professionnelle prévue à l'article 3 du présent décret, est puni de l'amende prévue pour les contraventions de la 5e classe.
		</li>
	</ol>
</div>