<div class="twelve columns"> 
	<h1 class="twelve columns">Moto taxi - Loi n° 2009-888 du 22 juillet 2009 relatif au taxi moto</h1>
	<hr>
</div>


<div class="twelve columns">
	<img ptr-id="4011" ptr-size="256" class="right"/>


	<h4>
		L’article est cité ici à titre d’historique sur l’évolution du métier de moto taxi.</li>
		En effet, l’ordonnance n° 2010-1307 du 28 octobre 2010 - art. 7 a abrogé l’article 5 du Chapitre III transport à titre onéreux de personnes par véhicules motorisés à deux ou trois roues de la loi de développement et de modernisation des services touristiques.
	</h4>
	
	<hr>

	<p>
		<strong>I.</strong>
		<br>
		Les entreprises qui mettent à la disposition de leur clientèle, pour assurer leur transport ainsi que celui de leurs bagages, des motocyclettes ou des tricycles à moteur conduits par le propriétaire ou son préposé, suivant des conditions fixées à l'avance entre les parties, sont soumises aux dispositions visées aux II à V.
	</p>
	<p>
		<strong>II.</strong>
		</li>
		Les entreprises mentionnées au I doivent disposer, dans des conditions fixées par voie réglementaire, de chauffeurs qualifiés et de véhicules adaptés.
	</p>
	<p>
		<strong>III.</strong>
		<br>
		Les véhicules affectés à l'activité mentionnée au I ne peuvent ni stationner, ni circuler sur la voie publique en quête de clients.<br>
		Ils ne peuvent stationner à l'abord des gares et aérogares, dans le respect des règles du code de la route ou des règlements édictés par l'autorité compétente, que si leur conducteur peut justifier d'une réservation préalable.
	</p>
	<p>
		<strong>IV.</strong>
		<br>
		Le fait de contrevenir au III est puni d'un an d'emprisonnement et d'une amende de 15 000 €.
		<br>
		Les personnes physiques coupables de l'infraction prévue au présent article encourent également les peines complémentaires suivantes : 
	</p>
	<ol>
		<li>La suspension, pour une durée de cinq ans au plus, du permis de conduire ;</li>
		<li>L'immobilisation, pour une durée d'un an au plus, du véhicule qui a servi à commettre l'infraction ;</li>
		<li>La confiscation du véhicule qui a servi à commettre l'infraction ;</li>
		<li>
			L'interdiction, pour une durée de cinq ans au plus, d'entrer et de séjourner dans l'enceinte d'une ou plusieurs infrastructures aéroportuaires ou portuaires, d'une gare ferroviaire ou routière, ou de leurs dépendances, sans y avoir été préalablement autorisé par les autorités de police territorialement compétentes.
		</li>
	</ol>

	<p>
		Les personnes morales peuvent être déclarées responsables pénalement, dans les conditions prévues par l'article 121-2 du code pénal, de l'infraction définie au présent IV. Les peines qu'elles encourent sont :
	</p>
	<ol>
		<li>L'amende, suivant les modalités prévues par l'article 131-38 du code pénal ;</li>
		<li>Les peines mentionnées aux 8° et 9° de l'article 131-39 du même code.</li>
		
	</ol>

	<p>
		<strong>V.</strong>
		<br>
		Les modalités d'application du présent chapitre sont fixées par décret en Conseil d'Etat.
	</p>
</div>