<div class="twelve columns"> 
	<h1 class="twelve columns">La gamme de véhicules moto taxi</h1>
	<hr>
</div>

<div class="six columns">
	<h2>Prestige : le standing en moto Honda Goldwing 1800 cc</h2>
	<p>
		Du départ à l’arrivée, vous vivrez le plaisir d’un service haut de gamme, à bord de la Rolls de la moto.
	</p>
	<p>
		Prendre la route sur une Goldwing est un privilège que vous pouvez savourer en réservant votre moto taxi avec Allocab. Cette moto saura se faufiler dans la circulation tout en alliant le confort d’une berline.
	</p>
	<a href="/" title="" class="button round">Réservez votre moto taxi Prestige</a>
</div>

<div class="six columns omega">
	<img ptr-id="275009" ptr-size="300" />
</div>

<div class="row"></div>

<hr>
<div class="six columns">
	<img ptr-id="284010" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Maxi scooter : le Suzuki Burgman 650 cc efficace et économique</h2>
	<p>
		Le maxi scooter est la solution pratique et rapide à moindre coût pour vos déplacements urbains.
	</p>
	<p>
		A la fois esthétique et performant, le maxi scooter vous conduit en zone urbaine et périphérique dans des conditions de conforts digne d'une moto grand tourisme.
	</p>
	<a href="/" title="" class="button round">Réservez votre moto taxi Maxi scooter</a>
</div>