<div class="twelve columns"> 
	<h1 class="twelve columns">Réglementation du moto taxi</h1>
	<hr>
</div>

<div class="six columns">
	<h2>Un moto taxi doit justifier d’une réservation</h2>
	<p>
		Un moto taxi ne peut pas prendre un client sur la voie publique si celui-ci n’a pas réservé au préalable.
	</p>
	<p>
		C’est aussi valable aux abords des gares et des aéroports, les motos taxis ne peuvent plus prendre des clients qui ne justifient pas d’une réservation.
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="285006" ptr-size="300" />
</div>

<hr>

<div class="six columns">
	<img ptr-id="11015" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Des chauffeurs d’expérience</h2>
	<p>
		Tous les motos taxis doivent justifier d’une expérience minimum de 5 ans dans la conduite de moto ou plus largement de véhicule motorisé à 2 ou 3 roues.
	</p>
	<p>
		Le moto taxi a aussi l’obligation de justifier d’un permis de conduire de catégorie A en cours de validité, d’une carte professionnelle ainsi qu’une attestation médicale délivrée par la préfet du département, ou à Paris, par la préfet de police.
	</p>
</div>

<hr>

<div class="six columns">
	<h2>Un véhicule neuf et entretenu</h2>
	<p>
		L’ancienneté de la moto doit être inférieur à quatre ans. L’attestation d’entretien du véhicule est renouvelée chaque année.
	</p>
	<p>
		La moto doit être munie d’une signalétique apposée sur le pare-brise du véhicule.
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="11016" ptr-size="300" />
</div>

<hr>

<div class="six columns">
	<img ptr-id="157" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Articles de loi et décret en rapport avec la profession de moto taxi</h2>
	<p>
		<a href="/moto-taxi/decret-octobre-2010">Décret n° 2010-1223 du 11 octobre 2010</a> relatif au transport public de personnes avec conducteur, Chapitre 1er : disposition relatives au transport à titre onéreux de personnes par véhicules motorisés à deux ou trois roues, articles 1 à 7.
	</p>
	<p>
		<a href="/moto-taxi/attestation-annuelle-entretien">Arrêté du 20 décembre 2010</a> relatif à l'attestation annuelle d'entretien des véhicules motorisés à deux ou trois roues utilisés pour le transport à titre onéreux de personnes.
	</p>
	<p>
		<a href="/moto-taxi/signaletique-taxi-moto">Arrêté du 3 novembre 2010</a> relatif à la signalétique des véhicules motorisés à deux ou trois roues utilisés pour le transport à titre onéreux de personnes.
	</p>
	<p>Code du transport :</p>
	<ul>
		<li>Articles <a href="/moto-taxi/stationnement-gare-aeroport">L3123-1 à L3123-3</a>, <a href="/moto-taxi/suspension-permis-immobilisation-vehicule">L3123-9 et L3123-10</a></li>
		<li>Abrogé : <a href="/moto-taxi/loi-2009-taxi-moto">article 5 du chapitre III</a> transport à titre onéreux de personnes par véhicules motorisés à deux ou trois roues de la Loi n° 2009-888 du 22 juillet 2009 de développement et de modernisation des services touristiques</li>
	</ul>
</div>