<div class="twelve columns"> 
	<h1 class="twelve columns">Moto taxi - Arrêté du 3 novembre 2010 relatif à la signalétique du taxi moto</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>
		Arrêté relatif à la signalétique des véhicules motorisés à deux ou trois roues utilisés pour le transport à titre onéreux de personnes
	</h2>

	<h3>Article 1</h3>
	<p>
		La signalétique des véhicules motorisés à deux ou trois roues utilisés pour le transport à titre onéreux de personnes, prévue à l'article 5 du décret du 11 octobre 2010 susvisé, doit être apposée sur le véhicule de façon à être visible et en permettre le contrôle par l'autorité compétente.
	</p>
	
	<h3>Article 2</h3>
	<p>
		La signalétique prend la forme d'une vignette autocollante conforme au modèle défini en annexe au présent arrêté.
	</p>

	<h3>Article 3</h3>
	<p>
		Le directeur de la modernisation et de l'action territoriale du ministère de l'intérieur, de l'outre-mer et des collectivités territoriales est chargé de l'exécution du présent arrêté, qui sera publié au Journal officiel de la République française.
	</p>
</div>