<div class="twelve columns"> 	
	<h1 class="twelve columns">Moto taxi - Article L3123-1 à L3123-3 du code du transport relatif au taxi moto</h1>	
	<hr>
</div>
<div class="twelve columns">	
	<h2>Partie législative</h2>	
	<h3>Troisième partie : transport routier</h3>	
	<p>
		Livre Ier : le transport routier de personnes
		<br>		
		Titre II : Les transports publics particuliers
		<br>		
		Chapitre III : Les véhicules motorisés à deux ou trois roues	
	</p>	
	<hr>	
	<h3>Article L3123-1</h3>	
	<p>		
		Créé par Ordonnance n° 2010-1307 du 28 octobre 2010 - art. (V)	
	</p>	
	<p>		
		Les entreprises qui mettent à la disposition de leur clientèle, pour assurer leur transport ainsi que celui de leurs bagages, des motocyclettes ou des tricycles à moteur conduits par le propriétaire ou son préposé, suivant des conditions fixées à l'avance entre les parties, doivent disposer, dans des conditions fixées par voie réglementaire, de chauffeurs qualifiés et de véhicules adaptés.	
	</p>		
	<h3>Article L3123-2</h3>	
	<p>		
		Créé par Ordonnance n° 2010-1307 du 28 octobre 2010 - art. (V)	
	</p>	
	<p>		
		Les véhicules affectés à l'activité mentionnée à l'article L. 3123-1 ne peuvent ni stationner, ni circuler sur la voie publique en quête de clients.	
	</p>	
	<p>		
		Ils ne peuvent stationner à l'abord des gares et aérogares, dans le respect des règles du code de la route ou des règlements édictés par l'autorité compétente, que si leur conducteur peut justifier d'une réservation préalable.	
	</p>	
	<h3>Article L3123-3</h3>	
	<p>		
		Créé par Ordonnance n° 2010-1307 du 28 octobre 2010 - art. (V)	
	</p>	
	<p>		
		Les modalités d'application du présent chapitre sont fixées par décret en Conseil d'Etat.	
	</p>
</div>