<style>
.cms .tableBorderRowOrange{
	border: 0.1em solid #F90;
}
.cms .borderTableOrange{
	border:0.1em solid #F90;
	margin-bottom:0em;
}
.cms .backgroundColorOrange{
	Background-color: #F90;
}
.cms .white{
	color:white;
}
table {
		border-collapse: collapse;
}

table thead .cms .theadBorderWhite{
		border-right: 0.11em solid white;
}
.cms .tdBackgroundColorWhite{
	Background-color:white;
}
.cms .tarifTable{
	margin-bottom:1em;
	margin-top:4em;
}
.cms .row  .verticalyCentered{
	padding-top:0.5em;
}

.cms .row  .iconePaddingTop{
	padding-top:1em;
}

.cms .row  .marginBottomTittleCar{
	margin-bottom:1em;
}
</style>
<div class="twelve columns cms">
	<div class="row">
		<div class="eight columns offset-by-two">
			<h1 class="text-center">Les tarifs en moto-taxi Allocab</h1>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="four columns">
			<br/>
			[WGT]new-fare|DIRECTION|moto|500[/WGT]
		</div>
		<div class="eight columns">
			<div class="row">
				<div class="twelve columns">
					<img src="http://lh4.ggpht.com/Zq-MHvEDmI-pFPpYb0AIzc1VFJQnYVko2L-Dh6rsiInZd-C_CVKtwVgW12qfgt0jEB0tR2WO7LNL_xCUHLQpquE=s600" title="Essayez le taxi-moto, transport privilégié des voyageurs d’affaires !" alt="Essayez le taxi-moto, transport privilégié des voyageurs d’affaires !">
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<h2 class="text-center">Un devis sans surprise</h2>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<style>ul.driver-style li {font-size:18px;}</style>
													<ul class="driver-style">
													<li>Un prix fixé à l’avance et un paiement en ligne sécurisé</li>
													<li>Aucun frais supplémentaire (frais d’approche, passager supplémentaire, bagages en plus)</li>
													<li>Possibilité d’annuler sa course gratuitement en cas d’annulation 2 heures à l'avance</li>
													</ul>
				</div>
			</div>

		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="four columns">
			<div class="row">
				<div class="twelve columns">
					<img src="http://lh6.ggpht.com/viPl6U3r7llV553zBh0aSvX4xH-v64FNBqf9ImoeeNKgiK4EJcjMRxfB0zMtGXkTDREkcGJju-p2TKY19212Ig=s400" title="zones desservies par Allocab" alt="zones desservies par Allocab">
				</div>
			</div>
		</div>
		<div class="eight columns">
			<h2 class="text-center">Exemples de tarifs pour des itinéraires en taxi-moto</h2>
			<table class="borderTableOrange">
				<thead>
					<tr class="backgroundColorOrange">
						<th class="white text-center">Trajet</th>
						<th class="white text-center">moto Prestige</th>
					</tr>
				</thead>
				<tbody>
					<tr class="tableBorderRowOrange">
						<td>Centre de Paris - Aéroport Orly</td>
						<td class="text-center">A partir de <strong>72€</strong></td>
					</tr>
					<tr class="tableBorderRowOrange">
						<td>Centre de Paris - Aéroport Roissy CDG</td>
						<td class="text-center">A partir de <strong>99€</strong></td>
					</tr>
					<tr class="tableBorderRowOrange">
						<td>Neuilly - Opéra</td>
						<td class="text-center">A partir de <strong>45€</strong></td>
					</tr>
					<tr class="tableBorderRowOrange">
						<td>Etoile - Gare de Lyon</td>
						<td class="text-center">A partir de <strong>45€</strong></td>
					</tr>
				<tbody>
			</table>
		</div>

	</div>
	<hr/>
	<div class="row">
		<div class="four columns">
			<div class="row">
				<div class="twelve columns text-center">
					<h3>moto-taxi Prestige</h3>
					<div class="row marginBottomTittleCar">Honda Goldwing ou équivalent</div>
					<img src="http://lh6.ggpht.com/YCIaUoVvYACaYrYq_kIGfgj1fZQAnLGTdDoGvqbM2T1YKw7-3nNTic3PTXcA4JaHe5CRWfahDDvgurNA1qirvg=s256" title="la moto Prestige est le transport anti-bouchons par excellence" alt="la moto Prestige est le transport anti-bouchons par excellence">
				</div>
			</div>
		</div>
		<div class="eight columns">
			<table class="borderTableOrange tarifTable">
				<thead>
					<tr class="backgroundColorOrange">
						<th colspan="3"  class="text-center white theadBorderWhite">Réservation à l'avance</th>
						<th colspan="3"  class="text-center white theadBorderWhite">Départ immédiat</th>
						<th colspan="4"  class="text-center white">Location à l'heure</th>
					</tr>
				</thead>
				<tbody >
					<tr  class="  tableBorderRowOrange">
						<td  class=" text-center tdBackgroundColorWhite tableBorderRowOrange">Prise en charge </td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix au km</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix au km</td>
						<td  class="text-center tdBackgroundColorWhite  tableBorderRowOrange">Tarif horaire</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Pour 1h</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Pour 4h</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">pour 8h</td>
						<td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Par heure supp</td>
					</tr>
					<tr  class="tableBorderCollapse tableBorderRowOrange">
						<td class="text-center tableBorderCollapse  tdBackgroundColorWhite tableBorderRowOrange"><strong>30€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>2€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>45€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>2€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite  tableBorderRowOrange"><strong>1€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>25€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>100€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>95€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>90€</strong></td>
						<td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>90€</strong></td>
					</tr>
				</tbody>
			</table>
			En moto Prestige, le temps d’attente client est gratuit jusqu’à 10 minutes et payant 1€/minute au delà
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="five columns offset-by-four">
			<h6>Heures de pointe: +15%</h6>
			<div class="row" >
				<div class="two columns">
					<img src="http://lh5.ggpht.com/uxqO1jIB-pe-7yl5N64SsF21RolH5KtcQrBnnB0rLz4tTMSAzQQkD6vFSOyClvrDS6TpH5CTT-zrPQ8gFoIjIQ=s30">
				</div>
				<div class="ten columns">
					<div class="row verticalyCentered">8h-10h et 18h-22h du lundi au vendredi</div>
				</div>
			</div>
			<div class="row">
				<div class="two columns">
					<img src="http://lh5.ggpht.com/uxqO1jIB-pe-7yl5N64SsF21RolH5KtcQrBnnB0rLz4tTMSAzQQkD6vFSOyClvrDS6TpH5CTT-zrPQ8gFoIjIQ=s30">
				</div>
				<div class="ten columns">
					<div class="row verticalyCentered">18h-22h du samedi au dimanche</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>

		<div class="row centeredRow bigRowMarginBottom">
			<div class="twelve columns">
			<div class="">
			<div class="five columns">

				<div class="row">
					<div class="three columns"><!--Ici l'image--><div class="row iconePaddingTop"><img src="http://lh3.ggpht.com/nHfOnYOj_d8_iBE4G-5J_8M0w0fhtD7vpcNQFfRQzM28kFDEm0JEOCGDjDCwUc0wvfyETk2JZdbkjFvH53_N=s200"></div></div>
					<div class="eight columns offset-by-one">

						<div class="row">
							<h2 class=" text-center">Etape et location à l'heure</h2>
							<p>
								Vous pouvez réserver un moto-taxi pour une heure, une journée ou plus !
							</p>
							<p>
								Vous êtes pressé ? Réservez un taxi-moto pour rejoindre l'aéroport sans stress
							</p>
						</div>
					</div>
				</div>
			</div>

		<div class="five columns offset-by-one">

			<div class="">
					<div class="three columns"><!--Ici l'image--><div class="row iconePaddingTop"><img class="" src="http://lh6.ggpht.com/IpC1AsCRjLQQlhHq4BPw_1dgSZq7jLtxa1A9i0qlu-stKozKORF8SUWmN74jySxio4pdDAaZIGNAvr-uasEnGA=s150"></div></div>
					<div class="eight columns offset-by-one">
						<div class="row">
							<h2 class=" text-center">Annulation gratuite</h2>
							<p>
								L'annulation  plus de 2 heures avant la course est gratuite
							</p>
							<p>
								L'annulation moins d'une heure avant la course est remboursée à hauteur de 20%
							</p>
							<p>
								L'annulation faite entre 1 heure et 2 heures avant la course est remboursée à hauteur de 40%
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>



		<hr/>
		<div class="row centeredRow">
			<div class="twelve columns">
			<div class="">
			<h2 class="text-center">Les autres véhicules disponibles sur Allocab.com</h2>

			<div class="three columns offset-by-two">
				<div class="row">
					<img class="" src="http://lh6.ggpht.com/x1C3YHpo4WaQjvUwMWx4fToq7Kgoq4o97aZ0aU7rIlfFGErsPqU4mUNJlSyJ8utoVnp-ZxXFgkK7OKp2qFFOIw=s256" title="Réservez une voiture avec chauffeur" alt="Réservez une voiture avec chauffeur">
				</div>
					<div class="row fontGrey">
						<p>Un déplacement à venir ? Besoin d'un transport fiable et de grande qualité pour un rendez-vous professionnel ? <a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">Découvrez les tarifs d'une berline avec chauffeur.</a></p>
					</div>
			</div>
			<div class="three columns offset-by-two">
				<div class="row">
					<img class="" src="http://lh5.ggpht.com/m-X-1pJOoWzNRNHhagBTpSIVlyjZo-xOe277L978m_XlN6_dsktq4IR0YKiyRTkPIdIg192REgYgTP8_JKSx=s256" title="Vous voyagez en groupe ? Essayez le van Allocab" alt="Vous voyagez en groupe ? Essayez le van Allocab">
				</div>
				<div class="row fontGrey">
					<p>Un voyage en groupe, en famille ? Une réunion à terminer avec vos collaborateurs ? <a href="/chauffeur-prive-vtc/prix-tarif-van">En savoir davantage sur les tarifs d'un van</a> avec chauffeur pour 7 personnes</p>
				</div>
			</div>
			<div class="one columns"></div>
		</div>

	</div>
	</div>

	<div style="margin-top:6em">TVA à 10% pour les transferts simples et 20% pour la location de voiture avec chauffeur à l’heure</div
</div>
