<style>
.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}

.cms .FontButtonToTop{
  font-size:1.2em;
}

.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>


<div class="cms">
<div class="twelve columns">
<div class="row text-center">
    <h1>Transfert aux aéroports en moto taxi</h1>
</div>
<hr style="background:none repeat scroll 0% 0% transparent;"/>

<div class="row">
  <div class="four columns" >
    <br/>
    [WGT]new-fare|DIRECTION|berline|500[/WGT]
  </div>
  <div class="eight columns text-center">
    <img style="margin-top:1em;" src="http://lh6.ggpht.com/XynU-eAwdFrgQcNMLk266O08YZOPioexu9v7Kjpob-hVvnB81K5ozyaNgNa7CJsGI5so2JRDVegjy8P0hQtN3pM=s650" title="Votre moto-taxi pour vos trajets aéroports sans bouchons">
    <p style="text-align:left">
      Le moto-taxi est <strong>LE transport anti-bouchons</strong> privilégié des voyageurs d'affaires. Allocab assure tous vos transferts aéroport en taxi-moto vers les aéroports de <a href="/france/paris/aeroport/orly">Paris Orly</a> et <a href="/france/paris/aeroport/roissy-charles-de-gaulle">Paris Roissy Charles de Gaulle</a> mais aussi vers les aéroports du Bourget et de Nice Côte d'Azur.
    </p>
  </div>
</div>
</div>

<div class="six columns">
  <h2>Transferts Paris - Orly dès 49 €<h2>
  <p>
    <a href="/france/paris/aeroport/orly">L'aéroport Paris Orly</a> est à 20km au sud de Paris et l'autoroute Orly A6 qui rallie l'aéroport d'Orly à Paris est toujours <strong>encombrée aux heures de pointes.</strong>
  </p>
  <p>
    Evitez les bouchons et réservez un taxi-moto pour vous conduire ou venir vous chercher vous chercher à l'aéroport de <a href="/france/paris/aeroport/orly">Paris Orly</a> en seulement <strong>40 minutes et dès 49 €.</strong>
  </p>
</div>

<div class="six columns omega">
  <img src="http://lh3.ggpht.com/uAi66Lvn_6FjQ5UIZKcnpyu6ZaqYhlU6mb2TNgcFB8DNMitMk3jLzcGtqXGJ6wpDGwCDNp8UCVcIOOjk4jFu-g=s600" title="Vos transferts Orly - Paris centre en moto-taxi">
</div>

<hr>

<div class="six columns">
  <img src="http://lh5.ggpht.com/Aa8q8cgyFaNDK9D_JVyAAQtIX4rRkHFoFBSAcuFhh3BTqOHuR8npxjrEiF6JYj3MzPltS8vyV1RnRVWAP7Tj9A=s600" title="Votre taxi-moto AlloCab pour aller à Roissy CDG">
</div>

<div class="six columns omega">
  <h2>Transferts Paris - Roissy CDG dès 69 €</h2>
  <p>
    L'aéroport de Paris Roissy CDG est le deuxième grand aéroport parisien, situé à 25km au nord de Paris. <strong>Aux heures de pointes,</strong> l'autoroute A1 est continuellement bouchée.
  </p>
  <p>
    Avec votre taxi-moto, vous rejoignez le centre de Paris en 40 minutes à partir de <strong>69 € en Honda Goldwing</strong> ou équivalent. Pour <string>être à l'heure à vos rendez-vous,</strong> réservez dès maintenant votre moto taxi.
  </p>
</div>

<hr>

<div class="six columns">
  <h2>Transferts Paris - le Bourget dès 45 €</h2>
  <p>
    <strong>Premier aéroport d'aviation d'affaires</strong> en Europe, l'aéroport de Paris-Le Bourget est à 7 km de Paris et 20 km de la Défense.
  </p>
  <p>
    Réservez dès maintenant votre moto taxi pour vos transferts aéroport Paris - le Bourget en 40 minutes, <strong>dès 45 €</strong> à l'arrière d'un moto-taxi tout confort.
  </p>
</div>

<div class="six columns omega">
  <img src="http://lh3.ggpht.com/NV8VDuLx0FcsEA4pGXYJruKTsAgmfmPevxQkgyPNWskKw_moMmfRdZvPz32crTnOzcEpWVo-sOpL9A_9aBR0=s600" title="Prenez un moto-taxi pour rejoindre l'aéroport du Bourget à l'heure"/>
</div>

<hr/>
<div class="twelve columns text-center">
  <a href="#new-fare-widget-wrapper">
    <button class=" button success  buttonToTop">
      <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
      <div class="FontButtonToTop">Retour au formulaire de réservation</div>
    </button>
  </a>
</div>
</div>
