<div id="home-main" class="twelve columns">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:10px">
            <div class="mobile-one" style="padding-right:0">
                <img src="http://lh4.ggpht.com/pkSIehOKxqW8Ms6TSJeZXt7PZ8E_Ur425uaFQbqN_K-1jeMToiMPJA3MzPKDA0dsEBbkoYOUOqDnYakmJfO0Huk=s64"/>
            </div>
            <div class="mobile-three" style="padding-left:0px;padding-top:5px">
                <h1 style="font-size:15px;text-align:left;font-weight:400">Trouvez votre chauffeur sur-mesure</h1>
            </div>
            <div class="row"> <br/>
            </div>
        </div>
        <div class="four columns">
            [WGT]new-fare|DIRECTION|berline|500[/WGT]
        </div>
        <div class="eight columns hide-for-small">
            <div id="slideshow">
                <div style='background:#ffffff'>
                    <h1>Le <strong style="font-weight:400">luxe</strong><br/>en van, berline ou moto taxi</h1>
                    <center>[PTR]72001_630[/PTR]</center>
                </div>
                <div style='background:#ffffff'>
                    <h1>Des <strong style="font-weight:400">économies</strong><br/>en van, berline ou moto taxi</h1>
                    <center>[PTR]73001_630[/PTR]</center>
                </div>
                <div style='background:#ffffff'>
                    <h1>Téléchargez l'application Allocab<br/>et laissez-vous conduire</h1>
                    <div class="row eight columns centered price-eg">
                        <div class="seven columns">
                            [PTR]8008[/PTR]
                        </div>
                        <div class="five columns">
                                                                                                                                                                                                                                                                                                                                                                                                          <br/>
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <a href="" title="Téléchargez l'application Allocab pour iPhone et iPad">
                                                                                                                                                                                                                                                                                                [PTR]16008[/PTR]
                                                                                                                                                                                                                                                                                                </a>
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <br/> 
                                                                                                                                                                                                                                                                                                                                                                                                          <a href="" title="Téléchargez l'application Allocab pour Android">
                                                                                                                                                                                                                                                                                                [PTR]14006[/PTR]
                                                                                                                                                                                                                                                                                                </a>   
                                                                                                                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                                                                                                                    </div>

                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                </div>  
                                                                                                                                                                                                                                                                                                                                                                                                <div style='background:#ffffff'>
                                                                                                                                                                                                                                                                                                                                                                                                    <h1>Réserver votre chauffeur<br/>n'a jamais été aussi simple</h1>

                                                                                                                                                                                                                                                                                                                                                                                                    <br/><br/>

                                                                                                                                                                                                                                                                                                                                                                                                    <div class="row price-eg">
                                                                                                                                                                                                                                                                                                                                                                                                        <div class="one columns"> </div>
                                                                                                                                                                                                                                                                                                                                                                                                        <div class="two columns">
                                                                                                                                                                                                                                                                                                                                                                                                          [PTR]7[/PTR]
                                                                                                                                                                                                                                                                                                                                                                                                          <p>Saisissez les informations de votre course</p>
                                                                                                                                                                                                                                                                                                                                                                                                        </div>

                                                                                                                                                                                                                                                                                                                                                                                                        <div class="two columns arrow">
                                                                                                                                                                                                                                                                                                                                                                                                          [PTR]3004[/PTR]
                                                                                                                                                                                                                                                                                                                                                                                                        </div>

                                                                                                                                                                                                                                                                                                                                                                                                        <div class="two columns">
                                                                                                                                                                                                                                                                                                                                                                                                          [PTR]13009[/PTR]
                                                                                                                                                                                                                                                                                                                                                                                                          <p>Allocab trouve votre chauffeur</p>
                                                                                                                                                                                                                                                                                                                                                                                                        </div>

                                                                                                                                                                                                                                                                                                                                                                                                        <div class="two columns arrow">
                                                                                                                                                                                                                                                                                                                                                                                                          [PTR]3004[/PTR]
                                                                                                                                                                                                                                                                                                                                                                                                        </div>

                                                                                                                                                                                                                                                                                                                                                                                                        <div class="two columns">
                                                                                                                                                                                                                                                                                                                                                                                                          [PTR]4006[/PTR]
                                                                                                                                                                                                                                                                                                                                                                                                          <p>Validez votre paiement et votre chauffeur est réservé</p>
                                                                                                                                                                                                                                                                                                                                                                                                        </div> 
                                                                                                                                                                                                                                                                                                                                                                                                        <div class="one columns"> </div>
                                                                                                                                                                                                                                                                                                                                                                                                    </div>

                                                                                                                                                                                                                                                                                                                                                                                                </div>                                  
                                                                                                                                                                                                                                                                                                                                                                                              
                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                                                                                                                        </div>      

                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                    </div>  

                                                                                                                                                                                                                                                                                                                                        <div class="row"></div>

                                                                                                                                                                                                                                                                                                                                                                                    <div class="four columns">
                                                                                                                                                                                                                                                                                                                                                                                      <div class="panel">

                                                                                                                [GOOGLE_AB] 
                                                                                                                [TEST_KEY]37229180-1[/TEST_KEY] 
                                                                                                                [BASE]                                                                                                                                                                                                                                                                    <h3>Couverture</h3>                                                                                                                                                                                                                                                                       <hr/>                                                                                                                                                                                                                                                                                                                                                                                                                                               <center>[PTR]4004_150[/PTR]</center>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <p> Allocab se déploie dans toutes les grandes villes de France.<br/></p>
                                                                                                                <p>                                                                                                                                                                                                                                                               <a href="/zone-couverture-service-chauffeur">En savoir plus sur la couverture du service</a>                                                                                                                                                                                                                                                                      </p>                                                                                                                                                                                                                                                                      
                                                                                                                [/BASE]

                                                                                                                [ARGU_HOME_BLOC_1]                                                                                                                                                                                                                                                                    <h3>Pourquoi Allocab ?</h3>                                                                                                                                                                                                                                                                       <hr/>
                                                                                                        <ul class="driver-style">
                                                                                                        <li>Une inscription gratuite</li>
                                                                                                        <li>Choix de moto-taxi, berline ou van</li>
                                                                                                        <li>Chauffeurs de qualité triés sur le volet</li>
                                                                                                        <li>Transaction simplifiée en 1 clic</li>
                                                                                                        <li>Paiement 100 % sécurisé</li>
                                                                                                        <li>Une gamme luxe ou économique</li>
                                                                                                        </ul>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                                                                                                                [/ARGU_HOME_BLOC_1]

                                                                                                                [/GOOGLE_AB]

                                                                                                                </div>                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                    <div class="four columns">
                                                                                                                                                                                                                                                                                                                                                                                      <div class="panel">
                                                                                                                                                                                                                                                                                                                                                                                        <h3>Nos engagements</h3>
                                                                                                                                                                                                                                                                                                                                                                                        <hr/>
                                                                                                                                                                                                                                                                                                                                                                                        <p>
                                                                                                                                                                                                                                                                                                                                                                                          <center>[PTR]13004_128[/PTR]</center>
                                                                                                                                                                                                                                                                                                                                                                                        </p>
                                                                                                                                                                                                                                                                                                                                                                                        <p>
                                                                                                                                                                                                                                                                                                                                                                                Allocab plante un arbre pour vous tous les 250 KM parcourus pour compenser le carbone émis.
                                                                                                                                                                                                                                                                                                                                                                                </p>
                                                                                                                                                                                                                                                                                                                                                                                <p>
                                                                                                                                                                                                                                                                                                                                                                                <a href="/compensation-carbone">En savoir plus sur la compensation carbone</a>
                                                                                                                                                                                                                                                                                                                                                                                </p>
                                                                                                                                                                                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                                                                                                    </div>    
                                                                                                                                                                                                                                                                                                                                                                                    <div class="four columns">
                                                                                                                                                                                                                                                                                                                                                                                      <div class="panel">
                                                                                                                                                                                                                                                                                                                                                                                        <h3>Blog</h3>
                                                                                                                                                                                                                                                                                                                                                                                        <hr/>
                                                                                                                                                                                                                                                                                                                                                                                      </div>    

                                                                                                                                                                                                                                                                                                                                                                                  </div>