 <div id="home-main" class="twelve columns" style="padding-bottom:7em">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:10px">
            <div class="mobile-four" style="padding-left:0px;padding-top:5px">
                <h1 style="font-size:15px;text-align:left;font-weight:400">Trouvez votre chauffeur personnel</h1>
            </div>
            <div class="row">
                <br/>
            </div>
        </div>
        <div class="four columns">


<!--[if lt IE 8]>
<div class="alert-box secondary">   
Votre version Internet est trop ancienne pour utiliser le formulaire de réservation Allocab.
<br/>
Si vous avez un poste à proximité utilisant Internet Explorer 8 et +, Firefox, Google Chrome ou Safari, c'est le moment de changer de chaise.
</div>
<![endif]--> 

<style>
.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}
</style>

<script>
function wigdetInput(value) {
    document.getElementById("new-fare-widget-wrapper").style.height = (value+20)+"px";
    if(value != null) {
        value += 230;
        document.getElementById("new-fare-widget").style.height = value+"px";
    }
}
</script>

<div id="new-fare-widget-wrapper" class="iframe-responsive-wrapper">
     [WGT]new-fare|DIRECTION|berline|500[/WGT]
</div>



        </div>
        <div class="eight columns hide-for-small">

            <div id="slideshow">
                <div style='background:#ffffff;padding-top:5em'>                    
                    <center><img src="http://lh6.ggpht.com/DNNegttPFQzqgHvxpj_blP-oTRfMFetGJJV4gFktTa-epx-A8zC-E8tYvXhODu-vpUZc_Y7p0SQZUrknOKwUDg"/></center>
                    <center><h5 style="color:#000000;font-weight:normal">Openskies vous invite à réserver votre chauffeur personnel pour vous accompagner dans vos déplacements aux aéroports.</h5></center>
                </div>
            </div>
        </div>
    </div>
</div>
