<style>

.blueLink a{
  color:#5da9e0;
}
.blueLink {
  color:#5da9e0;
}

.centerContent{
  text-align: center;
}

.marginImg{
  margin-bottom:2em;
  margin-top:6em;
}

</style>

<div id="home-main" class="twelve columns">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:20px">
            <div class="mobile-four">
                <center><img src="https://lh6.ggpht.com/-8GJJBeWxXK4L0H2p4CcWHy8x60HeQELWGiaIkdCDQ4eWM3zHRp1dmkpA26oK1HJtcHwykMXSRyyCQPLlydTrw=s256"/></center>
            </div>
            <div class="row">
            </div>
        </div>
                <div class="four columns">
                    [WGT]new-fare|DIRECTION|berline|500[/WGT]
                </div>
                <div class="eight columns  centerContent ">
                  <div class="centerContent marginImg hide-for-small">
                    <img src = "http://lh3.googleusercontent.com/dcp1sTaNBqJEgv4ERvXFgxLKB44RXnpw5NsBGI00xuQkpY_8C5bH9pNEl08sZ_CtgYIekJKyIzIgxq-sKlxE=s500"></img>
                  </div>
                  <div >
                    <p class="centerContent   centerContent ">
                      Votre chauffeur VTC assure <strong>tous vos déplacements professionnels à partir de 9 €.</strong> Ponctualité, sécurité et courtoisie, laissez-vous transporter par votre chauffeur Allocab.*
                    </p>
                    <p class="blueLink centerContent">
                      <a class="blueLink"   href="https://storage.googleapis.com/allocab-cdn-files/Guide%20utilisateur%20PSA.pdf">*Pour télécharger le guide utilisateur et connaître la politique de transport PSA, cliquez ici.</a>
                    </p>

                  </div>
              </div>
          </div>
      </div>
