<div class="twelve columns"> 
	<h1 class="twelve columns">
		VTC - Arrêté du 27 décembre 2011 relatif au transport par voitures de tourisme avec chauffeur
	</h1>
	<hr>
</div>


<div class="twelve columns">
	<h3>Article 1</h3>
	<p>
		Après le premier alinéa de l’article 3 de l’arrêté du 23 décembre 2009 susvisé, il est inséré un alinéa ainsi rédigé :
	</p>
	<p>
		<blockquote>
			Leur moteur doit avoir une puissance nette supérieure à 88 kilowatts.
		</blockquote>
	</p>

	<h3>Article 2</h3>
	<p>
		Le présent arrêté entre en vigueur le 1er juillet 2012.
	</p>

	<h3>Article 3</h3>
	<p>
		Le présent arrêté sera publié au Journal officiel de la République française.
	</p>
</div>