<div class="twelve columns"> 
	<h1 class="twelve columns">VTC – Article R231-2 à R231-4 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie réglementaire</h2>
	<p>
		Livre II : Activités et professions du tourisme<br>
		Titre III : Exploitation des véhicules de tourisme<br>
		Chapitre Ier : Transport par voitures de tourisme avec chauffeur<br>
		Section 2 : Exploitation de voitures de tourisme avec chauffeur<br>
		Sous-section 1 : Procédure d'immatriculation des entreprises touristiques de transport avec chauffeur
	</p>
	<hr>

	<h3>Article R231-2</h3>
	<i>Modifié par Décret n°2009-1650 du 23 décembre 2009 - art. 2</i>
	<p>
		La demande d'immatriculation au registre mentionné au b de l'article L. 141-3 est adressée par écrit, le cas échéant sous forme électronique, à la commission d'immatriculation mentionnée à l'article L. 141-2.
	</p>
	<p>
		L'exploitant de voitures de tourisme avec chauffeur doit joindre à sa demande d'immatriculation un état prévisionnel du nombre de chauffeurs et de voitures de tourisme retenu pour l'exercice de son activité.
	</p>
	<p>
		Lorsque la demande d'immatriculation est formulée par une personne physique, elle mentionne l'état civil, la profession et le domicile du demandeur ainsi que l'adresse du siège de ses activités.
	</p>
	<p>
		Lorsque la demande d'immatriculation est présentée au nom d'une personne morale, elle mentionne la dénomination sociale, la forme juridique, le montant du capital social, l'adresse du siège social, ainsi que l'état civil et le domicile du ou des représentants légaux, seuls habilités à présenter la demande.
	</p>

	<h3>Article R231-3</h3>
	<i>Modifié par Décret n°2011-1992 du 27 décembre 2011 - art. 1</i>
	<p>
		I. L'immatriculation est effectuée par la commission d'immatriculation mentionnée à l'article L. 141-2 dans un délai d'un mois à compter de la date du récépissé émis par la commission au moment de la réception du dossier complet, sous réserve des dispositions prévues à l'article R. 231-5. La commission notifie à l'exploitant de voitures de tourisme avec chauffeur un certificat d'immatriculation comportant son numéro d'immatriculation au registre et la date d'enregistrement.
	</p>
	<p>
		L'immatriculation est réputée acquise en l'absence de décision de la commission dans le délai prévu à l'alinéa précédent. La commission est alors tenue de délivrer sans délai un numéro d'immatriculation.
	</p>
	<p>
		II. Les exploitants de voitures de tourisme avec chauffeur informent la commission de tout changement dans les éléments d'information prévus au troisième ou quatrième alinéa de l'article R. 231-2, et notamment la cessation d'activité. L'information est transmise dans le mois qui précède la modification quand elle peut être anticipée ou sinon au plus tard dans le mois qui suit l'événement.
	</p>
	<p>
		III. Lorsqu'il ressort de l'examen du dossier complet que la demande d'immatriculation n'est pas conforme aux dispositions de la présente section, la commission prend une décision de refus d'inscription au registre qu'elle communique au demandeur dans le délai prévu au I du présent article.
	</p>
	<p>
		IV. Il est procédé, tous les trois ans, au renouvellement de l'immatriculation selon les modalités fixées au I du présent article.
	</p>

	<h3>Article R231-1</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 3</i>
	<p>
		La limite mentionnée au septième alinéa de l'article L. 141-3 est fixée à 150 euros.
	</p>

	<h3>Article R231-4</h3>
	<i>Modifié par Décret n°2009-1650 du 23 décembre 2009 - art. 2</i>
	<p>
		Dans le mois suivant l'immatriculation au registre mentionné au b de l'article L. 141-3, l'agence mentionnée à l'article L. 141-2 procède à la mise en ligne d'un avis informant les tiers de l'identité du déclarant, du numéro d'immatriculation, de la dénomination, de la raison sociale, de la forme juridique et de l'adresse du siège social de l'entreprise.
	</p>

</div>