<div class="twelve columns"> 
	<h1 class="twelve columns">VTC - Article L231-1 à L231-4 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie législative</h2>
	<p>
		Livre II : Activités et professions du tourisme<br>
		Titre III : Exploitation des véhicules de tourisme<br>
		Chapitre unique : Exploitation de voitures de tourisme avec chauffeur
	</p>
	<hr>

	<h3>Article L231-1</h3>
	<i>Modifié par LOI n°2009-888 du 22 juillet 2009 - art. 4 (V)</i>
	<p>
		Le présent chapitre s'applique aux entreprises qui mettent à la disposition de leur clientèle des voitures de tourisme avec chauffeur, suivant des conditions fixées à l'avance entre les parties.
	</p>

	<h3>Article L231-2</h3>
	<p>
		Les entreprises mentionnées à l'article L. 231-1 doivent disposer d'une ou plusieurs voitures répondant à des conditions techniques et de confort, ainsi que d'un ou plusieurs chauffeurs titulaires du permis B et justifiant de conditions d'aptitude professionnelle définies par décret. Elles sont immatriculées sur le registre mentionné au b de l'article L. 141-3.
	</p>

	<h3>Article L231-3</h3>
	<i>Modifié par LOI n°2009-888 du 22 juillet 2009 - art. 4 (V)</i>
	<p>
		Les voitures de tourisme avec chauffeur ne peuvent ni stationner sur la voie publique si elles n'ont pas fait l'objet d'une location préalable, ni être louées à la place.
	</p>

	<h3>Article L231-4</h3>
	<p>
		Les conditions d'application du présent chapitre sont fixées par décret.
	</p>
</div>