<div class="twelve columns"> 
	<h1 class="twelve columns">VTC – Article R231-24 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie réglementaire</h2>
	<p>
		Livre III : Le véhicule<br>
		Titre II : Dispositions administratives<br>
		Chapitre III : Contrôle technique<br>
		Section 4 : Dispositions applicables aux autres véhicules
	</p>
	<hr>

	<h3>Article R323-24</h3>
	<i>Modifié par Décret n°2004-568 du 11 juin 2004 - art. 1 JORF 19 juin 2004</i>
	<p>
		Tout véhicule de moins de dix places, conducteur compris, affecté au transport public de personnes est soumis à un contrôle technique, au plus tard un an après la date de sa première mise en circulation, ou préalablement à son utilisation au transport public lorsque celui-ci a lieu plus d'un an après la date de sa première mise en circulation.
	</p>
	<p>
		Ce contrôle technique doit ensuite être renouvelé tous les ans.
	</p>
</div>