<style>
.cms .circleNumber {
    width: 7em;
    height: 7em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 0.3em solid #F90;
    margin-bottom: 1em;
    margin-top: 1em;
}

.cms figure .circleNumberSection {
    width: 5em;
    height: 5em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 0.3em solid #F90;
    /*margin-bottom: 1em;*/
    margin-top: 1em;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.5); /* transparent background */
}

.cms .paddingTopReservation{
  margin-top:2em;
}

.cms figure {
		position: relative;
		margin: 0 auto; /* to center it */
		padding: 0 0 0 0;
		/*font-size: 1.2em;*/
		word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
		position: relative;
		display: inline-block;
		max-width: 100%;
		padding: 0;
}

.cms figure .figcptn {
		position: absolute;
		bottom: 2px;
		right: 0;
		background: black; /* fallback */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
		background: rgba(0,0,0,.75); /* transparent background */
		color: #fff;
		color:white;
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		/*font-size: 1.5em;*/
		width:21em;
		top:0;

}

.cms figure .figcptnNumber{
  position: absolute;
  bottom: 60%;
  left:30%;
}
.cms figure .figcptnNumberSmall{
  position: absolute;
  top: 20%;
  left:10%;
}

.cms figure .figcptnTitle {
    position: absolute;
    bottom: 8em;
    left:8em;
    color: #fff;
    color:white;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    /*font-size: 1.5em;*/
    width:50%;

}

.cms figure .figcptnTitleMedium {
    position: absolute;
    top: 40%;
    left:10%;
    color: #fff;
    color:white;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    /*font-size: 1.5em;*/
    width:50%;

}
.cms figure .figcptnTitleLittle {
    position: absolute;
    top: 0.5em;
    right:1em;
    color: #fff;
    color:white;
    /*font-size: 1.5em;*/
    width:55%;

}


.cms figure .figcptnSmall {
		position: absolute;
		bottom: 2px;
		left: 0;
		background: black; /* fallback */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
		background: rgba(0,0,0,.75); /* transparent background */
		color: #fff;
		color:white;
		top:0;
		font-size: 1.3em;
    width: 55%;
}



.cms .numberInCircle{
	font-size:5.8em;
}

.cms .spanTextfigcptSmall{

	font-weight:normal;
	font-size:1.1em;
	word-spacing: 0.2em;

}
.cms .spanTextfigcpt{

  font-weight:normal;
  font-size:1.2em;
  word-spacing: 0.2em;
  line-height: 1.3em;

}


.cms .h2BigWhite {
  font-size:2em;
  color:white;
  text-transform: uppercase;
}
.cms .h2BigWhiteSmall {
  font-size:1.3em;
  color:white;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

.cms .divMarginBottom{
  margin-bottom:2em;
}

.cms .littleTitleMobile{
  text-transform: uppercase;

}

.cms .row .TittleDivDiffTaxi{
  margin-bottom:2em;
}

.cms figure .numberSpan{
  position: absolute;
top: 0.3em;
color: #FFF;
font-size: 4em;
left: 0.4em;
}
.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}

</style>

<div class="twelve columns cms">

<div class="row">
	<div class="maxHeightReservation paddingTopReservation four columns">
		[WGT]new-fare|DIRECTION|berline|500[/WGT]
	</div>
	<div class="eight columns paddingTop0">
		<div class=" text-center TittleDivDiffTaxi">
			<h1>
			Les
			<center>
				<div class="circleNumber">
					<span class="numberInCircle">4</span>
				</div>
			</center>
			différences entre taxis et VTC
		  </h1>
		</div>
		<div class="">
			<div class="ten columns centered">
				<p style=" font-size: 15px;">
					A la différence d'un <strong>taxi</strong>, le prix de votre course en <strong>chauffeur VTC</strong> est fixé à l'avance.
					<br/>
          Découvrez votre solution de transport sur-mesure dès 9 € en gamme éco et profitez pleinement de tout le confort offert par votre voiture avec chauffeur.
				</p>

			</div>
		</div>
	</div>
</div>

	<div>
		<figure >
			<div class="divMarginBottom">
				<img src="http://lh5.ggpht.com/cubx2n6J6zFGfR3fLgM7crDAQXMENi476zh_kKHtPvoj2SWuTZrQcbBTr9-fgN9yfmsJHQQmu5BQ8LywhTQATQ=s1200" alt="Chauffeur VTC courtois et attentionné" title="Votre chauffeur est vêtu d’un constume. Il prend soin de vous et se rend disponible tout au long de votre trajet">
				<figcaption class="figcptn text-left show-for-medium-and-up hide-for-small"><span class="spanTextfigcpt text-left">Avec Allocab <strong>plus de surprise au niveau du prix </strong> il est indiqué au moment de la réservation.<br/> Vous commandez votre votre chauffeur VTC en 3 clics seulement et grâce au paiement sécurisé en ligne vous n'avez pas besoin de retirer d'argent liquide pour régler votre course. Des bagages ou de passagers supplémentaires ? Aucun frais ne vous sera ajouté. Vous profitez de votre course en toute sérénité en maîtrisant votre budget. </span></figcaption>
        <!--figcaption class="figcptnTitle text-center hide-for-small hide-for-medium"><h2  class="text-center h2BigWhite">Un prix juste et fixé à l'avance</h2><span class="spanTextfigcpt text-center">Le prix est un forfait fixé avant la course, adieu le taximètre</span></figcaption-->
        <figcaption class="figcptnTitleLittle text-center show-for-small"><h2  class="text-center h2BigWhiteSmall">Un prix juste et fixé à l'avance</h2><span class="spanTextfigcptSmall text-center">Le prix est un forfait fixé avant la course, adieu le taximètre</span></figcaption>
        <figcaption class="figcptnTitleMedium text-center hide-for-small show-for-medium-and-up"><h2  class="text-center h2BigWhite">Un prix juste et fixé à l'avance</h2><span class="spanTextfigcpt text-center">Le prix est un forfait fixé avant la course, adieu le taximètre</span></figcaption>
        <figcaption class="figcptnNumber hide-for-small"><div class="circleNumberSection"><span class="numberSpan">1</span></div></figcaption>
        <figcaption class="figcptnNumberSmall show-for-small"><div class="circleNumberSection"><span class="numberSpan">1</span></div></figcaption>

        <!--figcaption class="figcptnSmall text-center show-for-small hide-for-medium-and-up"><span class="spanTextfigcptSmall text-center"><span class="littleTitleMobile">securité et courtoisie</span><br/>Votre <strong>chauffeur privé</strong> vous accueille vêtu d'un costume et prend soin de porter vos  sacs et bagages. Bien au delà d'un service de taxi, il est <strong>à votre disponibilité</strong> tout au long de votre course.</span></figcaption-->

			</div>
		</figure>
	</div>

	<div>
		<figure >
			<div class="divMarginBottom">
				<img src="http://lh4.ggpht.com/p1xTqFbp1YpoR2MUDRWMr69d2QcrGMSOqEKb_BSflgDT0hsAdxQLm6ziXCY93JTKBJdTl8inhM0ar2I5BNA7cA=s1200" alt="Pas de lumineux taxi dans votre voiture avec chauffeur" title="Votre chauffeur VTC est discret et n’affiche aucun lumineux taxi">
				<figcaption class="figcptn text-left show-for-medium-and-up hide-for-small"><span class="spanTextfigcpt text-left">Nos chauffeurs sont formés sur 4 points essentiels de la <strong>charte qualité Allocab: confort, courtoisie, ponctualité et sécurité</strong>. Pour vous assurer un trajet réussi, ils ont une conduite souple et vérifient avant chaque course la propreté et le parfait état du véhicule. Nos chauffeurs sont notés par nos clients sur les 4 critères de la charte qualité et suivis quotidiennement par nos équipes.</span></figcaption>
        <!--figcaption class="figcptnTitle text-center hide-for-small hide-for-medium "><h2  class="text-center h2BigWhite">Des chauffeurs professionnels</h2><span class="spanTextfigcpt text-center">Nos chauffeurs sont formés par nos soins pour garantir un service de qualité</span></figcaption-->
        <figcaption class="figcptnTitleLittle text-center show-for-small"><h2  class="text-center h2BigWhiteSmall">Des chauffeurs professionnels</h2><span class="spanTextfigcptSmall text-center">Nos chauffeurs sont formés par nos soins pour garantir un service de qualité</span></figcaption>
        <figcaption class="figcptnTitleMedium text-center hide-for-small show-for-medium-and-up"><h2  class="text-center h2BigWhite">Des chauffeurs professionnels</h2><span class="spanTextfigcpt text-center">Nos chauffeurs sont formés par nos soins pour garantir un service de qualité</span></figcaption>

        <figcaption class="figcptnNumber hide-for-small"><div class="circleNumberSection"><span class="numberSpan">2</span></div></figcaption>
        <figcaption class="figcptnNumberSmall show-for-small"><div class="circleNumberSection"><span class="numberSpan">2</span></div></figcaption>

        <!--figcaption class="figcptnSmall text-center show-for-small hide-for-medium-and-up"><span class="spanTextfigcptSmall text-center"><span class="littleTitleMobile">Pas de Lumineux taxi</span><br/>Votre chauffeur VTC n'est <strong>pas équipé d'un luminaire taxi</strong>. Il circule en toute discrétion dans un véhicule haut de gamme. vous reconnaîtrez votre chauffeur à sa belle voiture et son accueil chaleureux.</span></figcaption-->

			</div>
		</figure>
	</div>

	<div>
		<figure >
			<div class="divMarginBottom">
				<img src="http://lh4.ggpht.com/lKGSJWZ6s3CLX6kRXXXkko9uCCNmhnLAg6bPTKU0AxC3qj5gkmgA3-wD5A6sr7VbTwDvy34CbTY0VrFB-KsXow=s1200" alt="Réservez votre chauffeur sans contrainte et payez en ligne" title="Le prix de votre chauffeur privé est indiqué à l’avance et vous réglez votre course avant de monter dans le véhicule">
				<figcaption class="figcptn text-left show-for-medium-and-up hide-for-small"><span class="spanTextfigcpt text-left">Votre chauffeur vous conduit dans un <strong>véhicule de standing dépourvu de lumineux taxi.</strong> A la place, vous profitez de petites attentions : bouteille d'eau, wifi, chargeur de téléphone, presse du jour. A la différence d'un taxi, votre chauffeur roule dans une berline élégante sans signe distinctif pour vous permettra de voyager en toute discrétion.</span></figcaption>
			   <!--figcaption class="figcptnTitle text-center hide-for-small hide-for-medium"><h2  class="text-center h2BigWhite">Un véhicule sans lumineux taxi</h2><span class="spanTextfigcpt text-center">Une berline à l'état pur</span></figcaption-->
         <figcaption class="figcptnTitleLittle text-center show-for-small"><h2  class="text-center h2BigWhiteSmall">Un véhicule sans lumineux taxi</h2><span class="spanTextfigcptSmall text-center">Une berline à l'état pur</span></figcaption>
         <figcaption class="figcptnTitleMedium text-center  hide-for-small show-for-medium-and-up"><h2  class="text-center h2BigWhite">Un véhicule sans lumineux taxi</h2><span class="spanTextfigcpt text-center">Une berline à l'état pur</span></figcaption>

          <figcaption class="figcptnNumber hide-for-small"><div class="circleNumberSection"><span class="numberSpan">3</span></div></figcaption>
          <figcaption class="figcptnNumberSmall show-for-small"><div class="circleNumberSection"><span class="numberSpan">3</span></div></figcaption>

        <!--figcaption class="figcptnSmall text-center show-for-small hide-for-medium-and-up"><span class="spanTextfigcptSmall text-center"><span class="littleTitleMobile">Pas de Taximètre</span><br/>Avec Allocab, <strong>plus de surprise niveau prix.</strong><strong>le tarif de votre course est indiqué à l'avance</strong>. Vous réglez votre course en ligne par paiement sécurisé.</span></figcaption-->
      </div>
		</figure>
	</div>

	<div>
		<figure >
			<div class="divMarginBottom">
				<img src="http://lh3.ggpht.com/5Y_TthuZz6n13XGa7FTf2LelXpo3Bgft00iYqFPItJaL2uJwAVQKTZHZMqOxUgtCinAWiwFRxv0RFNR1Sfoo=s1200" alt="Voiture VTC bien tenue" title="Votre chauffeur privé vous attend dans une voiture bien tenue et soignée">
				<figcaption class="figcptn text-left show-for-medium-and-up hide-for-small"><span class="spanTextfigcpt text-left">Nous savons que votre temps est précieux, c'est pour cela que nous avons équipé nos chauffeurs du <strong>meilleur GPS offert par le marché</strong>. Plus de stress, votre chauffeur vous prévient de son arrivée avec un SMS.<br/>Il vous accueille avec le sourire et emprunte le trajet le plus court pour vous conduire à tous vos rendez-vous. Vous voyagez en toute sérénité et votre temps de trajet est parfaitement maîtrisé par votre chauffeur.</span></figcaption>
			  <!--figcaption class="figcptnTitle text-center hide-for-small hide-for-medium"><h2  class="text-center h2BigWhite">Un GPS anti-bouchon</h2><span class="spanTextfigcpt text-center">Grâce à votre chauffeur privé, vous êtes à l'heure à tous vos rendez-vous</span></figcaption-->
        <figcaption class="figcptnTitleLittle text-center show-for-small"><h2  class="text-center h2BigWhiteSmall">Un GPS anti-bouchon</h2><span class="spanTextfigcptSmall text-center">Grâce à votre chauffeur privé, vous êtes à l'heure à tous vos rendez-vous</span></figcaption>
        <figcaption class="figcptnTitleMedium text-center hide-for-small show-for-medium-and-up"><h2  class="text-center h2BigWhite">Un GPS anti-bouchon</h2><span class="spanTextfigcpt text-center">Grâce à votre chauffeur privé, vous êtes à l'heure à tous vos rendez-vous</span></figcaption>

        <figcaption class="figcptnNumber hide-for-small"><div class="circleNumberSection"><span class="numberSpan">4</span></div></figcaption>
        <figcaption class="figcptnNumberSmall show-for-small"><div class="circleNumberSection"><span class="numberSpan">4</span></div></figcaption>

      	<!--figcaption class="figcptnSmall text-center show-for-small hide-for-medium-and-up"><span class="spanTextfigcptSmall text-center"><span class="littleTitleMobile">Un véhicule de Standing impeccable</span><br/>Votre voiture avec chauffeur est <strong>parfaitement bien tenue</strong> et sent bon le frais. Nos chauffeurs circulent dans des véhicules de standing et <strong>vérifie leur propreté avant chaque course.</strong></span></figcaption-->
			</div>
		</figure>
	</div>


<hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>


</div>
