<style>
.cms .buttonToTop{
	background-color:#43AC6A;
	border-color:#368A54;
	padding-top:0.5em;
	padding-bottom: 1em;
	padding-left: 3.2em;
	padding-right: 3.2em;
	font-weight: 400;
	line-height: normal;
	border:none;
}
.cms .FontButtonToTop{
	font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>


<div class="twelve columns cms">
	<div class="row ">
		<div class="twelve columns">
			<h1 class="text-center">Nos gammes de véhicules en berline et van</h1>
		</div>
	</div>
<hr style="background:none repeat scroll 0% 0% transparent;"/>
	<div class="row">
		<div class=" four columns">
			[WGT]new-fare|DIRECTION|berline|500[/WGT]
		</div>
		<div class="eight columns">
			<div class="">
				<!--div class="six columns">
					<img style="margin-top:4em"src="http://lh3.ggpht.com/e1Y55YZMm5rAjO02ylhs0OHSHB79vXdFD4Oaqh9gbjW6t1Nae2uE73PaUuve_YHalLBY-wbV5PxVObqAD87b=s300" title="berline Allocab" alt=" véhicule VTC">
				</div>
				<div class="six columns">
					<img style="margin-top:4em"src="http://lh4.ggpht.com/bkyQfXEmta0UIxSJqIpnFvWSmL8DU3JKoEXhzHJSehZHcaIb6GQ68DCSAFpeycFvvCIUBJ_pvoHiUhumcQGe7g=s800" title=" van Allocab" alt=" véhicule VTC">
				</div-->
				<div class="">
					<img src="http://lh5.ggpht.com/M2uCADvxDPl8Nk9MYE_WaobFrDMikD2o7Pp9TRlnsYFdkj3bHgjQIVQKWgD3twiEwoXQLReLCiNGMDsTe-Uv4Q=s650" title="Votre chauffeur VTC en berline ou van" alt="Les gammes de véhicules Allocab">
					<p>
						Allocab propose un <strong>large choix de véhicules</strong> adapté aux besoins de chaque client. Vous cherchez un véhicule <strong>élégant</strong> et <strong>confortable</strong> ? Réservez une berline haut de gamme type Mercedes, Jaguar ou équivalent dans la gamme Eco, Affaires  ou Première. Si vous <strong>voyagez en groupe</strong>, choisissez un van Eco ou Affaires pour assurer des <strong>trajets tout confort</strong>.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="six columns">
			<h2>La berline Classe Eco</h2>
			<p>
				Vous cherchez une voiture avec chauffeur avec un <strong>excellent rapport qualité / prix</strong> ? Vous allez adorer la gamme berline classe éco (Peugeot 508 ou équivalent) qui peut transporter jusqu'à 4 passagers. En berline classe éco, vous bénéficiez de services tels que la <strong>climatisation</strong>, le choix de la <strong>musique</strong>, une <strong>bouteille d'eau</strong> offerte à bord ainsi que la possibilité de prendre <strong>3 bagages.</strong>
			</p>
			<p><a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">Cliquez ici pour retrouver les prix de votre chauffeur en berline Classe Eco.</a></p>
		</div>
		<div class="six columns">
			<img src="http://lh6.ggpht.com/YwpfxeQU3pZGiKr4guyXXgVdfw-MQ5NqrdF_FkJ7rJdzZxw_XylmecXXV_EX16JtdQCNAK5D5wiS31tzx4Ge7A=s400" alt="une berline peugeot allocab" title="la berline eco, parfait équilibre prix confort"/>
		</div>
	</div>
	<hr/>
	<div class="row ">
		<div class="six columns">
			<img src="http://lh3.ggpht.com/p3HZBTZCiAQiMLYh3MNcxAzffgczKwR9zOLc9IJQvgRCOYPHSoABQ8yGHR_M3gG221NaM5_ZrtFTKF8jdzJkVQ=s320" title="Soyez conduit dans une berline tout confort" alt="une berline mercedes affaire"/>
		</div>
		<div class="six columns">
			<h2>La berline Classe Affaires</h2>
			<p>
				La berline Classe Affaires est faite pour vous si vous recherchez le <strong>confort d'une voiture allemande</strong> (Mercedes Classe E ou équivalent) conduite par un chauffeur professionnel à votre écoute. A bord de votre berline Affaires, vous avez accès au <strong>wifi</strong> et à la <strong>climatisation.</strong> Vous pouvez également choisir votre <strong>musique</strong> et demander un <strong>chargeur de téléphone</strong> à votre chauffeur privé. Vous pouvez voyager à 4 et apporter jusqu'à <strong>3 bagages.</strong>
			</p>
			<p><a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">Découvrez ici les tarifs de votre chauffeur privé en berline Classe Affaires.</a></p>
		</div>
	</div>

	<hr/>

	<div class="row ">
		<div class="six columns">
			<h2>La berline Première Classe</h2>
			<p>
				Vous aimez être accueilli à bord d'une <strong>voiture de luxe</strong> toutes options avec un chauffeur <strong>aux petits soins ?</strong> N'attendez plus pour réserver votre berline Première Classe type Mercedes Classe S ou Jaguar. A l'intérieur du véhicule, vous pouvez choisir <strong>la musique</strong>, la <strong>température</strong> et une <strong>bouteille d'eau</strong> est offerte. Vous pouvez également demander un <strong>chargeur de téléphone</strong> et accéder à la <strong>wifi.</strong>
			</p>
			<p><a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">Découvrez ici les tarifs de votre chauffeur privé en berline Première Classe.</a></p>
		</div>
		<div class="six columns">
			<img src="http://lh6.ggpht.com/x1C3YHpo4WaQjvUwMWx4fToq7Kgoq4o97aZ0aU7rIlfFGErsPqU4mUNJlSyJ8utoVnp-ZxXFgkK7OKp2qFFOIw=s320" title="la berline classe affaire, un luxe sans compromis" alt="berline classe affaire Allocab"/>
		</div>
	</div>
	<hr/>
	<div class="row ">
		<div class="six columns">
			<img src="http://lh3.ggpht.com/lO3-gvKOfKwzueRls_PM-9aMimt27khNZ7UDF_ZOeHp5-pdU8irt555a_qtqHkvsQcoD27l9Ye9BjnkpN8QAidA=s375" title="Une réunion à prolonger à petit prix? Le van classe eco est la solution" alt="van wolksvagen allocab"/>
		</div>
		<div class="six columns">
			<h2>Le van Classe Eco</h2>
			<p>
				Si vous recherchez un van avec un <strong>excellent rapport qualité / prix,</strong> vous adorerez la gamme van Classe Eco. Le van Classe eco propose les options <strong>climatisation, musique, wifi, bouteille d'eau</strong> et <strong>chargeur de téléphone.</strong> Vous pouvez voyager en groupe (jusqu'à 7 personnes) et profiter de la <strong>disposition salon</strong> pour terminer vos réunions sur la route.
			</p>
			<p><a href="/chauffeur-prive-vtc/prix-tarif-van">Retrouvez les prix de votre van Classe Eco ici.</a></p>
		</div>
	</div>

	<hr/>

	<div class="row ">
		<div class="six columns">
			<h2>Le van Classe Affaires</h2>
			<p>
				Vous recherchez du <strong>confort et de l'espace</strong> ? Voyagez dans un van tout confort type Mercedes Viano pouvant accueillir <strong>7 personnes.</strong> Vous pourrez profiter de la <strong>disposition en salon</strong> pour prolonger une réunion de travail avec vos clients ou vos collaborateurs. Vous avez accès au <strong>wifi</strong>, pouvez choisir la <strong>musique</strong> et la <strong>température du véhicule</strong> et une <strong>bouteille d'eau</strong> est offerte pour chaque passager.
			</p>
			<p><a href="/chauffeur-prive-vtc/prix-tarif-van">Découvrez maintenant les tarifs de votre chauffeur privé en van Classe Affaires.</a></p>
		</div>
		<div class="six columns">
			<img src="http://lh5.ggpht.com/m-X-1pJOoWzNRNHhagBTpSIVlyjZo-xOe277L978m_XlN6_dsktq4IR0YKiyRTkPIdIg192REgYgTP8_JKSx=s400" title="Un van classe Affaire Mercedes, meilleur moyen de voyager en groupe" alt="Van classe affaire Allocab"/>
		</div>
	</div>

	<hr/>
		<div class=" text-center">
			<a href="#new-fare-widget-wrapper">
				<button class=" button success buttonToTop ">
					<div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
					<div >Retour au formulaire de réservation</div>
				</button>
			</a>
		</div>



</div>
