<style>
.cms .tableBorderRowOrange{
  border: 0.1em solid #F90;
}
.cms .borderTableOrange{
  border:0.1em solid #F90;
  margin-bottom:0em;
}
.cms .backgroundColorOrange{
  Background-color: #F90;
}
.cms .white{
  color:white;
}
table {
    border-collapse: collapse;
}

table thead .cms .theadBorderWhite{
    border-right: 0.11em solid white;
}
.cms .tdBackgroundColorWhite{
  Background-color:white;
}
.cms .tarifTable{
  margin-bottom:1em;
  margin-top:4em;
}
.cms .row  .verticalyCentered{
  padding-top:0.5em;
}

.cms .row  .iconePaddingTop{
  padding-top:1em;
}

.cms .row  .marginBottomTittleCar{
  margin-bottom:1em;
}
</style>
<div class="twelve columns cms">
  <div class="row">
    <div class="nine columns offset-by-two">
      <h1 class="text-center">Découvrez les prix de vos courses en van</h1>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="four columns">
      <br/>
      [WGT]new-fare|DIRECTION|van|500[/WGT]
    </div>
    <div class="eight columns">
      <div class="row">
        <div class="twelve columns">
          <img src="http://lh3.ggpht.com/Bk7fcrjLOB9rGQec445ueHMf1JIWOQWhvwawLd2mTt7AoNVQGDL6AfrjoWPIHyku4uS1fTWFq0u3GILINPSr=s600" title="Organisez vos réunions d’affaires dans l’un de nos vans tout confort !" alt="Organisez vos réunions d’affaires dans l’un de nos vans tout confort !">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <h2 class="text-center">Le devis Allocab en 3 points</h2>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <style>ul.driver-style li {font-size:18px;}</style>
                          <ul class="driver-style">
                          <li>Un prix fixe annoncé à la réservation</li>
                          <li>Une facturation sans surprise (pas de supplément pour l'arrivée du chauffeur, pas de supplément bagages ou passager supplémentaire)</li>
                          <li>Une garantie annulation gratuite si annoncée 2 heures à l'avance</li>
                          </ul>
        </div>
      </div>

    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="four columns">
      <div class="row">
        <div class="twelve columns">
          <img src="http://lh6.ggpht.com/viPl6U3r7llV553zBh0aSvX4xH-v64FNBqf9ImoeeNKgiK4EJcjMRxfB0zMtGXkTDREkcGJju-p2TKY19212Ig=s400" title="zones desservies par AlloCab" alt="zones desservies par AlloCab">
        </div>
      </div>
    </div>
    <div class="eight columns">
      <h2 class="text-center">Les tarifs de vos trajets en van</h2>
      <table class="borderTableOrange">
        <thead>
          <tr class="backgroundColorOrange">
            <th class="white text-center">Trajet</th>
            <th class="white text-center">van Eco</th>
            <th class="white text-center">van Affaires</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableBorderRowOrange">
            <td>Centre de Paris - Aéroport Orly</td>
            <td class="text-center">A partir de <strong>39€</strong></td>
            <td class="text-center">A partir de <strong>55€</strong></td>
          </tr>
          <tr class="tableBorderRowOrange">
            <td>Centre de Paris - Aéroport Roissy CDG</td>
            <td class="text-center">A partir de <strong>65€</strong></td>
            <td class="text-center">A partir de <strong>79€</strong></td>
          </tr>
          <tr class="tableBorderRowOrange">
            <td>Neuilly - Opéra</td>
            <td class="text-center">A partir de <strong>30€</strong></td>
            <td class="text-center">A partir de <strong>35€</strong></td>
          </tr>
          <tr class="tableBorderRowOrange">
            <td>Etoile - Gare de Lyon</td>
            <td class="text-center">A partir de <strong>25€</strong></td>
            <td class="text-center">A partir de <strong>30€</strong></td>
          </tr>
        <tbody>
      </table>
    </div>

  </div>
  <hr/>

  <div class="row">
    <div class="four columns">
      <div class="row">
        <div class="twelve columns text-center">
          <h3>van en Classe Eco</h3>
          <div class="row marginBottomTittleCar">Volkswagen Caravelle ou équivalent</div>
          <img src="http://lh3.ggpht.com/lO3-gvKOfKwzueRls_PM-9aMimt27khNZ7UDF_ZOeHp5-pdU8irt555a_qtqHkvsQcoD27l9Ye9BjnkpN8QAidA=s256" title="le van Eco est idéal pour rejoindre l’aéroport ou la gare en groupe" alt="le van Eco est idéal pour rejoindre l’aéroport ou la gare en groupe">
        </div>
      </div>
    </div>
    <div class="eight columns">
      <table class="borderTableOrange tarifTable">
        <thead>
          <tr class="backgroundColorOrange">
            <th colspan="3"  class="text-center white theadBorderWhite">Réservation à l'avance</th>
            <th colspan="3"  class="text-center white theadBorderWhite">Départ immédiat</th>
            <th colspan="4"  class="text-center white">Location à l'heure</th>
          </tr>
        </thead>
        <tbody >
          <tr  class="  tableBorderRowOrange">
            <td  class=" text-center tdBackgroundColorWhite tableBorderRowOrange">Prise en charge </td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix au km</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix au km</td>
            <td  class="text-center tdBackgroundColorWhite  tableBorderRowOrange">Tarif horaire</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Pour 1h</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Pour 4h</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">pour 8h</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Par heure supp</td>
          </tr>
          <tr class="tableBorderCollapse tableBorderRowOrange">
            <td class="text-center tableBorderCollapse  tdBackgroundColorWhite tableBorderRowOrange"><strong>10€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>2€50</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>35€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>1€75</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite  tableBorderRowOrange"><strong>0€75</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>15€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>75€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>70€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>65€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>65€</strong></td>
          </tr>
        </tbody>
      </table>
      En classe Eco, le temps d'attente client est gratuit jusqu'à 5 minutes et payant 0€50/minute au delà
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="four columns">
      <div class="row">
        <div class="twelve columns text-center">
          <h3>van en Classe Affaires</h3>
          <div class="row marginBottomTittleCar">Mercedes Viano ou équivalent</div>
          <img src="http://lh5.ggpht.com/m-X-1pJOoWzNRNHhagBTpSIVlyjZo-xOe277L978m_XlN6_dsktq4IR0YKiyRTkPIdIg192REgYgTP8_JKSx=s256" title="Réservez un van affaires pour vos réunions de groupe" alt="Réservez un van affaires pour vos réunions de groupe">
        </div>
      </div>
    </div>
    <div class="eight columns">
      <table class="borderTableOrange tarifTable">
        <thead>
          <tr class="backgroundColorOrange">
            <th colspan="3"  class="text-center white theadBorderWhite">Réservation à l'avance</th>
            <th colspan="3"  class="text-center white theadBorderWhite">Départ immédiat</th>
            <th colspan="4"  class="text-center white">Location à l'heure</th>
          </tr>
        </thead>
        <tbody >
          <tr  class="  tableBorderRowOrange">
            <td  class=" text-center tdBackgroundColorWhite tableBorderRowOrange">Prise en charge </td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix au km</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix au km</td>
            <td  class="text-center tdBackgroundColorWhite  tableBorderRowOrange">Tarif horaire</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Pour 1h</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Pour 4h</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">pour 8h</td>
            <td  class="text-center tdBackgroundColorWhite tableBorderRowOrange">Par heure supp</td>
          </tr>
          <tr  class="tableBorderCollapse tableBorderRowOrange">
            <td class="text-center tableBorderCollapse  tdBackgroundColorWhite tableBorderRowOrange"><strong>20€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>3€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>49€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>2€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite  tableBorderRowOrange"><strong>1€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>20€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>100€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>95€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>90€</strong></td>
            <td class="text-center tableBorderCollapse tdBackgroundColorWhite tableBorderRowOrange"><strong>90€</strong></td>
          </tr>
        </tbody>
      </table>
      En Classe Affaires, le temps d’attente client est gratuit jusqu’à 10 minutes et payant 0€75/minute au delà
    </div>
  </div>
  <hr/>

    <div class="row">
      <div class="five columns offset-by-four">
        <h6>Heures de pointe: +15%</h6>
        <div class="row" >
          <div class="two columns">
            <img src="http://lh5.ggpht.com/uxqO1jIB-pe-7yl5N64SsF21RolH5KtcQrBnnB0rLz4tTMSAzQQkD6vFSOyClvrDS6TpH5CTT-zrPQ8gFoIjIQ=s30">
          </div>
          <div class="ten columns">
            <div class=" row verticalyCentered">8h-10h et 18h-22h du lundi au vendredi</div>
          </div>
        </div>
        <div class="row">
          <div class="two columns">
            <img src="http://lh5.ggpht.com/uxqO1jIB-pe-7yl5N64SsF21RolH5KtcQrBnnB0rLz4tTMSAzQQkD6vFSOyClvrDS6TpH5CTT-zrPQ8gFoIjIQ=s30">
          </div>
          <div class="ten columns">
            <div class=" row verticalyCentered">18h-22h du samedi au dimanche</div>
          </div>
        </div>
      </div>
    </div>
    <hr/>

    <div class="row centeredRow bigRowMarginBottom">
      <div class="twelve columns">
      <div class="">
      <div class="five columns">

        <div class="row">
          <div class="three columns"><!--Ici l'image--><div class="row iconePaddingTop"><img src="http://lh3.ggpht.com/nHfOnYOj_d8_iBE4G-5J_8M0w0fhtD7vpcNQFfRQzM28kFDEm0JEOCGDjDCwUc0wvfyETk2JZdbkjFvH53_N=s200"></div></div>
          <div class="eight columns offset-by-one">

            <div class="row">
              <h2 class=" text-center">Etape et location à l'heure</h2>
              <p>
                Vous pouvez réserver votre chauffeur en van pour effectuer un trajet avec étapes.
              </p>
              <p>
                Vous pouvez aussi prévoir une course en van pour une heure, une matinée ou une journée entière.
              </p>
            </div>
          </div>
        </div>
      </div>

    <div class="five columns offset-by-one">

      <div class="">
          <div class="three columns"><!--Ici l'image--><div class="row iconePaddingTop"><img class="" src="http://lh6.ggpht.com/IpC1AsCRjLQQlhHq4BPw_1dgSZq7jLtxa1A9i0qlu-stKozKORF8SUWmN74jySxio4pdDAaZIGNAvr-uasEnGA=s150"></div></div>
          <div class="eight columns offset-by-one">
            <div class="row">
              <h2 class=" text-center">Annulation gratuite</h2>
              <p>
              Si vous décidez d'annuler votre course 2 heures à l'avance, l'annulation est gratuite
              </p>
              <p>
                Si vous annulez 1 heure à l'avance, vous êtes remboursé à hauteur de 20%.
              </p>
              <p>
                Si vous annulez entre 1 heure et 2 heures avant la course, vous êtes remboursé à hauteur de 40%.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>



    <hr/>
    <div class="row centeredRow">
      <div class="twelve columns">
      <div class="">
      <h2 class="text-center">Les autres types de véhicules sur Allocab.com</h2>
      <div class="three columns offset-by-two">
        <div class="row">
          <img class="" src="http://lh6.ggpht.com/x1C3YHpo4WaQjvUwMWx4fToq7Kgoq4o97aZ0aU7rIlfFGErsPqU4mUNJlSyJ8utoVnp-ZxXFgkK7OKp2qFFOIw=s256" title="Réserver un taxi privé pour vous déplacer dans Paris et ses alentours" alt="Réserver un taxi privé pour vous déplacer dans Paris et ses alentours">
        </div>
        <div class="row fontGrey">
          <p>Un déplacement à venir ? Besoin d'un transport fiable et de grande qualité pour un rendez-vous professionnel ? <a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">Découvrez les tarifs d'une berline avec chauffeur.</a></p>
        </div>
      </div>
      <div class="three columns offset-by-two">
        <div class="row">
          <img class="" src="http://lh6.ggpht.com/j_4Sa8p9KFZls7UhNfjFIpZG2bfc6dHJ-xDULe6hbEvvRxfuu9b9nJNla3Tq8nI7iKoVLRLtmXvvrQYqIGDf=s256" title="Essayez le moto-taxi pour éviter les bouchons et vous déplacer sans contrainte" alt="Essayez le moto-taxi pour éviter les bouchons et vous déplacer sans contrainte">
        </div>
          <div class="row fontGrey">
            <p>Dites "Adieu" aux bouchons avec la solution moto taxi ! <a href="/moto-taxi/tarif-taxi-moto-prix">Découvrez les tarifs</a> de ce moyen de transport rapide et fiable</p>
          </div>
      </div>
      <div class="one columns"></div>
    </div>

  </div>
  </div>

  <div style="margin-top:6em">TVA à 10% pour les transferts simples et 20% pour la location de voiture avec chauffeur à l’heure</div
</div>
