<div id="home-main" class="twelve columns">
	<div class="row">
		<div class="five columns">
			<br/>
			[WGT]new-fare|PERIOD|berline|500[/WGT]
		</div>
		<div class="seven columns">
			<div class="row">
				<div class="twelve columns">
					<h1>Location d'un véhicule avec chauffeur VTC</h1>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<img src="http://lh3.ggpht.com/4JB5s5BL3paR6yn47tLTYISipg9DoMGN1uK0bLX2AMwrZhPBs8-XVosI-Rtl5uX5pjFYDM4AqGboIoga4AlSpA=s800" alt="mise_disposition_vehicule_avec_chauffeur.png" title="Mise à disposition voiture avec chauffeur"/>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<br/>
					<p>La <b>mise à disposition d'un <a href="http://www.allocab.com/chauffeur-prive-vtc">chauffeur VTC</a></b> (Voiture de Tourisme avec Chauffeur) vous permet de disposer d'une voiture et de son chauffeur pendant la durée de votre choix, de quelques heures à plusieurs jours. A bord, bouteilles d'eau, mouchoirs, wifi, chargeurs de téléphones et parapluie sont à votre disposition pour votre confort pendant la durée de la réservation de votre chauffeur.</p>
					<p>Chargé de vous conduire, votre chauffeur personnel est à votre écoute, porte vos sacs et bagages. Il vous attend le temps nécessaire <b>pour vos rendez-vous professionnels</b> ou pour assurer une présence de prestige <b>pour vos évènements et salons</b>. Il est force de proposition pour vous suggérer les bonnes adresses et saura trouver l'introuvable pour votre satisfaction.</p>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="seven columns">
			<h3>Mise à disposition de chauffeur : comment réserver ?</h3>
			<p>Choisissez le véhicule parmi <b>3 types : berline, van ou <a href="http://www.allocab.com/moto-taxi">moto-taxi</a></b>. Entrez l'heure et l'adresse de prise en charge puis la durée de location de votre voiture avec chauffeur. <a href="http://www.allocab.com/tarif-prix-moto-taxi-chauffeur-prive">Réglez la réservation en ligne</a>, sur notre application mobile ou par téléphone au 0899 022 400* et profitez de la location de voiture de tourisme avec chauffeur pour vous laisser transporter en toute sérénité.</p>
		</div>
		<div class="five columns">
			<img src="http://lh3.ggpht.com/gDt6hbVJS1zIDuoEPyVhzs7BajqLF7wFSchfYxt6AQOiJ-z-iRKnx3zkyNwP6p7Gt59PA6Z8b3Kzs7ykuQfX=s600" alt="comment_reserver_location_voiture_avec_chauffeur.png" title="Comment réserver location voiture avec chauffeur"/>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="five columns">
			<img src="http://lh4.ggpht.com/Un1MioQv5oQ7oV3wNnNDSGPrzZQQP99OtkV9wcIsmd5ovzfQzAPX2HRswd6zQAYQ7S4vM3Qq12FcdcT0gLGsZbg=s600" alt="location_voiture_avec_chauffeur_rendez_vous_pro.png" title="Location voiture avec chauffeur rendez-vous pro"/>
		</div>
		<div class="seven columns">
			<h3>Votre chauffeur pour vos rendez-vous professionnels</h3>
			<p>La location de votre véhicule avec chauffeur est à votre disposition pour vous accompagner dans vos déplacements professionnels. En quelques clics, vous réservez <a href="http://www.allocab.com/prestige-securite-chauffeur">un véhicule avec chauffeur</a> qui vous attendra <b>à chaque étape de vos rendez-vous</b>. Finis les soucis d'attente ou d'itinéraires à trouver, votre chauffeur Allocab rend vos déplacements agréables.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="seven columns">
			<h3>Une flotte disponible pour vos évènements et salons</h3>
			<p>Les possibilités sont infinies : chaque location de voiture avec chauffeur particulier bénéficie d'un forfait kilométrique de 25 km par heure. Votre chauffeur VTC vient vous chercher chez vous, au bureau ou en gare et aéroport <b>pour une inauguration, une journée shopping, un lancement presse</b> ou tout déplacement de quelques heures ou quelques jours à Paris, Lyon, Bordeaux, Lille et <a href="http://www.allocab.com/zone-couverture-service-chauffeur">dans plus de 150 villes en France.</a></p>
		</div>
		<div class="five columns">
			<img src="http://lh6.ggpht.com/kFMnrqf0Hlz1t9pxaWLCF3Lgw1Hn8E4MAO2JGZO6oFWrO0mWddx4SdzlvswCYIO_6f7sMBNW_i8sIf6QMVe-YQ=s600" alt="louer_mise_disposition_voiture_avec_chauffeur_salon_evenement.png" title="Louer mise à disposition voiture avec chauffeur evènement"/>
		</div>
	</div>
</div>
