<div class="twelve columns"> 
	<h1 class="twelve columns">VTC – Article D231-7 à D231-11 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie réglementaire</h2>
	<p>
		Livre II : Activités et professions du tourisme<br>
		Titre III : Exploitation des véhicules de tourisme<br>
		Chapitre Ier : Transport par voitures de tourisme avec chauffeur<br>
		Section 3 : Conduite de voitures de tourisme avec chauffeur<br>
		Sous-section 1 : Conditions d'aptitude à la conduite de voiture de tourisme avec chauffeur
	</p>
	<hr>

	<h3>Article D231-7</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 4</i>
	<p>
		Les chauffeurs de voiture de tourisme au sens du présent chapitre doivent justifier :
		<ul>
			<li>
				soit de la réalisation d'un stage de formation professionnelle effectué auprès d'un centre de formation et répondant à des critères fixés par arrêté du ministre chargé du tourisme qui ne peut être d'une durée inférieure à trois mois ;
			</li>
			<li>
				soit d'une expérience professionnelle d'une durée minimale d'un an dans des fonctions de chauffeur professionnel au cours des dix années précédant la demande de carte professionnelle ;
			</li>
			<li>
				soit de la possession d'un diplôme, titre ou certificat figurant sur une liste fixée par arrêté pris par les ministres chargés du tourisme, de l'éducation et de l'enseignement supérieur.
			</li>
		</ul>
	</p>
	<p>
		Le stage de formation professionnelle mentionné au deuxième alinéa doit comporter des cours d'au moins une langue étrangère.
	</p>

	<h3>Article D231-8</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 4</i>
	<p>
		Pour l'application du premier alinéa de l'article L. 231-2, les chauffeurs doivent être titulaires d'un permis B en cours de validité, non affecté par le délai probatoire prévu à l'article L. 223-1 du code de la route.
	</p>
	<p>
		Conformément à l'article R. 221-10 du même code, les chauffeurs doivent être en possession d'une attestation délivrée par le représentant de l'Etat dans le département après vérification médicale de l'aptitude physique.
	</p>

	<h3>Article D231-9</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 4 18/29</i>
	<p>
		Les chauffeurs de voiture de tourisme doivent être titulaires depuis moins de deux ans de l'unité d'enseignement "prévention et secours civiques de niveau 1” prévue par arrêté du ministre de l'intérieur et du ministre chargé de la santé.
	</p>

	<h3>Article D231-10</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 4</i>
	<p>
		Nul ne peut exercer la profession de chauffeur de voiture de tourisme si figure au bulletin n° 2 de son casier judiciaire :
		<ol>
			<li>
				soit une condamnation définitive pour un délit sanctionné dans le code de la route par une réduction de la moitié du nombre maximal de points du permis de conduire ;
			</li>
			<li>
				soit une condamnation définitive par une juridiction française ou étrangère à une peine criminelle ou à une peine correctionnelle d'au moins six mois d'emprisonnement sans sursis pour vol, escroquerie, abus de confiance, atteinte volontaire à l'intégrité de la personne, agression sexuelle ou infraction à la législation sur les stupéfiants.
			</li>
		</ol>
	</p>

	<h3>Article D231-11</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 4</i>
	<p>
		L'aptitude professionnelle prévue à l'article L. 231-2 est réputée acquise pour tout ressortissant d'un autre Etat membre de la Communauté européenne ou d'un autre Etat partie à l'accord sur l'Espace économique européen dès lors qu'il justifie :
		<ol>
			<li>
				soit de la réalisation d'un stage de formation professionnelle effectué dans un autre Etat membre de la Communauté européenne ou dans un Etat partie à l'accord sur l'Espace économique européen permettant l'exercice de la profession de chauffeur professionnel dans le cadre de l'activité mentionnée à l'article L. 231-1 et dont l'attestation est délivrée par une autorité compétente de cet Etat ;
			</li>
			<li>
				soit d'une expérience professionnelle d'une durée minimale d'un an dans l'un de ces Etats au cours des dix années précédant la présentation de la demande de carte professionnelle dans des fonctions de chauffeur professionnel ;
			</li>
			<li>
				soit de la possession d'un diplôme, titre ou certificat délivré par une autorité compétente de l'un de ces Etats permettant l'exercice de la profession de chauffeur professionnel dans le cadre de l'activité mentionnée à l'article L. 231-1 et attestant d'un niveau de qualification professionnelle au moins équivalent au niveau immédiatement inférieur à celui exigé en application de l'article D. 231-7.
			</li>
		</ol>
	</p>
</div>