<div class="twelve columns"> 
	<h1 class="twelve columns">
		VTC - Arrêté du 23 décembre 2009 relatif au transport par voitures de tourisme avec chauffeur
	</h1>
	<hr>
</div>


<div class="twelve columns">
	<h3>Article 1</h3>
	<i>Modifié par Arrêté du 6 septembre 2010 - art. 2</i>
	<p>
		Pour les chauffeurs de voiture de tourisme, le stage de formation professionnelle prévu au deuxième alinéa de l'article D. 231-7 du code du tourisme doit comporter une partie théorique et une partie pratique comprenant les modules suivants :
	</p>
	<p>a) Partie théorique :
		<ul>
			<li>
				réglementation générale du droit des transports et code de la route ; ― relations avec la clientèle et gestion de la mission ;
			</li>
			<li>
				notions de culture générale (histoire-géographie de la France) ;
			</li>
			<li>
				langue étrangère représentant 20 % du temps de formation.
			</li>
		</ul>
	</p>

	<p>b) Partie pratique :
		<ul>
			<li>
				stage de conduite permettant de savoir manier un véhicule en toute sécurité et de transporter des personnes en adaptant la conduite à leur confort ;
			</li>
			<li>
				le cas échéant, stage de secourisme permettant l'obtention de l'unité d'enseignement prévention et secours civiques de niveau 1 prévue par arrêté du ministre de l'intérieur et du ministre chargé de la santé.
			</li>
		</ul>
	</p>

	<h3>Article 2</h3>
	<i>Modifié par Arrêté du 6 septembre 2010 - art. 2</i>
	<p>
		Le diplôme, titre ou certificat prévu au quatrième alinéa de l'article D. 231-7 du code du tourisme doit correspondre à un diplôme, titre ou certificat de niveau IV, délivré par le ministère chargé de l'éducation nationale ou inscrit au registre national des certifications professionnelles.
	</p>


	<h3>Article 3</h3>
	<i>Modifié par Arrêté du 27 décembre 2011 - art. 1</i>
	<p>
		En application du deuxième alinéa de l'article D. 231-1 du code du tourisme, les véhicules de tourisme avec chauffeur doivent être munis d'au moins quatre portes et avoir une longueur hors tout minimale de 4,50 mètres et une largeur hors tout minimale de 1,70 mètre.
	</p>
	<p>
		Leur moteur doit avoir une puissance nette supérieure à 88 kilowatts.
	</p>
	<p>
		Leur moteur doit avoir une puissance nette supérieure à 88 kilowatts.
	</p>
	<p>
		Des dérogations à ces conditions peuvent être accordées par le préfet du département où est installé le siège de l'entreprise pour l'exécution de services spéciaux ou pour l'utilisation de véhicules électriques ou hybrides.
	</p>

	<h3>Article 4</h3>
	<i>
		A modifié les dispositions suivantes :
		<ul>
			<li>Abroge Arrêté du 18 avril 1966 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 10 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 11 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 12 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 14 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 15 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 16 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 17 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 19 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 2 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 22 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 4 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 5 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 6 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 7 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 8 (Ab)</li>
			<li>Abroge Arrêté du 18 avril 1966 - art. 9 (Ab)</li>
		</ul>
	</i>


	<h3>Article 5</h3>
	<p>
		Les dispositions du présent arrêté entrent en vigueur le 1er janvier 2010.
	</p>

	<h3>Article 6</h3>
	<p>
		Le présent arrêté sera publié au Journal officiel de la République française.
	</p>
</div>