<div class="twelve columns"> 
	<h1 class="twelve columns">
		VTC - Arrêté du 23 décembre 2009 relatif au montant des frais d’immatriculation (…) des exploitants de voitures de tourisme avec chauffeur
	</h1>
	<hr>
</div>


<div class="twelve columns">
	<h3>Article 1</h3>
	<p>
		Le montant des frais d’immatriculation des opérateurs de voyages et des exploitants de voitures de tourisme avec chauffeur prévus à l’article L. 141-3 du code du tourisme est fixé à 100 €.
	</p>

	<h3>Article 2</h3>
	<p>
		Le présent arrêté sera publié au Journal officiel de la République française.
	</p>
</div>