<div class="twelve columns"> 
	<h1 class="twelve columns">VTC - Décret n°2009-1652 du 23 décembre 2009 relatif au VTC</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>Chapitre II du Transport de tourisme avec chauffeur </h2>


	<h3>Art. 2.</h3>
	<p>
		Les dispositions suivantes sont insérées à la section 1 du chapitre Ier du titre III du livre II (partie réglementaire) du code du tourisme :
	</p>


	<h3>Art. D. 231-1.</h3>
	<p>
		Les voitures de tourisme avec chauffeur doivent comporter quatre places au moins et neuf au plus, y compris celle du chauffeur.
	</p>
	<p>
		Elles doivent être âgées de moins de six ans, sauf s’il s’agit de véhicules de collection, et offrir aux passagers les conditions de confort et les aménagements intérieurs correspondant aux besoins de la clientèle fixés par arrêté du ministre chargé du tourisme.
	</p>
	<p>
		Les voitures sont soumises à un contrôle périodique dans les conditions prévues à l’article R. 323-24 du code de la route.
	</p>
	<p>
		Elles doivent être munies d’une signalétique distinctive définie par arrêté conjoint du ministre chargé du tourisme et du ministre chargé de l’intérieur.
	</p>


	<h3>Art. 3.</h3>
	<p>
		A la section 2 du chapitre Ier du titre III du livre II (partie réglementaire) du code du tourisme, il est inséré un article D. 231-3-1 ainsi rédigé :
	</p>
	<h3>Art. D. 231-3-1.</h3>
	<p>
		La limite mentionnée au septième alinéa de l’article L. 141-3 est fixée à 150 euros.
	</p>
	

	<h3>Art. 4.</h3>
	<p>
		Les dispositions suivantes sont insérées à la section 3 du chapitre Ier du titre III du livre II (partie réglementaire) du code du tourisme :
	</p>
	<p>
		<strong>
			Sous-section 1<br>
			Conditions d’aptitude à la conduite de voiture de tourisme avec chauffeur 5/29
		</strong>
	</p>


	<h3>Art. D. 231-7.</h3>
	<p>
		Les chauffeurs de voiture de tourisme au sens du présent chapitre doivent justifier :
		<ul>
			<li>
				soit de la réalisation d’un stage de formation professionnelle effectué auprès d’un centre de formation et répondant à des critères fixés par arrêté du ministre chargé du tourisme qui ne peut être d’une durée inférieure à trois mois ;
			</li>
			<li>
				soit d’une expérience professionnelle d’une durée minimale d’un an dans des fonctions de chauffeur professionnel au cours des dix années précédant la demande de carte professionnelle ;
			</li>
			<li>
				soit de la possession d’un diplôme, titre ou certificat figurant sur une liste fixée par arrêté pris par les ministres chargés du tourisme, de l’éducation et de l’enseignement supérieur.
			</li>
		</ul>
	</p>
	<p>
		Le stage de formation professionnelle mentionné au deuxième alinéa doit comporter des cours d’au moins une langue étrangère.
	</p>


	<h3>Art. D. 231-8.</h3>
	<p>
		Pour l’application du premier alinéa de l’article L. 231-2, les chauffeurs doivent être titulaires d’un permis B en cours de validité, non affecté par le délai probatoire prévu à l’article L. 223-1 du code de la route.
	</p>
	<p>
		Conformément à l’article R. 221-10 du même code, les chauffeurs doivent être en possession d’une attestation délivrée par le représentant de l’Etat dans le département après vérification médicale de l’aptitude physique.
	</p>


	<h3>Art. D. 231-9.</h3>
	<p>
		Les chauffeurs de voiture de tourisme doivent être titulaires depuis moins de deux ans de l’unité d’enseignement “prévention et secours civiques de niveau 1” prévue par arrêté du ministre de l’intérieur et du ministre chargé de la santé.
	</p>


	<h3>Art. D. 231-10.</h3>
	<p>
		Nul ne peut exercer la profession de chauffeur de voiture de tourisme si figure au bulletin no 2 de son casier judiciaire :
		<ol>
			<li>
				soit une condamnation définitive pour un délit sanctionné dans le code de la route par une réduction de la moitié du nombre maximal de points du permis de conduire ;
			</li>
			<li>
				soit une condamnation définitive par une juridiction française ou étrangère à une peine criminelle ou à une peine correctionnelle d’au moins six mois d’emprisonnement sans sursis pour vol, escroquerie, abus de confiance, atteinte volontaire à l’intégrité de la personne, agression sexuelle ou infraction à la législation sur les stupéfiants.
			</li>
		</ol>
	</p>


	<h3>Art. D. 231-11.</h3>
	<p>
		L’aptitude professionnelle prévue à l’article L. 231-2 est réputée acquise pour tout ressortissant d’un autre Etat membre de la Communauté européenne ou d’un autre Etat partie à l’accord sur l’Espace économique européen dès lors qu’il justifie :
		<ul>
			<li>
				soit de la réalisation d’un stage de formation professionnelle effectué dans un autre Etat membre de la Communauté européenne ou dans un Etat partie à l’accord sur l’Espace économique européen permettant l’exercice de la profession de chauffeur professionnel dans le cadre de l’activité mentionnée à l’article L. 231-1 et dont l’attestation est délivrée par une autorité compétente de cet Etat ;

			</li>
			<li>
				soit d’une expérience professionnelle d’une durée minimale d’un an dans l’un de ces Etats au cours des dix années précédant la présentation de la demande de carte professionnelle dans des fonctions de chauffeur professionnel ;
			</li>
			<li>
				soit de la possession d’un diplôme, titre ou certificat délivré par une autorité compétente de l’un de ces Etats permettant l’exercice de la profession de chauffeur professionnel dans le cadre de l’activité mentionnée à l’article L. 231-1 et attestant d’un niveau de qualification professionnelle au moins équivalent au niveau immédiatement inférieur à celui exigé en application de l’article D. 231-7.
			</li>
		</ul>
	</p>


	<hr>
	<p>
		<strong>
			Sous-section 2<br>
			Procédure d’attribution et de retrait de la carte professionnelle de chauffeur de voiture de tourisme
		</strong>
	</p>


	<h3>Art. D. 231-12.</h3>
	<p>
		L’exercice de la profession de chauffeur de voiture de tourisme nécessite d’être titulaire d’une carte professionnelle délivrée conformément aux dispositions du présent article.
	</p>
	<p>
		La demande de carte de chauffeur de voiture de tourisme est adressée par écrit au préfet du département dans lequel le demandeur a élu domicile. Pour le département de Paris, l’autorité compétente est le préfet de police.
	</p>
	<p>
		La demande est accompagnée des pièces justifiant les conditions d’aptitude définies aux articles D. 231-7 à D. 231-9 et, le cas échéant, D. 231-11.
	</p>
	<p>
		Le préfet remet une carte professionnelle de chauffeur de voiture de tourisme dans un délai maximum de deux mois suivant la réception du dossier complet.
	</p>
	<p>
		La carte professionnelle doit être restituée lorsque le conducteur cesse définitivement son activité professionnelle ou lorsqu’une des conditions prévues pour sa délivrance cesse d’être remplie. A défaut, celle-ci est retirée par l’autorité administrative compétente. 
	</p>
</div>