 <div id="home-main" class="twelve columns" style="padding-bottom:7em">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:10px">
            <div class="mobile-four" style="padding-left:0px;padding-top:5px">              
                <center><img src="http://lh6.ggpht.com/fjETLDj87xBRBkGTqApxUU7h9_ltLHYfh9QejIVhgl5mJW--BKWBTBB98bpTrDR8Z1jxCxo6XrRmXHUDy8y_=s256"/></center>
            </div>
            <div class="row">
                <br/>
            </div>
        </div>
        <div class="four columns">


<!--[if lt IE 8]>
<div class="alert-box secondary">
Votre version Internet est trop ancienne pour utiliser le formulaire de réservation Allocab.
<br/>
Si vous avez un poste à proximité utilisant Internet Explorer 8 et +, Firefox, Google Chrome ou Safari, c'est le moment de changer de chaise.
</div>
<![endif]-->

<style>
.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}
</style>

<script>
function wigdetInput(value) {
    document.getElementById("new-fare-widget-wrapper").style.height = (value+20)+"px";
    if(value != null) {
        value += 230;
        document.getElementById("new-fare-widget").style.height = value+"px";
    }
}
</script>

            <div id="new-fare-widget-wrapper" class="iframe-responsive-wrapper">
                [WGT]new-fare|DIRECTION|berline|500[/WGT]
            </div>
        </div>
        <div class="eight columns hide-for-small">
            <div id="slideshow">
                <div style='background:#ffffff'>
                    <center><img src="http://lh4.ggpht.com/lvpnEZmQUPw1-NImVDNQwHYUeySBgGN6tjbTdZOuAFGva8-EQ9JsI7DZ_nX-qaWvmq5c9Z-N1jEjkWNULSIbZQ=s430"/></center>

                    <center><h5 style="color:#000000;font-weight:normal">
                        Agora fonctions vous invite à réserver votre chauffeur<br/>et ainsi vous assurer un retour en toute sécurité.</h5></center>
                </div>
            </div>
        </div>
    </div>
</div>
