<div class="twelve columns"> 
	<h1 class="twelve columns">Equipements et sécurité en moto taxi</h1>
	<hr>
</div>

<div class="six columns">
	<h2>Des équipements adaptés</h2>
	<p>
		Votre chauffeur vous équipe de la tête au pied avec :
	</p>
	<ul>
		<li>Un casque à votre taille (avec une protection à usage unique)</li>
		<li>Un manteau à votre taille</li>
		<li>Une paire de gants à votre taille</li>
	</ul>
	<p>
		Vous êtes ainsi intégralement protégé(e), pour rester au chaud et au sec en toute sécurité.
	</p>
	<p>
		Tous ces équipements sont très régulièrement désinfectés. Votre casque est protégé par une charlotte ou une Sanitete®. Des lingettes ou un gel antibactérien vous sont proposés pour nettoyer vos mains avant et après le port des gants. Toutes ces précautions simples garantissent la parfaite hygiène de l’équipement qui vous est mis à disposition.
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="11014" ptr-size="300" />
</div>

<hr>

<div class="six columns">
	<img ptr-id="16014" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Eviter les embouteillage, même sous la pluie !</h2>
	<p>
		En cas d’intempérie, vous restez au sec grâce au tablier doublé vous couvrant du buste aux pieds, à une longue parka, un pantalon de pluie et des sur-bottes imperméables.
	</p>
</div>

<hr>

<div class="six columns">
	<h2>Et par grand froid ?</h2>
	<p>
		Vous restez bien au chaud grâce à la selle chauffante, ainsi qu’une veste et des gants bien chauds.
	</p>
</div>
<div class="six columns omega">
	<img ptr-id="6008" ptr-size="300" />
</div>

<hr>

<div class="six columns">
	<img ptr-id="2009" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Bagages acceptés à bord de la moto</h2>
	<p>
		Votre chauffeur pourra prendre en charge :
	</p>
	<ul>
		<li>Un bagage cabine</li>
		<li>Une sacoche ordinateur</li>
		<li>Un sac à main</li>
	</ul>
	<p>
		En cas de bagage trop volumineux, votre chauffeur se réserve le droit de refuser sa prise en charge pour la sécurité du transport.
	</p>
</div>

<hr>

<div class="six columns">
	<h2>En toute sécurité</h2>
	<p>
		Tous les chauffeurs affiliés à Allocab sont des professionnels d’expérience et des chauffeurs aguerris, qui souscrivent aux polices d’assurance vous couvrant intégralement.
	</p>
	<p>
		Ils détiennent la carte professionnelle délivrée par la préfecture. Elle est la garantie pour chaque chauffeur d’avoir :
	</p>
	<ul>
		<li>Un permis A en cours de validité depuis plus de 3 ans ;</li>
		<li>Un certificat médical d’aptitude physique à l’exercice du métier ;</li>
		<li>Le volet B2 du casier judiciaire vierge (aucune condamnation pour un délit qui donne lieu à un retrait de 6 points du permis).</li>
	</ul>
	<p>
		Ils signent tous la charte d’éthique et qualité Allocab.
	</p>
	<p>
		Concernant les motos, elles ont obligatoirement moins de 4 ans, et justifie d’une attestation annuelle d’entretien. Enfin, la signalétique « Transport de personnes par véhicules motorisés à deux ou trois roues » est visible sur le véhicule.
	</p>
	<a href="/" title="" class="button round">Réservez votre moto taxi pour un transfert aéroport</a>
</div>
<div class="six columns omega">
	<img ptr-id="" ptr-size="300" />
</div>