<div class="twelve columns"> 
	<h1 class="twelve columns">Moto taxi - Arrêté du 20 décembre 2010 relatif à l'attestation annuelle d'entretien</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>
		Arrêté relatif à l'attestation annuelle d'entretien des véhicules motorisés à deux ou trois roues utilisés pour le transport à titre onéreux de personnes 
	</h2>

	<h3>Article 1</h3>
	<p>
		L'attestation annuelle d'entretien, prévue à l'article 4 du décret du 11 octobre 2010 susvisé, consiste à attester que l'ensemble des éléments figurant à l'annexe I du présent arrêté ont fait l'objet d'un entretien par une personne qualifiée professionnellement dans l'entretien de véhicules motorisés à deux ou trois roues, conformément à l'article 16 de la loi du 5 juillet 1996 susvisée.
	</p>
	
	<h3>Article 2</h3>
	<p>
		La personnalité juridique de ce professionnel est distincte de celle du demandeur ou de l'exploitant de véhicules motorisés à deux ou trois roues, utilisés pour le transport à titre onéreux de personnes.
	</p>

	<h3>Article 3</h3>
	<p>
		L'attestation d'entretien est valable pendant une durée d'un an et comporte les mentions prévues à l'annexe II du présent arrêté.
	</p>
	<p>
		Tout véhicule motorisé à deux ou trois roues, utilisé pour le transport à titre onéreux de personnes, est soumis à cette attestation annuelle d'entretien au plus tard un an après la date de sa première immatriculation ou préalablement à son utilisation au transport public, lorsque celle-ci a lieu plus d'un an après la date de sa première immatriculation.
	</p>
	<p>
		Cette attestation d'entretien doit ensuite être renouvelée tous les ans.
	</p>

	<h3>Article 4</h3>
	<p>
		La déléguée à la sécurité et à la circulation routières et le directeur de la modernisation et de l'action territoriale du ministère de l'intérieur, de l'outre-mer, des collectivités territoriales et de l'immigration sont chargés, chacun en ce qui le concerne, de l'exécution du présent arrêté, qui sera publié au Journal officiel de la République française.
	</p>

	<hr>

	<h3>Annexes</h3>
	<h4>Annexe 1</h4>
	<p>Éléments du véhicule devant faire l’objet d’un entretien</p>
	<ol>
		<li>Système de freinage.</li>
		<li>Système de direction.</li>
		<li>Eléments de liaison au sol :</li>
		<ul>
			<li>système de suspension ;</li>
			<li>roues et pneumatiques ;</li>
			<li>état du châssis.</li>
		</ul>
		<li>Système de visibilité :</li>
		<ul>
			<li>éclairage-signalisation ;</li>
			<li>rétroviseurs.</li>
		</ul>
	</ol>


	<h4>Annexe 2</h4>
	<p>Mentions devant figurer sur l’attestation annuelle d’entretien</p>
	<ol>
		<li>Identification du véhicule :</li>
		<ul>
			<li>marque ;</li>
			<li>modèle ;</li>
			<li>numéro d'immatriculation ;</li>
			<li>numéro d'identification du véhicule ;</li>
			<li>date de première immatriculation.</li>
		</ul>
		<li>Informations complémentaires relatives à l'attestation annuelle d'entretien du véhicule :</li>
		<ul>
			<li>date de la délivrance de l'attestation annuelle d'entretien ;</li>
			<li>date d'expiration de l'attestation annuelle d'entretien ;</li>
			<li>professionnel délivrant l'attestation annuelle d'entretien (nom, adresse et cachet/visa).</li>
		</ul>
	</ol>
</div>