<div class="twelve columns"> 
	<h1 class="twelve columns">Moto taxi - Article L3124-9 et L3124-10 du code du transport relatif au taxi moto</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>Partie législative</h2>
	<h3>Troisième partie : transport routier</h3>
	<p>
		Livre Ier : le transport routier de personnes<br>
		Titre II : Les transports publics particuliers<br>
		Chapitre IV : Sanctions administratives et sanctions pénales<br>
		Section 3 : Dispositions relatives aux véhicules motorisés à deux ou trois roues
	</p>
	<hr>


	<h3>Article L3124-9</h3>
	<p>
		Créé par Ordonnance n° 2010-1307 du 28 octobre 2010 - art. (V)
	</p>
	<p>
		I. ― Le fait de contrevenir aux dispositions de l'article L. 3123-2 est puni d'un an d'emprisonnement et d'une amende de 15 000 €.
	</p>
	<p>
		II. ― Les personnes physiques coupables de l'infraction prévue au présent article encourent également les peines complémentaires suivantes : 
	</p>
	<ol>
		<li>La suspension, pour une durée de cinq ans au plus, du permis de conduire ;</li>
		<li>L'immobilisation, pour une durée d'un an au plus, du véhicule qui a servi à commettre l'infraction ;</li>
		<li>La confiscation du véhicule qui a servi à commettre l'infraction ;</li>
		<li>
			L'interdiction, pour une durée de cinq ans au plus, d'entrer et de séjourner dans l'enceinte d'une ou plusieurs infrastructures aéroportuaires ou portuaires, d'une gare ferroviaire ou routière, ou de leurs dépendances, sans y avoir été préalablement autorisé par les autorités de police territorialement compétentes.
		</li>
	</ol>

	<h3>Article L3124-10</h3>
	<p>
		Créé par Ordonnance n° 2010-1307 du 28 octobre 2010 - art. (V)
	</p>
	<p>
		Les personnes morales déclarées responsables pénalement, dans les conditions prévues par l'article 121-2 du code pénal, de l'infraction définie à l'article L. 3124-9 encourent, outre l'amende, suivant les modalités prévues par l'article 131-38 du code pénal, les peines prévues par les 8° et 9° de l'article 131-39 du même code.
	</p>
</div>