<div class="twelve columns"> 
	<h1 class="twelve columns">La gamme de véhicules chauffeur privé</h1>
	<hr>
</div>


<div class="six columns">
	<h2>Luxe : voitures de standing</h2>
	<p>
		Vous aimez être accueilli à bord d’une limousine, d’une grosse berline ou d’un 4x4 de marque allemande, tel une Mercedes Benz classe E ou un BMW X5.
	</p>
	<p>
		Laissez-vous conduire à vos rendez-vous d’affaires dans une voiture de luxe avec un chauffeur aux petits soins.
	</p>
	<p>
		<a href="/" title="" class="button round">Réservez votre voiture de Luxe</a>
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="12010" ptr-size="300" />
</div>


<hr>


<div class="six columns">
	<img ptr-id="13012" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Berline : le confort</h2>
	<p>
		Vous souhaitez être transporté dans une belle voiture avec un excellent rapport qualité / prix, préférez la gamme Berline.
	</p>
	<p>
		Votre chauffeur saura prendre soin de vous lors de vos transferts à bord d’une berline de type Peugeot 508.
	</p>
	<p>
		<a href="/" title="" class="button round">Réservez votre Berline</a>
	</p>
</div>

<hr>

<div class="six columns">
	<h2>Super monospace</h2>
	<p>
		Vous recherchez du confort et de l’espace, les super monospaces de type Mercedes Benz Viano sont fait pour vous.
	</p>
	<p>
		Vous pourrez profiter de la disposition en salon pour prolonger une réunion de travail avec vos clients ou vos collaborateurs (jusqu’à 8 passagers).
	</p>
	<p>
		<a href="/" title="" class="button round">Réservez votre Super monospace</a>
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="15006" ptr-size="300" />
</div>

<hr>

<div class="six columns">
	<img ptr-id="13015" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Eco-city</h2>
	<p>
		Une voiture propre et un chauffeur de qualité le tout pour un prix réduit.
	</p>
	<p>
		En tête de fil la Honda Prius, à la fois écologique et très confortable, saura vous accompagner dans tous vos déplacements.
	</p>
	<p>
		<a href="/" title="" class="button round">Réservez votre voiture Eco-city</a>
	</p>
</div>