<div class="twelve columns"> 
	<h1 class="twelve columns">
		VTC - Loi n° 2009-888 du 22 juillet 2009 de développement et de modernisation des services touristiques
	</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>Chapitre II du Transport de tourisme avec chauffeur </h2>

	<p>
		<strong>I. </strong>Le chapitre Ier du titre III du livre II du code du tourisme est ainsi modifié :
	</p>
	<ol>
		<li>
			Il devient un chapitre unique intitulé : « Exploitation de voitures de tourisme avec chauffeur » ;
		</li>
		<li>
			Les divisions : « Section 1. – Dispositions générales » et « Section 2. – De la liberté d’établissement » sont supprimées ;
		</li>
		<li>
			Les articles L. 231-1 à L. 231-4 sont ainsi rédigés :
			<ul>
				<li>
					« Art. L. 231-1. − Le présent chapitre s’applique aux entreprises qui mettent à la disposition de leur clientèle des voitures de tourisme avec chauffeur, suivant des conditions fixées à l’avance entre les parties.
				</li>
				<li>
					« Art. L. 231-2. − Les entreprises mentionnées à l’article L. 231-1 doivent disposer d’une ou plusieurs voitures répondant à des conditions techniques et de confort, ainsi que d’un ou plusieurs chauffeurs titulaires du permis B et justifiant de conditions d’aptitude professionnelle définies par décret.
				</li>
				<li>
					« Elles sont immatriculées sur le registre mentionné au b de l’article L. 141-3.
				</li>
				<li>
					« Art. L. 231-3. − Les voitures de tourisme avec chauffeur ne peuvent ni stationner sur la voie publique si elles n’ont pas fait l’objet d’une location préalable, ni être louées à la place.
				</li>
				<li>
					« Art. L. 231-4. − Les conditions d’application du présent chapitre sont fixées par décret. » ;
				</li>
			</ul>
		</li>
		<li>
			La section 3 est abrogée.
		</li>
	</ol>

	<p>
		<strong>II. </strong>Le chapitre II du titre III du livre II du même code est abrogé.
	</p>
	<p>
		<strong>III. </strong>Les licences d’entrepreneur de remise et de tourisme délivrées antérieurement à la date de promulgation de la présente loi en application du chapitre Ier du titre III du livre II du code du tourisme cessent de produire leurs effets au plus tard trois ans après la date de promulgation de la présente loi.
	</p>
</div>