<div class="twelve columns"> 
	<h1 class="twelve columns">VTC - Décret n°2009-1650 du 23 décembre 2009 relatif au VTC</h1>
	<hr>
</div>


<div class="twelve columns">
	<h2>Chapitre II du Transport de tourisme avec chauffeur </h2>

	<h3>Art. 2. − I.</h3>
	<p>
		Les chapitres Ier et II du titre III du livre II (partie réglementaire) du code du tourisme sont remplacés par les dispositions suivantes :
	</p>
	<p>
		<strong>
			Chapitre Ier<br>
			Transport par voitures de tourisme avec chauffeur<br>
			Section 1<br>
			Dispositions générales<br>
			La présente section ne comprend pas de dispositions réglementaires.<br>
			Section 2<br>
			Exploitation de voitures de tourisme avec chauffeur<br>
			Sous-section 13/29<br>
	￼￼￼￼￼￼￼ Procédure d’immatriculation des entreprises touristiques de transport avec chauffeur
		</strong>
	</p>

	<h3>Art. R. 231-2.</h3>
	<p>
		La demande d’immatriculation au registre mentionné au b de l’article L. 141-3 est adressée par écrit, le cas échéant sous forme électronique, à la commission d’immatriculation mentionnée à l’article L. 141-2.
	</p>
	<p>
		L’exploitant de voitures de tourisme avec chauffeur doit joindre à sa demande d’immatriculation un état prévisionnel du nombre de chauffeurs et de voitures de tourisme retenu pour l’exercice de son activité.
	</p>
	<p>
		Lorsque la demande d’immatriculation est formulée par une personne physique, elle mentionne l’état civil, la profession et le domicile du demandeur ainsi que l’adresse du siège de ses activités.
	</p>
	<p>
		Lorsque la demande d’immatriculation est présentée au nom d’une personne morale, elle mentionne la dénomination sociale, la forme juridique, le montant du capital social, l’adresse du siège social, ainsi que l’état civil et le domicile du ou des représentants légaux, seuls habilités à présenter la demande.
	</p>

	<h3>Art. R. 231-3.</h3>
	<p>
		<strong>I. </strong>L’immatriculation est effectuée par la commission d’immatriculation mentionnée à l’article L. 141-2 dans un délai d’un mois à compter de la date du récépissé émis par la commission au moment de la réception du dossier complet. La commission notifie à l’exploitant de voitures de tourisme avec chauffeur un certificat d’immatriculation comportant son numéro d’immatriculation au registre et la date d’enregistrement.
	</p>
	<p>
		L’immatriculation est réputée acquise en l’absence de décision de la commission dans le délai prévu à l’alinéa précédent. La commission est alors tenue de délivrer sans délai un numéro d’immatriculation.
	</p>
	<p>
		<strong>II. </strong>Les exploitants de voitures de tourisme avec chauffeur informent la commission de tout changement dans les éléments d’information prévus au troisième ou quatrième alinéa de l’article R. 231-2, et notamment la cessation d’activité. L’information est transmise dans le mois qui précède la modification quand elle peut être anticipée ou sinon au plus tard dans le mois qui suit l’événement.
	</p>
	<p>
		<strong>III. </strong>Lorsqu’il ressort de l’examen du dossier complet que la demande d’immatriculation n’est pas conforme aux dispositions de la présente section, la commission prend une décision de refus d’inscription au registre qu’elle communique au demandeur dans le délai prévu au I du présent article.
	</p>
	<p>
		<strong>IV. </strong>Il est procédé, tous les trois ans, au renouvellement de l’immatriculation selon les modalités fixées au I du présent article.
	</p>

	<h3>Art. R. 231-4.</h3>
	<p>
		Dans le mois suivant l’immatriculation au registre mentionné au b de l’article L. 141-3, l’agence mentionnée à l’article L. 141-2 procède à la mise en ligne d’un avis informant les tiers de l’identité du déclarant, du numéro d’immatriculation, de la dénomination, de la raison sociale, de la forme juridique et de l’adresse du siège social de l’entreprise.
	</p>

	<hr>
	<p>
		<strong>
			Sous-section 2<br>
			Radiation
		</strong>
	</p>

	<h3>Art. R. 231-5.</h3>
	<p>
		Lorsque l’exploitant de voitures de tourisme avec chauffeur ne satisfait plus aux conditions prévues à l’article D. 231-1, la commission d’immatriculation mentionnée à l’article L. 141-2 procède à la radiation du registre mentionné au b de l’article L. 141-3.
	</p>
	<p>
		La radiation du registre est notifiée par la commission par tout moyen permettant d’en obtenir un accusé de réception à l’exploitant de voitures de tourisme avec chauffeur qui en fait l’objet.
	</p>

	<h3>Art. R. 231-6.</h3>
	<p>
		La radiation intervient à la demande de la personne physique ou morale immatriculée au registre ou lorsque la personne morale concernée fait l’objet d’une liquidation judiciaire définitivement prononcée.
	</p>



	<hr>
	<p>
		<strong>
			Section 3<br>
			Conduite de voitures de tourisme avec chauffeur<br>
			La présente section ne comprend pas de dispositions réglementaires.<br>
			Section 4<br>
			Sanctions
		</strong>
	</p>

	<h3>Art. R. 231-13.</h3>
	<p>
		Est puni de l’amende prévue pour les contraventions de la troisième classe le fait d’exercer l’activité d’exploitant de voitures de tourisme avec chauffeur :
		<ul>
			<li>
				sans être immatriculé au registre mentionné au b de l’article L. 141-3 ;
			</li>
			<li>
				en utilisant des véhicules non conformes aux caractéristiques prévues aux premier et deuxième alinéas de l’article D. 231-1 ou qui ne comportent pas la signalétique prévue au dernier alinéa du même article ;
			</li>
			<li>
				en employant des chauffeurs qui ne sont pas titulaires de la carte professionnelle prévue à l’article D. 231-12.
			</li>
		</ul>
	</p>

	<h3>Art. R. 231-14.</h3>
	<p>
		Le fait d’exercer l’activité de chauffeur de voitures de tourisme sans être titulaire de la carte professionnelle prévue à l’article D. 231-12 est puni de l’amende prévue pour les contraventions de la troisième classe. 
	</p>

	<p>
		<strong>II. </strong>Le chapitre III du titre III du livre II (partie réglementaire) du code du tourisme devient le chapitre II.
	</p>
	<p>
		<strong>III. </strong>Au 1o du III de l’article R. 221-10 du code de la route, après les mots : « Des taxis » sont insérés les mots : « , des voitures de tourisme avec chauffeur ».
	</p>
</div>