<div class="twelve columns"> 
	<h1 class="twelve columns">VTC – Article D231-12 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie réglementaire</h2>
	<p>
		Livre II : Activités et professions du tourisme<br>
		Titre III : Exploitation des véhicules de tourisme<br>
		Chapitre Ier : Transport par voitures de tourisme avec chauffeur<br>
		Section 3 : Conduite de voitures de tourisme avec chauffeur<br>
		Sous-section 2 : Procédure d'attribution et de retrait de la carte professionnelle de chauffeur de voiture de tourisme
	</p>
	<hr>

	<h3>Article D231-12</h3>
	<i>Créé par Décret n°2009-1652 du 23 décembre 2009 - art. 4</i>
	<p>
		L'exercice de la profession de chauffeur de voiture de tourisme nécessite d'être titulaire d'une carte professionnelle délivrée conformément aux dispositions du présent article.
	</p>
	<p>
		La demande de carte de chauffeur de voiture de tourisme est adressée par écrit au préfet du département dans lequel le demandeur a élu domicile. Pour le département de Paris, l'autorité compétente est le préfet de police.
	</p>
	<p>
		La demande est accompagnée des pièces justifiant les conditions d'aptitude définies aux articles D. 231-7 à D. 231-9 et, le cas échéant, D. 231-11.
	</p>
	<p>
		Le préfet remet une carte professionnelle de chauffeur de voiture de tourisme dans un délai maximum de deux mois suivant la réception du dossier complet.
	</p>
	<p>
		La carte professionnelle doit être restituée lorsque le conducteur cesse définitivement son activité professionnelle ou lorsqu'une des conditions prévues pour sa délivrance cesse d'être remplie. A défaut, celle-ci est retirée par l'autorité administrative compétente.
	</p>
</div>