<div class="twelve columns"> 
	<h1 class="twelve columns">VTC – Article R231-5 et R231-6 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie réglementaire</h2>
	<p>
		Livre II : Activités et professions du tourisme<br>
		Titre III : Exploitation des véhicules de tourisme<br>
		Chapitre Ier : Transport par voitures de tourisme avec chauffeur<br>
		Section 2 : Exploitation de voitures de tourisme avec chauffeur<br>
		Sous-section 2 : Radiation
	</p>
	<hr>

	<h3>Article R231-5</h3>
	<i>Modifié par Décret n°2011-1992 du 27 décembre 2011 - art. 2</i>
	<p>
		Lorsque l'exploitant de voitures de tourisme avec chauffeur ne satisfait plus aux conditions prévues à l'article D. 231-1, ou emploie un chauffeur non titulaire de la carte professionnelle prévue à l'article D. 231-12, la commission d'immatriculation mentionnée à l'article L. 141-2 procède à la radiation du registre mentionné au b de l'article L. 141-3.
	</p>
	<p>
		La décision de radiation ne peut être prononcée sans que l'exploitant en ait été préalablement avisé et ait été invité à présenter ses observations. La commission peut fixer un délai, d'une durée maximum de six mois, pendant lequel l'exploitant radié ne peut pas déposer une nouvelle demande d'immatriculation.
	</p>
	<p>
		La radiation du registre est notifiée par la commission par tout moyen permettant d'en obtenir un accusé de réception à l'exploitant de voitures de tourisme avec chauffeur qui en fait l'objet.
	</p>

	<h3>Article R231-6</h3>
	<i>Modifié par Décret n°2009-1650 du 23 décembre 2009 - art. 2</i>
	<p>
		La radiation intervient à la demande de la personne physique ou morale immatriculée au registre ou lorsque la personne morale concernée fait l'objet d'une liquidation judiciaire définitivement prononcée.
	</p>
</div>