<div class="twelve columns"> 
	<h1 class="twelve columns">VTC – Article R231-13 et R231-14 du code du tourisme relatif au VTC</h1>
	<hr>
</div>

<div class="twelve columns">
	<h2>Partie réglementaire</h2>
	<p>
		Livre II : Activités et professions du tourisme<br>
		Titre III : Exploitation des véhicules de tourisme<br>
		Chapitre Ier : Transport par voitures de tourisme avec chauffeur<br>
		Section 2 : Exploitation de voitures de tourisme avec chauffeur<br>
		Sous-section 4 : Sanctions
	</p>
	<hr>

	<h3>Article R231-13</h3>
	<i>Modifié par Décret n°2010-1223 du 11 octobre 2010 - art. 10</i>
	<ol>
		<li>
			Est puni de l'amende prévue pour les contraventions de la 5e classe le fait d'exercer l'activité d'exploitant de voitures de tourisme avec chauffeur :
			<ul>
				<li>
					sans être immatriculé au registre mentionné au b de l'article L. 141-3 ;
				</li>
				<li>
					en employant des chauffeurs qui ne sont pas titulaires de la carte professionnelle prévue à l'article D. 231-12 ;
				</li>
				<li>
					en utilisant des véhicules non conformes aux caractéristiques prévues aux premier et deuxième alinéas de l'article D. 231-1.
				</li>
			</ul>
		</li>
		<li>
			Le fait d'exercer l'activité d'exploitant de voitures de tourisme avec chauffeur en utilisant des véhicules sans la signalétique prévue au dernier alinéa de l'article D. 231-1 est puni de l'amende prévue pour les contraventions de la 3e classe.
		</li>
	</ol>


	<h3>Article R231-14</h3>
	<i>Modifié par Décret n°2010-1223 du 11 octobre 2010 - art. 11</i>
	<ol>
		<li>
			Le fait, pour tout chauffeur d'une voiture de tourisme, de ne pas présenter immédiatement aux agents de l'autorité compétente sa carte professionnelle en cours de validité, prévue à l'article D. 231-12, est puni de l'amende prévue pour les contraventions de la 1re classe ;
		</li>
		<li>
			Le fait, pour tout chauffeur visé au 1°, invité à justifier dans un délai de cinq jours de la possession de la carte professionnelle prévue à l'article D. 231-12, de ne pas présenter ce document avant l'expiration de ce délai, est puni de l'amende prévue pour les contraventions de la 4e classe ;
		</li>
		<li>
			Le fait d'exercer l'activité de chauffeur d'une voiture de tourisme, sans être titulaire de la carte professionnelle en cours de validité, prévue à l'article D. 231-12, est puni de l'amende prévue pour les contraventions de la 5e classe.
		</li>
	</ol>
</div>