<div class="twelve columns"> 
	<h1 class="twelve columns">Réserver à l'avance</h1>
	<hr>
</div>

<div class="six columns">
	<img ptr-id="281009" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Disponible 24h/24 et 7j/7</h2>
	<p>Vous réservez votre chauffeur quand bon vous semble, le service est accessible 24h/24 et 7j/7.</p>
</div>

<hr>

<div class="six columns">
	<h2>Réservation à l’avance</h2>
	<p>
		Une commande passée plus de 8 heures avant l’heure de départ est une réservation à l’avance (soit une réservation une journée en avance).
	</p>
	<p>
		L’application vous propose un chauffeur disponible par catégorie de véhicule.
	</p>
	<p>
		Vous n’avez  plus qu’à faire votre choix dans cette liste.
	</p>
</div>

<div class="six columns">
	<img ptr-id="284008" ptr-size="300" />
</div>

<hr>
<div class="six columns">
	<img ptr-id="277012" ptr-size="300" />
</div>

<div class="six columns">
	<h2>Confirmation instantanée</h2>
	<p>
		La confirmation de votre réservation est instantanée, par e-mail et SMS, vous êtes ainsi sûr que votre réservation est bien prise en compte.
	</p>
	<a href="#" title="" class="button radius">Réservez votre chauffeur</a>
</div>