<div class="twelve columns"> 
	<h1 class="twelve columns">Demande immédiate</h1>
	<hr>
</div>

<div class="six columns">
	<img ptr-id="281009" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Disponible 24h/24 et 7j/7</h2>
	<p>Vous réservez votre chauffeur quand bon vous semble, le service est accessible 24h/24 et 7j/7.</p>
</div>

<hr>

<div class="six columns">
	<h2>Demande immédiate</h2>
	<p>
		Une commande passée sous 8 heures avant l’heure de départ est une réservation quasi immédiate.
	</p>
	<p>
		Pour nous assurer que votre chauffeur est disponible, nous envoyons un message en temps réel aux chauffeurs.
	</p>
	<p>
		Les chauffeurs vous répondent en temps réel sous 2 minutes et vous choisissez ensuite votre chauffeur parmi ceux qui ont répondu.
	</p>
</div>

<div class="six columns">
	<img ptr-id="277013" ptr-size="300" />
</div>

<hr>
<div class="six columns">
	<img ptr-id="277012" ptr-size="300" />
</div>

<div class="six columns">
	<h2>Confirmation instantanée</h2>
	<p>
		Une fois la commande de votre chauffeur effectuée, vous recevez instantanément un SMS et un e-mail de confirmation. 
	</p>
	<a href="#" title="" class="button radius">Réservez votre chauffeur</a>
</div>