 <div id="home-main" class="twelve columns">
 	<div class="row">
 		<div class="show-for-small" style="margin-top:10px;margin-bottom:10px">
 			<div class="mobile-one" style="padding-right: 10px;padding-top: 10px;">
 				<img src="http://lh5.ggpht.com/Q48oP8na7itMtkXL12IlIXszNAYcTFnIoXruK9tAqo6RrnzzvQk7r5jX547stb8WccdMTy_lstW_EqN_Lx4EHg=s150"/>
 			</div>
 			<div class="mobile-three" style="padding-left:0px;padding-top:5px">
 				<h1 style="font-size:15px;text-align:left;font-weight:400">Votre chauffeur VTC sur-mesure</h1>
 			</div>
 			<div class="row">
 				<br/>
 			</div>
 		</div>
 		<div class="four columns">


		<!--[if lt IE 8]>
		<div class="alert-box secondary">
		Votre version Internet est trop ancienne pour utiliser le formulaire de réservation Allocab.
		<br/>
		Si vous avez un poste à proximité utilisant Internet Explorer 8 et +, Firefox, Google Chrome ou Safari, c'est le moment de changer de chaise.
		</div>
		<![endif]-->


		<h3 class="hide-for-small" style="font-size:1.35em">Votre chauffeur VTC sur-mesure</h3>

		[WGT]new-fare|DIRECTION|berline|500[/WGT]


 		</div>
 		<div class="eight columns hide-for-small">

			<div id="slideshow">
				<div style='background:#ffffff'>
					<h1>Le <strong style="font-weight:400">luxe</strong><br/>en van, berline ou moto taxi</h1>
					<center>[PTR]72001_630[/PTR]</center>
					<div class="four columns">
						<center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
					</div>
					<div class="four columns">
						<center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
					</div>
					<div class="four columns">
						<center><a href="/moto-taxi/tarif-taxi-moto-prix">En savoir plus...</a></center>
					</div>
				</div>

				<div style='background:#ffffff'>
					<h1>Des <strong style="font-weight:400">économies</strong><br/>en van, berline ou moto taxi</h1>
					<center>[PTR]73001_630[/PTR]</center>
					<div class="four columns">
						<center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
					</div>
					<div class="four columns">
						<center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
					</div>
					<div class="four columns">
						<center><a href="/moto-taxi/tarif-taxi-moto-prix">En savoir plus...</a></center>
					</div>
				</div>

				<div style='background:#ffffff'>
					<h1>Téléchargez l'application Allocab<br/>et laissez-vous conduire</h1>
					<div class="row eight columns centered price-eg">
						<div class="seven columns"> [PTR]8008[/PTR] </div>
						<div class="five columns">
							<br/> <br/>  <br/>  <br/>  <br/>  <br/>  <a target="_blank" href="https://itunes.apple.com/fr/app/allocab-votre-chauffeur-sur/id562233261?mt=8" title="Téléchargez l'application Allocab pour iPhone et iPad">[PTR]14006[/PTR]</a> <br/>  <br/>  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.allocab.allocabpassenger&hl=fr" title="Téléchargez l'application Allocab pour Android">[PTR]16008[/PTR]</a>
						</div>
					</div>
				</div>

				<div style='background:#ffffff'>
					<h1>Réserver votre chauffeur<br/>n'a jamais été aussi simple</h1> <br/><br/>
					<div class="row price-eg">
						<div class="one columns"> </div>
						<div class="two columns"> [PTR]7[/PTR] <p>Saisissez les informations de votre course</p> </div>
						<div class="two columns arrow"> [PTR]3004[/PTR] </div>
						<div class="two columns"> [PTR]13009[/PTR] <p>Allocab trouve votre chauffeur</p> </div>
						<div class="two columns arrow"> [PTR]3004[/PTR] </div>
						<div class="two columns"> [PTR]4006[/PTR] <p>Validez votre paiement et votre chauffeur est réservé</p> </div>
						<div class="one columns"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="twelve columns">


		<div class="row">

			<div class="four columns">
				<div class="panel bloc-auto-height-small">
					<h3>Pourquoi Allocab ?</h3>
					<hr/>
					<ul class="driver-style"><li>Une inscription gratuite</li><li>Choix de moto-taxi, berline ou van</li><li>Chauffeurs de qualité triés sur le volet</li><li>Transaction simplifiée en 1 clic</li><li>Paiement 100 % sécurisé</li><li>Une gamme luxe ou économique</li></ul>
				</div>
			</div>

			<div class="four columns">
				<div class="panel bloc-auto-height-small">
					<h3>Témoignages et presse</h3>
					<hr/>
					<p>
						<center>[PTR]3503009_512[/PTR]</center>
					</p>

					<p>
						<a href="/presse">Accéder à la revue de presse</a>
						<br/>
					</p>

					<p>
						"Comme promis, le chauffeur @Allocab avait préparé la brioche & Nutella. Parfait." <a target="_blank" href="https://twitter.com/jouanito/statuses/388522087570489346">Alexandre J. @Jouanito</a>
					</p>

				</div>
			</div>

			<div class="four columns">
				<div class="panel bloc-auto-height-small">
					<h3>Allocab en vidéo</h3>
					<hr/>
					<p>
						<center><a href="https://www.youtube.com/watch?v=jgrERPzRboU" target="_blank">[PTR]3483013_512[/PTR]</a></center>
					</p>

					<p>
						<center><a href="https://www.youtube.com/watch?v=yvcwRk12IWQ" target="_blank">[PTR]3373013_512[/PTR]</a></center>
					</p>
				</div>
			</div>


			<div class="four columns">
				<div class="panel bloc-auto-height-big">
					<h3>Notre engagement</h3> <hr/> <p>

					<center>[PTR]3513001_512[/PTR]</center>

					</p> <p>Allocab.com plante un arbre pour vous à chaque fois que vous parcourez 250km pour compenser le carbone émis.</p><p><a href="/compensation-carbone">En savoir plus sur la compensation carbone.</a></p>
				</div>
			</div>


			<div class="four columns">
				<div class="panel bloc-auto-height-big">
					<h3>Réseau de chauffeurs VTC</h3>
					<hr/>
					<p>
						<center>[PTR]3153041_512[/PTR]</center>
					</p>
					<p>
			Le saviez-vous ? <a href="/chauffeur-prive-vtc">Réserver un chauffeur privé</a> offre bien plus qu’un simple transport.
					</p>
					<p>
						Choisissez les services dont vous avez besoins : rafraichissement offert, chargeur de téléphone, wifi...
					</p>
					<p><a href="/chauffeur-prive-vtc">Découvrir notre réseau de chauffeurs VTC.</a></p>
				</div>
			</div>

			<div class="four columns">
				<div class="panel bloc-auto-height-big">
					<h3>En direct du Blog</h3>
					<hr/>
					$BLOG$
				</div>
			</div>

		</div>

</div>
