<style>
.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    margin-top:1em;
}
.cms figure .divInsideFigurecpv {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptncpv {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.5); /* transparent background */
    color: #fff;
    color:white;
    padding-top: 1em;
padding-bottom: 1em;
padding-left: 2em;
padding-right: 2em;
font-size:0.2em;
}

.cms .pUpChauffPrivee{
  text-align:left;
  font-size:17px;
}

</style>

<div class="twelve columns cms ">
  <div class="row text-center">
      <h1>Chauffeur privé</h1>
  </div>

  <div class="row">
    <div class="four columns" >
      <br/>
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns text-left">
      <img style="margin-top:1em;"src="http://lh3.ggpht.com/4JB5s5BL3paR6yn47tLTYISipg9DoMGN1uK0bLX2AMwrZhPBs8-XVosI-Rtl5uX5pjFYDM4AqGboIoga4AlSpA=s800" title="Chauffeur VTC pour tous vos trajets" alt="Votre chauffeur privé vous accompagne en berline et van">
      <p class="pUpChauffPrivee">
        Allocab est le 1er réseau de VTC de France et couvre aujourd'hui <a href="/zone-couverture-service-chauffeur"> 12 grandes métropoles</a>.
      </p>
      <p class="pUpChauffPrivee">
        Pour vous assurer un <strong>trajet tout confort</strong>, nous proposons une <a href="/chauffeur-prive-vtc/gamme-vehicules">large gamme de véhicules</a> adaptée aux besoins de tous nos clients.
      </p>
      <p class="pUpChauffPrivee">
        Rien de plus simple que de réserver votre chauffeur privé : remplissez le formulaire de réservation en 3 clics et payez votre course directement en ligne.
        <br/>
        Faites l'expérience, <strong>réservez votre voiture avec chauffeur</strong> et vous ne verrez plus jamais vos déplacements de la même manière !
      </p>
    </div>
  </div>
</div>
<hr style="margin:0"/>
<div class="twelve columns cms-second-row">
  <div class="six columns bordered text-center">
    <h3 >Prix des trajets berline</h3>
    <img src="http://lh6.ggpht.com/QqmDAhgU1ohJ1Qzoz_rFFB9EzHi1-sBZtHV7sBtoX1VXDXAytq5Dcq8aRpqXR5FD1a7X8F3W2PdA-fKnpK8ZVAk=s512" title="Chauffeur privé en berline" alt="éventail de berlines"/>
    <p style="margin-top: 3em;">
      Découvrez la large gamme de véhicules proposée par votre chauffeur VTC. N'attendez plus pour réserver votre chauffeur privé en Peugeot 508, Mercedes classe S ou Jaguar et <a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">retrouvez ici le tarif de votre prochaine course.</a>
    </p>
  </div>
  <div class="six columns text-center">
    <h3>Tarifs des itinéraires en van</h3>
    <img src="http://lh4.ggpht.com/4cNkni7zZu87enVA1LjgxnXqeUp9PtbnMTHR9laKtPH0e39YxV4Anz7DnV0Ge4QB7ozvW4wq5yUnAUHJ1SE3tAA=s512" title="Chauffeur VTC en van 7 places" alt="les vans 7 places AlloCab"/>
    <p style="margin-top: 1.5em;">Vous voyagez en groupe ou vous allez en réunion avec vos collègues ? Votre chauffeur privé vous conduit dans un van 7 places confortable et luxueux.<a href="/chauffeur-prive-vtc/prix-tarif-van">Découvrez le prix d'une course dans l'un de nos vans.</a></p>

  </div>
</div>
<hr style="margin:0"/>
<div class="twelve columns cms-second-row">
  <div class="six columns bordered text-center">
    <h3>Différence avec un taxi</h3>
    <img src="http://lh6.ggpht.com/FXeerxvOz45emR_KLKdxLcFvQTzLC1xJkJ_SSIRQdlujdb-MaD4f94NUSWqr1dfP13qThNBkjMHrG8QASopf=s512" title="Les avantages du chauffeur privé comparé aux taxis" alt="Différences entre taxis et VTC"/>
    <p>
      Votre chauffeur VTC vous propose des prestations de service très haut de gamme. Vous réservez en ligne en 3 clics, le tarif de votre course est indiqué à l'avance et vous n'avez plus besoin de cash pour payer.
      <br/>
      Découvrez sans plus attendre les <a href="http://www.allocab.com/chauffeur-prive-vtc/difference-taxi">différences entre chauffeur privé et chauffeur de taxi</a>.</p>

  </div>
  <div class="six columns text-center">
    <h3>Transferts aux aéroports</h3>
    <img src="http://lh4.ggpht.com/gQGOghnMjj9aEqUKcz761zvR_qT4Nbmw5RbHIGzqirRQrmun60Ln-luQMiJqpvSB1ge29LYrqBnSfuCyOuOjjw=s445" title= "Votre chauffeur VTC assure tous vos trajets aéroports" alt="Trajets aéroports en chauffeur privé" />
      <p style="margin-top:3em;">
        Votre chauffeur privé vous conduit à l'aéroport dans un véhicule confortable et luxueux. Il porte vos sacs et bagages et s'assure de votre confort tout le long du trajet.
        <br/>
        Réservez maintenant un chauffeur VTC en van ou en berline pour tous vos <a href="/chauffeur-prive-vtc/transfert-aeroport">trajets vers ou depuis l'aéroport</a>.</p>

  </div>
</div>
<hr style="margin:0"/>
<div class="twelve columns cms-third-row">
  <div class="four columns">
    <h3>Les véhicules</h3>
    <center><img src="http://lh3.ggpht.com/RSoZyXq2FNLSjPBaSyY_O2_OvFfG-Rp7-UfkVg4P4KvanfOU_SwzG4PKnT3GofkXSbI3Xv9PT__29r47zpfX-A=s300" title="Votre chauffeur privé propose une large gamme de véhicules" alt="Gamme de véhicules chez AlloCab"/></center>
    <p>Réservez une voiture avec chauffeur en berline tout confort ou un van spacieux . <a href="/chauffeur-prive-vtc/gamme-vehicules">Consultez les principales gammes de véhicules en cliquant ici.</a></p>
  </div>
  <div class="four columns bordered">
    <h3>Partenaires</h3>
    <center><img src="http://lh3.ggpht.com/VNa5fndbqFoQcUvmam7yHOJYA28f_IFCQSalwJvXxDMaLecj1ClAJJF2WJwPNyHuTLHZpk-R59_JNhPTwi4UJQ=s210" title="Découvrez les chauffeurs VTC partenaires du réseau AlloCab" alt="Chauffeurs privés partenaires"/></center>
    <p>
      Des professionnels sélectionnés pour leur grande qualité de service .
    </p>
  </div>
  <div class="four columns">
    <h3>Règlementation VTC</h3>
    <center><img src="http://lh4.ggpht.com/lgunv6AA-6wzAsyKLlwQuJ2pWt8BX_fFE2iVxvNXWPLtiU3U__WG0pnNBTmtglujWFSCKxjUwS9o1M5IqENM2A=s165" title="Réglementation pour les chauffeurs VTC" alt="Loi des chauffeurs VTC"/></center>
    <p>
      Le statut d'exploitant VTC (voiture de tourisme avec chauffeur) à remplacé récemment le statut de chauffeur de grande remise . <a href="/chauffeur-prive-vtc/reglementation-VTC-grande-remise">En savoir plus</a>
    </p>
  </div>
</div>
