<style>
.cms .pUpChauffPrivee{
	text-align:left;
	font-size:17px;
}
</style>

<div class="twelve columns cms cms-first-row">
	<div class="row">
		<h1 class="text-center">Comment ça marche ?</h1>
		<hr style="background:none repeat scroll 0% 0% transparent;"/>
		<div class="maxHeightReservation four columns">
			[WGT]new-fare|DIRECTION|berline|500[/WGT]
		</div>
		<div class="eight columns">
			<img src="http://lh5.ggpht.com/8YDih4EZj_4B58dOb1hnd7t2nKXBGtrihlpNz2RxV52OUlIPQu4XAgvpk5xsPtQwtXsfovWK0-10-2MnciBpuQ=s700" title="Comment réserver son chauffeur VTC ?" alt="Réservez votre chauffeur privé">
			<p class="pUpChauffPrivee">
				Réserver votre <strong>chauffeur privé</strong> ou votre <strong>moto taxi</strong> à Paris ou en régions ne vous prend que quelques minutes.
				<br/>
				Remplissez le <strong>formulaire de réservation sur votre gauche</strong> ou téléchargez l'application Allocab disponible sur <a href="https://itunes.apple.com/fr/app/allocab-votre-chauffeur-prive/id562233261?mt=8">Iphone</a> ou <a href="https://play.google.com/store/apps/details?id=com.allocab.allocabpassenger&hl=fr_FR">Android</a> et laissez-vous guider.
			</p>
		</div>
	</div>
</div>
<hr style="margin:0"/>
<div class="twelve columns cms-second-row">
	<div class="six columns bordered">
		<h2>Tarif</h2>
		<center><img ptr-id="40062" ptr-size="211" /></center>
		<p>Fini les surprises : le prix est fixé et connu à l'avance, pas d'approche facturée ni de suppléments (bagage, passager supplémentaire, ...).<br/><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus sur les tarifs</a></p>
	</div>
	<div class="six columns">
		<h2>Standing et sécurité</h2>
		<img ptr-id="3" ptr-size="512" />
		<p>Véhicules de prestige et chauffeurs professionnels accrédités par la Préfecture de Police de Paris ou de celle de votre département.
		<br/>Plus d'information sur <a href="/prestige-securite-chauffeur">les chauffeurs et véhicules</a></p>
	</div>
</div>
<hr style="margin:0"/>
<div class="twelve columns cms-third-row">
	<div class="four columns">
		<h3>Solution entreprise</h3>
		<center><img ptr-id="2004" ptr-size="256" /></center>
		<p>Idéal pour le voyage d'affaires, réservations et suivi de vos factures dans votre compte entreprise. <a href="/voyage-affaires-entreprise">Plus d'informations</a></p>
	</div>
	<div class="four columns bordered">
		<h3>Réservation à l'avance</h3>
		<center><img ptr-id="15001" ptr-size="135" /></center>
		<p>Accessible 24h/24 et 7j/7, votre réservation est immédiatement confirmée. <a href="/reserver-chauffeur-avance">Plus d'informations</a></p>
	</div>
	<div class="four columns">
		<h3>Demande immédiate</h3>
		<center><img ptr-id="2" ptr-size="156" /></center>
		<p>Les moto-taxis ou chauffeurs privés vous répondent en temps réel. <a href="/reservation-immediate-chauffeur">Plus d'informations</a></p>
	</div>
	<hr style="margin:0"/>
	<div class="four columns">
		<h3>Paiement sécurisé</h3>
		<p><img ptr-id="5004" ptr-size="256" />
		<div class="hide-for-small" style="height:1.4em;"></div>
		<br/>Payez en un clic depuis le web ou votre smartphone. <a href="/paiement-securise-reservation">Plus d'informations</a></p>
	</div>
	<div class="four columns bordered">
		<h3>Couverture du service</h3>
		<center><img ptr-id="4004" ptr-size="128" /></center>
		<p>Allocab couvre aujourd'hui plus de 30% de la population française. Réservez un chauffeur privé pour tous vos déplacements dans les <br/><a href="/zone-couverture-service-chauffeur">grandes métropoles desservies par Allocab.</a></p>
	</div>
	<div class="four columns">
		<h3>Compensation carbone</h3>
		<center><img ptr-id="13004" ptr-size="128" /></center>
		<p>Allocab.com plante un arbre pour vous à chaque fois que vous parcourez 250km.<br/><a href="/compensation-carbone">Découvrez notre engagement</a></p>
	</div>
	<hr style="margin:0"/>
	<div class="four columns">
		<h3>Pas à pas détaillé</h3>
		<p>
			<img ptr-id="6003" ptr-size="356" />
			<div class="hide-for-small" style="height:2.2em;"></div>
			Réservez votre chauffeur en ligne, c'est facile !
		</p>
	</div>
	<div class="four columns bordered">
		<h3>Application mobile</h3>
		<center><img ptr-id="10003" ptr-size="128" /></center>
		<p>Réserver un moto-taxi ou un chauffeur privé depuis votre smartphone n'a jamais été aussi simple.</p>
	</div>
	<div class="four columns hide-for-small">
		<h3> </h3>
		<p> <br/> </p>
	</div>
</div>
