<h1 class="twelve columns">Compensation carbone</h1>
<hr/>
<div class="six columns">
	<h2>Un engagement écologique</h2>
	<p>
	Pour que vos déplacements soient plus verts, Allocab s'engage dans la compensation carbone des gaz à effet de serre aux cotés de son partenaire Pur Projet.
	<br/>
	Au delà de l'impact écologique, les actions de Pur Projet ont des dynamiques solidaires, économiques et sociales.
	</p>
</div>
<div class="six columns">[PTR]2001[/PTR]</div>
<hr/>
<div class="six columns">[PTR]9633091[/PTR]</div>
<div class="six columns">
	<h2>Compensez l'impact carbone de vos déplacements</h2>
	<p>
	Allocab.com plante un arbre pour vous à chaque fois que vous parcourez <br/> 250km. Vous compensez ainsi 6 à 10 fois le carbone émis lors de vos courses.
	</p>
</div>
<hr/>
<div class="six columns">
	<h2>Votre certificat</h2>
	<p>
	Après avoir parcouru 250 km, vous recevez votre certificat de plantation avec le numéro unique d'identification de l'arbre au registre VCS (Volontary Carbon Standard).
	</p>
</div>
<div class="six columns">[PTR]8001[/PTR]</div>
<hr/>
<div class="six columns">[PTR]9583098[/PTR]</div>
<div class="six columns">
	<h2>Quelques chiffres</h2>
	<p>
	Un arbre compense 333 kg de CO<sub>2</sub>.
	<br/>
	Une voiture émet environ 88 kg de CO<sub>2</sub> tous les 250 km.
	<br/>
	Une moto émet environ 59 kg de CO<sub>2</sub> tous les 250 km.
	</p>
</div>
