<div class="twelve columns">
				<h1>Conditions générales de vente des services Allocab</h1>
				<p>Version à jour au 27 mars 2013</p>
				<p>IMPORTANT--NOTE A L’UTILISATEUR DE SERVICE SUR LE SITE INTERNET ALLOCAB: VEUILLEZ LIRE ATTENTIVEMENT CES CONDITIONS GENERALES D’UTILISATION. ELLES DEFINISSENT LES CONDITIONS ENTRE VOUS ET LA SOCIETE ALLOCAB (ci-après ALLOCAB) ET RESTRICTIONS DE SERVICES QUE VOUS ACCEPTEZ EN CLIQUANT SUR LE BOUTON " J’ai lu et j’accepte sans réserve les Conditions générales de vente". AVANT TOUTE UTILISATION DES SERVICES DE ALLOCAB, VOUS RECONNAISSEZ ETRE AGE D’AU MOINS DIX-HUIT ANS ET ETRE CAPABLE DE CONTRACTER. VOUS GARANTISSEZ QUE TOUTES LES INFORMATIONS QUE VOUS FOURNISSEZ SONT VRAIES ET EXACTES. TOUT RESERVATION SPECULATIVE, FAUSSE OU FRAUDULEUSE EST PROHIBEE. EN UTILISANT TOUT OU PARTIE DES SERVICES DE ALLOCAB VIA SON SITE INTERNET www.allocab.com VOUS ACCEPTEZ TOUTES LES DISPOSITIONS DES PRÉSENTES CONDITIONS GENERALES AINSI QUE LES LIMITATIONS DE RESPONSABILITE DECRITES A L’ARTICLE 6. VOUS RECONNAISSEZ QUE LES CONDITIONS GENERALES SONT EXÉCUTOIRES AU MÊME TITRE QUE TOUT AUTRE CONTRAT ÉCRIT QUE VOUS AURIEZ SIGNÉ. SI VOUS ETES EN DESACCORD AVEC LES TERMES DES PRESENTES CONDITIONS GENERALES D'UTILISATION, VOUS N'ETES PAS AUTORISE A UTILISER LES SERVICES SUR LE SITE www.allocab.com. ALLOCAB SE RESERVE LE DROIT DE MODIFIER LES PRESENTES CONDITIONS GENERALES D'UTILISATION EN FONCTION DE L'EVOLUTION DU SITE OU DE LA LEGISLATION. IL APPARTIENDRA A CHAQUE UTILISATEUR DE CONSULTER REGULIEREMENT LES PRESENTES CONDITIONS GENERALES D'UTILISATION ET TARIFAIRES AFIN DE SE TENIR INFORME DE SES EVENTUELLES MODIFICATIONS.</p>
				<h2>1. Définitions</h2>
				<p>1.1.
					<b>ALLOCAB</b> désigne la société ALLOCAB en tant que courtier qui met en relation les Utilisateurs et les Chauffeurs en vue de la réservation directement entre eux d’une ou plusieurs Course(s) ou Mise(s) à Disposition. ALLOCAB n’est ni une société de transport, ni une centrale de réservation, ni un représentant des Chauffeurs ou des Transporteur dont ils dépendent. ALLOCAB n’intervient pas dans les transactions entre les Utilisateurs et les Chauffeurs ou les Transporteur et le contrat de transport est directement conclu entre eux sans intervention de ALLOCAB. En conséquence, ALLOCAB n’exerce aucun contrôle sur la qualité, la sûreté ou la licéité des Courses ou Mises à Disposition, la véracité ou l'exactitude du contenu ou des annonces des Chauffeurs ou des Transporteurs, ni la capacité des Chauffeurs. ALLOCAB ne peut pas non plus garantir que le Chauffeur conclura la transaction ou réalisera la Course ou la Mise à Disposition. L’Utilisateur est toujours libre de choisir avec lequel des Chauffeurs il souhaite conclure la Course ou la Mise à Disposition.</p>
				<p>1.2.
					<b>Chauffeur</b> désigne le ou les chauffeur(s) du ou des Véhicule(s) appartenant aux Transporteurs affiliés à ALLOCAB et réalisant les Courses ou Mises à Disposition réservées par les Utilisateurs et pour lesquelles le Chauffeur a été sélectionné.</p>

																																<p>1.3. <b>Commande</b> désigne toute demande de Réservation de Chauffeur par l’Utilisateur.</p>

																																<p>1.4. <b>Course</b> désigne toute prestation de transport d’Utilisateurs et accessoirement de bagages valablement réservée par l’Utilisateur sur le Site et réalisée à titre onéreux par un Chauffeur.</p>

																																<p>1.5. <b>Course Instantanée</b> désigne toute Course réservée par le Client conformément aux modalités techniques stipulées sur la Plate-forme ALLOCAB pour les Courses dites « instantanées » dans un délai compris entre trente (30) minutes minimum et douze (12) heures maximum avant le départ de la Course.</p>

																																<p>1.6. <b>Course à l’Avance</b> désigne toute Course valablement réservée par le Client sur la Plate-forme ALLOCAB  en tant que Course dites « à l’avance », dans un délai de douze (12) heures minimum avant le départ de la Course.</p>

																																<p>1.7. <b>Fichier Client</b> désigne toutes les données relatives aux Utilisateurs requises pour le fonctionnement de la Plate-forme ALLOCAB.</p>

																																<p>1.8. <b>Formulaire de Confirmation</b> désigne tout acte communiqué par ALLOCAB par lequel l’Utilisateur certifie sa volonté d’effectuer une Réservation en inscrivant le Code de Sécurité.</p>

																																<p>1.9. <b>Identifiants</b> désigne tout code d’accès et/ou mot de passe choisi par l’Utilisateur et destiné à permettre à l’Utilisateur de s'identifier, de renseigner ses coordonnées bancaires (démarche obligatoire pour pourvoir passer Commande) et d'utiliser le Site conformément aux stipulations des présentes.</p>

																																<p>1.10. <b>Mise à Disposition</b> désigne la réservation d’un Chauffeur pour un certain nombre d’heures minimum et avec un nombre de kilomètres limité par heure, moyennant une facturation spécifique distincte des Courses.</p>

																																<p>1.11. <b>Pénalité d’Annulation</b> désigne toute indemnité demandée à l’Utilisateur par le Transporteur à l’Utilisateur en cas d’annulation de la Course ou de la Mise à disposition réservée par l’Utilisateur et dont le montant est fixé dans les conditions tarifaires du Transporteur auquel est rattaché le Chauffeur sélectionné par l’Utilisateur.</p>

																																<p>1.12. <b>Pénalité de Retard</b> désigne toute indemnité demandée à l’Utilisateur par le Transporteur en cas de retard de la part de l’Utilisateur et dont le montant est fixé dans les conditions tarifaires du Transporteur auquel est rattaché le Chauffeur sélectionné par l’Utilisateur.</p>

																																<p>1.13. <b>Garantie Ponctualité</b> désigne toute indemnité due à l’Utilisateur par le Transporteur en cas de retard de la part du Chauffeur sélectionné par l’Utilisateur et dont le montant est fixé dans les conditions tarifaires du Transporteur auquel est rattaché le Chauffeur sélectionné par l’Utilisateur.</p>

																																<p>1.14. <b>Plate-forme ALLOCAB</b> désigne l'ensemble des logiciels d'application, logiciels de connexion, bases de données, méthodes, procédés ou tout autre élément dont les droits de propriété intellectuelle sont détenus par ALLOCAB et qui sont nécessaires au fonctionnement du Site et à la fourniture du Service via le Site.</p>

																																<p>1.15. <b>Réservation</b> désigne toute réservation de Course ou de Mise à Disposition effectuée par un Utilisateur via le Site.</p>

																																<p>1.16. <b>Service</b> désigne la prestation de mise en relation fournie par ALLLOCAB à titre gratuit à l’Utilisateur, consistant à rechercher, pour le compte de l’Utilisateur, un Chauffeur disponible dans le secteur de la demande selon les indications fournies par ce dernier et à les mettre en relation via le Site pour la Commande d’une Course ou d’une Mise à Disposition.</p>

																																<p>1.17. <b>Site</b> désigne le nom de domaine et sous-nom de domaine www.allocab.com, le site Internet et l’infrastructure développés pour ALLOCAB selon les formats informatiques utilisables sur l’Internet comprenant des données de différentes natures et, notamment, des textes, sons, images fixes ou animées, vidéos, bases de données destinées à être consultées par l’Utilisateur pour connaître ses Services.</p>

																																<p>1.18. <b>SMS</b> désigne tout message textuel adressé sur un téléphone mobile ou Smartphone.</p>

																																<p>1.19. <b>Transporteur</b> désigne toute personne physique ou morale exerçant, à titre onéreux et conformément à la législation et à la réglementation française en vigueur, l’activité d’exploitant de voitures de tourisme avec chauffeur, dites « VTC » et/ou l’activité de transporteur de personnes et leurs bagages avec chauffeur par véhicule(s) motorisé(s) à deux ou trois roues, dites « motos-taxis » au sens de l’article 5 de la loi n°2009-888 du 22 juillet 2009, et étant valablement abonné à la Plate-forme ALLOCAB.</p>

																																<p>1.20. <b>Utilisateur</b> désigne tout utilisateur personne physique situé en France class=MsoCommentReference> ou à l’étranger valablement enregistré auprès de ALLOCAB qui navigue, prend connaissance, Commande et Réserve, un Chauffeur par l’intermédiaire du Service proposé par ALLOCAB sur le Site www.allocab.com ou par tout autre canal de mise en relation proposé (smartphone, comptoir dans les lieux publics, contrats signés avec des tiers partenaires, etc.).</p>

																																<p>1.21. <b>Véhicule(s)</b> désigne le ou les voitures de tourisme et les véhicules terrestres motorisés à deux ou trois roues mis à disposition par les Transporteur et répartis pour les besoins du Service en trois catégories, savoir : « City », « Evasion » et « Prestige », conformément aux descriptions disponibles en ligne sur le Site.</p>

																																<h2>2. Dispositions générales – Champ d’application</h2>
																																<p>2.1. Les Services de ALLOCAB sont exclusivement régis par les présentes Conditions générales de vente, à l’exclusion de tous autres documents, tels que prospectus, catalogues, documentations émanant de ALLOCAB qui ne sont donnés qu’à titre d’information et n’ont qu’une valeur indicative.</p>

																																<p>2.2. Toute commande via le présent Site Internet implique l'acceptation immédiate et sans réserve des Conditions générales de vente du Service, et ce, malgré toute stipulation contraire figurant sur tout document émanant de l’Utilisateur.</p>

																																<p>2.3. La présente offre est exclusivement réservée aux particuliers et/ou professionnels, personnes physiques n'agissant en aucun cas pour le compte de tiers. Toute personne commandant des Courses ou Mises à Disposition via le Site s'engage donc à utiliser les Courses ou Mises à Disposition pour son propre compte, sauf accord de l’Utilisateur, que ce soit à titre personnel ou professionnel. L’Utilisateur ne doit pas utiliser le Site de ALLOCAB à des fins commerciales ou de services de réservation, ni de manière illégale ou de façon à nuire à ALLOCAB ou ses partenaires, ses distributeurs, ses prestataires de services ou ses fournisseurs ou à tout autre client.</p>

																																<h2>3. Commande - Validation</h2>
																																<p>3.1. L’Utilisateur déclare avoir pris connaissance et accepté les présentes Conditions générales de vente. Il accepte, par ailleurs, que les présentes conditions générales s’appliquent à chaque Course ou Mise à Disposition. La validation de chaque Commande vaut donc réitération de son acceptation des présentes conditions générales.</p>

																																<p>3.2. Course Instantanée : Pour chaque Course instantanée, l’Utilisateur intéressé suit le processus suivant afin d’établir sa Commande via le Site : L’Utilisateur précise les caractéristiques de la demande, notamment quant au jour, à l’heure et à l’itinéraire de la Course. En outre, l’Utilisateur a la possibilité de choisir son Chauffeur selon les critères qu’il définit tenant : à la distance, au type de véhicule, au jour et à l’heure de départ et au délai entre le moment où l’Utilisateur réserve sa Course et le moment où elle commence effectivement. ALLOCAB procède alors à une analyse immédiate du nombre de Chauffeurs disponibles dans le secteur demandé et les secteurs environnants et envoie aux Chauffeurs réputés disponibles et étant capables de prendre en charge le Client en fonction des critères qu’il a définis, une alerte sur leur téléphone portable. ALLOCAB propose alors à l’Utilisateur, sur le Site, la liste des Chauffeurs disponibles ayant répondu à l’alerte afin qu’il finalise son choix. La liste des Chauffeurs n’est toutefois jamais imposée à l’Utilisateur qui a toujours la possibilité de ne pas commander la Course en se déconnectant du Site. Dès que la sélection a été opérée par l’Utilisateur, l’Utilisateur doit créer un compte sur Allocab et/ou s’y connecter à l’aide de ses Identifiants. Une fois ces formalités accomplies, un détail de la Commande résumant les informations précédentes est envoyé à l’Utilisateur par mail et SMS.</p>

																																<p>3.3. Course à l’Avance : Dans le cadre d’une Course à l’Avance, l’Utilisateur intéressé par la passation d’une Commande sur le site ALLOCAB suit un processus quasi identique à la Course Instantanée visée à l’article 3.2 ci-dessus. En outre, les Chauffeurs n’ont pas besoin de répondre au Client depuis leur mobile. Un Chauffeur correspondant le mieux aux critères du Client est proposé, et le Client a le choix de lister jusqu’à 3 Chauffeurs maximum par catégorie (city, évasion, prestige).</p>

																																<p>3.4. Les Commandes passées dans le cadre des dispositions des articles 3.2 et 3.3 des présentes dispositions ne peuvent être valablement enregistrées sur le Site ALLOCAB que si l’Utilisateur s’est clairement identifié par l’intermédiaire des Identifiants communiqués à l’occasion de son inscription sur le Site pour sa première Commande. Lors de son inscription sur le Site, l’Utilisateur doit saisir ses coordonnées (qui seront pré-remplies à sa prochaine visite) avec les mentions obligatoires suivantes : civilité, nom, prénom, adresse complète du domicile, e-mail et numéro de téléphone mobile, afin notamment que ALLOCAB puisse lui envoyer par SMS le Code de Sécurité, et que le Chauffeur puisse contacter le Client au point de RDV.</p>

																																<p>3.5. Si l’Utilisateur bénéficie d’une offre spéciale, il doit saisir un code qui lui aura été attribué dans le champ prévu à cet effet.</p>

																																<p>3.6. Lorsque l’Utilisateur clique sur le bouton « Valider la Réservation», il accède au récapitulatif de sa Commande où l’ensemble des informations sont rappelées.</p>

																																<p>3.7. Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation reprenant ces informations contractuelles dès la validation de la Réservation par le Chauffeur ou le Moto-Taxi auquel il est rattaché. ALLOCAB se réserve le droit d'annuler ou de refuser toute Commande d'un Utilisateur (i) si son profil ne répond pas aux conditions de qualité de consommateur telles que définies aux articles 2.2 et 2.3 des présentes, (ii) s’il existe un litige relatif au paiement d’une Commande antérieure et, dans tous les cas, (iii) si l’Utilisateur n’a pas coché l’acceptation des Conditions générales de vente.</p>

																																<p>3.8. Le Chauffeur ou le Transporteur auquel il est rattaché a toujours la faculté d’annuler la Course ou Mise à Disposition. Il est recommandé à l’Utilisateur de contacter le Chauffeur peu de temps avant la Course ou Mise à Disposition afin de s’assurer que le Chauffeur est toujours disponible.</p>

																																<p>3.9. L’Utilisateur doit monter sur le Véhicule du Chauffeur dès que celui-ci arrive à l'adresse indiquée et à l'heure convenue. En cas d'absence de l’Utilisateur à l’heure convenue, le Chauffeur est réputé autorisé à quitter le lieu convenu, sans avertissement préalable.</p>

																																<h2>4. Tarifs</h2>
																																<p>4.1. Le Service mis en ligne par ALLOCAB à disposition de l’Utilisateur est entièrement gratuit pour l’Utilisateur.</p>

																																<p>4.2. La Course ou Mise à Disposition est vendue par le Transporteur auquel le Chauffeur est rattaché au tarif en vigueur au jour o class=st1>ù elle est effectuée. Les prix s’entendent en Euros toutes taxes comprises (TVA 7% lorsqu’elle est applicable). Tout changement du taux de TVA applicable pourra être répercuté sur le prix de la Course ou Mise à Disposition.</p>

																																<p>4.3. Le prix de la Course ou Mise à Disposition est indiqué à titre indicatif sur le Site au moment de la Commande (ci-après le « Prix Indicatif ») et demeure, à ce titre, susceptible d’évolution en raison des circonstances factuelles de la Course ou Mise à Disposition (par exemple, et sans que cela soit exhaustif, du fait des changements d’horaires, des changements d’itinéraires, etc.).</p>

																																<p>Le processus de Commande du Site permet à l’Utilisateur de vérifier le détail de sa Commande et le montant du Prix Indicatif à payer au titre de la Course ou de la Mise à Disposition.</p>

																																<p>A partir du moment où l’Utilisateur a validé la Commande comme indiqué à l’article 3.6 ci-dessus, ladite Commande est ferme et définitive.</p>

																																<p>Toute Commande validée vaut acceptation du Prix Indicatif, de la grille tarifaire du Moto-Taxi auquel le Chauffeur sélectionné est rattaché et des descriptions de la Course ou Mise à Disposition.</p>

																																<p>Le montant définitif du prix de la Course ou de la Mise à Disposition (ci-après le « Prix Définitif ») est fixé par le Chauffeur à l’issue de la Course ou de la Mise à Disposition en fonction des conditions réelles de transport sur la base de la grille tarifaire du Transporteur auquel il est rattaché et après application éventuelle de la Pénalité Annulation, de la Pénalité de Retard, ou de la Garantie Ponctualité.</p>

																																<p>Par ailleurs, il est précisé que :</p>

																																<p>S’agissant de la Course :</p>

																																<p>. L’Utilisateur paie le Prix Définitif d’une Course unique pour un itinéraire unique ;</p>

																																<p>. La fixation du Prix Définitif de la Course varie selon l’itinéraire et la grille tarifaire du Transporteur concerné sur la base d’une prise en charge, d’un coût kilométrique, d’une majoration selon l’heure et le jour et selon la durée écoulée entre l’heure de la Réservation et le début de la Course ;</p>

																																<p>S’agissant de la Mise à Disposition :</p>

																																<p>. L’Utilisateur choisit de délimiter un créneau horaire au sein duquel le Chauffeur est exclusivement à son service ;</p>

																																<p>. La fixation du Prix Définitif de la Mise à Disposition varie selon le temps d’utilisation et la grille tarifaire du Transporteur concerné sur la base d’un forfait à la durée avec une majoration selon l’heure et le jour et selon la durée écoulée entre l’heure de la Réservation et le début de la Mise à disposition.</p>

																																<p>4.4. En cas d’annulation de la Course ou de la Mise à Disposition par l’Utilisateur ou en cas d’absence de présentation de ce dernier à l’adresse, au jour et à l’heure convenue pour le départ, l’Utilisateur peut se voir appliqué une Pénalité d’Annulation correspondant à un % du prix de vente de la Course ou de la Mise à Disposition.</p>

																																<p>En cas de retard de l’Utilisateur, l’Utilisateur peut se voir appliqué une Pénalité de Retard et correspondant à une pénalité dont le montant est progressif en fonction de la durée du retard de l’Utilisateur par rapport à l’horaire de départ convenu pour la Course ou la Mise à Disposition.</p>

																																<p>Chacune des sanctions s’applique à l’initiative du Chauffeur, dès lors que  les conditions cumulatives suivantes sont réunies : (i) le Transporteur a  mis à disposition sur le Site sa grille tarifaire spécifique relative à la Pénalité d’Annulation ou la Pénalité de Retard et (ii) l’Utilisateur a pu y avoir accès préalablement à toute confirmation de Réservation. Le cas échéant, la Pénalité d’Annulation  ou la Pénalité de Retard sera compensée sur le Prix Indicatif prélevé lors de la Commande et/ou sera prélevée en sus, directement sur le compte bancaire de l’Utilisateur sans qu’une autorisation complémentaire de sa part soit requise.</p>

																																<p>4.5. L’Utilisateur peut se voir attribué une Garantie Ponctualité en cas de retard du Chauffeur et correspondant à une ristourne accordée sur le prix de vente de la Course ou de la Mise à Disposition et dont le montant est progressif en fonction de la durée du retard du Chauffeur par rapport à l’horaire de départ convenu pour la Course ou la Mise à Disposition.</p>

																																<p>Cette ristourne s’applique à l’initiative du Chauffeur, dès lors que  les conditions cumulatives suivantes sont réunies (i) le Transporteur a mis à disposition sur le Site sa grille tarifaire spécifique relative à sa Garantie Ponctualité et  (ii) l’Utilisateur a pu y avoir accès préalablement à toute confirmation de Réservation.</p>

																																<p>4.6. Il est  expressément prévu et entendu que ALLOCAB n’est, à aucun moment, un comparateur de prix entre les Chauffeurs disponibles, ces derniers étant sélectionnés selon des critères définis par l’Utilisateur conformément aux dispositions précitées à l’article 3.2.</p>

																																<h2>5. Conditions de paiement et sécurisation</h2>
																																<p>5.1. Le paiement du Prix Indicatif interviendra automatiquement dès la validation de la Commande et à titre d’acompte à valoir sur le Prix Définitif de la Course ou de la Mise à Disposition, soit par prélèvement bancaire sur le compte client de l’Utilisateur si celui-ci est inscrit en compte chez ALLOCAB ou chez le Transporteur, soit par carte bancaire en ligne sur le Site au moment de la Réservation.</p>

																																<p>L’Utilisateur autorise expressément ALLOCAB à utiliser le système PAYBOX ou tout autre système de son choix de paiement sécurisé en ligne sur le Site pour le règlement de toutes sommes dues par lui au titres des Courses et Mises à Dispositions commandées et il autorise expressément ALLOCAB à effectuer, le cas échéant, toutes démarches nécessaires à l’ouverture d’un compte au nom et pour son compte auprès de la société PAYBOX.</p>

																																<p>L’Utilisateur reconnaît avoir pris connaissance, dès avant la signature des présentes, des Conditions générales de vente de PAYBOX et que celles-ci s’appliqueront pour tout paiement effectué par ce système sur le Site.</p>

																																<p>ALLOCAB s’engage à tenir informé l’Utilisateur de tout changement de système de paiement sécurisé en ligne sur le Site et à lui communiquer les Conditions générales de vente applicables.</p>

																																<p>La facturation de l’Utilisateur est faite sur la base du Prix Définitif susvisé de la Course ou Mise à Disposition (y compris l’éventuelle Pénalité de Retard) ou, le cas échéant, sur la base de la Pénalité d’Annulation.</p>

																																<p>La différence entre le Prix Indicatif déjà payé par l’Utilisateur et le Prix Définitif facturé à l’Utilisateur fera l’objet d’un paiement complémentaire de la part de l’Utilisateur par prélèvement ou remboursement sur la carte bancaire utilisée lors de la Commande.</p>

																																<p>5.2. Les Commandes « en ligne » sont émises via l’Internet, Internet mobile ou par l’intermédiaire des applications logicielles dédiées de ALLOCAB. ALLOCAB adressera à l’Utilisateur la facture du Transporteur dont le Chauffeur a assuré la Course ou la Mise à disposition. Il sera établi une facture pour chaque prestation réalisée, à moins que l’Utilisateur soit en compte avec le Transporteur et ait convenu avec lui d’une fréquence ou de modalités de facturation différente(s).</p>

																																<p>5.3. ALLOCAB met tout en œuvre pour assurer la confidentialité et la sécurité des données transmises sur le Site. Les données relatives à la carte bancaire ne sont pas conservées par ALLOCAB après le paiement. Afin d’assurer la sécurité des paiements, le Site utilise les services de paiement sécurisé PAYBOX. Ces services intègrent la norme de sécurité SSL  (Secure Socket Layer). Les données confidentielles (le numéro de carte bancaire à 16 chiffres ainsi que la date d’expiration) sont directement transmises cryptées sur le serveur PAYBOX sans transiter sur les supports physiques du serveur de ALLOCAB.</p>

																																<p>5.4. Lorsque les coordonnées bancaires sont validées, le gestionnaire de télépaiement sécurisé adresse une demande d’autorisation au réseau carte bancaire. Le gestionnaire de télépaiement délivre un certificat électronique. Pour plus d’information, il est conseillé à l’Utilisateur de se référer aux Conditions générales de vente de PAYBOX.</p>

																																<p>5.5. La validation de la Commande au moyen du numéro de carte bancaire, de la date d’expiration ainsi que le cryptogramme (chiffres du numéro complémentaire indiqué au resto ou au dos de la carte) vaut mandat de payer que le serveur de paiement transmet à l’établissement de crédit de l’Utilisateur.</p>

																																<p>5.6. Nous donnons mandat à la société ALLOCAB de payer pour notre compte les sommes des Courses ou Mise à Disposition dues aux Chauffeurs ayant effectués les prestations sur le solde du compte prépayé, si ce solde n'est pas nul ou négatif.

																																<h2>6. Limitation de garantie et de responsabilité</h2>
																																<p>6.1. ALLOCAB assure une simple mise en relation entre le Transporteur ou le Chauffeur et l’Utilisateur. ALLOCAB n'intervient en aucun cas dans les relations contractuelles entre eux. En tant qu’intermédiaire indépendant, ALLOCAB voit sa responsabilité limitée à la seule prestation de recherche de disponibilité de Chauffeurs pour l'adresse, le jour et l’heure indiquée par l’Utilisateur et décline toute autre responsabilité ou garantie, implicite ou explicite. Le Chauffeur et le Transporteur auquel il est rattaché demeurent seuls vendeurs de la Course ou de la Mise à Disposition et, à ce titre, seuls responsables de la parfaite exécution de la prestation de transport vis-à-vis de l’Utilisateur.</p>

																																<p>Par conséquent, au titre de son rôle d’intermédiation, ALLOCAB ni ne garantit, ni ne peut voir sa responsabilité engagée, directement ou indirectement, pour quelque cause que ce soit, en cas d’exécution défectueuse, ou d’inexécution totale ou partielle de ses obligations par le Chauffeur ou le Moto-Taxi auquel il est rattaché ou par l’Utilisateur lui-même. De la même manière, ALLOCAB ne peut en aucun cas, être tenue pour responsable, directement ou indirectement,  des agissements des Chauffeurs ou des Transporteur ou des Utilisateurs, notamment dans le cadre de l’exécution de la Course ou de la Mise à Disposition, ni des transactions réalisées entre eux, ni des annulations, des retards, des conséquences ou des dommages résultant des prestations de transport proposées par les Transporteurs via le Site ou des contenus des Données et ou du Fichier des Utilisateurs et des  Transporteur diffusés sur la Plate-forme ALLOCAB.</p>

																																<p>De manière générale, ALLOCAB ne peut en aucun cas être tenue pour responsable de toute difficulté intervenant avant, pendant et après le transport de l’Utilisateur, les Transporteurs ou les Chauffeurs demeurant seuls responsables de la bonne exécution de la Course ou de la Mise à Disposition.</p>

																																<p>En conséquence, en cas de litige(s) avec un Chauffeur ou un Transporteur, l’Utilisateur dégage ALLOCAB de toute responsabilité (ainsi que ses administrateurs, directeurs, agents, sociétés liées et associées, joint-ventures et employés) pour toute réclamation et tout dommage (présent ou futur) de tout type ou nature, connu ou non, résultant de manière directe ou indirecte de ce(s) litige(s).</p>

																																<p>6.2. Les estimations du temps de trajet communiqués par le Chauffeur ou le Transporteur à l’Utilisateur via le Site sont basées sur des temps standards qui ne sauraient en aucun cas engager la responsabilité de ALLOCAB. Concernant les déplacements importants ou à destination des gares et des aéroports, il appartient à l’Utilisateur de prendre une marge de précaution suffisante afin de pallier tout aléa de circulation ou autre. Il est rappelé que ALLOCAB ne pourra être tenue pour responsable des conséquences des conditions de circulations.</p>

																																<p>De même, les photographies, schémas ou dessins illustrant les prestations des Chauffeurs ou des Transporteur et leur texte descriptif publiés sur le Site sont communiqués à titre illustratif et n'entrent pas dans le champ contractuel (notamment, en raison de la différence possible des véhicules, de leurs coloris selon l’éclairage lors de la prise des photos ou de l'évolution de certains détails de finition).</p>

																																<p>Les informations transmises par l’Utilisateur sur la Commande engagent celui-ci. En cas d'erreur dans le libellé de ses coordonnées (notamment nom, prénom, numéro et nom de rue, code postal, nom de ville, numéro de téléphone ou adresse mail), ALLOCAB ne saurait être responsable de tout difficulté dans la réalisation de la prestation de transport ou de l’impossibilité de la rendre.</p>

																																<p>6.3. ALLOCAB s’engage à vérifier les disponibilités des prestations de Course ou de la Mise à Disposition proposées. ALLOCAB met tous ses moyens en œuvre afin de trouver, pour l’Utilisateur, un Chauffeur disponible dans les meilleurs délais. A ce titre, ALLOCAB n’est tenue qu’à une obligation de moyen. La responsabilité de ALLOCAB ne saurait être engagée si la recherche d'un Chauffeur n'aboutit pas en raison de l’indisponibilité de l’ensemble des Chauffeurs, et ce même dans le cas d’une Course à l’Avance visée à l’article 3.3 des présentes.</p>

																																<p>6.4. Les garanties, conditions de vente et de transport ainsi que les assurances sont celles définies par les Transporteurs, sans le concours ou l’intervention de ALLOCAB.</p>

																																<p>6.5. ALLOCAB ne pourra être tenue pour responsable de toute immixtion dans le Service par un tiers et des conséquences dommageables pouvant en résulter.</p>

																																<p>6.6. Bien que ALLOCAB s'engage à tout mettre en œuvre pour assurer la permanence, la continuité et la qualité de son Service, sa responsabilité ne saurait toutefois être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau Internet ; notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques, de sorte que ALLOCAB souscrit à ce titre à une obligation de moyens.</p>

																																<p>L’Utilisateur déclare accepter les caractéristiques et les limites de l'Internet et en particulier reconnaît :</p>

																																<p>- que ALLOCAB ne peut en aucune manière être tenue responsable notamment des difficultés ou des vitesses et des ralentissements d'accès au Site, du non-acheminement des informations ou de la non-validation d’une Commande pour des raisons techniques,</p>

																																<p>- avoir connaissance de la nature du réseau Internet et en particulier de ses performances techniques et des temps de réponse pour consulter, interroger ou transférer des informations ou contenus,</p>

																																<p>- qu'il lui appartient de prendre toutes les mesures appropriées de nature à protéger ses propres données et/ ou logiciels et/ ou matériels de la contamination par des éventuels virus informatiques ou tentatives d'intrusion ou tout autre logiciel et programme susceptible de nuire au fonctionnement ou d'endommager un matériel informatique.</p>

																																<p>ALLOCAB ne garantit pas, par ailleurs, que le Site fonctionne dans tout environnement d'exploitation et qu'il est utilisable à tout moment, sans interruption ou erreur, ni que toutes les erreurs pourront être corrigées. De même, ALLOCAB ne saurait être tenue responsable d'un non-fonctionnement, d'une impossibilité d'accès ou de mauvaises conditions d'utilisation du Site imputables à un équipement non-adapté, à des dysfonctionnements internes au fournisseur d'accès Internet de l’Utilisateur, à l'encombrement du réseau Internet et pour toutes autres raisons extérieures à ALLOCAB.</p>

																																<p>ALLOCAB se réserve la possibilité de modifier ou d'interrompre, temporairement ou de façon permanente, l'accessibilité au Site ou à tout ou partie de ses Services notamment pour des raisons de maintenance, de mise à jour ou d'amélioration du Site, ou pour en faire évoluer le contenu ou leur présentation et ce, sans préavis ni indemnités quelconques.</p>

																																<p>Le site Internet de ALLOCAB peut contenir des liens vers d'autres sites partenaires. ALLOCAB ne peut réaliser aucun contrôle sur ces sites et décline toute responsabilité en ce qui concerne leur contenu et services. Elle s’engage toutefois à rendre ineffectifs ces liens, si le contenu des sites référencés porte atteinte aux droits d’un tiers.</p>

																																<h2>7. Information sur l’absence de droit de rétractation</h2>
																																<p>Conformément aux dispositions de l’article L. 121-20-4 du Code de la consommation et dans la mesure où la prestation vendue par les Chauffeurs ou les Transporteur a pour objet une prestation de transport, l’Utilisateur ne dispose pas d’un droit de rétraction ni vis-à-vis des Transporteurs, ni vis-à-vis de leurs Chauffeurs.</p>

																																<h2>8. Force majeure – Faute de l’une des Parties ou fait imprévisible et insurmontable d’un Tiers</h2>
																																<p>La responsabilité de ALLOCAB ne pourra être recherchée si l’exécution du contrat est retardée ou empêchée en raison d’un cas de force majeure ou d’un cas fortuit tel que défini par les dispositions légales et la jurisprudence, et plus généralement dans les cas suivants : panne informatique ou des réseaux de télécommunication empêchant la disponibilité des services en ligne, grève, manifestation, intempéries, accident de la circulation perturbant la circulation, embouteillage d'une ampleur inhabituelle.  ALLOCAB ne sera pas responsable en cas d’inexécution ou de mauvaise exécution du Service imputable à l’autre ou du fait imprévisible et insurmontable d’un tiers.</p>

																																<h2>9. Propriété intellectuelle</h2>
																																<p>9.1. ALLOCAB est propriétaire exclusif de tous droits, titres ou intérêts concernant les Codes de Sécurité, les Identifiants, la Plate-forme ALLOCAB, les Services et le Site. L’Utilisateur reconnait et accepte que les droits d’auteur et autres droits relatifs notamment à la propriété intellectuelle et industrielle, aux brevets, marques, dessins et modèles, secrets commerciaux, savoir-faire, idées, concepts et inventions, tout  intérêt, couverts ou non par le droit applicable, concernant les Codes de Sécurité, les Identifiants, la Plate-forme ALLOCAB, les Services et le Site de ALLOCAB, y compris mais sans limitation, toutes modifications, adaptations, améliorations, corrections, mises à jour ou nouvelles versions, œuvres dérivées et évolutions sont et demeurent réservés, à tout moment, à ALLOCAB. Si des suggestions, concepts ou évolutions proposées par l’Utilisateur sont mis en œuvre par ALLOCAB dans ses Services, l’Utilisateur reconnait et accepte, par les présentes, que ALLOCAB soit titulaire de tous droits, titres ou intérêts pouvant en résulter. L’Utilisateur s’engage à conserver les marques ou tout autre signe distinctif de ALLOCAB sur les Services et à s’abstenir de tout comportement parasitaire à l’égard de ALLOCAB. Les termes « Commander », « Réserver » ou « Valider » désignent le droit pour l’Utilisateur d’utiliser les Services de ALLOCAB sans que cela entraîne un transfert des droits de propriété industrielle et intellectuelle que ALLOCAB possède sur les Codes de Sécurité, les Identifiants, la Plate-forme ALLOCAB, les Services et le Site, ni autorisation d’exploitation industrielle ou commerciale.</p>

																																<p>9.2. En particulier, la Plate-forme ALLOCAB, les Services et le Site sont la propriété de ALLOCAB. Ils sont protégés par les lois et traités internationaux en matière de droits d'auteur, ainsi que par d'autres lois et traités internationaux en matière de propriété intellectuelle. Tous les droits relatifs à la Plate-forme ALLOCAB, aux Services et au Site, aux concepts, à leur caractère original et innovant notamment les droits de propriété intellectuelle sur les textes, les créations littéraires, graphiques (y compris photographiques) et audiovisuelles, les développements informatiques, les développements HTML ou autres œuvres de l'esprit et généralement toutes créations susceptibles d'être protégées par le droit de la propriété intellectuelle comme les images, les logos, la mise en forme, la charte graphique, la structure, l'ergonomie, les codes couleurs, les typographies, les polices de caractère, les éléments graphiques de base, l'organisation graphique des écrans, la mise en page, les fonds de page et plus généralement l'identité visuelle du Site, les éléments sonores ou les marques appartiennent à ALLOCAB ou sont régulièrement exploités par elle et ce, sans aucune limitation. Toute atteinte aux droits de ALLOCAB ou de ses annonceurs pourra donner lieu à des poursuites judiciaires.</p>

																																<p>9.3. L’Utilisateur qui dispose d’un site Internet à titre personnel et qui désire placer, pour un usage personnel, sur son site un lien hypertexte renvoyant directement au site de ALLOCAB doit obligatoirement en demander l’autorisation écrite et préalable à ALLOCAB.</p>

																																<h2>10. Informations légales – Informatique et Libertés - Cookies</h2>
																																<p>10.1. Les réponses obligatoires dans le formulaire de commande sont signalées par un astérisque ou par la mention « tous les champs sont obligatoires ». ALLOCAB est soucieuse du respect des dispositions légales et réglementaires en matière de vie privée et de protection des informations personnelles. Ces informations minimales ne sont utilisées que pour le traitement des Commandes de l’Utilisateur ainsi que pour renforcer et personnaliser la communication et l'offre de Services, notamment par des lettres d'informations, ainsi que dans le cadre de la personnalisation des offres. L'ensemble des informations concernant les Utilisateurs est destiné à ALLOCAB aux fins de création d’un Fichier Client, sauf dans l’hypothèse où l’Utilisateur aura déjà été identifié en tant que Client d’un Transporteur et où l’Utilisateur l’aura validé lors de sa première connexion, auquel cas l’Utilisateur fera partie du Fichier Client de ce Transporteur.</p>

																																<p>10.2. Le site Internet de ALLOCAB est conforme aux législations françaises et européennes relatives à la protection de la vie privée et des données personnelles en vigueur et a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le numéro 1594855v0.</p>

																																<p>10.3. Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée par la loi du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements des données à caractère personnel, tout utilisateur dispose, à tout moment, d'un droit d'accès, de modification, de rectification ou de suppression des données qui le concernent. Pour cela, l’Utilisateur pourra consulter et modifier ses données de la façon suivante :</p>

																																<p>- Par téléphone au 0665533917</p>

																																<p>- Par email à l'adresse suivante : contact@allocab.com</p>

																																<p>- Par écrit à l'adresse suivante : 7, impasse Charles Petit 75011 Paris.</p>

																																<p>10.4. Les Cookies : Le site Internet ALLOCAB peut collecter des informations de manière automatique par l'utilisation de « cookies » (ou témoins de connexion) qui permettent notamment de suivre la navigation des Utilisateurs sur le Site, d’identifier les sections du Site les plus fréquentées, les destinations des visiteurs et la durée de leurs visites. Un cookie ne permet pas à ALLOCAB d’identifier l’Utilisateur; en revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur le Site ALLOCAB afin d'établir les paramètres de la session durant votre connexion. Ces cookies permettent au site ALLOCAB de traiter vos demandes et d'assurer le bon fonctionnement du Site. Le site ALLOCAB utilise notamment les cookies pour mémoriser les coordonnées de l’Utilisateur lors de votre identification afin que vous n'ayez plus à les fournir par la suite (cette mémorisation est optionnelle et Vous restez libre de modifier vos coordonnées ultérieurement ). A noter également que les cookies s’avèrent précieux pour personnaliser les interactions des utilisateurs du Site et leur offrir une commodité accrue à chaque fois qu’ils veulent s’y connecter. ALLOCAB collecte automatiquement certaines informations non nominatives qu’elle stocke dans des fichiers journaux – adresse IP, type de navigateur utilisé, fournisseur d’accès , pages d’origine et de destination, système d’exploitation, date/heure et séquence de navigation. ALLOCAB se sert de ces informations non-nominatives pour analyser les tendances, administrer le Site, assurer un suivi des opérations des utilisateurs à travers le Site et obtenir des informations à caractère démographique sur sa base d’utilisateurs dans sa globalité. ALLOCAB s’interdit d’exploiter les informations ainsi recueillies pour démarcher directement l’utilisateur. La durée de conservation de ces informations dans votre ordinateur est de douze mois. Vous avez toujours la possibilité de désactiver ou d'empêcher le placement de ces cookies ou d'être informé de leur création en configurant votre navigateur à travers un menu « options Internet », « préférences » ou « sécurité ». ALLOCAB Vous invite à consulter la rubrique « aide » de votre navigateur Internet pour en savoir plus sur la façon de paramétrer ces fonctions.

																																<h2>11. Signature – Preuves – Conservation et Archivages des Transactions</h2>
																																<p>11.1. Dans tous les cas, la validation finale de la Commande vaudra preuve de l'intégralité de la dite Commande conformément aux dispositions de la loi du 13 mars 2000 et vaudra exigibilité des sommes correspondant au montant de la Course ou de la Mise à Disposition.</p>

																																<p>11.2. Cette validation vaut signature et acception expresse de toutes les opérations effectuées sur le Site.</p>

																																<p>11.3. Les registres informatisés, conservés dans les systèmes informatiques de ALLOCAB et de ses partenaires dans des conditions raisonnables de sécurité, seront considérés comme des preuves des communications, des commandes et des paiements intervenus entre les parties. Ils répondent par ailleurs aux prescriptions de l’article L.134-2 du Code de la consommation en matière de conservation.</p>

																																<p>11.4. L'archivage des bons de commande et des factures est effectué sur un support fiable et durable de manière à correspondre à une copie fidèle et durable conformément aux articles 1316 et suivants du Code civil.</p>

																																<h2>12. Durée - Dispositions diverses</h2>
																																<p>12.1. Les présentes conditions s'appliquent pendant toute la durée de mise en ligne des services offerts par ALLOCAB.</p>

																																<p>12.2. Le défaut d'exercice, l’exercice partiel ou le retard apporté dans l'exercice des droits prévus par les Conditions générales de vente ne constitue en aucun cas une renonciation à l'exercice de ces droits, ni une renonciation à aucun autre droit. Si l’une quelconque des dispositions des présentes Conditions Générales d‘Utilisation est réputée nulle, elle sera réputée non-écrite mais les autres dispositions garderont leur force et leur portée, à moins que les Parties considèrent de bonne foi cette disposition comme essentielle. ALLOCAB se réserve le droit de modifier les présentes conditions générales d'utilisation à tout moment en mettant en ligne les conditions modifiées sur le Site. Sauf mention contraire, toutes les conditions modifiées seront effectives après avoir été mises en ligne ce dont l’Utilisateur sera notifié par email.</p>

																																<h2>13. Droit applicable et différends</h2>
																																<p>13.1. Les présentes Conditions générales de vente sont soumises à la loi française.</p>

																																<p>13.2. Toute contestation qui pourrait s’élever entre les parties relative à l’interprétation des présentes Conditions générales de vente ou à l’exécution ou à la cessation du Service sera soumise au tribunal compétent. Le tribunal compétent sera celui du lieu du domicile du défendeur ou, au choix du demandeur, du lieu d’exécution du Service.</p>

																																<h2>14. Qui est ALLOCAB ?</h2>
																																<p>ALLOCAB est une société par actions simplifiée au capital de 6.000 euros dont le siège social est 7, impasse Charles Petit 75011 Paris, immatriculée au Registre du Commerce et des Sociétés de Aix-en-Provence sous le numéro 532 050 747 , n° SIRET 53205074700015, TVA intracommunautaire FR8453205074700015 représentée par Monsieur Yanis Kiansky.</p>

																																<p>Le site Internet http://www.allocab.com est hébergé par la société Google App Engine. Google Inc., 1600 Amphitheatre Parkway, Mountain View 94043 USA - +1 650-253-0000. Le directeur de publication est Monsieur Yanis Kiansky. Pour toute réclamation, Vous pouvez contacter ALLOCAB par téléphone au 0665533917,  par voie électronique à l'adresse suivante : contact@allocab.com ou par voie postale à l'adresse suivante ALLOCAB, 7 impasse Charles Petit 75011 Paris.</p>
				</div>
