<div>

<h1 style="text-align:center;margin-bottom:1em">Entrons en contact !</h1>

<div class="six columns">
	<h3>Vous avez besoin d’aide ?</h3>
	<p>
		Merci de nous contacter en précisant votre prénom, nom et téléphone à :
		<br/>
		<a href="mailto:serviceclient@allocab.com?body=Bonjour,%0A%0AJe vous%20contacte%20pour%20...%0A%0AVoici%20mes%20coordonnées%20:%0APrénom NOM :%0ANuméro%20de%20réservation%20:%20(Facultatif)%0ATéléphone%20:%0AAdresse%20:">serviceclient@allocab.com</a>
	</p>

	<h3>Vous avez une demande spéciale ?</h3>
	<p>
		N’hésitez pas à nous préciser le type et le nombre de véhicules, et le nombre d’heures dont vous avez besoin :
		<br/>
		<a href="mailto:surmesure@allocab.com?body=Bonjour,%0A%0AJe vous%20contacte%20pour%20...%0A%0AVoici%20mes%20coordonnées%20:%0APrénom NOM :%0ANuméro%20de%20réservation%20:%20(Facultatif)%0ATéléphone%20:%0AAdresse%20:">surmesure@allocab.com</a>
	</p>

	<h3>Vous êtes chauffeur ?</h3>
	<p>
		Pour rejoindre notre réseau, remplissez ce formulaire :
		<br/>
		<a href="/inscription-chauffeur-prive-vtc-taxi-moto">Formulaire d’inscription rapide</a>
	</p>
	<h3>Vous rencontrez un problème avec nos applications ?</h3>
	<p>
		Merci de nous contacter en précisant votre prénom, nom et téléphone à :
		<br/>
		<a href="mailto:assistancetechnique@allocab.com?Subject=Demande%20assistance%20technique&body=Bonjour,%0A%0AJe vous%20contacte%20pour%20...%0A%0AVoici%20mes%20coordonnées%20:%0APrénom NOM :%0ATéléphone%20:" target="_top">assistancetechnique@allocab.com</a>
	</p>
</div>

<div class="six columns">

	<div class="row" style="margin-bottom:1em">

		<div class="ten columns">
			<p>
				<em>“Adepte des réseaux sociaux ? Vous pouvez me solliciter sur Twitter et Facebook, à tout de suite !”</em>
				<br/>
				Justine Fulla, Community Manager d'Allocab
			</p>

			<p style="text-align:center">
				<a target="_blank" href="https://www.facebook.com/allocab">
					[PTR]2082038_64[/PTR]
				</a>
				&nbsp;
				&nbsp;
				<a target="_blank" href="https://twitter.com/Allocab">
					[PTR]2084029_64[/PTR]
				</a>
			</p>
		</div>
	</div>
	[PTR]2089030_512[/PTR]
</div>
</div>
