<h1 class="twelve columns"> Qui sommes-nous ?</h1>
	<hr/>
	<h2 class="twelve columns"> Les associés</h2>

																<div class="six columns">
																<h3>Yanis Kiansky</h3>

																<div class="row">

																<div class="four mobile-one columns">
																<img src="https://secure.gravatar.com/avatar/9a8d11a48497078c15c1409384b0fa82?s=150" >
																</div>

																<div class="eight mobile-four columns">
																<p>
																Consultant, 28 ans, diplômé de l’ESC Montpellier, a participé à plusieurs projets internationaux sur le progiciel de gestion SAP chez Cegelec, Bouygues Construction et Eurocopter. Il a développé de fortes compétences métier en gestion de projet, contrôle des coûts et budgets.</br>
																Il intervient chez Allocab sur la conception logiciel, et assure la partie commerciale de la solution. Il est l'interlocuteur privilégié pour toutes les sociétés de transport intéressées par les services de la plate-forme Allocab, les relations institutionnelles, presse et grands comptes.
																</p>
																</div>

																</div>

																</div>

																<div class="six columns">
																<h3>Thomas Tiercelin</h3>

																<div class="row">

																<div class="four mobile-one columns">
																<img src="https://secure.gravatar.com/avatar/cb6ce5fd787628322cec209af274854e?s=150">
																</div>

																<div class="eight mobile-four columns">
																<p>
																Webmaster, 28 ans, a été responsable de neuf sites internet et un intranet chez le groupe immobilier Alliade Organisation. Il est intervenu tant en maîtrise d’œuvre qu’en maîtrise d’ouvrage sur toute la chaîne de développement et diffusion.<br>
																Il assure désormais chez Allocab le développement de la plate-forme sur internet et sur les applications mobiles. A l'écoute et disponible, il sera votre interlocuteur si vous êtes utilisateur d'Allocab, chauffeur affilié, partenaire technique ou développeur utilisant notre API.
																</p>
																</div>

																</div>

																</div>

																<hr/>

																<div class="eight columns">
																				<h2>La génèse d'Allocab</h2>


												<p>Tout commence le jour où Yanis Kiansky découvre le moto-taxi lors de ses allers-retours hebdomadaires en Allemagne. Grâce à ce nouveau moyen de transport, Roissy se rapproche du palier de sa porte, <strong>et le temps de trajet se réduit à 30 minutes, même en cas de bouchons !</strong></p>

												<p>Il remarque rapidement que l’offre est composée essentiellement de chauffeurs indépendants. L’idée de créer <strong>un service de réservation automatisé</strong> pour rapprocher facilement l’offre et la demande germe alors. Il permet aux chauffeurs de planifier et développer leur activité, et aux clients de réserver facilement un chauffeur disponible. <br/>
												<strong>Simple non ? </strong>
												</p>

												<p>Rapidement l’équipe se forme avec Thomas Tiercelin à la technique. Fort du succès d’une maquette présentée à des chauffeurs début 2012, la société Allocab voit le jour en avril 2011.  Les lignes de codes continuent de pleuvoir, et l’application sort officiellement en septembre 2012.</p>

												<p>Depuis des dizaines de chauffeurs privés et motos-taxis nous ont rejoints pour transporter des passagers toujours plus loin !</p>

												<p>Retrouvez la suite de cette histoire <a href="http://blog.allocab.com">sur notre blog</a>.</p>

																</div>

																<div class="four columns panel">
																				<h2>Ils nous ont tant aidés</h2>

																				<p>
																				Toutes ces personnes nous ont permis d'une manière ou d'une autre à en arriver là.
																				<br>
																				Merci à vous tous pour vos conseils, votre aide, votre patience et votre soutien :
																				</p>

																				<ul>
																				<li>Corinne Mairet</li>
																				<li>Alain Cray</li>
																				<li>Kaïss Baaissa</li>
																				<li>Didier Heurtier</li>
																				<li>Nicolas Le Ny</li>
																				</ul>
																</div>
