<style>

</style>
<script>
   var app= angular.module('myApp',[]);
    angular.element(document).ready(function() {
      angular.bootstrap(document, ['myApp']);
    });

</script>

<div class="twelve columns">
  <h1>Bienvenue sur la page du formulaire Opportunity</h1>
  <span>{{"j'affiche"+" "+"rien"}}</span>
  <form >


  </form>

</div>
