<style>
.row form .marginBottom3{
    margin-bottom:2em;
  }
.asterixRed{
  color:red;
}
</style>

<div class="twelve columns">
    <div class="row">
      <h1>Rajouter une opportunité</h1>
      <hr/>
    </div>

    <div class="">
      <form action="" method="post">
        <div class="row">
          <div class="seven columns">

          <div class="row">
            <div class="four columns centered">
              <LABEL for="NomSociete">Nom de la Société<span class="asterixRed">*</span></LABEL>
                <INPUT type="text" id="NomSociete" placeholder="AlloFast" >
            </div>
          </div>

          <div class="row marginBottom3">
            <div class="two columns">
              <LABEL for="objects">Object<span class="asterixRed">*</span></LABEL>
            </div>
            <div class="seven columns offset-by-one">
              <select name="objects">
                <option value="Transferts récurrents">Transferts récurrents</option>
                <option value="Longue distance">Longue distance</option>
                <option value="Plusieurs chauffeurs pour un événement" selected>Plusieurs chauffeurs pour un événement</option>
                <option value="Prise d'information">Prise d'information</option>
                <option value="Appel d'offre">Appel d'offre</option>
              </select>

            </div>
            <div class="two columns"></div>
          </div>

          <div class ="row">
            <div class="two columns">
              <LABEL for="societe">Société<span class="asterixRed">*</span></LABEL>
            </div>
            <div class="eight columns offset-by-two">
              <INPUT type="text" id="societe" >
              </div>
          </div>

          <div class ="row">
            <div class="two columns">
              <LABEL for="identifiants">Identifiants </LABEL>
            </div>
            <div class="four columns ">
              <INPUT type="text" id="identifiants" placeholder="Prénom + Nom : David Tewp">
            </div>
            <div class="two columns">
              <LABEL for="prenom">Prénom </LABEL>
            </div>
            <div class="four columns">
              <INPUT type="text" id="prenom" placeholder="David">
            </div>
          </div>

          <div class ="row">
            <div class="two columns">
              <LABEL for="nom">Nom<span class="asterixRed">*</span></LABEL>
            </div>
            <div class="eight columns offset-by-two">
              <INPUT type="text" id="nom" placeholder="Tewp" >
            </div>
          </div>

          <div class ="row">
            <div class="two columns">
              <LABEL for="fonction">Fonction </LABEL>
            </div>
            <div class="eight columns offset-by-two">
              <INPUT type="text" id="fonction" placeholder="CEO">
            </div>
          </div>

          <div class ="row">
            <div class="two columns">
              <LABEL for="telPort">Tél Port<span class="asterixRed">*</span></LABEL>
            </div>
            <div class="eight columns offset-by-two">
              <INPUT type="tel" id="telPort" placeholder="0666666666" >
            </div>
          </div>

          <div class ="row">
            <div class="two columns">
              <LABEL for="telFixe">Tél fixe</LABEL>
            </div>
            <div class="eight columns offset-by-two">
              <INPUT type="tel" id="telFixe" placeholder="0444444444" >
            </div>
          </div>

        <div class ="row">
          <div class="four columns">
            <LABEL for="email">E-Mail<span class="asterixRed">*</span></LABEL>
          </div>
          <div class="eight columns offset-by-two">
            <INPUT type="email" id="email" placeholder="david.tewp@allofast.com" >
          </div>
        </div>

      </div>

      <div class="four columns offset-by-one">
        <div class="row">
            <LABEL for="description">Description </LABEL>
              <textarea name="description" placeholder="Société à prospecter"></textarea>
        </div>
        <div class"row"><em><span class="asterixRed">*Mentions obligatoires</span></em></div>
      </div>

    </div>
    <div class="row">
      <div class="two columns centered">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
    </form>






  </div>
</div>
