<div class="six columns columns">
<h1>Liste des pages</h1>
<ul>
	<li>
		<a href="/test-routing">Page de test</a>
	</li>
</ul>


<img ptr-id="3" ptr-size="512" />

</div>

<div class="six columns columns">
<h2>Utile</h2>
<ul>
	<li>
		Lancer le serveur : python -m server.py
	</li>
	<li>
		<a href="http://foundation.zurb.com/old-docs/f3/">Doc foundation 3</a>
	</li>
</ul>

<img ptr-id="94008" ptr-size="512" />

</div>

