<div class="twelve columns">
	<div class="row">
		<div class="twelve columns">
			<br />
			<h1>Espace Humour :)</h1>
		</div>
	</div>
	<div class="row">
		<div class="Twelve columns">
			<br />
			<h3>Week One (26 Mai)</h3>
			<p style="margin-top:1.3em">Quand Thomas nous a fait le planning de la semaine.</p>
			<img src="http://media.tumblr.com/189fdcc9318b60eea1c3f434cf256998/tumblr_inline_mgo8214cOE1r4fuk0.gif" /> 
			<p style="margin-top:1.3em">Ce que le crew a répondu.</p>
			<img src="http://media.tumblr.com/tumblr_m95fdlegEx1r4fuk0.gif" />
			<p style="margin-top:1.3em">Quand Florian et Martin se sont réparti le job.</p>
			<img src="http://i.imgur.com/SmZq5Xk.gif" /> 
			<p style="margin-top:1.3em">Quand Yanis nous annonce que la mise en prod se fera Mercredi Matin.</p>
			<img src="http://ljdchost.com/9Gy2sUG.gif" /> 
			<p style="margin-top:1.3em">Quand Thomas a terminé le serveur Mercredi à 10h.</p>
			<img src="http://ljdchost.com/pnqcBgB.gif" /> 
			<p style="margin-top:1.3em">La mise en prod.</p>
			<img src="http://i.imgur.com/bspSj6R.gif" /> 
			<p style="margin-top:1.3em">Quand Thomas part se ressourcer dans le Sud.</p>
			<img src="http://ljdchost.com/oU8i9JL.gif" /> 
			<p style="margin-top:1.3em">Quand Julian comprend que le dispatch SNCF a merdé.</p>
			<img src="http://ljdchost.com/OX9A6tW.gif" /> 
			<p style="margin-top:1.3em">La réponse de Martin.</p>
			<img src="http://ljdchost.com/NjyqShN.gif" /> 
			<p style="margin-top:1.3em">La réponse de Florian.</p>
			<img src="http://ljdchost.com/S0DOD26.gif" /> 
			<p style="margin-top:1.3em">Quand je vois que Thomas ne répond pas.</p>
			<img src="http://ljdchost.com/QKQSqfJ.gif" /> 
			<p style="margin-top:1.3em">Quand Martin a résolu le pb de date.</p>
			<img src="http://ljdchost.com/H3lqXrR.gif" /> 
			<p style="margin-top:1.3em">Quand Martin a regardé le code derrière la SNCF.</p>
			<img src="http://ljdchost.com/0G1PBHd.gif" /> 
			<p style="margin-top:1.3em">Quand Christophe appele pour avoir des news.</p>
			<img src="http://ljdchost.com/6gxVVqK.gif" /> 
			<p style="margin-top:1.3em">Florian sur le chemun des tests unitaires SNCF.</p>
			<img src="http://ljdchost.com/mfEcKLO.gif " />
			<p style="margin-top:1.3em">Quand on nous signale le premier bug de paiement.</p>
			<img src="http://ljdchost.com/UK3rdFZ.gif" /> 
			<p style="margin-top:1.3em">Quand on nous signale les autres bugs de paiement.</p>
			<img src="http://ljdchost.com/3lMTX2m.gif" /> 
			<p style="margin-top:1.3em">Quand Benoit nous appele pour demander notre avis.</p>
			<img src="http://i.imgur.com/nSBAFsf.gif" /> 
			<p style="margin-top:1.3em">Quand Florian a commencé le git bisect.</p>
			<img src="http://ljdchost.com/3JhaSL9.gif" /> 
			<p style="margin-top:1.3em">Quand Martin a cru réparer le process de paiement.</p>
			<img src="http://i.imgur.com/8TEVYW6.gif" />
			<p style="margin-top:1.3em">Quand Florian a réparé le process de paiement.</p>
			<img src="http://i.imgur.com/oRTod71.gif" /> 
			<p style="margin-top:1.3em">Quand Thomas est revenu Lundi matin.</p>
			<img src="http://ljdchost.com/kTtr0Np.gif" />
		</div>
	</div>
	<div class="row">
		<div class="Twelve columns">
			<br />
			<h3>Week Two (2 Juin)</h3>
			<p style="margin-top:1.3em">Quand Thomas est revenu Lundi matin. (bis)</p>
			<img src="http://ljdchost.com/NdsG9x8.gif" />
			<p style="margin-top:1.3em">Quand Francois est arrivé pour son premier jour. (bis)</p>
			<img src="http://ljdchost.com/ziwc2H8.gif" />
			<p style="margin-top:1.3em">Quand Thomas a résolu le bug SNCF.</p>
			<img src="http://ljdchost.com/jC2rZOY.gif" />
			<p style="margin-top:1.3em">Quand Thomas nous a expliqué le bug SNCF.</p>
			<img src="http://ljdchost.com/8xN17BE.gif" />
			<p style="margin-top:1.3em">La réaction de Florian.</p>
			<img src="http://ljdchost.com/eTX8rlo.gif" />
			<p style="margin-top:1.3em">La réaction de .Martin</p>
			<img src="http://ljdchost.com/iPZjFaw00NGgT.gif" />
			<p style="margin-top:1.3em">Martin sous les Tickets pivotal.</p>
			<img src="http://ljdchost.com/o73VMl6.gif" />
			<p style="margin-top:1.3em">Quand la crew a résolu le bug de paiement.</p>
			<img src="http://ljdchost.com/nhpq2x7.gif" />
			<p style="margin-top:1.3em">La mise en prod qui résond tous (mais pas vraiment).</p>
			<img src="http://ljdchost.com/jx6dYba.gif" />
			<p style="margin-top:1.3em">Quand la discussion Game Of Throne du Mardi commence.</p>
			<img src="http://static.comicvine.com/uploads/original/11112/111124954/3861208-ffdfccr.gif" />
			<p style="margin-top:1.3em">Quand Martin a vu protractor pour la première fois.</p>
			<img src="http://www.abload.de/img/11514-animated_gifchat8etf.gif" />
			<p style="margin-top:1.3em">Quand Florian a commandé des currywurster au Kaffe Berlin.</p>
			<img src="http://i.imgur.com/TcJsH6J.gif" />
			<p style="margin-top:1.3em">La réunion de fin de semaine/</p>
			<img src="http://ljdchost.com/4wgXLuy.gif" />
			<h2><b>To Be Continued</b></h2>
		</div>
	</div>
</div>