<div class="block_title"><h1>Allocab pour les moto-taxis</h1></div>

<div class="block">

<style>
.block h4 {
font-size:1.5em
}

.block h5 {
font-size:1.3em
}

.block p {
text-align:justify
}

.block div.nav-inline {
border-radius:5px;
padding-left:160px;
text-align:center;
margin-bottom:10px;
margin-top:20px;

background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}
.block div.nav-inline a.navlink{
border:1px solid #000000;
margin:5px;
padding:20px;
padding-top:10px;
padding-bottom:10px;
border-radius:5px;
color:#000000;
display:block;
width:150px;
text-align:center;
float:left;

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.block div.nav-inline a.navlink:hover {
background:#F90;
}

.block div.nav-inline a.navlink.active {
color:#F90;
background:#000000;


background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

td.gradico {
border-radius:5px;
background: rgb(239,239,239); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
vertical-align:center;

}

td.gradico img {
margin-top:10px;
margin-bottom:10px;
}


</style>

<h3>Des services sur-mesure pour vous accompagner dans votre croissance</h3>

<table class="no_border">
<tr>
<td>
<center><img src="http://lh5.ggpht.com/W6jQ4H-ZOjqccMBpGFIlmANaAYSA8jMDMRdn5o3z2cOPDYMPBUU-6JNx7OqYnmA6i_qgwfV5jEUId7P89efjabqz"/></center>
</td>
<td style="vertical-align:middle">
<p>Pendant deux années, Allocab a développé en collaboration avec des motos-taxis une gamme de produits sur-mesure, pour optimiser et développer votre activité.
</p>
<p>
Que vous soyez <b>indépendant</b>, que vous travailliez <b>en équipe</b>, que vous soyez affilié à un <b>GIE</b> ou responsable d'une <b>centrale de réservation</b>, Allocab dispose d'une offre adaptée à vos besoins de transporteur de personnes à moto.
</p>
</td>
</tr>
</table>

<div class="nav-inline">
<a href="javascript:void(0)" class="navlink" id="bref">En bref</a>
<a href="javascript:void(0)" class="navlink" id="formules">Nos offres</a>
<a href="javascript:void(0)" class="navlink" id="comp">Comparatif</a>
<div class="clear"> </div>
</div>

<br/>
<hr/>
<br/>



<div id="bref">

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="http://lh6.ggpht.com/cDxI3bjBQRYSbFy1XJyjuYgRuSmykeKLl3XfUehHYb_1l-uv_iSsOEA8JpyTM0VWp-awD5RlfMFD5rftJkA0i48"/>
<img src="http://lh6.ggpht.com/cDxI3bjBQRYSbFy1XJyjuYgRuSmykeKLl3XfUehHYb_1l-uv_iSsOEA8JpyTM0VWp-awD5RlfMFD5rftJkA0i48"/>
<img src="http://lh6.ggpht.com/cDxI3bjBQRYSbFy1XJyjuYgRuSmykeKLl3XfUehHYb_1l-uv_iSsOEA8JpyTM0VWp-awD5RlfMFD5rftJkA0i48"/>
<img src="http://lh6.ggpht.com/cDxI3bjBQRYSbFy1XJyjuYgRuSmykeKLl3XfUehHYb_1l-uv_iSsOEA8JpyTM0VWp-awD5RlfMFD5rftJkA0i48"/>
<img src="http://lh6.ggpht.com/cDxI3bjBQRYSbFy1XJyjuYgRuSmykeKLl3XfUehHYb_1l-uv_iSsOEA8JpyTM0VWp-awD5RlfMFD5rftJkA0i48"/>
</center>
</td>
<td style="vertical-align:middle">
<h4>La qualité de service</h4>
<p>Afin de maintenir la qualité de service irréprochable pour l’ensemble des clients, chaque chauffeur s'engage à respecter une charte de qualité et d’éthique.</P>
</td>
</tr>
</table>


<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="http://lh4.ggpht.com/S8t7-KlKcIs8GZjh4_mvkze6JwgGQC9ERDPY342UgsRMOrNqRcF-pyFRWU29cWozauN4wvQjIbT0uZuAD80nijbk "/>
</center>
</td>
<td style="vertical-align:middle">
<h4>Personnalisation de votre tarification</h4>
<p>
Allocab Driver vous permet de définir précisément votre propre tarification (taux kilométrique, prise en charge), votre propre grille de majoration (selon l'heure de la journée, le jour de la semaine, le délai avant la course), pour un calcul automatique du prix lors de la prise en charge du passager.</p>
</td>
</tr>
</table>



<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="http://lh3.ggpht.com/Kn0F-75eZkfvjCPCFSZDPdC4iVzIjP0W16Vc64MBpiXmT6JCAyfyYB9OeraEX_AiyNkNEGubyNp3tWpu6H_PLcQ"/>
</center>
</td>
<td style="vertical-align:middle">
<h4>Personnalisation des services que vous proposez</h4>
<p>
Vous indiquez les caractéristiques de votre véhicule (de la marque jusqu'à la couleur), les langues étrangères que vous parlez, l’équipement que vous proposez, si vous utilisez des sanitêtes ou des charlottes pour protéger les casques etc.</p>
</td>
</tr>
</table>







<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="	http://lh6.ggpht.com/5rNu7kR9VCTS4smC19rXEUtA4q5waQ4wvwrMliooDfP29m_cDEL6Y3QEOJBpWPJTwilEjDrc4nnL8Gk-WMbTNRQ"/>
</center>
</td>
<td style="vertical-align:middle">
<h4>Découvrez la géolocalisation</h4>
<p>
Vous êtes géolocalisé en temps réel grâce à votre smartphone. Vous pouvez activer ou désactiver par un simple clic la géolocalisation. Le système Allocab est ainsi capable de vous proposer des courses proches de votre position.
</p>
</td>
</tr>
</table>



<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="http://lh6.ggpht.com/j4j-n4kkcV6L0rnHnqlmaaxRBrI5im4ckHI2WIjYS8C3ob9FPt9PREMIQQ3h3MLGyeeWzg1kiAO9BLpY8dWVcBU "/>
</center>
</td>
<td style="vertical-align:middle">
<h4>Réservations instantanées : comment ça marche ?</h4>
<p>
Les réservations instantanées sont des demandes pour des départs sous 12 heures, auxquels vous répondez en temps réel !
Vous gérez votre disponibilité par un simple bouton. Vous êtes prévenu d’une nouvelle demande par une notification sonore sur votre mobile, et ce même si votre téléphone est en veille. Vous avez ensuite une minute pour prendre connaissance des détails de la réservation, et envoyer votre proposition de prise en charge au client par un simple clic.
</p>
<p>
Aussitôt que le client choisi votre offre, vous êtes  averti par une nouvelle notification que la réservation vous a été attribuée. 
</p>
</td>
</tr>
</table>



<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="http://lh6.ggpht.com/IkCl1ywAgP6mJd1Bb29jtABo9p6xm8_72Kk6fKexFyw9MUSPxh7vkxnoyRjDYyWHREz80DnlGQWZU6PzFw4A5Jk"/>
</center>
</td>
<td style="vertical-align:middle">
<h4>Réservations à l’avance : comment ça marche ?</h4>
<p>
Les réservations à l’avance sont des réservations à plus de 12 heures, qui sont automatiquement ajoutées à votre agenda. Elles viennent combler les plages horaires vides pour optimiser vos trajets.<br/>
Vous pouvez consultez votre agenda depuis l’application mobile Allocab Driver pour prendre connaissance des nouvelles courses qui vous ont été attribuées.
</p>
</td>
</tr>
</table>




<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center>
<img src="http://lh6.ggpht.com/kT_JuthMyF3eb5KM59_eQrxroZdxxSoUhgHBWx2W__cxRiXXa40cUPxJxoH9tVC2rVeBKZxd2-hGFdhthF2xa6I"/>
</center>
</td>
<td style="vertical-align:middle">
<h4>Confirmations automatiques aux couleurs de votre marque</h4>
<p>
A chaque réservation, le client reçoit automatiquement un SMS et un e-mail de confirmation au couleur de votre société. Le nom de votre société apparaît comme émetteur du SMS. Le mail est désigné avec votre logo et votre charte graphique.
</p>
</td>
</tr>
</table>



<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center><img src="http://lh5.ggpht.com/EoPhRhr1lyyNowl6g0LC6vavVB_hm2CEX04LA2xrI085t5SsInlBenFtUW3ItoijiNkSbWwnyI7o8ozwTMJWiMQA"/></center>
</td>
<td style="vertical-align:middle">
<h4>Rappel de vos réservations par SMS</h4>
<p>
Une heure avant le début de votre réservation, vous recevrez automatiquement un SMS vous rappelant les détails de votre prochaine réservation. Ce SMS est essentiel en cas de contrôle aux abords d’une gare ou d’un aéroport. Il sert également de rappel de votre agenda, vous gardez ainsi le contrôle de votre temps.
</p>
</td>
</tr>
</table>




<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center><img src="http://lh5.ggpht.com/WGabLB1KdULfJRCra6GET3FFPE82d1bVVsmZOaXpmP-w7S3P6e5Is9R7NKznXa1BJaD9tE2iosogzutr4c-jYA"/></center>
</td>
<td style="vertical-align:middle">
<h4>La prise en charge du client</h4>
<p>
Lors de la prise en charge du client, l’application recalcule automatiquement le prix en fonction des kilomètres parcourus réellement. Vous pouvez aussi réévaluer le prix pour ajouter une ristourne ou une pénalité de retard par exemple à l’arrivée.
</p>
</td>
</tr>
</table>




<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center><img src="http://lh3.ggpht.com/T5uWdL8nyQn-KWPchu9k0B1aPsQFXllM42Q7sBWcNH6gcimSlzTxlQkRj2Y06N2Z7PHicuFdqt27gJsL7XHMN5Vb"/></center>
</td>
<td style="vertical-align:middle">
<h4>Suivez votre activité au plus près</h4>
<p>
Grâce à votre tableau de bord, vous pouvez suivre et gérer votre activité. Vous connaissez en temps réel votre chiffre d’affaires, le nombre de courses effectuées, le nombre de courses transférées etc. Vous pouvez aussi consulter les notes de vos clients pour évaluer votre qualité de service.
</p>
</td>
</tr>
</table>




<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px" class="gradico">
<center><img src="http://lh3.ggpht.com/L1mn5gwZI3xhN8c_pWyQd_rzJINMXvanvef7UbLPtoyHT_pKcWBvJmgtvFCRD5m768SdFIYk0MI2z3S_UP_hy5A"/></center>
</td>
<td style="vertical-align:middle">
<h4>Mise en route</h4>
<p>Pour commencer à utiliser la plate-forme Allocab, il vous suffit de télécharger l'application mobile Allocab Driver correspondant à votre téléphone (<a href="https://play.google.com/store/apps/details?id=com.allocab.allocabDriver">Android®</a> | <a href="http://itunes.apple.com/fr/app/allocab-driver/id513749571?mt=8">Iphone®</a> | Blackberry®).</p>
<p>
Une fois l’application téléchargée, remplissez <a href="/ac/user/driversubscription">le formulaire d'inscription</a> en quelques minutes. Nous traiterons alors votre demande dans les meilleurs délais pour vous communiquer vos identifiants personnels pour accéder à votre compte Allocab Driver. Nous vous aideront ensuite à faire vos premiers pas avec Allocab, et profiter pleinement de la puissance de la solution Allocab Driver.</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>
<center><input type="button" class="call_to_action" value="Quelle offre choisir ?" id="showFormules"/></center>
</p>
</td>
</tr>
</table>
<br/>
</div>



<div id="formules">

<table class="no_border">
<tr>
<td style="width:250px;vertical-align:middle">
<center>
<img src="http://dev.allocab.com/images/logo_allocab.jpg?1336559048"/>
<br/> 
<b>Free</b>
</center>
</td>
<td style="vertical-align:middle">
<h4>Augmentez gratuitement votre volume de réservations !</h4>
<p>
Avec l’offre Allocab Driver Free, paramétrez en quelques minutes vos conditions tarifaires moto-taxi dans votre interface personnelle. Dès lors, vous pouvez répondre depuis votre mobile à des demandes de réservations instantanées, pour éviter les transferts à vide.
</p>
<p>
Cette application vous apporte des réservations complémentaires à celle de votre centrale de motos-taxis habituelle, en choisissant seulement les réservations qui vous intéressent.
</p>
<p>
C’est un moyen simple et rapide pour multiplier le nombre de réservations !
</p>
</td>
</tr>
<tr>
<td></td>
<td>
<p>
<form method="get" action="/ac/user/driversubscription"><input type="submit" class="call_to_action" style="font-size:1em" value="Inscription en ligne"/></form>
</p>
</td>
</tr>
</table>


<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px;vertical-align:middle">
<center>
<img src="http://dev.allocab.com/images/logo_allocab.jpg?1336559048"/>
<br/> 
<b>Pro</b>
</center>
</td>
<td style="vertical-align:middle">
<h4>Planifiez vos réservations personnelles et optimisez votre agenda !</h4>
<p>
En souscrivant l’abonnement Allocab Driver Pro, vous êtes à même de planifier toutes vos réservations dans l’application mobile Allocab Driver. En indiquant simplement la date, le départ et l’arrivée de vos réservations personnelles, le système Allocab comblera vos plages horaires vides, et optimisera vos déplacements en vous attribuant des réservations ayant des points de départ et d’arrivée concordant avec vos propres réservations.
</p>
<p>
Les plages libres de votre agenda se remplissent toutes seules, et vous offre une vision à long terme de votre carnet de commandes.
</p>
</td>
</tr>
<tr>
<td></td>
<td>
<p>
<form method="get" action="/ac/user/driversubscription"><input type="submit" class="call_to_action" style="font-size:1em" value="Inscription en ligne"/></form>
</p>
</td>
</tr>
</table>


<br/>
<hr/>
<br/>

<table class="no_border">
<tr>
<td style="width:250px;vertical-align:middle">
<center>
<img src="http://dev.allocab.com/images/logo_allocab.jpg?1336559048"/>
<br/> 
<b>Business</b>
</center>
</td>
<td style="vertical-align:middle">
<h4>Faites fructifier votre portefeuille client !</h4>
<p>
Grâce à Allocab Driver Business, vous disposez d’un véritable assistant pour gérer vos réservations. Que vos clients réservent depuis votre site web ou la plate-forme Allocab, votre agenda est tout le temps à jour grâce à la gestion centralisée des réservations.
</p>
<p>
Vous choisissez parmi la liste des motos-taxis affiliés à Allocab, ceux avec lesquels vous souhaitez travaillez. Vous transférez ensuite facilement vos réservations excédentaires, tout en valorisant cet apport d’affaires selon le taux de commissionnement que vous fixez.
</p>
<p>
Les options tarifications étendue et marque étendue vous permettent si vous êtes à la tête d’une centrale, ou si vous faites parti d’un GIE, de traiter toutes les réservations que vous envoyez aux chauffeurs sous votre marque commerciale en appliquant votre tarification. 
</p>
</td>
</tr>
<tr>
<td></td>
<td>
<p>
<form method="get" action="/contact"><input type="submit" class="call_to_action" style="font-size:1em" value="Contactez-nous"/></form>
</p>
</td>
</tr>
</table>
<br/>
</div>

<div id="comp">

<style>
table#table_comp {
font-size:14px;
}

table#table_comp td,table#table_comp th {
padding:8px;
text-align:center;
border-bottom:1px solid #ffae00;
}

table#table_comp tr.pricing td,table#table_comptr.pricing  th {
font-size:1.4em;
}

table#table_comp tr h4 {
padding-top:40px;
padding-bottom:0;
text-align:left;
}
table#table_comp tr h5 {
padding-top:20px;
padding-bottom:0;
text-align:left;
}

table#table_comp tr.even td {
background:#ffecc3;
text-align:left;
}
table#table_comp tr.odd td {
background:#ffffff;
text-align:left;
}

table#table_comp tr th.solution {
font-size:1.5em;
}

table#table_comp tr th.cat {
font-size:1.3em;
}

table#table_comp div.check {
margin:0 auto;
background:url('http://lh3.ggpht.com/j9vfCGrKoekjNagVwmHG5wKBZ-NG5wK2PQ2TE_PkoeAtDLXpkNUEEWQcPSubbj_acKeNMXCvyC8z6XjySCTNidFy');
height:15px;
width:15px;

}

</style>

<table class="no_border" width="100%" id="table_comp">
<tr class="pricing">
<th></th>
<th width="150px">
<center>
<img src="http://dev.allocab.com/images/logo_allocab.jpg?1336559048"/>
<br/>
Free
</center>
</th>
<th width="150px">
<center>
<img src="http://dev.allocab.com/images/logo_allocab.jpg?1336559048"/>
<br/>
Pro
</center>
</th>
<th width="150px">
<center>
<img src="http://dev.allocab.com/images/logo_allocab.jpg?1336559048"/>
<br/>
Business
</center>
</th>
</tr>
<tr class="pricing">
<td style="text-align:right">Tarif mensuel HT</td>
<td>gratuit</td>
<td>39€</td>
<td>89€</td>
</tr>
<tr class="even pricing">
<td style="text-align:right">Frais de mise en service HT</td>
<td style="text-align:center">gratuit</td>
<td style="text-align:center">99€</td>
<td style="text-align:center">199€</td>
</tr>
<tr class="pricing">
<td style="text-align:right">Nombre de réservations incluses</td>
<td>20</td>
<td>60</td>
<td>illimité</td>
</tr>
<tr>
<td style="border-bottom:0px"></td>
<td style="border-bottom:0px">
<form method="get" action="/ac/user/driversubscription"><input type="submit" class="call_to_action" style="font-size:0.8em" value="inscription"/></form>
</td>
<td style="border-bottom:0px">
<form method="get" action="/ac/user/driversubscription"><input type="submit" class="call_to_action" style="font-size:0.8em" value="inscription"/></form>
</td>
<td style="border-bottom:0px">
<form method="get" action="/contact"><input type="submit" class="call_to_action" style="font-size:0.8em" value="contactez-nous"/></form>
</td>
</tr>
<tr>
<th colspan="4"><h4>Solutions Web</h4></th>
</tr>
<tr>
<th colspan="4"><h5>Tarification</h5></th>
</tr>
<tr class="al first">
<td>Personnalisation de la grille tarifaire</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Personnalisation de la grille de majoration horaire</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Personnalisation de la grille de majoration délai</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Personnalisation de la grille de pénalité d’annulation*</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Personnalisation de la grille de pénalité retard*</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Personnalisation de la grille garantie ponctualité*</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Personnalisation de la commission d’apporteur d’affaire</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr>
<th colspan="4"><h5>Gestion du planning</h5></th>
</tr>
<tr class="al first">
<td>Affichage des réservations en cours</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage de l’historique des réservations</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Gestion de mon agenda</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage de l’agenda de l’équipe</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<th colspan="4"><h5>Gestion de l’équipe chauffeurs</h5></th>
</tr>
<tr class="al first">
<td>Affichage de la liste des véhicules</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage de la liste des chauffeurs</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Gestion de l’attribution des véhicules</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Suivi de la qualité de service</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Choix des chauffeurs pour l’attribution des réservations en cercles concentriques (gestion de la liste blanche)*</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<th colspan="4"><h5>Flux de réservation optimisé</h5></th>
</tr>
<tr class="al first">
<td>Paiement en ligne de la réservation*</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Envoi automatique de la confirmation de la réservation par SMS au client de votre part</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Envoi automatique de la confirmation de la réservation par e-mail au client de votre part</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Envoi automatique de la facture au client de votre part après la prestation de transport*</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Réservation à l’avance automatique sur les créneaux horaires disponibles de l’agenda</td>
<td></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Widget de réservation à insérer sur votre site</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>


<tr>
<th colspan="4"><h5>Gestion de la relation clients</h5></th>
</tr>
<tr class="al first">
<td>Affichage de la liste de vos clients</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Invitation de nouveaux clients</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Gestion des clients en compte</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Gestion de bon de réduction</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Commission d’apporteur d’affaires sur les réservations transférées à d’autres sociétés de motos-taxis</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<th colspan="4"><h5>Suivi de l’activité</h5></th>
</tr>
<tr class="al first">
<td>Affichage facturation mensuel</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage journal de l’activité</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage tableau de bord</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage bilan compte client*</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<th colspan="4"><h5>Extension à une flotte de motos-taxis</h5></th>
</tr>
<tr class="al first">
<td colspan="3">Marqué étendue : réservations transférées à d’autres motos-taxis sous la marque commerciale votre société (SMS, e-mail et factures envoyés au client)*</td>
<td>Option : 19 € HT / mois</td>
</tr>
<tr class="al">
<td colspan="3">
Tarification étendue : réservations transférées à d’autres motos-taxis en appliquant vos CGV (tarification, conditions d’annulation etc.)*
</td>
<td>Option : 19 € HT / mois</td>
</tr>

<tr>
<th colspan="4"><h4>Applications mobiles</h4></th>
</tr>
<tr>
<th colspan="4"><h5>Gestion des réservations</h5></th>
</tr>
<tr class="al first">
<td>Réponse aux demandes de réservations sous 12 heures</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Annulation d’une réservation</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Transfert d’une réservation à un autre chauffeur</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Calcul automatisé du prix de la course réelle</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Gestion de ristourne ou de pénalité en fin de course</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr>
<th colspan="4"><h5>Gestion du planning</h5></th>
</tr>
<tr class="al first">
<td>Gérer sa disponibilité</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage des réservations en cours</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage de l’historique des réservations</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Indiquer les détails des courses hors plate-forme Allocab*</td>
<td></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Créer une réservation pour un client*</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Créer une réservation pour un client non inscrit avec une invitation*</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>


<tr>
<th colspan="4"><h5>Géolocalisation</h5></th>
</tr>
<tr class="al first">
<td>Géolocalisation en temps réel</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage des chauffeurs à proximité</td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<th colspan="4"><h5>Gestion de la relation client</h5></th>
</tr>
<tr class="al first">
<td>Afficher la liste des clients</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Inviter un client</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<th colspan="4"><h5>Gestion</h5></th>
</tr>
<tr class="al first">
<td>Affichage du CA mensuel</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>
<tr class="al">
<td>Affichage du nombre de réservations mensuelles</td>
<td></td>
<td></td>
<td><div class="check"> </div></td>
</tr>

<tr>
<td style="border-bottom:0px"></td>
<td style="border-bottom:0px">
<form method="get" action="/ac/user/driversubscription"><input type="submit" class="call_to_action" style="font-size:0.8em" value="inscription"/></form>
</td>
<td style="border-bottom:0px">
<form method="get" action="/ac/user/driversubscription"><input type="submit" class="call_to_action" style="font-size:0.8em" value="inscription"/></form>
</td>
<td style="border-bottom:0px">
<form method="get" action="/contact"><input type="submit" class="call_to_action" style="font-size:0.8em" value="contactez-nous"/></form>
</td>
</tr>

</table>
<br/>
<p style="font-size:0.9em">
*en cours de développement
</p>
<br/>
</div>

</div>
<div class="clear"> </div>