<br/>
<div class="three columns">
	<div class="row">
		<br/>
			<ul class="nav-bar vertical">
			<li class="active"><a href="/inscription-chauffeur-prive-vtc-taxi-moto">Inscription Chauffeur VTC</a></li>
			<li><a href="/services-moto-taxi-chauffeur-prive-vtc">Description des services</a></li>
		</ul>
	</div>
</div>
<div class="six columns end">
	<h1>Inscrivez-vous</h1>
	$NEW_DRIVER_FORM$
</div>			