<div class="four columns centered">
	<h1>Demande d’inscription taxi</h1>
	<p>Allocab, sera très bientôt disponible pour les chauffeurs de Taxi. </p>
	<p>Vous pourrez ainsi gérez vos réservations et profiter des demandes issues de la plateforme directement depuis votre mobile. </p>
	<p>Pour être dans les premiers prévenus de l'ouverture de l'offre, veuillez saisir le formulaire ci-dessous.</p>
	$FORM_contacts/contact_add$
</div>