<style>
.cms .pUpChauffPrivee{
  font-size:17px;
  margin-bottom:0px;
}

</style>

<div class="cms">
<div class="twelve columns">
  <div class="row">
    <h1 class="text-center">Moto taxi</h1>
    <div class="four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns">
      <center><img ptr-id="3015" ptr-size="350" /></center>
      <p class="text-left pUpChauffPrivee">Le moto taxi est <strong>LE transport de personnes rapides</strong> par excellence en milieu urbain et périurbain.</p>
      <p class="pUpChauffPrivee">A <a href="/france/paris">Paris</a>, à <a href="/france/lille">Lille</a> et à <a href="/france/marseille">Marseille</a>, Allocab vous propose son service de moto taxi pour un <strong>trajet rapide</strong> vers la destination de votre choix.</p>
      <p class="pUpChauffPrivee">Rejoignez <strong>l'aéroport</strong>, la <strong>gare</strong> ou le <strong>centre-ville</strong> <a href="/moto-taxi/equipement-securite-taxi-moto">en tout sécurité</a> et maîtrisez votre temps de trajet avec le moto taxi.</p>
    </div>
  </div>
</div>
<hr style="margin:0"/>
<div class="twelve columns cms-second-row">
  <div class="six columns bordered">
    <h3>Transfert aux aéroports</h3>
      <center><img ptr-id="12011" ptr-size="484" /></center>
    <p>Les transferts depuis ou vers les aéroports n'ont jamais été aussi rapides ! <a href="/moto-taxi/transfert-aeroport-taxi-moto">En savoir plus sur les transferts aéroport en taxi moto</a></p>

  </div>
  <div class="six columns">
    <h3>Tarif moto taxi</h3>
    <center><img ptr-id="12" ptr-size="275" /></center>
    <p>Un tarif calculé selon la distance parcourue en toute transparence.<br/>Découvrez les tableaux explicatifs du <a href="/moto-taxi/tarif-taxi-moto-prix">tarif des taxis motos</a> de Paris ou de Province.</p>
  </div>
</div>
<hr style="margin:0"/>

<div class="twelve columns cms-second-row">
  <div class="six columns bordered">
    <h3>Avantages du moto taxi</h3>
    <center><img ptr-id="37061" ptr-size="512"  /></center>
    <p style="margin-top:1em;">Vous arrivez ainsi à l'heure sans vous soucier du trafic.<br/>Découvrir les <a href="/moto-taxi/avantages-taxi-moto">avantages du moto taxi</a>.</p>
  </div>
  <div class="six columns">
    <h3>La Honda Goldwing : référence du taxi moto</h3>
    <center><img ptr-id="15002" ptr-size="384" /></center>
    <p>La Honda Goldwing vous offre un trajet tout confort avec sa sellerie ergonomique qui vous permet de passer des trajets agréables. Vous vous sentirez en parfaite sécurité grâce à son airbag sur un 2 roues. <a href="/moto-taxi/maxi-scooter-goldwing">Retrouvez les spécificités de la Honda Goldwing en cliquant ici.</a></p>
  </div>
</div>
<div class="twelve columns cms-second-row">
  <hr style="margin:0"/>
  <div class="six columns bordered">
    <h3>Equipements de sécurité</h3>
    <div>
      <center><img ptr-id="11014" ptr-size="484" /></center>
    </div>
    <p>Un équipement complet et adapté aux conditions météorologiques. <a href="/moto-taxi/equipement-securite-taxi-moto">voir les équipements</a></p>
  </div>
  <div class="six columns">
    <h3>Règlementation</h3>
    <center><img ptr-id="157" ptr-size="384" /></center>
    <p>Un cadre juridique qui ne cesse de s'améliorer. <a href="/moto-taxi/reglementation-taxi-moto">Plus d'informations</a></p>
  </div>
</div>
<hr/>


</div>
