<div class="twelve columns"> 
	<h1 class="twelve columns">Paiement sécurisé</h1>
	<hr>
</div>


<div class="six columns">
	<h2>Sécurité des transactions</h2>
	<p>
		Pour la sécurité des transactions, Allocab a fait appel à la banque CIC, et PAYBOX leader du paiement sécurisé.
	</p>
	<p>
		Vos coordonnées bancaires sont cryptées sur votre ordinateur puis transmises de façon sécurisée à des serveurs d'autorisation où sont alors vérifiées vos données auprès de votre banque.
	</p>
	<p>
		Cette procédure est gérée par la technologie de cryptage SSL-128 bits, l'une des plus utilisées et des plus efficaces au monde. Lors des transferts via Internet, rien ne transite en clair sur le web.
	</p>
	<p>
		La procédure de paiement est simplifiée en sauvegardant vos données bancaires de façon sécurisée chez notre prestataire. Ces données sont exclusivement traitées par CIC - PAYBOX.
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="208014" ptr-size="300" />
</div>


<hr>

<div class="six columns">
	<img ptr-id="284009" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Débit de votre carte de paiement</h2>
	<p>
		Suite à votre commande, une demande d'autorisation de débit est envoyée dans un délai de 24 heures à votre banque. Le montant ne sera débité sur votre compte qu'après accord de celle-ci.
	</p>
	<p>
		Le débit sur votre compte sera effectué en fonction des règles appliquées à votre moyen de paiement (débit immédiat, différé, accord American Express…).
	</p>
</div>

<hr>

<div class="six columns">
	<h2>Moyens de paiement</h2>
	<p>
		Pour la France, Belgique, Angleterre, et Luxembourg, nous acceptons la Carte bleue, la Visa et la MasterCard.
	</p>
	<p>
		Nous ajouterons prochainement le support de l’American Express.
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="263017" ptr-size="300" />
</div>

<hr>

<div class="six columns">
	<img ptr-id="280009" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Paiement express</h2>
	<p>
		Pour votre confort, vous enregistrez vos données bancaires (numéro de carte, date de validité et cryptogramme) lors du paiement de votre commande.
	</p>
	<p>
		Lors de vos prochaines réservations, vous pourrez régler plus rapidement grâce à votre carte pré-enregistrée.
	</p>
	<p>
		Ces données sont conservées et traitées uniquement par PAYBOX - CIC, et vous pouvez à tout moment demander la suppression de vos coordonnées bancaires via votre compte personnel.
	</p>
</div>


<hr>

<div class="six columns">
	<h2>Protection des données personnelles</h2>
	<p>
		Toutes les informations fournies lors de vos visites sur allocab.com sont strictement confidentielles. Les informations que vous fournissez seront exclusivement utilisées par les services internes de allocab.com. En aucun cas vos coordonnées ne seront cédées, vendues ou louées à des tiers sans votre accord préalable autrement que pour réaliser une livraison ou pour répondre à une injonction des autorités légales.
	</p>
	<p>
		Vous pouvez, à tout moment, modifier vos données personnelles dans la rubrique Mon compte. N’oubliez pas d’enregistrer vos modifications.
	</p>
	<p>
		Notre fichier a fait l'objet d'une déclaration auprès de la CNIL (déclaration N° 1150860). Conformément à la loi Information et Liberté n° 78-17 du 6/01/1978, vous disposez d'un droit d'accès et de rectification auprès de allocab.com en envoyant un email à <a href="mailto:modifications@allocab.com">modifications@allocab.com</a>.
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="283007" ptr-size="300" />
</div>