<div class="nine columns centered">
	<h1>Relations presses et relations publics</h1>

					Virginie Noyon - Pietri Publicis<br/>
					virginie.noyon@pietri.pubconsultants.fr<br/>
					01 44 82 47 24 – 06 25 72 55 18<br/>
					<br/>
					Laura Asselineau-Merland - Pietri Publicis<br/>
					laura.asselineau@pietri.pubconsultants.fr<br/>
					01 44 82 45 43 - 06 31 90 64 32


					<h2>Dossier de presse</h2>																<table>																<tr>																<td style="width:70px">																<a target="_blank" href="https://docs.google.com/file/d/0B-r1ng5jEaEDcG9LS0VFZWlYRVU/edit?usp=sharing">[PTR]75060_64[/PTR]</a>																</td>																<td>												<br/>																<a target="_blank" href="https://docs.google.com/uc?export=download&id=0B-r1ng5jEaEDcG9LS0VFZWlYRVU">Dossier de presse Allocab 2013</a></td>																</tr>																</table>																																																<h2>Communiqués de presse</h2>																								 																<table>


 													<tr>
 														<td style="width:70px">													<a target="_blank" href="https://drive.google.com/file/d/0B-r1ng5jEaEDckY2Q3FHb1IydWM/edit?usp=sharing">[PTR]75060_64[/PTR]</a>
	 													</td>
	 													<td>
	 														<br/>
	 														<a target="_blank" href="https://drive.google.com/file/d/0B-r1ng5jEaEDckY2Q3FHb1IydWM/edit?usp=sharing">Allocab annonce la mise à disposition pour tous</a>
	 													</td>
	 													<td>
	 														<br/>
	 														30/10/2013
	 													</td>
 													</tr>

 													<tr>
 														<td style="width:70px">													<a target="_blank" href="https://drive.google.com/file/d/0B4_h1rc3smahT1NvM1RJNXRHNFU/edit?usp=sharing">[PTR]75060_64[/PTR]</a>
	 													</td>
	 													<td>
	 														<br/>
	 														<a target="_blank" href="https://drive.google.com/file/d/0B4_h1rc3smahT1NvM1RJNXRHNFU/edit?usp=sharing">Christophe Amalric, ancien de chez Snapcar, prend la tête du marketing chez Allocab</a>
	 													</td>
	 													<td>
	 														<br/>
	 														30/10/2013
	 													</td>
 													</tr>


 													<tr>
 														<td style="width:70px">													<a target="_blank" href="https://drive.google.com/file/d/0B4_h1rc3smahNXltWnVZLXlDRzQ/edit?usp=sharing">[PTR]75060_64[/PTR]</a>
	 													</td>
	 													<td>
	 														<br/>
	 														<a target="_blank" href="https://drive.google.com/file/d/0B4_h1rc3smahNXltWnVZLXlDRzQ/edit?usp=sharing">Le mouvement les Dodos : Le cri de ralliement des VTC français</a>
	 													</td>
	 													<td>
	 														<br/>
	 														18/10/2013
	 													</td>
 													</tr>


 													<tr>
 														<td style="width:70px">													<a target="_blank" href="https://drive.google.com/file/d/0B-r1ng5jEaEDakstbGR4ZktUeGM/edit?usp=sharing">[PTR]75060_64[/PTR]</a>
	 													</td>
	 													<td>
	 														<br/>
	 														<a target="_blank" href="https://drive.google.com/file/d/0B-r1ng5jEaEDakstbGR4ZktUeGM/edit?usp=sharing">Taxis vs VTC : je t’aime… moi non plus ?</a>
	 													</td>
	 													<td>
	 														<br/>
	 														17/10/2013
	 													</td>
 													</tr>



 													<tr>
 														<td style="width:70px">													<a target="_blank" href="https://drive.google.com/file/d/0B-r1ng5jEaEDbWc5OEwzVjdFT2c/edit?usp=sharing">[PTR]75060_64[/PTR]</a>
	 													</td>
	 													<td>
	 														<br/>
	 														<a target="_blank" href="https://drive.google.com/file/d/0B-r1ng5jEaEDbWc5OEwzVjdFT2c/edit?usp=sharing">Décryptage d’un buzz malin de la TV au web</a>
	 													</td>
	 													<td>
	 														<br/>
	 														11/10/2013
	 													</td>
 													</tr>





 													<tr>
 														<td style="width:70px">													<a target="_blank" href="https://docs.google.com/file/d/0B-r1ng5jEaEDSDZYUXdvU0JYY00/edit?usp=sharing">[PTR]75060_64[/PTR]</a>
	 													</td>
	 													<td>
	 														<br/>
	 														<a target="_blank" href="https://docs.google.com/file/d/0B-r1ng5jEaEDSDZYUXdvU0JYY00/edit?usp=sharing">
	 															Les 15 minutes de la discorde entre VTC et taxis : intérêt ou sabotage?</a>
	 													</td>
	 													<td>
	 														<br/>
	 														08/08/2013
	 													</td>
 													</tr>																																	<tr>																<td style="width:70px">																<a target="_blank" href="https://docs.google.com/file/d/0B-r1ng5jEaEDQThXMGJ1b1ZEc28/edit?usp=sharing">[PTR]75060_64[/PTR]</a>																</td>																<td>												<br/>																<a target="_blank" href="https://docs.google.com/uc?export=download&id=0B-r1ng5jEaEDQThXMGJ1b1ZEc28">Un nouveau design intelligent pour Allocab</a></td>																<td><br/>29/01/2013</td>																</tr>																</table>												<h2>Eléments graphiques</h2>																<table>																<tr>																<td rowspan="2" style="width:70px">												[PTR]82054_64[/PTR]																</td>																<td>												<a target="_blank" href="https://docs.google.com/uc?export=download&id=0Bx2WmTu2GXx8VEhfNkhjMEoxWjg">Basse résolution (142X142)</a>												</td>																</tr>												<tr>												<td><a target="_blank" href="https://docs.google.com/uc?export=download&id=0Bx2WmTu2GXx8U0dpTHZZaWs5MzA">Haute résolution (500x500)</a></td>												</tr>																</table><h2>Revue de presse</h2>

 												<h3>TV</h3>

 												<table>

 												<tr><td style="width:130px">[PTR]2016001_128[/PTR]</td><td>22/10/2013</td><td>BFM Business dans Paris est à vous</td><td><a target="_blank" href="http://www.bfmtv.com/video/bfmbusiness/paris-est-a/tendance-moment-marche-taxis-parisiens-paris-est-a-22-10-154006/">
 													La tendance du moment : le marché des taxis parisiens
 												</a></td></tr>

 												<tr><td style="width:130px">[PTR]2553015_128[/PTR]</td><td>13/10/2013</td><td>France 3, la voix est libre</td><td><a target="_blank" href="http://pluzz.francetv.fr/videos/la_voix_est_libre_ile_de_france_,cafe_LVEL_vanves_1_131019_987_19102013130556_F3.html">Débat sur le conflit taxi/VTC (19ème minute)</a></td></tr>


 												<tr><td style="width:130px">[PTR]2126030_128[/PTR]</td><td>28/09/2013</td><td>D8 dans Direct Auto</td><td><a target="_blank" href="http://www.d8.tv/d8-sport/pid5224-d8-direct-auto.html?vid=942621">Reportage sur le conflit taxi/VTC (23ème minute)</a></td></tr>


 												<tr><td style="width:130px">[PTR]2016001_128[/PTR]</td><td>14/08/2013</td><td>BFM Business dans Good Morning</td><td><a target="_blank" href="http://www.youtube.com/watch?v=jgrERPzRboU">Interview de Yanis Kiansky par Grégoire Favet sur les 15 minutes de délai entre la réservation et la prise en charge du client, vers un nouveau business model ?</a></td></tr>

 												</table>

 												<h3>Presse et magazine papier</h3>

 												<table>

 												<tr>
 												<td style="width:130px">[PTR]2018001_128[/PTR]</td><td>16/05/2013</td><td>01 net du 16 au 29 mai</td><td><a target="_blank" href="http://blog.allocab.com/2013/05/top-5-applications-VTC-paris.html">Les nouveaux taxis en ligne, enfin un service digne de ce nom !</a></td>
 												</tr>

 												</table>

 												<h3>Web</h3>

 												<table>


 												<tr>
 												<td style="width:130px">[PTR]5663082_128[/PTR]</td><td>28/11/2013</td><td>TourMag.com</td><td><a target="_blank" href="http://www.tourmag.com/AlloCab-com-debarque-a-Lille-_a63281.html">Allocab.com débarque à Lille !</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]2146007_128[/PTR]</td><td>28/11/2013</td><td>Déplacementspros.com</td><td><a target="_blank" href="http://www.deplacementspros.com/Allocab-arrive-a-Lille_a24585.html">Allocab arrive à Lille</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]5603092_128[/PTR]</td><td>28/11/2013</td><td>Quotidien du tourisme</td><td><a target="_blank" href="http://www.quotidiendutourisme.com/site/transport-allocab-propose-de-reserver-des-vehicules-avec-chauffeur-a-la-journee-75200.html">Allocab propose de réserver des véhicules avec chauffeur à la journée</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]3843001_128[/PTR]</td><td>20/11/2013</td><td>Maddyness</td><td><a target="_blank" href="http://www.maddyness.com/startup/conseils-dexperts/2013/11/20/dossier-comment-lever-la-tete-dun-marche-ultra-concurrentiel-par-yanis-kiansky-allocab/">Comment se différencier sur le marché ultra-concurrentiel des VTC? Rencontre avec Allocab</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]5603092_128[/PTR]</td><td>15/11/2013</td><td>Quotidien du tourisme</td><td><a target="_blank" href="http://www.quotidiendutourisme.com/site/transport-vtc-contre-taxis-allocab-ne-veut-pas-se-faire-prendre-de-vitesse-75577.html">VTC contre taxis : Allocab ne veut pas se faire prendre de vitesse</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]5763051_128[/PTR]</td><td>13/11/2013</td><td>L'ADN</td><td><a target="_blank" href="http://www.ladn.eu/actualites/agence,allocab-confie-expression,29,19078.html">Allocab confie ses RP à Expression</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]3833001_128[/PTR]</td><td>06/11/2013</td><td>Frenchweb</td><td><a target="_blank" href="http://frenchweb.fr/allocab-elargit-son-service-et-propose-la-mise-a-disposition-dun-chauffeur-a-la-journee">Allocab élargit son service et propose la mise à disposition d’un chauffeur à la journée</a></td>
 												</tr>


 												<tr>
 												<td style="width:130px">[PTR]3843001_128[/PTR]</td><td>31/10/2013</td><td>Maddyness</td><td><a target="_blank" href="http://www.maddyness.com/dossiers/2013/10/31/dossier-faut-il-soutenir-les-vtc-contre-les-taxis/">Taxis vs VTC : Comment en est-on arrivé là ?</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]3823001_128[/PTR]</td><td>26/10/2013</td><td>Wehicles.com</td><td><a target="_blank" href="http://wehicles.com/news/Paroles_de_professionnel_Allocab-1310263313.html">Paroles de professionnel : Allocab</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]2423012_128[/PTR]</td><td>19/10/2013</td><td>L'entreprise.com</td><td><a target="_blank" href="http://lentreprise.lexpress.fr/juridique/taxis-vs-vtc-le-quart-de-trop-des-dodos_43752.html">Taxis vs VTC: le quart d'heure de trop des Dodos</a></td>
 												</tr>


 												<tr>
 												<td style="width:130px">[PTR]2020001_128[/PTR]</td><td>19/10/2013</td><td>Blog Figaro de Yann Le Galès</td><td><a target="_blank" href="http://blog.lefigaro.fr/legales/2013/10/les-dodos-sunissent-contre-le-gouvernement-et-les-taxis.html">Les Dodos lancent une pétition contre le gouvernement et les taxis</a></td>
 												</tr>



 												<tr>
 												<td style="width:130px">[PTR]2553014_128[/PTR]</td><td>18/10/2013</td><td>le JDD</td><td><a target="_blank" href="http://www.lejdd.fr/Economie/Depeches/Les-taxis-prives-contre-le-gouvernement-634587">Les taxis privés contre le gouvernement</a></td>
 												</tr>



 												<tr>
 												<td style="width:130px">[PTR]2293001_128[/PTR]</td><td>18/10/2013</td><td>Europe 1.fr</td><td><a target="_blank" href="http://www.europe1.fr/Economie/Les-taxis-prives-contre-le-gouvernement-1679719/">Les taxis privés contre le gouvernement</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]2146007_128[/PTR]</td><td>16/10/2013</td><td>DéplacementsPros.com</td><td><a target="_blank" href="http://www.deplacementspros.com/Yanis-Kiansky-Allocab-Nous-sommes-formates-pour-repondre-aux-besoins-des-entreprises-en-matiere-de-VTC_a23816.html">Yanis Kiansky, Allocab : "Nous sommes formatés pour répondre aux besoins des entreprises en matière de VTC"</a></td>
 												</tr>

 												<tr>
 												<td style="width:130px">[PTR]2139009_128[/PTR]</td><td>14/10/2013</td><td>Haikusages</td><td><a target="_blank" href="http://haikusages.fr/destination-entreprendre-7-yanis-kiansky/">Destination entreprendre #7 : Yanis Kiansky</a></td>
 												</tr>


 												<tr>
 												<td style="width:130px">[PTR]2123058_128[/PTR]</td><td>02/10/2013</td><td>Nikopik</td><td><a target="_blank" href="http://www.nikopik.com/2013/10/les-taxis-sinsurgent-contre-la-concurrence-des-smartphones.html">Les taxis s&rsquo;insurgent contre la concurrence des smartphones</a></td>
 												</tr>

 												<tr><td style="width:130px">[PTR]2020001_128[/PTR]</td><td>07/09/2013</td><td>Blog Figaro de Yann Le Galès</td><td><a target="_blank" href="http://blog.lefigaro.fr/legales/2013/09/allocab-denonce-le-delai-de-15-minutes-impose-aux-vtc.html">Allocab dénonce le délai de 15 minutes imposé aux VTC</a></td></tr>


 												<tr><td style="width:130px">[PTR]2021001_128[/PTR]</td><td>26/08/2013</td><td>L’Echo Touristique</td><td><a target="_blank" href="http://www.lechotouristique.com/article/les-15-minutes-de-la-discorde-entre-vtc-et-taxis-interet-ou-sabotage,56547">Les 15 minutes de la discorde entre VTC et taxis : intérêt ou sabotage ?</a></td></tr><tr><td style="width:130px">[PTR]2019002_128[/PTR]</td><td>12/08/2013</td><td>Citizen Kane</td><td><a target="_blank" href="http://citizenkane.fr/voitures-de-tourisme-avec-chauffeur.html">Les voitures de tourisme avec chauffeur pénalisées en France</a></td></tr><tr><td style="width:130px">[PTR]2022001_128[/PTR]</td><td>15/03/2013</td><td>Business–actor.com</td><td><a target="_blank" href="http://www.business-actor.com/itw-yanis-kiansky-allocab/">[ITW] Yanis Kiansky, co-fondateur d’Allocab</a></td></tr><tr><td style="width:130px">[PTR]2020002_128[/PTR]</td><td>13/03/2013</td><td>CF News</td><td><a target="_blank" href="http://www.cfnews.net/L-actualite-toutes-les-rubriques/Les-Confidentiels-de-CFnews/Premier-tour-au-compteur-pour-Allocab-avec-156105">Premier tour au compteur pour Allocab</a> (espace abonné)</td></tr><tr><td style="width:130px">[PTR]2023001_128[/PTR]</td><td>23/02/2013</td><td>Itinéraire Bis</td><td><a target="_blank" href="http://www.itinerairebiscompany.com/allocab">Test et avis d’itinéraire bis sur Allocab</a></td></tr></table>																								</div>
