<h1 class="twelve columns">Standing et sécurité</h1>
<div class="six columns">
	[PTR]93014[/PTR]
												</div>

												<div class="six columns">
												<h2>Des chauffeurs professionnels</h2>

												<p>Tous les chauffeurs possèdent une accréditation délivrée par la Préfecture de Police de Paris ou la Préfecture de votre département.</p>

												<p>Ce sont des professionnels d’expérience qui sauront satisfaire à vos attentes.</p>

												</div>

												<div class="row"></div>

												<hr />



												<div class="six columns">
												<h2>Voitures haut de gamme</h2>

												<p>Lors de votre réservation, vous choisissez le véhicule que vous désirez parmi la gamme proposé.</p>

												<form action="/" method="GET">
												<center><input type="submit" class="Submit button round" value="Réservez votre voiture"/></center>
												</form>

												</div>

												<div class="six columns">
												[PTR]8011[/PTR]
												</div>

												<div class="row"></div>

												<hr/>



												<div class="six columns">
												[PTR]15002[/PTR]
												</div>

												<div class="six columns">

												<h2>Motos de prestige</h2>

												<p>En maxi scooter ou en moto grand tourisme doté d’un fauteuil confortable, vous choisissez le deux roues qui vous convient.</p>

												<form action="/" method="GET">
												<center><input type="submit" class="Submit button round" value="Réservez votre moto"/></center>
												</form>

												</div>
