<div class="twelve columns">
	<div class="row">
		<div class="twelve columns">
			<br />
			<h1>Espace Presse</h1>
		</div>
	</div>
	<div class="row">
		<div class="seven columns">
				<br />
				<p>
					Cet espace est dédié aux journalistes et professionnels de la communication qui souhaitent retrouver tous les moments forts d'Allocab.com, ses engagements et annonces de nouveaux services.
				</p>
				<p>
					N'hésitez pas à parcourir nos communiqués, notre revue de Presse ou à contacter notre agence de Presse pour toute demande d'interview ou d'information :
				</p>
				<p>
				<p>
				<strong>Virginie Noyon - Pietri Publicis</strong>
				<br/>
					<a href="mailto:virginie.noyon@pietri.pubconsultants.fr">virginie.noyon@pietri.pubconsultants.fr</a>
					<br/>
					<span style="color:black">01 44 82 47 24</span> –	<span>06 25 72 55 18</span>
					<br/>
					<br/>
				<strong>Laura Asselineau-Merland - Pietri Publicis</strong>
				<br/>
					<a href="mailto:laura.asselineau@pietri.pubconsultants.fr">laura.asselineau@pietri.pubconsultants.fr</a>
					<br/>
					<span>01 44 82 45 43</span> - <span>06 31 90 64 32</span>
				</p>
		</div>
		<div class="five columns">
			<h2>Allocab.com dans la Presse</h2>
			<img src="http://lh4.ggpht.com/Ef8Du2xRzhXod0_LgXeZ5jKkX4fJyi54-OeIiDzuioibYIL7nntclYrA8NS8V0GvYYGuEMl-TtBWZroGwV2-v-4=s600" />
		</div>
	</div>
	<div>
		$PRESSMODULE$
	</div>
</div>
