
<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">La qualité du 1er Réseau National de VTC</h1>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="six columns">
      <h2>La continuité géographique du service Allocab</h2>
      <p>Le Réseau de chauffeurs Allocab couvre aujourd'hui <strong>près de 30% de la population française .</strong></p>
      <p>Déjà implantée dans <a href="/zone-couverture-service-chauffeur">10 métropoles</a> (Paris, Lille, Lyon, Bordeaux, Nice, Cannes, Montpellier, Marseille, Nantes, Toulouse), la société Allocab propose une offre de services très diversifiée qui répond toujours mieux aux attentes de ses clients.</p>
      <p>Nos chauffeurs assurent <strong>l'accueil et le transport</strong> de notre clientèle particulière et professionnelle dans des véhicules <strong>haut de gamme</strong> sélectionnés avec soin.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/QjHVDYlcJLQ-Vnbu3xOEUHM1eJy7P4QruAxXnm-FABXGX3qeO6kcD2HqSVo9yg2PBEzCRPyphUNhLfNFsM4g=s600" alt="Des chauffeurs passionnés par leur métier" title="Des chauffeurs passionnés par leur métier"/>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh4.ggpht.com/nWBGxlAg8wHMyox5f7xRKcmhVvCVSlmwck2xG9LnLftDGfd1iCclmMvyEsBGJeoMotoe4ejT-3HeY_V3t-g2gwY=s600" alt="Un service haut de gamme pour des courses réussies en toutes circonstances" title="Un service haut de gamme pour des courses réussies en toutes circonstances"/>
    </div>
    <div class="six columns">
      <h2>Des chauffeurs de confiance</h2>
      <p>Nos chauffeurs sont équipés du <strong>GPS Waze</strong>, excellente application trafic qui leur permet de réussir leurs courses en toutes circonstances .</p>
      <p><strong>Ils respectent la réglementation en vigueur</strong> et possèdent tous la licence Atout France, assurance spécifique au transport de personne à titre onéreux. <a href="/chauffeur-prive-vtc/gamme-vehicules">Les véhicules</a> des chauffeurs du Réseau Allocab sont tous testés et approuvés par nos équipes .</p>
      <p>Allocab s'engage à offrir des services qui correspondent à sa <strong>charte qualité</strong> : nos chauffeurs sont tous testés sur leur conduite et les compétences qui font d'eux de très bons chauffeurs (langues parlées, souplesse de la conduite, courtoisie) .</p>
      <p>Les équipes Allocab s'assurent de la <strong>fiabilité</strong> des chauffeurs. Nous organisons régulièrement des sessions de formations d'une demi-journée permettant de leur rappeler les règles de bonne conduite à suivre et d'être à jour sur la réglementation du secteur du transport .</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <h2>Une équipe à votre écoute</h2>
      <p>Pour répondre au mieux à nos clients, nos équipes <strong>garantissent un accueil téléphonique</strong> et un <strong>service après-vente</strong> de grande qualité .</p>
      <p>Ces opérateurs sont disponibles du lundi au vendredi de 9h00 à 18h30 et le samedi de 9h00 à 17h00 et accessible au <strong>08 99 02 24 00 .</strong></p>
      <p>Pour assurer une <strong>entière satisfaction</strong> à nos clients, nous leurs permettons de noter les chauffeurs du réseau Allocab sur 4 critères qui sont les suivants :</p>
      <ul>
        <li><strong>Ponctualité</strong></li>
        <li><strong>Présentation</strong></li>
        <li><strong>Courtoisie</strong></li>
        <li><strong>Sécurité</strong></li>
      </ul>
      <p>Nous restons également <strong>à l'écoute</strong> des remarques et attentes de nos clients afin de développer notre offre en fonction de leurs besoins .</p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/v93dlt9HJGuA9-NIOgY7prD_o0W8lukz752TqtPa0isc9PS9x5hHI8BRGL7YNIoelMZXmXF21QWMQLij3kbQ=s600" alt="l'equipe Allocab" title="Une équipe à votre écoute pour répondre à toutes vos demandes"/>
    </div>
  </div>
</div>
