<br/>
<div class="three columns">
	<div class="row">
		<br/>
		<ul class="nav-bar vertical">
			<li><a href="/inscription-chauffeur-prive-vtc-taxi-moto">Inscription Chauffeur VTC</a></li>
			<li class="active"><a href="/services-moto-taxi-chauffeur-prive-vtc">Description des services</a></li>
		</ul>
	</div>
	<div class="row">
		<p>
			<center>
				<a href="https://itunes.apple.com/fr/app/allocab-driver-gestion-reservations/id513749571?mt=8" target="_blank"><img src="http://lh6.ggpht.com/4ToLFSx11tmXsaQ-BJUZMfXhjNRMlNzREmGkHcKqaBG1Htgb3qk3vlN-Avs1CFfpMRKD0qorNChpB3-MPIcaVV0=s256"></a>
			</center>
		</p>
		<p>
			<center>
				<a href="https://play.google.com/store/apps/details?id=com.allocab.allocabDriver&hl=fr" target="_blank"><img src="http://lh6.ggpht.com/eq3kLf2SmGZDa_sSXm_NAqNUtzvY75tWYGwbPRUM77Jqu8gpYeX2LxIl_pMcp7HQsdKG_mZeILEyUEZSXpTMDqw=s256"></a>
			</center>
		</p>
	</div>
</div>
<div class="nine columns">
	<div class="row">
		<div class="twelve columns">
			<p><h1>Allocab Driver : des services sur-mesures, pour vous accompagner dans votre activité</h1></p>
		</div>
	</div>
	<div class="row hide-for-small">
		<div class="twelve columns">
			<center><img src="http://lh5.ggpht.com/FdcbE2LT_mP-ehLZpE3vuWWQ9Lf8v34AI81lpPr19sFLafXAleI46OcT24ha76s0U2bRr2GapobRz5p8OohU=s800"></center>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]31014[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Comment devenir partenaire Allocab ?</h2>
			<p>1 - Inscrivez-vous avec une adresse email Gmail. Si vous n'en possédez pas, vous pouvez en créer une <a href="https://accounts.google.com/SignUp?hl=fr">en suivant ce lien.</a> Exemple : prenom.nom@gmail.com</p>
			<p>2 - Téléchargez TOUS les documents liés à votre activité sur Allocab.com</p>
			<p>Les inscriptions complètes recevront une invitation à une rencontre physique pour démarrer le partenariat et commencer à recevoir des courses rapidement.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>
				<img src="http://lh6.ggpht.com/f7j3LMsvXfowOMq9sgW6DoeHhamJN_69qI9joiZXoTHcoNpA6JHOgxstRINoZP9mxMYUNS26xhG3Y4OPVhgpVPo=s200" />
			</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Quelle voiture pour le chauffeur VTC</h2>
			<p>En tant que partenaire, vous êtes libre de conduire le véhicule de votre choix, selon les critères exigés par Atout France et selon 3 gammes de tarifs :</p>
			<p><b>Economique :</b> les véhicles acceptés sont Peugeot 508, Citroën C5 ou C6, Audi A4, Mercedes Classe C ou CLA, ou équivalent.</p>
			<p><b>Affaires :</b> les voitures acceptées sont Mercedes Classe E, Audi A6, BMW Série 5, Infinity Q50 ou équivalentes.</p>
			<p><b>Première :</b>  sont acceptés les véhicules très haut de gamme type Jaguar XJL, Mercedes Classe S, Audi A8, BMW Série 7, Tesla Model S ou équivalent.</p>
			<p><b>Van Economique :</b> sont acceptés les véhicules possédant 6 à 7 places, de type Mercedes Vito, Renault Trafic, Volkswagen Caravelle</p>
			<p><b>Van Affaires :</b> sont acceptés les véhicules possédant 6 à 7 places, de type Mercedes Viano, Classe V ou Volkswagen Combi.</p>
			<p><b>Moto :</b> La Honda Goldwing est principalement acceptée pour intégrer le réseau Allocab.com.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]40007_32[/PTR][PTR]40007_32[/PTR][PTR]40007_32[/PTR][PTR]40007_32[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>La qualité de service</h2>
			<p>Afin de maintenir la qualité de service irréprochable pour l’ensemble des clients, chaque chauffeur s'engage à respecter une charte de qualité et d’éthique.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]83[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Personnalisation des services que vous proposez</h2>
			<p>Vous indiquez les caractéristiques de votre véhicule, de la marque jusqu'à la couleur.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]29018[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Découvrez la géolocalisation</h2>
			<p>Vous êtes géolocalisé en temps réel grâce à votre smartphone. Vous pouvez activer ou désactiver par un simple clic la géolocalisation. Le système Allocab est ainsi capable de vous proposer des courses proches de votre position.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]40008[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Courses immédiates : comment ça marche ?</h2>
			<p>Les réservations immédiates sont des demandes pour un départ dès que possible auxquelles nous répondez en temps réel ! Vous gérez votre disponibilité par un simple bouton. Vous êtes prévenu d'une nouvelle demande par une notification sonore qur l'iPhone Allocab, et vous pouvez démarrer la prise en charge.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]35010[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Réservations à l’avance : comment ça marche ?</h2>
			<p>Les réservations à l’avance sont des réservations à plus de 8 heures, qui sont automatiquement ajoutées à votre agenda. Elles viennent combler les plages horaires vides pour optimiser vos trajets.<br/>Vous pouvez consultez votre agenda depuis l’application mobile Allocab Driver pour prendre connaissance des nouvelles courses qui vous ont été attribuées.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]32021[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Confirmations automatiques aux couleurs de votre marque</h2>
			<p>A chaque réservation, le client reçoit automatiquement un SMS et un e-mail de confirmation au couleur de votre société. Le nom de votre société apparaît dans le SMS. Le mail est désigné avec votre logo et votre charte graphique.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]2073[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Rappel de vos réservations par SMS</h2>
			<p>Une heure avant le début de votre réservation, vous recevrez automatiquement un SMS vous rappelant les détails de votre prochaine réservation. Ce SMS est essentiel en cas de contrôle aux abords d’une gare ou d’un aéroport. Il sert également de rappel de votre agenda, vous gardez ainsi le contrôle de votre temps.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]39009[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>La prise en charge du client</h2>
			<p>Lors de la prise en charge du client, vous déclenchez la facturation finale du client en quelques clics. Vous pouvez aussi réévaluer le prix pour ajouter une ristourne ou une pénalité de retard par exemple à l’arrivée.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="three mobile-one columns">
			<center>[PTR]33011[/PTR]</center>
		</div>
		<div class="nine mobile-four columns">
			<h2>Suivez votre activité au plus près</h2>
			<p>Grâce à votre tableau de bord, vous pouvez suivre et gérer votre activité. Vous connaissez en temps réel votre chiffre d’affaires, le nombre de courses effectuées, le nombre de courses transférées etc. Vous pouvez aussi consulter les notes de vos clients pour évaluer votre qualité de service.</p>
		</div>
	</div>
</div>
