<style>
  .tableBorderRowOrange{
    border-bottom: 0.1em solid #F90;
  }
  .tableBorderRowGreen{
    border-bottom: 0.1em solid #43AC6A;

  }

  .borderTableOrange{
    border:0.1em solid #F90;
    margin-bottom:0em;
  }
  .borderTableGreen{
    border:0.1em solid #43AC6A;
    padding-left: 0em;
    padding-right:0em;
  }
  .backgroundColorOrange{
    Background-color: #F90;
  }
  .backgroundColorGreen{
    Background-color: #43AC6A;
  }
  .row .littleBonhomme{
    margin-bottom:0.5em;
  }
  .row .marginBottomLittleCondition{
    margin-bottom:0.6em;
  }

  .row .titreListe{
    margin-bottom:1.5em;
  }

  .row .bigRowMarginBottom{
    margin-bottom:1.8em;
  }


  .orange{
    color:#F90;
    font-weight:bold;
  }
  /*.bigTitleOrange{
    font-size:2em;
    color:#F90;
    font-weight:bold;
  }*/
  .white{
    color:white;
  }

  .row .bigTittle{
  font-size:1.2em;
  font-weight:bold;
  margin-bottom:1.8em;
  }

  .row .littleTittle{
    font-size:1.1em;
    font-weight:bold;
    margin-bottom:1.2em;
  }

 .centeredRow{
   padding-left: 1.2em;
   padding-right: 1.2em;

 }
 .marginTopReservation{
   margin-top: 2.7em;
 }

 table{
   border-collapse:collapse;

 }
 .spacePageBegin{
   margin-top:1.5em;
 }
.fontGrey{
  color:grey;
}
.paddingLeftConditions{
  padding-left:1em;
}
.row .titleReservation{
  font-size:1.3em;
  margin-bottom:1em;
}
.tdBackgroundColorWhite{
  Background-color:white;
}

</style>


<div class="twelve columns spacePageBegin">
  <div class="">
    <div class="four columns marginTopReservation">
      <!-- ici Réservation-->
      <div class="row orange titleReservation">Votre chauffeur VTC sur-mesure</div>
      <div class="row">
        [WGT]new-fare|DIRECTION|moto|500[/WGT]
      </div>
    </div>
    <div class="seven columns offset-by-one">
      <div class="row bigTittle"> Les tarifs en Moto-taxi avec Allocab</div>
      <div class="row text-center littleTittle">Un devis sans surprise</div>

      <div class="row bigRowMarginBottom">
        <div class="two columns">
          <div class="row text- littleBonhomme"><img class="" src="http://lh5.ggpht.com/G6jb2G69GMAcZP1XxRQNiMNjcA9Qr4dwmWf350DeNKNe7D43ErBrHryxRqn2JTZsYdsJR9B8k7Rv6FU6qnh5=s384"></div>
          <div class="row text- littleBonhomme"><img class="" src="http://lh5.ggpht.com/G6jb2G69GMAcZP1XxRQNiMNjcA9Qr4dwmWf350DeNKNe7D43ErBrHryxRqn2JTZsYdsJR9B8k7Rv6FU6qnh5=s384"></div>
          <div class="row text- littleBonhomme"><img class="" src="http://lh5.ggpht.com/G6jb2G69GMAcZP1XxRQNiMNjcA9Qr4dwmWf350DeNKNe7D43ErBrHryxRqn2JTZsYdsJR9B8k7Rv6FU6qnh5=s384"></div>
        </div>

        <div class="ten columns">
          <ul>
            <li class="disc ">Un prix fixé à l'avance et un paiement en ligne sécurisé</li>
            <li class="disc ">Aucun frais supplémentaire (frais d'approche, passager supplémentaire, bagages en plus)</li>
            <li class="disc ">Possibilité d'annuler sa course gratuitement en cas d'annulation 2 heures à l'avance</li>
          </ul>
        </div>
      </div>
      <div class="row bigRowMarginBottom">
        <div class="">
          <div class="row littleTittle text-center">Grille tarifaire en Moto-taxi</div>
          <table class="borderTableOrange">
            <thead>
              <tr class="backgroundColorOrange">
                <th></th>
                <th class="white">Détails du prix</th>
                <th class="white">Moto Prestige</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tableBorderRowOrange">
                <td rowspan="3" class=" tdBackgroundColorWhite tableBorderRowOrange">Réservation à l'avance </td>
                <td class=" tdBackgroundColorWhite tableBorderRowOrange">Prise en charge</td>
                <td class=" tdBackgroundColorWhite text-center tableBorderRowOrange"><strong>30€</strong></td>
              </tr>
              <tr>
                <!--td></td-->
                <td class=" tdBackgroundColorWhite tableBorderRowOrange">Prix au km (€/km)</td>
                <td class="tdBackgroundColorWhite text-center tableBorderRowOrange"><strong>2€</strong></td>
              </tr>
              <tr>
                <!--td></td-->
                <td class="tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
                <td class="text-center tableBorderRowOrange"><strong>45€</strong></td>
              </tr>
              <tr class=" tdBackgroundColorWhite tableBorderRowOrange">
                <td rowspan="3" class="tdBackgroundColorWhite tableBorderRowOrange">Départ immédiat</td>
                <td class="tdBackgroundColorWhite tableBorderRowOrange">Prix au km (€/km)</td>
                <td class="tdBackgroundColorWhite text-center tableBorderRowOrange"><strong>2€</strong></td>
              </tr>
              <tr class="tableBorderRowOrange">
                <!--td></td-->
                <td>Tarif horaire (€/km)</td>
                <td class="tdBackgroundColorWhite text-center tableBorderRowOrange"><strong>1€</strong></td>
              </tr>
              <tr>
                <!--td></td-->
                <td class="tdBackgroundColorWhite tableBorderRowOrange">Prix minimum</td>
                <td class="tdBackgroundColorWhite text-center tableBorderRowOrange"><strong>25€</strong></td>
              </tr>
              <tr class="tableBorderRowOrange">
                <td class="tdBackgroundColorWhite">Attente en cas de départ à l'avance</td>
                <td class="tdBackgroundColorWhite">Attente offerte (en minute)</td>
                <td class="tdBackgroundColorWhite text-center">10 minutes</td>
              </tr>
              <tr class="tableBorderRowOrange">
                <td class="tdBackgroundColorWhite">Attente en cas de départ immédiat</td>
                <td class="tdBackgroundColorWhite">Attente offerte (en minute)</td>
                <td class="text-center tdBackgroundColorWhite">5 minutes</td>
              </tr>
            </tbody>
          </table>
          <div class="row paddingLeftConditions"><em>*Les tarifs peuvent changer en fonction des CGV de nos partenaires. TVA à 10% pour un transfert et 20% pour une mise à disposition</em>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bigRowMarginBottom">


    <div class="twelve columns">
      <div class="text-center littleTittle">Exemples de tarifs pour des itinéraires en Moto-taxi</div>
      <table class="borderTableGreen">
        <thead>
          <tr class="backgroundColorGreen">
            <th class="white text-center">Trajet</th>
            <th class="white text-center">Moto Prestige</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableBorderRowGreen">
            <td>Centre de Paris-Aéroport Orly</td>
            <td class="text-center">A partir de <strong>72€</strong></td>
          </tr>
          <tr class="tableBorderRowGreen">
            <td>Centre de Paris-Aéroport Roissy CDG</td>
            <td class="text-center">A partir de <strong>99€</strong></td>
          </tr>
          <tr class="tableBorderRowGreen">
            <td>Neuilly-Opéra</td>
            <td class="text-center">A partir de <strong>45€</strong></td>
          </tr>
          <tr class="tableBorderRowGreen">
            <td>Etoile-Gare de Lyon</td>
            <td class="text-center">A partir de <strong>45€</strong></td>
          </tr>
        <tbody>
      </table>
    </div>
    <!--div class="two columns"></div-->
  </div>

  <div class="row centeredRow bigRowMarginBottom">
    <div class="five columns">
      <div class="row text-center titreListe orange">Etape et Mise à Disposition</div>
      <div class="row">
        <div class="three columns"><!--Ici l'image--><div class="row"><img class="grosLogo" src="http://lh3.ggpht.com/-DVN1zTrep9xq6bAHSSXHB3YfrW6BHBR8Fvb37wfnKzltV_lTyLN7dqKicwgsWBCsQviQK4jbY8rAos3LrSX=s256"></div></div>
        <div class="nine columns">

          <div class="row">
            <ul class="disc">
              <li>Vous pouvez réserver votre Moto-taxi pour une heure, une journée ou plus!</li>
            </ul>
          </div>
          <div class="row">
            <ul class="disc">
              <li>Vous êtes pressé? Réservez un Moto-taxi pour rejoindre l'aéroport en toute sérénité!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="five columns offset-by-one">
    <div class="row text-center titreListe orange">Annulation gratuite</div>
    <div class="row">
        <div class="three columns"><!--Ici l'image--><div class="row"><img class="" src="http://lh6.ggpht.com/xPbcItLoWzxXLkkJN6mZrRDjz5osgQvVMTP8Ch6LcImJbvNroSZNbVk244kHt7vkBEECakUg8Oe37cQ40udm89g=s256"></div></div>
        <div class="nine columns">
          <div class="row">

            <ul class="disc">
              <li>L'annulation plus de 2h avant la course est gratuite</li>
            </ul>
          </div>
          <div class="row">
            <ul class="disc">
              <li>L'annulation moins d'une heure avant la course est remboursée de 20%</li>
            </ul>
          </div>
          <div class="row">
            <ul class="disc">
              <li>L'annulation faite entre une heure et 2 heures avant la course est remboursée à hauteur de 40%</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row centeredRow">
    <div class="text-center littleTittle">Découvrez les autres véhicules proposés par Allocab</div>
    <div class="three columns">
      <div class="row">
        <a href="http://www.allocab.com/tarif-berline"><img class="" src="http://lh3.ggpht.com/dfGeuyRXhunrlBHFdusLbTiorFEHbM0vw4NBdbhq2gbfAUBCO_0CkMpqi5UhabkQP3mrs8y-0xfke4lAAGtV=s256"></a>
      </div>
      <div class="row fontGrey">
        Un déplacement à venir? Besoin d'un transport fiable et de grande qualité pour un rendez-vous professionnel? <a href="http://www.allocab.com/tarif-berline">Découvrez les tarifs d'une berline</a>
      </div>
    </div>
    <div class="three columns offset-by-six">
      <div class="row">
        <a href="http://www.allocab.com/tarif-van"><img class="" src="http://lh5.ggpht.com/m-X-1pJOoWzNRNHhagBTpSIVlyjZo-xOe277L978m_XlN6_dsktq4IR0YKiyRTkPIdIg192REgYgTP8_JKSx=s256"></a>
      </div>
        <div class="row fontGrey">
          Un voyage en groupe, en famille? Une réunion à terminer avec vos collaborateurs? <a href="http://www.allocab.com/tarif-van">En savoir davantage sur les tarifs d'un van</a> avec chauffeur pour 7 à 8 personnes
        </div>
    </div>
  </div>

</div>
