<div class="twelve columns">
	<h1 class="text-center">Les prix en VTC et en taxi moto</h1>
<hr style="background:none repeat scroll 0% 0% transparent;"/>
	<div class="row">
		<div class=" four columns">
			[WGT]new-fare|DIRECTION|berline|500[/WGT]
		</div>
		<div class="eight columns ">
			<h2 class="text-center">Découvrez nos tarifs sans surprise</h2>
			<div class="row text-center">
				<img src="http://lh6.ggpht.com/V4Mcx76e9v_A0Lhk1MoFIjUPGTp8gpL3J32GtiQGKuc4Zy_X4tzd9-57JGgNkMDhdCV6qe3RO_pB5idyJHox=s256" title="gros plans sur les tarifs AlloCab" alt="gros plans sur les tarifs AlloCab">
			</div>
			<div class="row">
				<style>ul.driver-style li {font-size:18px;}</style>
				<ul class="driver-style">
					<li>Le prix est annoncé à la réservation</li>
					<li>L'approche de votre chauffeur n'est pas facturée</li>
					<li>Il n’y a pas de suppléments (passager supplémentaire, bagages…)</li>
					<li>Trouvez le prix de votre trajet en 1 clic avec notre formulaire de réservation</li>
				</ul>
			</div>
		</div>

	</div>
	<hr/>
	<div class="row">
		<div class="six columns">
			<img src="http://lh6.ggpht.com/x1C3YHpo4WaQjvUwMWx4fToq7Kgoq4o97aZ0aU7rIlfFGErsPqU4mUNJlSyJ8utoVnp-ZxXFgkK7OKp2qFFOIw=s289" alt="réservez un chauffeur VTC en berline dès 9€" title="réservez un chauffeur VTC en berline dès 9€"/>
		</div>
		<div class="six columns">
			<h2>Les tarifs en voiture avec chauffeur</h2>
			<p>Réservez votre voiture avec chauffeur en berline Eco, Affaires ou Première dès <strong>9€</strong> pour un départ immédiat et <strong>19€</strong> pour une réservation à l'avance.<br/><a href="/chauffeur-prive-vtc/prix-tarif-voiture-avec-chauffeur">Pour en savoir plus sur les tarifs berline, cliquez ici.</a></p>
		</div>
	</div>
	<hr/>
	<div class="row ">
		<div class="six columns">
			<h2>Les prix pour réserver votre VTC en van</h2>
			<p>
				Votre trajet en van dès <strong>15€</strong> en départ immédiat et <strong>35 €</strong> en réservation à l'avance. Retrouvez tous <a href="/chauffeur-prive-vtc/prix-tarif-van" >les tarifs de votre chauffeur privé en van ici.</a>
			</p>
		</div>
		<div class="six columns">
			<img src="http://lh5.ggpht.com/m-X-1pJOoWzNRNHhagBTpSIVlyjZo-xOe277L978m_XlN6_dsktq4IR0YKiyRTkPIdIg192REgYgTP8_JKSx=s310" title="Votre chauffeur privé en van dès 15€" alt="Votre chauffeur privé en van dès 15€"/>
		</div>
	</div>

	<hr/>

	<div class="row ">
		<div class="six columns">
			<img src="http://lh4.ggpht.com/ZMJpbLCXzapAplLzKqM9EddrJZU-N_y8Uu6ilv3K9IkEEHKEUm6dkLjxBL4ALcWjrGYlHAgrtKwj5eXTyIwp_A=s600" title="découvrez les trajets en moto-taxis dès 25€" alt="découvrez les trajets en moto-taxis dès 25€"/>
		</div>
		<div class="six columns">
			<h2>Un chauffeur privé en moto-taxi dès 45€</h2>
			<p>
				Déplacez-vous en moto-taxi avec un chauffeur Allocab dès <strong>45€</strong> en départ immédiat et pour un départ à l'avance.<br/><a href="/moto-taxi/tarif-taxi-moto-prix" >Retrouvez la grille de prix de votre chauffeur VTC moto-taxi.</a>
			</p>
		</div>
	</div>





</div>
