<div class="twelve columns">
	<h1>Test routing ok</h1>
	<p>Recharger la page doit amener à cette page</p>
</div>

<div class="twelve columns">
	<h1>Démo</h1>
	<hr/>
	<h2>Examples rapides de colonnage</h2>

	<p>
		<strong>Le nombre de colonnes est de 12.</strong>
		<br/>
		La class d'un élément à colonner correspond à 'n columns' où n est le nombre de colonnes en lettres.
	</p>
</div>

<!-- ici 6 * 2 cols -->
<div class="two columns">1</div>
<div class="two columns">2</div>
<div class="two columns">3</div>
<div class="two columns">4</div>
<div class="two columns">5</div>
<div class="two columns">6</div>
<!-- ici 6 * 2 cols -->


<div class="twelve columns">
	<h2>Mobile</h2>

	<p>
		Foundation3 n'est pas mobile-first, les classes de colonnage ci-dessus ne seront pas prises en compte sur les inerfaces mobiles.
		<br/>
		<strong>Le nombre de colonnes mobiles est de 4.</strong>
		<br/>		
		La class d'un élément à colonner en mobile correspond à 'mobile-n' où n est le nombre de colonnes en lettres.
	</p>
</div>