<div class="twelve columns"> 
	<h1 class="twelve columns">Transfert aux aéroports en moto taxi</h1>
	<hr>
</div>

<div class="six columns">
	<h2>Orly et Roissy à 30 minutes de Paris</h2>
	<p>
		Les aéroports se rapprochent de Paris grâce au moto taxi, avec un temps de trajet moyen de 30 minutes pour rejoindre <strong>Orly</strong> ou <strong>Roissy</strong> depuis Paris. Vous ne risquez plus d’être bloqué dans les bouchons durant vos <strong>transferts entre Paris et les aéroports</strong> !
	</p>
	<p>
		Avec le moto taxi, vous divisez par deux en moyenne votre temps de trajet pour vous rendre à l’aéroport. La durée de votre trajet est ainsi garantie !
	</p>
</div>

<div class="six columns omega">
	<img ptr-id="248020" ptr-size="300" />
</div>

<hr>
<div class="six columns">
	<img ptr-id="279006" ptr-size="300" />
</div>

<div class="six columns omega">
	<h2>Entre Paris et l’aéroport Orly (ORY)</h2>
	<p>
		Le temps de trajet en moto taxi entre Paris / Orly ou Orly / Paris est compris entre 20 et 30 minutes, pour un tarif d’environ 60 €.
	</p>
	<p>
		Orly, l’un des deux grands aéroports, est à 20 km au sud de Paris. La seule route ralliant Orly est l’autoroute A6, qui est toujours encombrée aux heures de pointes.
	</p>
</div>

<hr>


<div class="six columns">
	<h2>Entre Paris et l’aéroport Roissy Charles de Gaulle (CDG)</h2>
	<p>
		Le temps de trajet en moto taxi entre Paris / Roissy ou Roissy / Paris est compris entre 25 et 40 minutes, pour un tarif d’environ 80 €.
	</p>
	<p>
		Roissy, le deuxième grand aéroport parisien, est à 25 km au nord de Paris. Aux heures de pointes, l’autoroute A1 menant à Roissy est continuellement bouchée. Pour éviter de rester coincer, <strong>réservez dès maintenant votre moto taxi</strong>.
	</p>
	<a href="#" title="" class="button radius">Réservez votre moto taxi pour un transfert aéroport</a>
</div>

<div class="six columns omega">
	<img ptr-id="283008" ptr-size="300" />
</div>