<style>
.cms .maxHeightReservation{
	max-height:34em;
}

.cms .trPic{
		width:23em;
		height:17em;
}

.cms .trPic .redO{
	 position:relative; top:7em; left:8.6em; width:6.7em; height:2.5em;
	background-color: rgba(0,0,0,0.6);

	padding-top: 0.75em;
	text-align:center;
	font-size:1.5em;
	color: white;

}
.cms .trPic2{
			width:23em;
			height:15.5em;
}

.cms .imageVille img object embed {
	max-width:none;
}

.cms .trPic2 .redO2{
	/*position:relative; top:-7em; left:8.6em; width:6.7em; height:2.5em;
	background-color: rgba(0,0,0,0.6);

	padding-top: 0.75em;
	text-align:center;
	font-size:1.5em;
	color: white;
	position: absolute;
	*/
	display:block;
	position: relative;
		bottom: 4em;
		left: 7.6em;
		width:7.7em;
		height:3em;
	background-color: rgba(0,0,0,0.6);
	text-align:center;
	font-size:1.5em;
	color: white;
	padding-top:1em;
	padding-bottom:1em;
}

.cms .paragrapheImageParent{
	height:28em;
	width:45.5em;
}
.cms .paragrapheImageParent .paragrapheImage{
	position:relative;
		top:16em;
		/*width:50em;*/
		height:12em;
		background-color: rgba(0,0,0,0.6);
		color:white;
		padding-top: 1em;
padding-bottom: 1em;
padding-left: 2em;
padding-right: 2em;
}

.cms .trPic:hover .redO {
	color:yellow;
}
.cms .trPic2:hover .redO2 {
	color:yellow;
}


.cms input{
	width:25em;
}
.cms .testParaRelatif {
	position:relative;
	top:-10em;
	/*width:50em;*/
	height:10em;
	background-color: rgba(0,0,0,0.6);
	color:white;
	padding-right:1em;
	padding-left:1em;
	padding-bottom:1em;
	padding-top:1em;
}

.cms .testNomVille {
	display: block;
color: #FFF;
font-weight: bold;
text-align: center;
width: 250px;
height: 40px;
margin: -20px 0px 0px -125px;
padding: 0px;
overflow: hidden;
background-color: #000;
opacity: 0.8;
top: 50%;
left: 50%;
position: absolute;
}

</style>

<div class="twelve columns cms">

	<div class="row">
		<div class="twelve columns">
			<h1 class="text-center">Allocab, Premier Réseau National de VTC et moto taxi</h1>
		</div>
	</div>
	<hr style="background:none repeat scroll 0% 0% transparent;"/>

	<div class="row">
		<div class="maxHeightReservation four columns">
			[WGT]new-fare|DIRECTION|berline|500[/WGT]
		</div>
		<div class="eight columns ">
			<div class="paragrapheImageParent hide-for-small" style="background: url(http://lh3.ggpht.com/3nWFgeu374lrYLXaeBXdQAy73NYePXzkr5fSFVVIZDMMdWyNBly3gLsl70kkEc2sxLDZTn0NR3Ox5MuyQeR9=s650) no-repeat";>
				<div class="paragrapheImage">
					<p>
							Allocab couvre aujourd'hui plus de <strong>15 millions d'habitants et assure une continuité géographique</strong> de son service dans plus de <strong>12 grandes métropoles</strong> françaises.
					</p>
					<p>
						Votre <a href="/chauffeur-prive-vtc">chauffeur privé</a> vous accompagne dans tous vos trajets en van, berline et <a href="/moto-taxi">moto-taxi</a>. Il vous conduit à <strong>l'aéroport</strong> ou à <strong>la gare</strong> en toute sécurité. Profitez enfin d'un service de transport adapté à vos besoins!
					</p>
				</div>
			</div>
			<!--div>
				<img src="http://lh3.ggpht.com/3nWFgeu374lrYLXaeBXdQAy73NYePXzkr5fSFVVIZDMMdWyNBly3gLsl70kkEc2sxLDZTn0NR3Ox5MuyQeR9=s650">
				<div class="testParaRelatif">
					<p>
							Allocab couvre aujourd'hui plus de <strong>15 millions d'habitants et assure une continuité géographique</strong> de son service dans plus de <strong>10 grandes métropoles</strong> françaises.
					</p>
					<br/>
					<p>
						Votre chauffeur privé vous accompagne dans tous vos trajets en van, berline et <a href="/moto-taxi">moto-taxi</a>. Il vous conduit à <strong>l'aéroport</strong> ou à <strong>la gare</strong> en toute sécurité. Profitez enfin d'un service de transport adapté à vos besoins!
					</p>
				</div>
			</div-->

		</div>
	</div>
	<div class="">
		<div class=""><h2 style="margin-top:0;" class="text-center">Pour en savoir plus sur votre ville, cliquez sur l'image</h2></div>

		<div class="four columns" style="padding:0;">
			<a href="/france/paris">
				<div class="trPic2">
					<img  src="http://lh3.ggpht.com/3nWFgeu374lrYLXaeBXdQAy73NYePXzkr5fSFVVIZDMMdWyNBly3gLsl70kkEc2sxLDZTn0NR3Ox5MuyQeR9=s350" alt="Chauffeur privé Paris" title="Votre taxi privé à Paris">
					<span class="redO2">
						PARIS
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/lyon">
				<div class="trPic2">
					<img  src="http://lh5.ggpht.com/bWYKBGen7ZWfxyrXyGjcAcoz4Oe1cU3ljmypMJTH8vGWUUGOFS51050mzb-igiCrtKGx9gtZ-blm_7tPebSPxls=s350" alt="Chauffeur VTC à Lyon" title="AlloCab est à Lyon">
					<span class="redO2">
						LYON
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/lille">
				<div class="trPic2">
					<img  src="http://lh4.ggpht.com/erT8yDYzinV7Bi_kGILIp4cTiTb0CeNhlCd98o3QC7aczvjpcE29BAo6zcfvVwn91KEVXLhynDo-Zuuc6BVWcA=s350" alt="Chauffeur privé à Lille" title="Votre chauffeur personnel à Lille">
					<span class="redO2">
						LILLE
					</span>
				</div>
			</a>
		</div>
	</div>
	<div class="">
		<div class="four columns" style="padding:0;">
			<a href="/france/cannes">
				<div class="trPic2">
					<img  src="http://lh4.ggpht.com/wpZelo4rwzbpWkVEwvGjvvLb1C-TQeUkcuamN7MrLZ3t33oTGAWg3DK4xpsC1n58iwTfq-Ol3_gGo0PekHmhQA=s350" alt="VTC à Cannes" title="Vos déplacements en chauffeur privé à Cannes">
					<span class="redO2">
						CANNES
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/nice">
				<div class="trPic2">
					<img  src="http://lh3.ggpht.com/L-EHpfEWPeJC1AehB2eT-t6mSM2zGofOobEie6YtJwgry4aApigI7X11EHTF_B0WHlv8W5gtaj7ga7Qt0BITVQ=s350" alt="Chauffeur privé à Nice" title="AlloCab assure vos trajets à Nice">
					<span class="redO2">
						NICE
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/montpellier">
				<div class="trPic2">
					<img  src="http://lh3.ggpht.com/LCIc4193Lc85FYK_YQqwcNF3V6qPEdk8YgdUTfURFa-FL-G_ARpRD0g4d53uqNZ9kEoXZd0gLeK_qR-lOkMa5g=s350" alt="votre chauffeur à Montpellier" title="Votre chauffeur VTC à Montpellier">
					<span class="redO2">
						MONTPELLIER
					</span>
				</div>
			</a>
		</div>
	</div>
	<div class="">
		<div class="four columns" style="padding:0;">
			<a href="/france/toulouse">
				<div class="trPic2">
					<img  src="http://lh6.ggpht.com/XQgM2EI1rWSpNYY6e2DH_O9JOxS0rnQo3rDCEL1SCy7C88XK3KMSwEcFiM-Jy3b742aeJ-4-XUpszC6ai9heVuw=s350" alt="Taxi privé à Toulouse" title="Déplacez-vous en chauffeur VTC à Toulouse">
					<span class="redO2">
						TOULOUSE
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/marseille">
				<div class="trPic2">
					<img  src="http://lh3.ggpht.com/JyRs0cZtXOusirCaBVpbwQdTkUPbP4fcwC8rLmsiQmollxamxZCqOhEsNmzIWYuDev3yAmQt14Yrbv4q4UfR=s350" alt="chauffeur privé à Marseille" title="AlloCab offre un service de chauffeur privé à Marseille">
					<span class="redO2">
						MARSEILLE
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/bordeaux">
				<div class="trPic2">
					<img  src="http://lh5.ggpht.com/t0oUQA_RrZhXKGMW7n_f4XTjhP9Q8vSMzYfjSUjHkrH3Qw3_jFnBgK9DMtfQHr6a4HTFY7Hq0ALZla8es4h1Co0=s350" alt="Chauffeur VTC à Bordeaux" title="Réservez une voiture avec chauffeur à Bordeaux">
					<span class="redO2">
						BORDEAUX
					</span>
				</div>
			</a>
		</div>
	</div>

	<div class="">
		<div class="four columns" style="padding:0;">
			<a href="/france/toulon">
				<div class="trPic2">
					<img  src="http://lh5.ggpht.com/V1SCjqyZoHyFGFKx9yAgkAH-OFd91wrykFznPvVjFExwpxItP__XxcD7DY3_O2rJAS9DZ4xfoViDFOlV_xr7=s350" alt="Réservez un chauffeur privé à Toulon" title="Votre chauffeur privé assure vos trajets à Toulon">
					<span class="redO2">
						TOULON
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/nantes">
				<div class="trPic2">
					<img  src="http://lh6.ggpht.com/0i-SLPZ3mkakxtV7BQkRLm-0OhL4GbktxYaXaSoW2jbwEBcrTuEM30t60nrQrXWZfPV3YaTakTycFgfaPxmdHRg=s350" alt="chauffeur privé à Nantes" title="Réservez un chauffeur VTC à Nantes pour tous vos déplacements">
					<span class="redO2">
						NANTES
					</span>
				</div>
			</a>
		</div>
		<div class="four columns" style="padding:0;">
			<a href="/france/rennes">
				<div class="trPic2">
					<img  src="http://lh6.ggpht.com/z4Z9dFvrkBQSTjoZnrg9Cd96Srf1efQxkHfukuA6De3t6_LvZXXU9XW_AOwlMZqL1xg7E-21T5_6eZmbTg_yhA=s350" alt="Votre chauffeur VTC AlloCab à Rennes" title="Votre chauffeur personnel est à Rennes">
					<span class="redO2">
						RENNES
					</span>
				</div>
			</a>
		</div>
	</div>



</div>
