<style>
  .blueLink a {
    color: #5da9e0;
  }

  .blueLink {
    color: #5da9e0;
  }

  .marginImg {
    margin-bottom: 2em;
    margin-top: 6em;
  }

  .fau .rappel {
    margin-top: 0;
  }

  .fau-background {
    padding: 20px;
    color: white;
    background: url('//storage.googleapis.com/allocab-cdn-files/psa-background-dark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .fau p {
    font-size: 1.3em;
  }

  .fau ul {
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .fau li {
    font-size: 1.1em;
    margin-bottom: 12px;
  }

  .fau .astuce {
    margin-top: 88px;
    margin-bottom: 40px;
  }

  .fau .astuce p {
    color: #f90;
    margin-bottom: 5px;
  }
</style>

<div id="home-main" class="twelve columns">
  <div class="row">
  
    <div class="show-for-small" style="margin-top:10px;margin-bottom:20px">
      <div class="mobile-four">
        <center>
          <img src="//storage.googleapis.com/allocab-cdn-files/faurecia.png">
        </center>
      </div>
      <div class="row"> </div>
    </div>

    <div class="four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>

    <div class="eight columns fau fau-background hide-for-small">
      
      <p> Allocab assure <strong>tous vos déplacements professionnels à partir de 9€.</strong> Ponctualité et courtoisie, laissez-vous transporter par votre chauffeur Allocab.*</p>

      <p class="blueLink"> <a class="blueLink" href="//storage.googleapis.com/allocab-cdn-files/Guide%20utilisateur%20Faurecia_FR.compressed.pdf">*Pour télécharger le guide utilisateur de Faurecia, merci de cliquez ici.</a> </p>
      
      <p class="blueLink centerContent"> <a class="blueLink" href="//storage.googleapis.com/allocab-cdn-files/Guide%20utilisateur%20Faurecia_EN.compressed.pdf">*Click here to download our english user guide.</a> </p>

      <div class="astuce">
        <p><strong>Astuce Allocab :</strong> Pensez à réserver le plus tôt possible pour assurer la disponibilité d’un chauffeur...</p>
        <p>L’annulation est gratuite jusqu’à 2 heures avant l’heure de prise en charge...</p>
      </div>

    </div><!-- eight columns -->
  </div><!-- row -->
</div><!-- twelve columns -->
