<style>
  .blueLink a {
    color: #5da9e0;
  }

  .blueLink {
    color: #5da9e0;
  }

  .centerContent {
    text-align: center;
  }

  .marginImg {
    margin-bottom: 2em;
    margin-top: 6em;
  }

  .psa .rappel {
    margin-top: 0;
  }

  .psa-background {
    margin-top: -20px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    background: url('//storage.googleapis.com/allocab-cdn-files/psa-background-dark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .psa p {
    font-size: 1.4em;
    margin-bottom: 30px;
    text-align: center;
  }

  .psa ul {
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .psa li {
    font-size: 1.1em;
    margin-bottom: 12px;
  }

  .psa .astuce {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .psa .astuce p {
    color: #f90;
    margin-bottom: 5px;
  }
</style>

<div id="home-main" class="twelve columns">
  <div class="row">
    <div class="show-for-small" style="margin-top:10px;margin-bottom:20px">
      <div class="mobile-four">
        <center>
          <img src="https://lh6.ggpht.com/-8GJJBeWxXK4L0H2p4CcWHy8x60HeQELWGiaIkdCDQ4eWM3zHRp1dmkpA26oK1HJtcHwykMXSRyyCQPLlydTrw=s256" />
        </center>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>

    <div class="eight columns psa">
      <h3 class="rappel">Avant de réserver votre Allocab pour votre déplacement professionnel, voici un petit rappel de la politique du Groupe :</h3>

      <ul>
        <li>Les déplacements sont <strong>limités au strict nécessaire</strong></li>
        <li>L’utilisation des VTC <strong>entre 7h et 20h n’est pas autorisée</strong> lorsqu’il existe une solution de transports en commun</li>
        <li>L'utilisation du VTC doit être strictement <strong>réservée à des déplacements en agglomération et sur des trajets ville/aéroport/gare</strong> pour lesquels les transports en commun ou les transports organisés par la Société ne conviennent pas pour raison d’horaire ou de trop grande complexité</li>
        <li>Avant tout déplacement et tout engagement de frais, <strong>un ordre de mission doit être établi dans TRM et validé</strong> par le manager</li>
        <li>Pour <strong>vos voyages personnels</strong>, vous pouvez également utiliser Allocab et bénéficier des tarifs négociés</li>
        <li>Votre facture vous sera directement envoyée par email</li>
      </ul>
    </div>

  </div>
</div>

<div class="twelve columns psa psa-background">
          
  <p> Allocab assure <strong>tous vos déplacements professionnels à partir de 9€.</strong> Ponctualité et courtoisie, laissez-vous transporter par le votre chauffeur Allocab.*</p>
  
  <p class="blueLink centerContent"> <a class="blueLink" href="https://storage.googleapis.com/allocab-cdn-files/Guide%20utilisateur%20PSA.pdf">*Pour télécharger le guide utilisateur et connaître la politique de transport PSA, cliquez ici.</a> </p>

  <div class="astuce">
    <p><strong>Astuce Allocab :</strong> Pensez à réserver le plus tôt possible pour assurer la disponibilité d’un chauffeur...</p>
    <p>L’annulation est gratuite jusqu’à 2 heures avant l’heure de prise en charge...</p>
  </div>

</div>
