<div id="home-main" class="twelve columns">
    <div class="row">
        <div class="show-for-small" style="margin-top:10px;margin-bottom:10px">
            <div class="mobile-one" style="padding-right:0">
                <img src="http://lh4.ggpht.com/pkSIehOKxqW8Ms6TSJeZXt7PZ8E_Ur425uaFQbqN_K-1jeMToiMPJA3MzPKDA0dsEBbkoYOUOqDnYakmJfO0Huk=s64"/>
            </div>
            <div class="mobile-three" style="padding-left:0px;padding-top:5px">
                <h1 style="font-size:15px;text-align:left;font-weight:400">Trouvez votre chauffeur sur-mesure</h1>
            </div>
            <div class="row">
                <br/>
            </div>
        </div>  
        <div class="four columns">
            [WGT]new-fare|DIRECTION|berline|500[/WGT]
        </div>
        <div class="eight columns hide-for-small">
            <div id="slideshow">
                <div style='background:#ffffff;padding-top:2em'>
                    <div class="row">
                        <div class="two columns">
                        </div>
                        <div class="eight columns">
                            [PTR]2923014_630[/PTR]
                        </div>
                        <div class="two columns">
                        </div>        
                    </div>              
                        <h1><center>Réservez votre chauffeur en quelques clics.</center></h1>
                    </div>
                    <div style='background:#ffffff'>
                        <h1>Le <strong style="font-weight:400">luxe</strong><br/>en van, berline ou moto taxi</h1>
                        <center>[PTR]72001_630[/PTR]</center>
                        <div class="four columns">
                            <center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
                        </div>
                        <div class="four columns">
                            <center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
                        </div>
                        <div class="four columns">
                            <center><a href="/moto-taxi/tarif-taxi-moto-prix">En savoir plus...</a></center>
                        </div>
                    </div>
                    <div style='background:#ffffff'>
                        <h1>Des <strong style="font-weight:400">économies</strong><br/>en van, berline ou moto taxi</h1>
                        <center>[PTR]73001_630[/PTR]</center> 
                        <div class="four columns">
                            <center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
                        </div>
                        <div class="four columns">
                            <center><a href="/tarif-prix-moto-taxi-chauffeur-prive">En savoir plus...</a></center>
                        </div>
                        <div class="four columns">
                            <center><a href="/moto-taxi/tarif-taxi-moto-prix">En savoir plus...</a></center>
                        </div>
                    </div>
                    <div style='background:#ffffff'>
                        <h1>Réserver votre chauffeur<br/>n'a jamais été aussi simple</h1>
                        <br/>
                        <br/>
                        <div class="row price-eg">
                            <div class="one columns">
                            </div>
                            <div class="two columns">
                                [PTR]7[/PTR] <p>Saisissez les informations de votre course</p>
                            </div>
                            <div class="two columns arrow">
                                [PTR]3004[/PTR]
                            </div>
                            <div class="two columns">
                                [PTR]13009[/PTR] <p>Allocab trouve votre chauffeur</p>
                            </div>
                            <div class="two columns arrow">
                                [PTR]3004[/PTR]
                            </div>
                            <div class="two columns"> 
                                [PTR]4006[/PTR] <p>Validez votre paiement et votre chauffeur est réservé</p>
                            </div>
                            <div class="one columns"> 
                            </div> 
                        </div> 
                    </div>  
                </div> 
            </div> 
        </div>
    </div>