<div id="home-main" class="twelve columns">
	<div class="row">
		<div class="five columns">
			<br/>
			[WGT]new-fare|PERIOD|berline|500[/WGT]
		</div>
		<div class="seven columns">
			<div class="row">
				<div class="twelve columns">
					<h3>Votre chauffeur VTC pour le Festival de Cannes</h3>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<img src="http://lh5.ggpht.com/Nu866clqEdYeC1dQV4X1s7bNFKN70-AMIGBJvf6rkWYn6zRBf1R0J4uDwbH-Erb0bjwKOmIB5yz7IkC51rF7Vw=s700" alt="Bénéficiez des service d’un chauffeur VTC Allocab pour le Festival de Cannes" title="Bénéficiez des service d’un chauffeur VTC Allocab pour le Festival de Cannes"/>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<br/>
					<p>Chaque année, Cannes devient le <b>centre du monde cinématographique</b>, et vous convie à 12 jours de rêve, où <b>élégance et raffinement</b> se mêlent pour votre plus grand plaisir. Vous pouvez <b><a href="http://www.allocab.com/">réserver votre chauffeur VTC avec Allocab.com</a></b> et profiter de l'ambiance glamour et chic du Festival de Cannes !</p>
					<p>Vous pouvez réserver votre chauffeur pour quelques heures : découvrir la croisette et les boutiques qui font le charme de Cannes à l'heure du 7e art. Faites le choix du sur-mesure sans compromis : profitez de la location <b>d'un chauffeur privé pour une semaine</b> ou pour <b>toute la durée du Festival</b> (12 jours).</p>
					<p>En plein coeur de la région Provence - Alpes - Côte d'Azur, votre chauffeur vous accueille dans un véhicule de standing et vous déposera aux pieds du Palais des Festivals et des Congrès <b>pour fêter le 67e Festival de Cannes</b>. Montez les marches, le rêve ne fait que commencer...</p>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="six columns">
			<h3>Un chauffeur privé pour une semaine d'élégance et de raffinement</h3>
			<p>Profitez d'un séjour sans limites. Depuis le célèbre "<i>tapis rouge</i>" et ses vingt-quatre "<i>marches de la gloire</i>", votre chauffeur vous attendra le temps nécessaire pour profiter du Festival.</p>
			<p>Vous êtes professionnel(le) ou simplement cinéphile ? Votre chauffeur est <b>à votre disposition</b> pour répondre à vos attentes et vous apporter toute l'information dont vous avez besoin pour vivre votre Festival dans les meilleurs conditions.</p>
		</div>
		<div class="six columns">
			<img src="http://lh6.ggpht.com/95foh0JU8N1mQ3sPx3NcwBORcKX1dRB8eweIuTkDEfMXlfujiF4sag9e-6W52TUBthMwPmAP2O2_tF_c1W0zop8=s600" alt="Montez les marches du Festival de Cannes" title="Montez les marches du Festival de Cannes"/>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="five columns">
			<img src="http://lh6.ggpht.com/HCNVvdd_v6LoavVwgqEp-7aSTjy6bB_Qb6f1mr0MAaQJFVHkalxbaczkVzc94UFC5GqjUlSsAX017y8taz8s=s600" alt="Votre chauffeur VTC pour une expérience unique à Cannes" title="Votre chauffeur VTC pour une expérience unique à Cannes"/>
		</div>
		<div class="seven columns">
			<h3>Votre chauffeur personnel : une expérience unique dès votre arrivée à l'aéroport</h3>
			<p>Votre chauffeur VTC vient vous chercher à l'aéroport, vous ouvre la porte et s'occupera de vos bagages, vous transportera par exemple de <b>votre hôtel à la prochaine projection</b>, de <b>vos boutiques préférées à la plage</b>.</p>
			<p>Il est dédié à votre satisfaction et se déplacera au gré de vos envies. Vous savez que vous pourrez compter sur votre chauffeur particulier pour vous apporter une expérience de très grande qualité.</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="six columns">
			<h3>Pour le meilleur</h3>
			<p>La ville de Cannes est renommée pour être un lieu hautement touristique et à fréquentation internationale.</p>
			<p>Votre chauffeur vous propose des recommandations de lieux secrets où calme, discrétion et raffinement seront réunis pour vous permettre de profiter de Cannes en toute quiétude et volupté.</p>
		</div>
		<div class="six columns">
			<img src="http://lh5.ggpht.com/tpNkhjdtZIXgYNooSaZJeeZqF85xSS3BmisvZBR97UBxBI13OFX87edSYpd5mGIXj8akoG1XRmzgSp2-tQQ=s700" alt="Un chauffeur privé à Cannes pour un séjour exceptionnel" title="Un chauffeur privé à Cannes pour un séjour exceptionnel"/>
		</div>
	</div>
</div>
