<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Bordeaux, votre chauffeur privé vous attend déjà !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/eMLE8u8Ej-fLq1tw7wJbc4BG0JugUullIpjBV62nef-_rAS3oYejVGl34sh5w2QU1wNfjGWYDoPm1Wb_vrWzfr8=s650" alt="Déplacez-vous en chauffeur VTC à Bordeaux " title="Votre chauffeur privé est à Bordeaux">
                        <figcaption class="figcptn">Votre chauffeur privé vous conduit à Bordeaux dès 9 € en réservation immédiate</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/sqLd2J6jAWR_ENHDzW7Nug3fHKdmc2UIZ_W_wb21t2ClXWXNYIzkZpJZ-6LSEMyHltwvQgQ-f1w4K5r8gXzehyU=s650" alt="Rejoignez l'aéroport de Bordeaux en chauffeur VTC" title="Vos trajets aéroport de Bordeaux en voiture avec chauffeur">
                        <figcaption class="figcptn">Vos trajets pour l'aéroport de Bordeaux dès 49 € en berline eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/GdSzTZOAcJ5inmovcEOuRyV41Z_n9gZgoaIaEHVf0t0vMfxkc6XN2MiFgsPB4LekkAg424UjagiEBsjsUnNa5ws=s650" alt="Votre chauffeur vous accompagne à la gare de Bordeaux" title="Vos trajets vers la gare de Bordeaux en chauffeur privé">
                        <figcaption class="figcptn">Rejoignez la gare de Bordeaux en voiture avec chauffeur à partir de 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur privé pour un séjour Bordelais haut de gamme !</h2>
      <p>Votre chauffeur privé vous conduit dans la ville de Bordeaux <strong>dès 9 €</strong> pour une réservation immédiate et <strong>dès 19 €</strong> en cas de réservation à l'avance.</p>
      <p>Vous voyagez en groupe ? <strong>Le van</strong> sera votre moyen de transport idéal. Pour des trajets courts tout confort optez pour un chauffeur VTC en <strong>berline.</strong></p>
      <p>Votre chauffeur privé propose des <strong>trajets aéroport</strong> dès <strong>49 €.</strong></p>
      <p> Notre service de voiture avec chauffeur <a href="/chauffeur-prive-vtc/difference-taxi">va bien au delà d'un simple service de taxi</a> : vous saurez apprécier les petits plus des VTC (rafraîchissement, presse, siège en cuir etc).</p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/RUazUZ4T4veSX4KhNVQEYoBvU1H3U6G5GWmq8NyaFQ31jrbB9vJvTT9ARCzqVD5H9VYgksT1wP0frsHmdcEAlE0=s600" alt="Découvrez les plus beaux monuments bordelais avec votre chauffeur privé Allocab !" title="Découvrez les plus beaux monuments bordelais avec votre chauffeur privé Allocab !"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img style="padding-top: 2em;"src="http://lh3.ggpht.com/sqLd2J6jAWR_ENHDzW7Nug3fHKdmc2UIZ_W_wb21t2ClXWXNYIzkZpJZ-6LSEMyHltwvQgQ-f1w4K5r8gXzehyU=s650" alt="Réservez sans attendre votre chauffeur personnel dès votre arrivée à l’aéroport de Bordeaux" title="Réservez sans attendre votre chauffeur personnel dès votre arrivée à l’aéroport de Bordeaux"/>
    </div>
    <div class="six columns">
      <h2>Votre chauffeur VTC pour vos trajets aéroport</h2>
      <p>Votre chauffeur Allocab assure des <strong>trajets aéroport</strong> à <strong>partir de 49 €.</strong></p>
      <p>Amateur de vin <strong>en escale bordelaise</strong> ? Votre chauffeur VTC vous attend à l'aéroport de Bordeaux <strong>muni d'une pancarte de bienvenue à votre nom</strong> et prend soin de porter vos bagages.</p>
      <p><a href="/voyage-affaires-entreprise">Les voyageurs d'affaires</a> à la recherche d'un transport de qualité apprécieront notre service de transport pour les conduire à leurs réunions et congrès en toute tranquilité.</p>
      <p>Les vacanciers prendront plaisir à se laisser guider par leur chauffeur privé pour découvrir les <strong>grands circuits des vignobles</strong> et les <strong>meilleures caves bordelaises.</strong> </p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Choisissez Allocab pour vos transferts gare</h2>
      <p>Rejoignez la gare de Bordeaux en voiture avec chauffeur Classe Eco à partir de <strong>19 €.</strong></p>
      <p>Si vous arrivez directement de la gare Saint-Jean, votre chauffeur privé vient vous chercher et vous attend <strong>en tête de quai</strong> avec une pancarte de bienvenue à votre nom.</p>
      <p>N'attendez plus pour réserver votre chauffeur VTC en 3 clics !</p>
    </div>
    <div class="six columns">
      <img src="http://lh3.ggpht.com/OlSHKxZI4-yzzklKgHDAQRZ6Ck99Ve47HBPS2q0gcM6td03NRhjJeyHYv3kGtJXQcN5fthA3s5jHtt5od4RuRw=s600" alt="votre chauffeur VTC vous accueille dès votre arrivée à la gare de Bordeaux" title="votre chauffeur VTC vous accueille dès votre arrivée à la gare de Bordeaux"/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh4.ggpht.com/HmN9YJnxoST5pnzGpJZozXuqjl56YpEaL0nX8q19nGll5WjUC1PcN0OWrszwltfyEG52yAkLLznCG1s_A1YO=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Tous vos trajets dans Bordeaux en VTC</h2>
      <p>Vous pouvez réserver un chauffeur privé dès <strong>9 €</strong> pour vos déplacements en départ immédiat dans la ville de Bordeaux.</p>
      <p>Si vous êtes en <strong>voyage touristique,</strong> profitez de l'accompagnement de votre chauffeur VTC pour visister tous les recoins de la <em>Belle Endormie</em>.</p>
      <p>En berline ou en van, Allocab vous assure un <strong>trajet de grande qualité.</strong> </p>
    </div>
  </div>
  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>

  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class="twitter-timeline" href="https://twitter.com/Allocab_BDX" data-widget-id="498743331405307904">Tweets de @Allocab_BDX</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
