<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Cannes, votre chauffeur privé vous attend déjà !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/PgXbph_Zp7jP_KLMPLVOfw3an32VEDdUn9L2CRi3YL6zM0pOCk1bYo4f0baHz_ydkPmqEClDuN4dFdbeBqUv6OM=s650" alt="chauffeur VTC à cannes" title="Votre chauffeur privé est désormais à Cannes">
                        <figcaption class="figcptn">Votre chauffeur VTC vous conduit à Cannes dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/YSQwmXEc2H_kGZ02pHdsOr2oR5TfKwyQOwJ7mc5vOBZCFeRujkwK113eprJMjeg65Aag8Y1NdEv9tua8TDjzyA=s650" alt="Trajets aéroport en chauffeur VTC" title="Vos trajets vers l'aéroport en chauffeur privé">
                        <figcaption class="figcptn">Vos trajets aéroport de Cannes dès 29 € en berline Classe Eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/4bdUUWUSPyXwq04irKZiI-Bu4wXdyV2ovouggMfRq7v4t1KNzP9Ok7yicG-BA878tuBHbWEvJbNb5nWDlhmWGA=s650" alt="votre chauffeur VTC à la gare de Cannes" title="Rejoignez la gare de Cannes en voiture avec chauffeur">
                        <figcaption class="figcptn">Votre chauffeur privé vous conduit à la gare Cannes la Bocca à partir de 29 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Allocab vous accompagne à Cannes !</h2>
      <p>Profitez de nos services de chauffeur VTC pour vos trajets dans Cannes <strong>dès 19€</strong> en <strong>départ immédiat</strong> et à partir de <strong>29 €</strong> en <strong>réservation à l'avance.</strong></p>
      <p>Si vous cherchez un transport tout confort, préférez la berline. Vous voyagez en groupe ? Optez pour le van.</p>
      <p>Votre voiture avec chauffeur assure les courses vers et depuis <strong>l'aéroport de Cannes Mandelieu</strong> à partir de <strong>29 €.</strong></p>
      <p>Que vous soyez cannois,  <a href="/voyage-affaires-entreprise">voyageur d'affaires</a> ou toursite, saurez apprécier les services supplémentaires qu'offrent <a href="/chauffeur-prive-vtc/difference-taxi">les VTC comparés aux taxis.</a></p>
    </div>
    <div class="six columns">
      <img src="http://lh3.ggpht.com/MzDowu44zafJ2hZCqZVcA5KQS318z1hxx56s04vQKqFm4RL6pfx-4X73WxuYXEtLx7a4gDqGr3HZeZ5n8zG60g=s600" alt="Votre chauffeur assure vos déplacements à Cannes" title="Votre chauffeur assure vos déplacements à Cannes"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img style="margin-top: 1em;" src="http://lh5.ggpht.com/YSQwmXEc2H_kGZ02pHdsOr2oR5TfKwyQOwJ7mc5vOBZCFeRujkwK113eprJMjeg65Aag8Y1NdEv9tua8TDjzyA=s600" alt="Vos trajets aéroport avec votre chauffeur privé" title="Vos trajets aéroport avec votre chauffeur privé"/>
    </div>
    <div class="six columns">
      <h2>Votre VTC gère vos transferts aéroport</h2>
      <p>Vous arrivez directement à <strong>l'aéroport de Cannes</strong> ou souhaitez <strong>rejoindre le centre ville</strong> depuis l'aéroport ? Votre chauffeur privé assure vos transferts à partir de <strong>29 € en Classe Eco.</strong></p>
      <p>Vous êtes plutôt branché Première Classe ? Réservez un chauffeur privé pour votre trajet <strong>centre de Cannes - Aéroport Cannes Mandelieu </strong> en Mercedes Classe S est à partir de <strong>59 €.</strong></p>
      <p>A votre arrivée à l'aéroport, votre chauffeur privé vous attend avec une <strong>pancarte de bienvenue à votre nom</strong> et <strong>porte vos bagages.</strong></p>
      <p>Si l'envie vous prend de visiter Cannes, votre chauffeur est là pour <strong>vous guider</strong> au coeur de la vieille ville.</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Vos trajets gare avec Allocab</h2>
      <p>Votre chauffeur VTC assure aussi vos trajets vers / au départ de <strong>la gare de Cannes la Bocca</strong> à partir de <strong>29 €</strong> si vous réservez à l'avance.</p>
      <p>Vous arrivez à la gare, votre chauffeur VTC vous accueille <strong>en tête de quai</strong> avec une <strong>pancarte à votre nom</strong> et porte vos bagages.</p>
      <p>Votre trajet <strong>Cannes - Gares Cannes La Bocca</strong> est à partir de <strong>29 €</strong> en <strong>Classe Eco</strong> (type Peugeot 508) et <strong>39 €</strong> en <strong>Classe Affaires</strong> (type Mercedes Classe E).</p>
      <p>N'attendez plus pour réserver votre chauffeur privé en 3 clics.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/tLQkIslLEwKff4Y9TxtV9SScXRMuvOqnpO1kw3pLDDPCtJ2PsRaBrq0NSVpU7zKit5iRNCJ986AhG3JyVU7Xkw=s600" alt="Votre chauffeur VTC assure tous vos déplacements cannois " title="Votre chauffeur VTC assure tous vos déplacements cannois "/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh5.ggpht.com/hFvL39G95NSPbzXBgTLCoyDgV3_TM1X4m2_8WBKV18YKTCeLORmDYpB9c_HPuEi9NzM7ytkGiwNBCETXGXmX=s600" alt="découvrez Cannes avec votre chauffeur privé " title="découvrez Cannes avec votre chauffeur privé "/>
    </div>
    <div class="six columns">
      <h2>Déplacez-vous en VIP à Cannes à partir de 19 €</h2>
      <p>Allocab assure <strong>vos déplacements cannois</strong> à partir de 19 € si vous réservez au dernier moment !</p>
      <p>Votre trajet <strong>La Croisette - Rue Mozart</strong> est à partir de <strong>19 €</strong> en véhicule type Peugeot 508 ou équivalent.</p>
      <p>Profitez des services de chauffeur VTC d'Allocab pour vous promener dans la ville de Cannes et profiter de ses lieux mythiques.</p>
    </div>
  </div>

  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>



  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class="twitter-timeline" href="https://twitter.com/AlloCab_Cannes" data-widget-id="498744835042324480">Tweets de @AlloCab_Cannes</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
