<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Lille, votre chauffeur privé vous attend déjà !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

    <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/1ZeiXBpTwszEn3-H8sTMKmTHbBq4biwVhN6-mMAfw7aQZ-ZHgliXaaT1OQtr44S4rG5zFoaZhFM5Vknoo8r5=s650" alt="Votre chauffeur privé est à Lille" title="Tous vos trajets à Lille en chauffeur VTC">
                        <figcaption class="figcptn">Réservez une voiture avec chauffeur dès 9 € pour vos trajets dans la capitale des Flandres</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/jf0LVFuae2j_PqNpFSb_A_fvytyrgmj0n2-AQzLweSwqbMb5Hz7TTR7ZpG50rLdjwNAhT3OhFzuEVMiVgk2FmA=s650" alt="Rejoignez l'aéroport de Lille en chauffeur privé" title="Vos trajets aéroport de Lille en VTC dès 19 €">
                        <figcaption class="figcptn">Rejoignez  l'aéroport de Lille en chauffeur VTC dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/ZDQYDgkEKXhxbIRKZHMtYJCPEVHINptqPCQ50XNP-ccP3iuyDZYgYxCGbmV70zzJtuxnYIjNhEMooLyhN8qW=s650" alt="Votre chauffeur privé vous conduit à la gare de Lille" title="Rejoignez la gare de Lille en voiture avec chauffeur dès 19 €">
                        <figcaption class="figcptn">Vos trajets vers la gare de Lille en chauffeur privé dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur VTC pour vos déplacements à Lille !</h2>
      <p>Profitez d'une <strong>voiture avec chauffeur tout confort dès 9 €</strong> pour vos déplacements dans la capitale des Flandres .</p>
      <p><strong>Votre chauffeur privé</strong> vous conduit en berline, van ou <a href="/moto-taxi">moto-taxi</a> selon vos envie.</p>
      <p>Vous souhaitez <strong>aller à l'aéroport</strong> ou rejoindre le centre ville depuis l'aéroport en chauffeur VTC ? Réservez un chauffeur privé en berline tout confort dès <strong>19 €.</strong></p>
      <p>Vous pouvez transporter <strong>jusqu'à 3 bagages</strong> dans votre chauffeur privé et ne payez aucun frais d'approche</p>
      <p><strong>Si vous êtes en voyage touristique,</strong> n'hésitez pas à solliciter votre chauffeur pour vous conseiller les lieux à découvrir et les activités culturelles.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/4m2Uk3PMUWtHJI_UyB0U-w7H6o3vpgIKv_i5-8JE-6nuV2o3Rixf5pjIWmLzLCo7-SxY6JEF_QGMdtQdCGQHsQ=s600" alt="Découvrez l’architecture lilloise dans toute sa splendeur avec votre chauffeur privé" title="Découvrez l’architecture lilloise dans toute sa splendeur avec votre chauffeur privé"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh6.ggpht.com/jf0LVFuae2j_PqNpFSb_A_fvytyrgmj0n2-AQzLweSwqbMb5Hz7TTR7ZpG50rLdjwNAhT3OhFzuEVMiVgk2FmA=s650" alt="Votre chauffeur VTC vous attend à l’aéroport de Lille et vous conduit au gré de vos envies !" title="Votre chauffeur VTC vous attend à l’aéroport de Lille et vous conduit au gré de vos envies !"/>
    </div>
    <div class="six columns">
      <h2>Vos transferts aéroport à Lille</h2>
      <p>Effectuez vos trajets vers ou depuis <strong>l'aéroport de Lille</strong> en voiture avec chauffeur <strong>à partir de 19 €.</strong></p>
      <p><a href="/chauffeur-prive-vtc/difference-taxi">Bien plus qu'un taxi traditionnel,</a> votre chauffeur <strong>vous attend sur la plateforme aéroportuaire</strong> et vous souhaite la bienvenue avec une pancarte à votre nom. Il porte vos bagages et s'assure de votre bien être.</p>
      <p>Profitez du <strong>service haut de gamme proposé par Allocab</strong> pour vous conduire dans les plus beaux recoins de Lille et vous conseiller les <strong>plus beaux spectacles</strong> et concerts de la ville.</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Rejoignez la gare avec un chauffeur VTC</h2>
      <p>Vous souhaitez <strong>vous rendre à la gare de Lille</strong> ou revenir en centre ville au départ de la gare ? Réservez dès maintenant un chauffeur VTC dès <strong>19 €.</strong></p>
      <p>Si vous arrivez en train, votre chauffeur vient vous <strong>récupérer en tête de quai</strong> et présente une <strong>pancarte de bienvenue à votre nom.</strong></p>
      <p>Vous <strong>êtes de passage à Lille ?</strong> Votre voiture avec chauffeur vous conduit dans les lieux préférés des Lillois. Vous pourrez par exemple visiter <strong>La Grand Place</strong> où vous pourrez admirer la <strong>Vieille Bourse</strong>, superbe monument de la ville.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/I9MV9uKGMlM7RTuqUAhLgZJoJ4fQVs7vB_FQVyH4YhtXp4Z1Ot-OyzQeDsBnctb6pcHKJFzl68aUh4gFDHLqe3U=s600" alt="" title=""/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh6.ggpht.com/M-V6aNBnR9Ccpp5T6mD_-wTp8DjsUHmhz2kVxYmY-CrT6FoSl0RgeplJQpUmWn7F5OiDQFEw42ziDBEANujRfS8=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Votre véhicule avec chauffeur pour vos petits trajets dans Lille</h2>
      <p>Vous aimez vous déplacer dans des véhicules tout confort ? Réservez dès maitenant un chauffeur VTC dès  <strong>9 € pour vos trajets courts dans Lille.</strong></p>
      <p>Par exemple, vous pouvez réserver un VTC à l'avance pour un trajet <strong>rue de Béthune - rue Doudin dès 19 €</strong> en Classe Economique.</p>
    </div>
  </div>

  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>

  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class="twitter-timeline" href="https://twitter.com/Allocab_Lille" data-widget-id="498752317693255680">Tweets de @Allocab_Lille</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="five columns mobile-four offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
