<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Lyon, votre chauffeur privé vous attend déjà !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/bzDGS-c87Y2yeCKRmSQvYTge_tV6W4--4jjGsLinPQh40RbxFLDulRqxA1VehzrYacRYSofQGvXORyq3SsfOFQ=s650" alt="Chauffeur VTC pour vos trajets à Lyon" title="Votre chauffeur privé est désormais à Lyon">
                        <figcaption class="figcptn">Votre chauffeur privé à Lyon dès 9 € en départ immédiat et dès 19 € en réservation à l'avance</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/a4Vz1l47nDA_4uckJWdQQZ0Q0pMj-qq-LT8k9H1kpUNNrJ9iGZP5gyap9Rwcpielm0G1alVjqboH_dlQL0CTGIA=s650" alt="Votre chauffeur privé vous accompagne à l'aéroport" title="Vos trajets aéroport de Lyon en chauffeur VTC">
                        <figcaption class="figcptn">Réserver une voiture avec chauffeur pour rejoindre l'aéroport de Lyon à partir de 59 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/4PrPrrkQiFimFtL8e9NLYBoanY3z1qeS7rg8MvRrAQ_OuWJwOG2NTe72r3xpKvdfdRwOwZzeh1FjPmhWL6_uPs4=s650" alt="Votre chauffeur privé pour rejoindre la gare" title="Rejoignez la gare en voiture avec chauffeur à Lyon">
                        <figcaption class="figcptn">Vos trajets gare avec votre chauffeur VTC dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Allocab vous accompagne à Lyon !</h2>
      <p>Allocab assure un service de voiture avec chauffeur pour tous vos déplacements à Lyon. Réservez votre <a href="/chauffeur-prive-vtc/difference-taxi">chauffeur privé</a> <strong>dès 9 € en départ immédiat</strong> et à partir de <strong>19 € en réservation à l'avance.</strong></p>
      <p>Avec son large choix de véhicule, Allocab s'adapte à vos besoins : votre chauffeur VTC en <a href="/chauffeur-prive-vtc/gamme-vehicules">berline ou van</a> est à votre disposition.</p>
      <p>Pour tous <strong>vos trajets aéroport,</strong> pensez à réserver un chauffeur privé dès <strong>59 €.</strong></p>
      <p>Vous êtes <a href="/voyage-affaires-entreprise">voyageur d'affaires</a> ou <strong>touriste ?</strong> Venez apprécier la culture, les loisirs et la qualité de vie de Lyon et déplacez-vous autrement avec votre chauffeur VTC.</p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/_zELdNCFEvBUn3C8DIwuuvYKURNhijo1qvX4AKFbtq-SML-s7xlIlbuiZe2HULf_CcH7l4g6mC-Ph4V3wRiH=s600" alt="Des déplacements sur-mesure avec votre chauffeur privé !" title="Des déplacements sur-mesure avec votre chauffeur privé !"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh5.ggpht.com/a4Vz1l47nDA_4uckJWdQQZ0Q0pMj-qq-LT8k9H1kpUNNrJ9iGZP5gyap9Rwcpielm0G1alVjqboH_dlQL0CTGIA=s650" alt="Dès votre arrivée à l’aéroport, votre chauffeur vous accueille avec un véhicule haut de gamme" title="Dès votre arrivée à l’aéroport, votre chauffeur vous accueille avec un véhicule haut de gamme"/>
    </div>
    <div class="six columns">
      <h2>Votre chauffeur privé assure vos déplacements aéroport</h2>
      <p>Vous souhaitez réserver une voiture avec chauffeur pour rejoindre l'aéroport de Lyon ? Votre trajet centre de Lyon - aéroport de lyon est à partir de <strong>59 €.</strong></p>
      <p><strong>Si vous arrivez à l'aéroport de Lyon,</strong> votre chauffeur privé vous prépare un <strong>accueil personnalisé.</strong> Il vous attend muni d'une pancarte de bienvenue à votre nom et porte vos bagages.</p>
      <p>Plus qu'un simple transport, si vous venez visiter la ville de Lyon, votre voiture avec chauffeur saura vous guider et indiquer les <strong>points incontournables</strong> de la ville.</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur VTC pour vos trajets gare</h2>
      <p><strong>Allocab assure tous vos trajets</strong> vers/au départ de la gare à partir de <strong>19 €</strong> si vous réservez à l'avance.</p>
      <p>Vous venez à Lyon pour un séjour touristique ? Votre voiture avec chauffeur vous attend à la gare <strong>en tête de quai</strong> avec une <strong>pancarte à votre nom</strong> et vous accompagne où vous le souhaitez.</p>
      <p>Réservez dès à présent votre chauffeur privé pour aller prendre votre train et rejoindre le centre ville.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/rnn1TH19Nf_v6OrUZ-nQGJHrb17z275z4QpiRS4I8jYI5LNRCPi9dSKQ4XYmdUB83TpV9qvkakzLrvBzyOUi7Q=s600" alt="votre chauffeur VTC assure vos trajets gare" title="votre chauffeur VTC assure vos trajets gare"/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh5.ggpht.com/d4fB3BwPtscfkBqA7wnhgo-nANseMwBLuecXV0VHHZ0y85PJUw2ZHtS1IdYMcDEwxiXlYY21jEYxNn3wdltSIw=s600" alt="Tous vos déplacements dans Lyon en voiture avec chauffeur avec AlloCab" title="Tous vos déplacements dans Lyon en voiture avec chauffeur avec AlloCab"/>
    </div>
    <div class="six columns">
      <h2>Vos déplacements courts dans Lyon à partir de 9 €</h2>
      <p>Vous souhaitez vous déplacer autrement dans Lyon ? <strong>Vivez une expérience unique</strong> avec un chauffeur privé qui vous conduit <a href="/chauffeur-prive-vtc/gamme-vehicules">en berline ou en van</a> <strong>dès 9 €.</strong></p>
      <p>Votre trajet <strong>Place Bellecour - rue Joliot curie</strong> est à partir de  <strong>19 €</strong> en berline Classe Eco (véhicule type Peugeot 508).</p>
      <p>N'attendez plus pour télécharger l'application Allocab sur <a href="https://play.google.com/store/apps/details?id=com.allocab.allocabpassenger&hl=fr_FR">Android</a> ou <a href="https://itunes.apple.com/fr/app/allocab-votre-chauffeur-prive/id562233261?mt=8">Iphone</a>.</p>
    </div>
  </div>
  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>


  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class="twitter-timeline" href="https://twitter.com/Allocab_LYON" data-widget-id="498739459207073792">Tweets de @Allocab_LYON</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
