<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Marseille, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/85LK34xQhlqDg-njbTYjtUnkyDPjqLkCXSdRoJ_BVCPK-oO_4SjZ-P0SZhdM0YQ44J7aFqCZRDotOp8-eGDMKQ=s650" alt="Votre chauffeur AlloCab est à Marseille" title="Déplacez-vous en chauffeur privé à Marseille">
                        <figcaption class="figcptn">Vos trajets dans la ville de Marseille dès 9 € en réservation immédiate</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/fyzFyRamx90N8pBXpc9WFj2JtbiX_JwrvnV4ho2JIHSdFAaWHTyKbh6UQP06U5te_0kOyi4vWulAz_q8aS2PEQ=s650" alt="Trajet centre ville - aéroport de Marseille en VTC" title="Vos trajets vers l'aéroport de Marseille assurés par AlloCab">
                        <figcaption class="figcptn">Vos courses aéroport de Marseille Provence dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/W2mGo4JZdWzOO1GQeI0vWJBzl15Dg7dxkqhvnwmWyKUa7BwwByBl8JaPkNi7MjhJNKfn3QwSboQ3uZ4fqFfw=s650" alt="Votre voiture avec chauffeur pour la gare" title="Rejoignez la gare de Marseille St Charles en chauffeur VTC">
                        <figcaption class="figcptn">Rejoignez la gare de Marseille St Charles dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur VTC est à Marseille !</h2>
      <p>Profitez des services de chauffeur privé pour vos trajets à Marseille à partir de <strong>9€</strong> en <strong>départ immédiat</strong> et <strong>19 €</strong> si vous réservez un chauffeur <strong>à l'avance.</strong></p>
      <p>Allocab propose une <a href='/chauffeur-prive-vtc/gamme-vehicules'>large gamme de véhicules</a>. Si vous voyagez seul, privilégiez la <strong>berline</strong>. Vous voyagez <strong>en groupe</strong> ? Nous vous conseillons le <strong>van</strong>, qui accepte <strong>jusqu'à 7 passagers.</strong></p>
      <p>Votre chauffeur privé vous transporte vers et depuis <strong>l'aéroport de Marseille</strong> à partir de <strong>49 €.</strong></p>
      <p>Allocab offre un service de grande qualité <a href='/chauffeur-prive-vtc/difference-taxi'>au delà d'un simple service de taxi</a>. Notre service est adapté à tous : Marseillais, <a href='/voyage-affaires-entreprise'>voyageur d'affaires</a> ou vacancier.</p>
    </div>
    <div class="six columns">
      <img src="http://lh5.ggpht.com/KQTMgyGZ8eSt1Zivx6o_klnR23aGXiXZHz1g_Z9kLESYPWednrxGoemS7LPEFGNied79s5fTpVziu84ImmIjc1o=s600" alt="" title=""/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh5.ggpht.com/S10lUZBfnHQD4RAqgmq-f0gK2D_qsPXF0rlFeb2FtauopYIwEwSevN567e5xIg-k_draobIRBfOUlEFHBeXCIw=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Votre chauffeur privé pour vos courses aéroport Marseille Provence</h2>
      <p>Votre chauffeur privé vous accompagne à l'aéroport et vient vous y chercher à partir de <strong>49 €</strong> en véhicule <strong>Classe Eco.</strong></p>
      <p>Vous pouvez également réserver un chauffeur privé pour faire un trajet <strong>centre de Marseille - Aéroport Marseille Provence</strong> en Première Classe dès <strong>99 €.</strong></p>
      <p>Si vous <strong>arrivez à Marseille</strong> par avion, votre chauffeur personnel vient à l'aéroport et vous attend aux arrivées avec une <strong>pancarte de bienvenue à votre nom.</strong></p>
      <p>Si vous êtes de passage à Marseille et vous <strong>avez besoin de conseils</strong>, votre chauffeur peut vous guider et vous indiquer les <strong>musées</strong>, les <strong>parcs</strong> à visiter et les <strong>monuments incontournables.</strong></p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Vos déplacements vers et depuis la gare de Marseille</h2>
      <p>Votre chauffeur privé vous conduit à <strong>la gare de Marseille</strong> à partir de <strong>19 €</strong> si vous réservez à l'avance.</p>
      <p>Vous arrivez en train ? Votre voiture avec chauffeur vous attend <strong>en tête de quai</strong> avec une <strong>pancarte à votre nom</strong> et porte vos bagages.</p>
      <p>Votre trajet <strong>centre de Marseille - Gare Marseille Saint Charles</strong> à partir de <strong>19 €</strong> en véhicule type Peugeot 508.</p>
      <p>Réservez votre chauffeur privé à Marseille et découvrez le <strong>transport haut de gamme</strong> offert par votre chauffeur privé.</p>
    </div>
    <div class="six columns">
      <img src="http://lh3.ggpht.com/AHKEYB3RDOXZgauuAblE8P3CfNAeYmT2PevHuxMQY7f1b6B8ewaGtd3U3QOmXoX3ELkC3NpN4DyTi_10YN7fSg=s600" alt="" title=""/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/ESHmPlcVO9UNk3D3lB92_qUMGCcuMInJeq0c6bUftcBCsWDF33dvXg6RSsbTbhPDxdN6SxFaqKeMf3dc-17PpFM=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Déplacez vous autrement avec votre VTC à Marseille !</h2>
      <p>Déplacez-vous en chauffeur privé dans la <em>cité phocéenne</em> et profitez d'un service de transport de grande qualité <strong>dès 9 € en départ immédiat.</strong></p>
      <p>Votre trajet <strong>Rue Armény - Rue Breteuil</strong> est à partir de <strong>19 €</strong> en <strong>Classe Economique.</strong></p>
      <p>En <strong>vacances à Marseille ?</strong> Profitez de votre chauffeur privé pour vous déplacer dans l'une des plus belles villes du sud de la France.</p>
    </div>
  </div>

  <hr/>

  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop" >Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>

  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class='twitter-timeline' href='https://twitter.com/AlloCab_MRS' data-widget-id='498774430944743424'>Tweets de @AlloCab_MRS</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
