<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Montpellier, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
<hr style="background:none repeat scroll 0% 0% transparent;"/>
  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/dShnf4efrSRYgCigrNWN07iNlCjCsTKBMMy8iQMUxHL80IL5RJlPTGyDvlve6rjNjOOks3p1qGswpeNhDmW3_Q=s650" alt="Votre chauffeur VTC est à Montpellier" title="Vos déplacements à Montpellier en chauffeur privé">
                        <figcaption class="figcptn">Votre chauffeur VTC à Montpellier à partir de 9 € pour un départ immédiat</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/gc1AMesgyts7HjFwaKTPnkBUKNVEhs6u3C-Oa9kNYr3gcM96iqvlJEK2jWYH2jLClFkVD0Xmk6-WsqIA-eJgeQ=s650" alt="Votre chauffeur VTC pour l'aéroport de Montpellier" title="Rejoignez l'aéroport de Montpellier Méditerranée en chauffeur privé">
                        <figcaption class="figcptn">Rejoigne l'aéroport Montpellier Méditerranée dès 30 € en classe économique</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/IsiN0-bGlxMU31Fhunp-D-maZwcYzAWZCBm_SYMaRC2NyVYmdEp9-GO1ey9eFL1LlLJ8Vz7tAnUvARYvDYUP6g=s650" alt="Votre chauffeur privé vous conduit à la gare de Montpellier" title="Votre voiture avec chauffeur vous conduit à la gare de Montpellier">
                        <figcaption class="figcptn">Votre voiture avec chauffeur vous conduit à la gare de Montpellier St Roch à partir de 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

<div class="row">
  <div class="six columns">
    <h2>Votre chauffeur privé est à Montpellier !</h2>
    <p>Votre chauffeur VTC vous accompagne dans <strong>tous vos trajets à Montpellier</strong> à partir de <strong>9 €</strong> pour un départ immdédiat et <strong>19 €</strong> pour une réservation faite à l'avance.</p>
    <p><strong>Voyageur d'affaires</strong> en déplacement sur Montpellier ? N'attendez plus pour réserver votre chauffeur privé qui vous conduira à vos réunions de groupe en van ou berline tout confort.</p>
    <p><strong>Laissez-vous guider</strong> par votre voiture avec chauffeur dans le véhicule qui vous correspond : berline ou van, vous saurez trouver votre bonheur avec notre <a href="/chauffeur-prive-vtc/gamme-vehicules">large gamme de véhicules</a>.</p>
    <p>En vacances, en voyage d'affaires ou habitant montpelliérain, pensez à réserver votre chauffeur privé pour assurer tous vos déplacements dans la ville surdouée.</p>
  </div>
  <div class="six columns">
    <img src="http://lh4.ggpht.com/JKNDBUZZ_BFOzayzlRHMB1_nCoCgwx_XbGN4Z1ef9zUgRKxafs3xoZIeMSbvxsxGt83v7lM8ZvgfFY3VPCXQbg=s600" alt="Découvrez Montpellier avec votre chauffeur VTC et profitez d'une escapade en bord de méditerranée" title="Découvrez Montpellier avec votre chauffeur VTC et profitez d'une escapade en bord de méditerranée"/>
  </div>
</div>
  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/_-FVf50VR-kFsBcfwYZ0E0Rr3agvjdaR3ydmOUpD6f5heUjqiRg680X9le9E7JU__YnDR8PhRNH8LwVYNiSy=s650" alt="Votre chauffeur privé est à votre écoute et vous conduit partout dans Montpellier" title="Votre chauffeur privé est à votre écoute et vous conduit partout dans Montpellier"/>
    </div>
    <div class="six columns">
      <h2>Tous vos trajets aéroport en voiture avec chauffeur</h2>
      <p>Vous pouvez rejoindre <strong>l'aéroport Montpellier Méditerranéee</strong> dès <strong>30 €</strong> en Classe Economique.</p>
      <p>Vous arrivez à l'aéroport ? <strong>Dès l'atterrissage de votre avion,</strong> vous bénéficiez d'un service de transport offert par votre chauffeur VTC. Il vous accueille aux <strong>arrivées de l'aéroport</strong> avec une pancarte à votre nom et porte tous vos bagages. </p>
      <p>Votre chauffeur privé <strong>dispose d'un GPS très performant</strong> pour vous accompagner dans <strong>vos lieux préférés</strong> sans perdre de temps.</p>
      <p><a href="/chauffeur-prive-vtc/difference-taxi">Plus qu'un chauffeur de taxi</a>, votre chauffeur VTC a un rôle de conseil. Il vous emmène dans les <strong>meilleurs restaurants étoilés</strong> de Montpellier tel que le <strong>Jardin des Sens</strong> ou <strong>La Réserve Rimbaud</strong>, sur les belles terrasses au bord du Lez.</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <h2>Votre voiture avec chauffeur pour vos courses gare</h2>
      <p>Vous avez un train à prendre ? Rejoignez la <strong>gare de Montpellier</strong> en VTC à <strong>partir de 19 €.</strong></p>
      <p>Si vous <strong>arrivez par le train</strong>, votre voiture avec chauffeur vous attend <strong>en tête de quai</strong> avec une <strong>pancarte à votre nom</strong> et vous conduit chez vous à votre hôtel si vous êtes de passage.</p>
      <p>C'est le moment de réserver votre chauffeur VTC qui vous assure tous vos déplacements depuis et vers la gare dès <strong>19 €.</strong></p>
    </div>
    <div class="six columns">
      <img src="http://lh5.ggpht.com/Q0vi3uwcOF7wa0kY1bw7pNCDEC0QlGh7gXPPb9ccGPywZYmYuFrcBhQDV3bqOT6wA4kDoxKpEql59B23Ldsz=s600" alt="Dès votre arrivée à l'aéroport, AlloCab prend en charge vos bagages et vous conduit où vous le souhaitez" title="Dès votre arrivée à l'aéroport, AlloCab prend en charge vos bagages et vous conduit où vous le souhaitez"/>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh6.ggpht.com/7xRyQNPUe_RaEhwcPH7kKZpd0Mio3aLHjpOmWGWUZqS4T6i960uaTt9jKN2QZ2J6o7UaKpoApw9DLQvyik_4=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Votre chauffeur VTC assure tous vos déplacements à Montpellier</h2>
      <p>Profitez de déplacements <strong>haut de gamme</strong> dans Montpellier <strong>à partir de 9 €</strong> en départ immédiat.</p>
      <p>Votre course <strong>Avenue Henri Frenay - Rue Foch</strong> en Mercedes Classe C.</p>
      <p>Réservez votre voiture avec chauffeur dès maintenant et profitez pleinement de la ville de Montpellier.</p>
    </div>
  </div>
  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>

    <hr/>
    <div class="row ">
      <div class="twelve columns">
        <div class="">
          <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
        </div>
        <div class="row">
          <div class="five columns">
            <a class="twitter-timeline" href="https://twitter.com/AlloCab_MTP" data-widget-id="498757421951492096">Tweets de @AlloCab_MTP</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="five columns offset-by-two">
            <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
          </div>
        </div>
      </div>
    </div>


</div>
