<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Nantes, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/wv9GhdGK_2gdeqIPPjsxx2GQfWMKB5y_yUx5mCxAHIJCBMkpPLnav2_fYNRodiycEzldETDhujvvWJD9ruYE=s800" alt="Chauffeur privé à Nantes" title="Votre chauffeur VTC est à Nantes">
                        <figcaption class="figcptn">Votre chauffeur privé est à Nantes et vous accompagne dès 9 € en départ immédiat</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/NkUk8dvTBbTU7LT3uoQzTlnXSbcEQmjuEPaHu95pbYL_eu_llkTEvFggVJQiE5lpzlsNQeqzf2ynyvKZVUilvm4=s800" alt="Rejoignez l'aéroport en voiture avec chauffeur" title="Vos trajets vers l'aéroport en chauffeur privé">
                        <figcaption class="figcptn">Rejoignez l'aéroport de Nantes à partir de 19 € en classe eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/9BgiZz0QWc2DJqaeE4lTGyMyuhxYTXffpm3cILjDBp3n1pxgSgqXIX-L4pM2Qw0C-bz8hQhwOIpZZC8M2VQGSw=s800" alt="Allez prendre le train en voiture avec chauffeur dès 19 €" title="Vos trajets vers la gare de Nantes en chauffeur VTC">
                        <figcaption class="figcptn">Tous vos trajets gare en chauffeur VTC dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Allocab assure vos trajets à Nantes</h2>
      <p>Réservez un taxi privé à Nantes <strong>dès 9 € en départ immédiat</strong>. Quel que soit vos besoins, vous pouvez choisir parmi <a href='/chauffeur-prive-vtc/gamme-vehicules'>une large gamme de véhicules : </a> berline ou van.</p>
      <p><strong>Nantais, vacancier ou voyageur d'affaires</strong>, vous souhaitez vous déplacer <a href='/chauffeur-prive-vtc/difference-taxi'>autrement qu'en taxi</a> ? Pensez à réserver un chauffeur privé pour vos trajets <strong>aéroport Nantes Atlantique</strong> à partir de <strong>19 €.</strong></p>
      <p>Votre chauffeur privé vous conduit où vous le souhaitez et sait vous conseiller sur les <strong>lieux à visiter</strong> à Nantes. Il pourra par exemple vous conduire au <strong>musée d'histoire</strong> de Nantes ou vous emmener voir les <strong>monuments incontournables</strong> de la ville.</p>
    </div>
    <div class="six columns">
      <img src="http://lh5.ggpht.com/X8f2pcxy-fBVwU0GMMgDk3wJzL_e9rk_WktrCM-gVPXAtCiMkELcHRaBU-UZQH3Gx7p6yMnGqKEnxwQwanwCCJE=s600" alt="Chauffeur VTC à Nantes" title="Vos déplacements à Nantes dès 9 € en départ immédiat "/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh5.ggpht.com/NkUk8dvTBbTU7LT3uoQzTlnXSbcEQmjuEPaHu95pbYL_eu_llkTEvFggVJQiE5lpzlsNQeqzf2ynyvKZVUilvm4=s600" alt="Chauffeur VTC à l'aéroport de Nantes" title="Votre chauffeur privé vous accompagne à l'aéroport de Nantes"/>
    </div>
    <div class="six columns">
      <h2>Votre chauffeur VTC pour vos trajets aéroport</h2>
      <p>Réservez votre chauffeur VTC pour vous conduire ou venir vous chercher à l'aéroport Nantes Atlantique <strong>dès 19 €.</strong></p>
      <p>Vous revenez de vacances ? Dès votre arrivée à l'aéroport, votre <strong>véhicule avec chauffeur</strong> vous attend et vous récupère avec une <strong>pancarte avec votre nom.</strong> Il porte vos bagages et vérifie avec vous le trajet le plus court pour <strong>optimiser votre temps.</strong></p>
      <p>Vous êtes <a href='/voyage-affaires-entreprise'>voyageur d'affaires</a> ? Votre chauffeur privé est aussi là pour vous garantir un transport <strong>rapide et efficace</strong> dans une berline tout confort <strong>dès 19 €.</strong></p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur privé vous conduit à la gare</h2>
      <p>Votre trajet gare - centre ville ou centre ville - gare en chauffeur privé est à partir de <strong>19 €.</strong></p>
      <p><strong>Votre train vient d'arriver en gare de Nantes ?</strong> Avec votre chauffeur VTC, <strong>zéro perte de temps :</strong> Il vous attend en tête de quai muni d'une <strong>pancarte à votre nom</strong> et porte vos bagages jusqu'au véhicule.</p>
      <p>Quelque soit votre trajet, vous avez droit à des <strong>services supplémentaires</strong> tels que l'accès à un chargeur de téléphone, une bouteille d'eau, la presse du jour etc... Alors n'attendez plus pour réserver votre chauffeur VTC !</p>
    </div>
    <div class="six columns">
      <img src="http://lh5.ggpht.com/3DmL55mltiLf202R5sV_WjIdTWH9KnielaTF5nWiJtBR5_pdsWUDo5ibkbSQDwK5YA5p1JQFfHrZfBn1wu2JUHU=s600" alt="Chauffeur privé pour rejoindre la gare de Nantes" title="Votre voiture avec chauffeur pour aller à la gare de Nantes"/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh6.ggpht.com/NISWv8S7Nyf1RS6EtxGuOaS_nPYz-Z3aCdEeM6Ni_KfXPSL9seYRezrcNxVN2DV-83GO14U3nsHDelQaLO93Ow=s600" alt="chauffeur VTC à Nantes" title="Votre chauffeur privé assure tous vos trajets à Nantes"/>
    </div>
    <div class="six columns">
      <h2>Vos trajets à Nantes avec votre chauffeur privé</h2>
      <p>Réservez une voiture avec chauffeur à partir de <strong>9 €</strong> pour une course dans Nantes en départ immédiat.</p>
      <p>Votre course <strong>Général de Bollardière - Eglise Saint Anne</strong> est à partir de <strong>9 €</strong> en véhicule type <strong>Mercedes Classe E</strong>.</p>
      <p>Quelque soient vos trajets, n'attendez plus pour profiter d'un transport haut de gamme et réservez votre voiture avec chauffeur en 3 clics.</p>
    </div>
  </div>

  <hr/>
    <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>
  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class='twitter-timeline' href='https://twitter.com/AlloCab_Nantes' data-widget-id='498768724187291648'>Tweets de @AlloCab_Nantes</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
