<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Nice, votre chauffeur privé vous attend déjà !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/IqLIYbCGHDFk01Bn1APJcVWtMCypj-wm3Oycy6QCHiEfCWcusGuy6VJBFeV4J2UzJj5EZG2wRijwTNdjnMu6=s650" alt="chauffeur privé à Nice" title="Vos trajets dans la ville de Nice en chauffeur VTC">
                        <figcaption class="figcptn">Votre chauffeur privé vous conduit à Nice dès 9 € en départ immédiat</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/eCNn9fHxnVpv8cQ7bMRkmWVU4oYRamQZhhiojQExO2eklanVxyJU22E-jm_1INZPmWJFrS5wYKV2Z0_RnQ0pnw=s650" alt="Votre voiture avec chauffeur pour l'aéroport de Nice" title="Vos trajets aéroport de Nice en chauffeur privé">
                        <figcaption class="figcptn">Réservez un chauffeur VTC pour vos trajets aéroport Nice Côte d'Azur dès 39 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/p-RLkEBuWJ_18226yOQvtacM_uIAgT7biQqNGAZH-OdZrMxtbbM73KWW4kG9kd8iMwFPMzZuepKy5rZOyf9VHQ=s650" alt="Vos trajets vers la gare en voiture avec chauffeur" title="Rejoignez la gare de Nice en chauffeur privé">
                        <figcaption class="figcptn">Votre voiture avec chauffeur pour la gare de Nice à partir de 29€ en berline classe eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre voiture avec chauffeur à Nice</h2>
      <p>Réservez une course immédiate à Nice <strong>dès 9 € en berline</strong> ou <strong>van</strong> grâce au service de transport Allocab.</p>
      <p><strong>Niçois, vacancier ou voyageur d'affaires,</strong> profitez de l'accompagnement personnel offert par votre chauffeur Allocab qui vous récupère ou vous emmène à <strong>l'aéroport de Nice dès 39 €.</strong></p>
      <p> <a href="/chauffeur-prive-vtc/difference-taxi">Plus qu'un simple service de transport</a>, votre <strong>chauffeur privé vous guide dans les meilleurs restaurants</strong> niçois tels que <em>Le séjour Café,</em> ou <em>La Roustide !</em></p>
      <p><strong>Vous habitez à Nice ?</strong> voyagez dans un <strong>véhicule tout confort</strong> pour vos <strong>déplacements du quotidien dès 9 €.</strong> Si vous êtes vacancier, profitez de la baie des Anges et des collines niçoises à l'arrière de votre véhicule haut de gamme.</p>
    </div>
    <div class="six columns">
      <img src="http://lh5.ggpht.com/npDfbTKSC5WoxAgdi84bcFCHLousCja-pVQHjfXtGJN5G1W9yYAeuc_HtqBOabT2mq_vTe41CmYWmcKpk2Fiag=s600" alt="Déplacez vous dans le vieux Nice avec votre chauffeur privé Allocab !" title="Déplacez vous dans le vieux Nice avec votre chauffeur privé Allocab !"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh6.ggpht.com/eCNn9fHxnVpv8cQ7bMRkmWVU4oYRamQZhhiojQExO2eklanVxyJU22E-jm_1INZPmWJFrS5wYKV2Z0_RnQ0pnw=s650" alt="Réservez dès maintenant votre chauffeur personnel qui viendra vous chercher à l’aéroport !" title="Réservez dès maintenant votre chauffeur personnel qui viendra vous chercher à l’aéroport !"/>
    </div>
    <div class="six columns">
      <h2>Votre chauffeur VTC vous conduit à l'aéroport !</h2>
      <p>Réservez votre chauffeur VTC pour vos trajets en direction ou au départ de <strong>l'aéroport Nice Côte d'Azur dès 39 €.</strong></p>
      <p>Dès votre arrivée à l'aéroport, votre voiture avec chauffeur vous récupère avec une <strong>pancarte à votre nom</strong> et vous conduit où vous le souhaitez.</p>
      <p>Vous êtes vacancier ? Profitez de votre chauffeur privé pour <strong>silloner la ville de Nice</strong> et la très célèbre <em>promenade des Anglais</em> <strong>dès 19 €.</strong> </p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Votre VTC pour vos trajets gare</h2>
      <p>Vous avez un <strong>train à prendre</strong> au départ de la <strong>gare de Nice ?</strong> Vous pouvez dès maintenant réserver une voiture avec chauffeur à partir de <strong>29 €</strong>.</p>
      <p><strong>Si vous arrivez à la gare de Nice, votre chauffeur VTC vous</strong> récupère en tête de quai muni d'une <strong>pancarte à votre nom</strong> et porte vos bagages.</p>
      <p>N'hésitez pas à demander des <strong>services supplémentaires</strong> à votre chauffeur personnel : bouteille d'eau, chargeur de téléphone, presse etc.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/I9MV9uKGMlM7RTuqUAhLgZJoJ4fQVs7vB_FQVyH4YhtXp4Z1Ot-OyzQeDsBnctb6pcHKJFzl68aUh4gFDHLqe3U=s600" alt="Dès votre arrivée à la gare, votre chauffeur VTC vous attend avec une pancarte de bienvenue à votre nom !" title="Dès votre arrivée à la gare, votre chauffeur VTC vous attend avec une pancarte de bienvenue à votre nom !"/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh6.ggpht.com/_8llx5Cw2N9LOFZnOrROoAuqDUhGucWWJL_dPvH4STvLUjsiMVyhtHHOLNFKUjWJAH_MBYM6GDzaeGo43xeRiw=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Déplacez-vous en VIP avec votre chauffeur privé à Nice</h2>
      <p>Réservez une voiture avec chauffeur à partir de <strong>9 €</strong> pour une course dans Nice en <strong>départ immédiat.</strong></p>
      <p><strong>Votre trajet voie Pierre Mathis - rue Barla</strong> est à partir de <strong>30 €</strong> dans un véhicule avec chauffeur type <strong>Mercedes Classe E.</strong></p>
      <p>Un service de transport haut de gamme à Nice en quelques clics c'est possible alors n'attendez plus pour réserver !</p>
    </div>
  </div>

  <hr/>

  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>

  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class="twitter-timeline" href="https://twitter.com/AlloCab_Nice" data-widget-id="498754639508955136">Tweets de @AlloCab_Nice</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
