<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Paris, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/Qpd-Jw6kGvppcyMDuLF96vN9qsD9sIiWh--l2cIwMPunT93qBhgokXK1Ll-P6MoTwebVvyYr3tU-uqZ-Hg14-ZI=s650" alt="VTC dans Paris dès 19 €" title="Déplacez-vous dans la ville de Paris en chauffeur VTC ">
                        <figcaption class="figcptn">Votre chauffeur privé en berline eco dès 9 € en départ immédiat</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/x8THTLa9dsWiaZGRt51OTP_AeMwU50eKzwHV3msLxPM7aHhfldwrOHGJfTOMlD1jZ_-nTwPZwequFcuBo_P6xo0=s650" alt="Votre chauffeur privé pour aller à l'aéroport" title="Rejoignez les aéroports de Roissy et Orly en chauffeur privé">
                        <figcaption class="figcptn">Vos trajets Paris - Aéroport d'Orly dès 25 € et Paris - Aéroport de Roissy CDG dès 45 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/YDsIFC2MgBgNPuRLRj_dPNkBnKDU2B6NytkVuWwR7aKIFp4ygd3YsRt0DLowHshIEjxHaHNzZNSRNTPXPpJnupY=s650" alt="Rejoignez la gare en chauffeur privé" title="Tous vos trajets vers les gares parisiennes en voiture avec chauffeur">
                        <figcaption class="figcptn">Tous vos trajets vers les gares parisiennes dès 19 € en berline classe eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur VTC à Paris !</h2>
      <p>Déplacez-vous dans Paris en chauffeur privé <strong>dès 9 €</strong> en <strong>départ immédiat</strong> et à partir de <strong>19 €</strong> en <strong>réservation à l'avance.</strong></p>
      <p>Vous <strong>sélectionnez votre voiture avec chauffeur</strong> parmi un large choix : de la berline au van en passant par le <a href='/moto-taxi'>moto-taxi</a>, notre <a href='/chauffeur-prive-vtc/gamme-vehicules'>gamme de véhicules</a> vous attend !</p>
      <p>Allocab assure un service de transport vers et depuis les aéroports <strong>Paris Orly dès 25 €</strong> et <strong>Paris Roissy Charles de Gaulle</strong> à partir de <strong>45 €.</strong></p>
      <p>Vous êtes en <a href='/voyage-affaires-entreprise'>voyage d'affaires</a> ou en visite <strong>touristique ?</strong> Vous saurez apprécier le transport haut de gamme qui <a href='/chauffeur-prive-vtc/difference-taxi'>différencie les VTC des taxis</a>.</p>
      <p><a href='/chauffeur-prive-vtc/difference-taxi'>Au delà du service de transport</a>, votre chauffeur privé <strong>vous guide</strong> sur les plus beaux coins parisiens : coins insolites, îles naturelles, musées.</p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/hLvT8XAiDUUuBnWfY_N8C7KUkkY54Pn4X0woI_edn5b9hvUweEZPcS3Sw7ct8OWs5-o4PSb9blP1xbrkz_ne=s600" alt="" title="Votre chauffeur vous transporte dans tout Paris"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/x8THTLa9dsWiaZGRt51OTP_AeMwU50eKzwHV3msLxPM7aHhfldwrOHGJfTOMlD1jZ_-nTwPZwequFcuBo_P6xo0=s650" alt="" title="Tous vos trajets aéroport avec votre chauffeur VTC"/>
    </div>
    <div class="six columns">
      <h2>Votre véhicule avec chauffeur pour vos trajets aéroport</h2>
      <p>Vous cherchez une voiture avec chauffeur pour <strong>aller à l'aéroport</strong> ou <strong>rejoindre le centre ville</strong> depuis l'aériport de Paris Orly ou Paris Roissy CDG ?</p>
      <p>Votre <strong>trajet aéroport Orly - centre de Paris</strong> ou inversement est à partir de <strong>25 €</strong> et <strong>aéroport Roissy CDG - centre de Paris</strong> dès <strong>45 €.</strong></p>
      <p>Vous arrivez par l'un des aéroports parisiens ? Votre chauffeur VTC vous <strong>accueille avec le sourire.</strong> Il est muni d'une <strong>pancarte à votre nom</strong> et <strong>porte tous vos bagages</strong> (jusqu'à 3 bagages autorisés).</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Allocab assure vos trajets gare</h2>
      <p><strong>Allocab assure tous vos trajets</strong> vers / au départ des <strong>gares parisiennes</strong> à partir de <strong>19 €</strong> si vous faites une réservation à l'avance.</p>
      <p>Vous arrivez à la gare ?  Tout comme les services aéroport, votre chauffeur privé vous accueille à la gare, <strong>en tête de quai</strong> avec une <strong>pancarte à votre nom</strong> et vous accompagne où vous le souhaitez.</p>
      <p>Votre trajet <strong>centre de Paris - Gare de Lyon</strong> est à partir de <strong>19 €</strong> en Classe Economique (Peugeot 508 ou équivalent).</p>
      <p>Réserver dès à présent un VTC pour aller prendre votre TGV ou rejoindre le centre de Paris.</p>
    </div>
    <div class="six columns">
      <img src="http://lh4.ggpht.com/kyUgiJ_mQDOc_anHdwVgn0Noc6f90NfkmyBOwmqIKaiotcU5pEryre3-lYCWlwtED1ms0tATULIqVZfJS14b=s600" alt="" title=""/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/3pXnz-lvWFUUW5HNxx9D78wDACc4dzwq_cV4f-SLIu_6-2Pw0P06z83Eu1EjmSobIsmCFh4jQJT905pl9sPsqQ=s600" alt="" title="Votre taxi privé assure aussi les déplacements courts"/>
    </div>
    <div class="six columns">
      <h2>Vos déplacements dans Paris intra muros à partir de 9 €</h2>
      <p>Allocab assure <strong>tous vos déplacements dans Paris,</strong> même les plus courts ! Découvrez nos services de <strong>chauffeur privé</strong> dès <strong>9 €</strong>.</p>
      <p>Réservez votre chauffeur VTC à l'avance pour un trajet <strong>Neuilly - Opéra</strong> en berline Classe Eco dès <strong>19 €</strong> .</p>
      <p>Vous pouvez dès à présent réserver votre chauffeur privé en 3 clics !</p>
  </div>

  <hr/>
    <div class="text-center">
      <a href="#new-fare-widget-wrapper">
        <button class=" button success  buttonToTop">
          <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
          <div class="FontButtonToTop">Retour au formulaire de réservation</div>
        </button>
      </a>
    </div>

  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class='twitter-timeline' href='https://twitter.com/AlloCab_Paris' data-widget-id='498748598809419776'>Tweets de @AlloCab_Paris</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
