<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Rennes, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">
      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/1n-R7KyPlsiALzCEIdsIkSU119CtHey-C9lCO0MNOCFkGFG6i5k7tQp-Fv895bkpPQ3NIhmL9ABd3dhWBEr8sw=s650" alt="chauffeur VTC à Rennes" title="Déplacez-vous en chauffeur privé à Rennes">
                        <figcaption class="figcptn">Vos déplacements à Rennes à partir de 9 € en départ immédiat</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh4.ggpht.com/C-b1ENYfV5UHcad4q369iG49mE3dOWR9E6q_PSo33X8uSxj4XPqtGEnM6aVYM4ILZZz40EYdRbnPkGxqFvPx=s650" alt="Trajets aéroport en VTC" title="Votre voiture avec chauffeur pour aller à l'aéroport de Rennes">
                        <figcaption class="figcptn">Vos transferts vers l'aéroport de Rennes dès 19 € en berline classe eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/8pcl-FMszRl_jC4Y4RKmL1prWX8U-EsJNGTWAwNdi0gzPT4r-odjIliTtptx5VnRqkbDJGzdDq3y2lNEgiAeZ8E=s650" alt="chauffeur privé pour la gare" title="Voyagez en chauffeur privé pour rejoindre la gare de Rennes">
                        <figcaption class="figcptn">Vos trajets gare en voiture avec chauffeur à partir de 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Vos trajets en VTC à Rennes !</h2>
      <p>Votre chauffeur privé assure vos trajets dans la ville de <strong>Rennes</strong> à partir de <strong>9 €</strong> en <strong>départ immédiat</strong> et <strong>19 €</strong> en cas de <strong>réservation à l"avance.</strong></p>
      <p>Réservez votre voiture avec chauffeur en quelques minutes et choisissez parmi une <a href="/chauffeur-prive-vtc/gamme-vehicules">large gamme de véhicules</a> : berline ou van.</p>
      <p>Votre chauffeur privé vous offre un service de transport <strong>haut de gamme</strong>, allant <a href="/chauffeur-prive-vtc/difference-taxi">bien au-delà d'un service de taxi.</a></p>
      <p>Vous habitez à Rennes ou vous êtes de passage dans la ville ? Pensez à réserver votre véhicule avec chauffeur pour vous déplacer autrement.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/dgcHqILdplgvBV570gP76gNtxbkbaZZEudRT1F5nOwJDziBTzkfr35TSRwiCQhEaNV2QL1wMnbRW3uK3qp_zPw=s600" alt="Chauffeur AlloCab Rennes" title="Tous vos déplacements à Rennes en chauffeur privé"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh4.ggpht.com/C-b1ENYfV5UHcad4q369iG49mE3dOWR9E6q_PSo33X8uSxj4XPqtGEnM6aVYM4ILZZz40EYdRbnPkGxqFvPx=s650" alt="Vos trajets aéroport en chauffeur VTC" title="Votre chauffeur vous amène à l'aéroport de Rennes "/>
    </div>
    <div class="six columns">
      <h2>Vos courses aéroport en chauffeur privé</h2>
      <p>Vous arrivez directement de <strong>l'aéroport de Rennes</strong> ou vous souhaitez <strong>aller prendre un avion ? Votre chauffeur VTC vous</strong> conduit dès <strong>19 €</strong> en berline Classe Eco.</p>
      <p><strong>Dès l'atterrissage de votre avion,</strong> votre chauffeur VTC vous accueille aux <strong>arrivées de l'aéroport</strong> avec une <strong>pancarte à votre nom</strong> et porte vos bagages et sacs.</p>
      <p>Vous ne connaissez pas encore Rennes ? Laissez votre chauffeur <strong>vous guider</strong> et vous faire découvrir les plus <strong>beaux monuments</strong> de Rennes.</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Vos déplacements vers et depuis la gare en chauffeur VTC</h2>
      <p>Vous avez un <strong>train à prendre</strong> ou vous arrivez par la <strong>gare de Rennes</strong> ? Réservez un chauffeur Allocab à <strong>partir de 19 €.</strong></p>
      <p>Si vous <strong>arrivez à la gare,</strong> votre taxi privé vous attend <strong>en tête de quai</strong> avec une <strong>pancarte de bienvenue à votre nom</strong> et vous conduit où vous le souhaitez.</p>
      <p>Vous souhaitez un <strong>transport de qualité</strong> pour tous vos déplacements vers et depuis la <strong>gare de Rennes ?</strong> N'attendez plus pour réserver un chauffeur privé.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/gNnlp1jG64tjrgJkintLKpXLOmCHjyujRSri198RGpw_ZB5-j6CK2jDzzBh1hXYUhFU1ihmkuWxJFdvc05g1zA=s600" alt="Rejoignez la gare de Rennes en chauffeur privé" title="Votre chauffeur AlloCab vous accompagne à la gare de Rennes "/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/CRni5Hz67ag2MoER8x9eUFoB5LMcK5qpd_421rqF77tPAJ9mA0eBoMs4h3lNqj7NEl0PyemA4qEUEjYh6rQ4TJM=s600" alt="voiture avec chauffeur dès 9€" title="Déplacez-vous autrement avec votre voiture avec chauffeur à Rennes"/>
    </div>
    <div class="six columns">
      <h2>Votre taxi privé vous conduit à Rennes dès 9 €</h2>
      <p>Vous souhaitez vous déplacer <a href="/chauffeur-prive-vtc/difference-taxi">autrement qu'en taxi ?</a> Votre chauffeur Allocab vous conduit dans Rennes et effectue tous vos trajets à <strong>partir de 9 €</strong> pour un <strong>départ immédiat.</strong></p>
      <p>Votre trajet - <strong>Rue Saint Martin - Allée de Maurepas</strong> est à partir de <strong>19 €</strong> en Mercedes Classe C ou équivalent.</p>
    </div>

  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>
  <hr/>

  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class="twitter-timeline" href="https://twitter.com/AlloCab_Rennes" data-widget-id="498765145393213440">Tweets de @AlloCab_Rennes</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
