<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}
.cms .FontButtonToTop{
  font-size:1.2em;
}
.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Toulon, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">

      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/No0UCqOxy0qHNbAf9BJCdubGYEo-D-AhbIQDwBpZWsaRuOEbZ8TWcD7dZVvhZlGz5CimytIcIy9eFOHEdagP=s800" alt="Votre chauffeur VTC à Toulon" title="Votre chauffeur privé est désormais à Toulon">
                        <figcaption class="figcptn">Votre chauffeur privé à Toulon pour des trajets en départ immédiat dès 9 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/NFNSPnJVHyEgRpZ2EI0lHQdJHLVjGEx9zwTwHKByPOAtVt4BKuqDYVukSh7uPnzA4PiVF7bbjC2cE6yOIN3X=s800" alt="Votre chauffeur VTC vous conduit à l'aéroport de Toulon" title="Rejoignez l'aéroport de Toulon en voiture avec chauffeur">
                        <figcaption class="figcptn">Votre trajet aéroport de Toulon à partir de 45 € en berline classe eco</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh6.ggpht.com/yRLPHW-vYqI5GKt-x9IsZ1ZIkOHDS8da9zstLPru-OqDBoWuHhEDzP1afob8b-jOFc06vXKoTUZyUmhUc5Z5ZQ=s800" alt="Votre chauffeur privé vous conduit à la gare" title="Vos trajets gare à Toulon avec AlloCab">
                        <figcaption class="figcptn">Rejoignez la gare de Toulon dès 19 € en classe eco </figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur privé à Toulon !</h2>
      <p>Déplacez-vous dans Toulon à bord d'un <strong>véhicule grand confort dès 9 €</strong> pour un départ immédiat. Réservez votre chauffeur privé en berline ou en van en quelques clics.</p>
      <p>Allocab vous accompagne dans vos <strong>trajets aéroports</strong> à Toulon <strong>dès 45 €</strong>.</p>
      <p><a href='/chauffeur-prive-vtc/difference-taxi'>Vous souhaitez un transport différent d'un simple taxi ?</a> Essayez nos services de chauffeur privé et profitez <strong>d'avantages supplémentaires</strong> : bouteille d'eau, wifi, chargeur de téléphone à bord de votre véhicule.</p>
      <p>Que vous soyez <a href='/voyage-affaires-entreprise'>en voyage d'affaires</a>, vacancier ou habitant de Toulon, vous saurez apprécier la ville de Toulon pour son patrimoine culturel et ses monuments.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/rx74uyamG5sizZJwKJ5tUWaUw6AUg14B6x7Y2YDfkW-qgXUlF2NAt3-Yp1yTmn-1ED4JEaqnUkPdGvbXOsiXpg=s600" alt="" title="Déplacez-vous en chauffeur privé dans Toulon "/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh4.ggpht.com/-YGIkeb41W7TEqXX7859l8lF-3LjUcFnIqHdMj2HiF2-VKkU_TO-skLkGerdyma8ywUXi2xkyfimp9jzg_Pv=s600" alt="" title="Votre chauffeur VTC vous conduit en centre ville"/>
    </div>
    <div class="six columns">
      <h2>Votre VTC pour vos trajets vers et depuis l'aéroport</h2>
      <p>Vous avez un avion à prendre ou vous souhaitez rejoindre la ville depuis l'aéroport de Toulon Hyères ? Votre trajet <strong>centre de Toulon - aéroport de Toulon</strong> est à partir de <strong>45 € en Classe Economique.</strong></p>
      <p><strong>Vous arrivez à l'aéroport ?</strong> Votre chauffeur privé vous prépare un <strong>accueil très personnalisé</strong>. Il vous attend muni d'une pancarte de bienvenue à votre nom et s'assure de votre confort.</p>
      <p>N'attendez plus pour réserver un véhicule avec chauffeur pour partir en vacances ou pour vous amener régulièrement à votre travail depuis l'aéroport Toulon Hyères.</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur privé assure vos transfert gare</h2>
      <p>Si vous allez <strong>prendre un train</strong> ou vous arrivez directement de la <strong>gare de Toulon</strong> ? Votre chauffeur VTC vous conduit en véhicule type Peugeot 508 dès <strong>19 €</strong> si vous réservez à l'avance.</p>
      <p>Votre voiture de transport avec chauffeur vous attend à la gare de Toulon <strong>en tête de quai</strong> avec une <strong>pancarte de bienvenue à votre nom</strong> et vous accompagne où vous le souhaitez.</p>
      <p>Si vous êtes en <strong>voyage touristique</strong>, votre chauffeur peut aussi <strong>vous conseiller</strong> les meilleurs endroits à visiter et les meilleurs restaurants toulonnais.</p>
    </div>
    <div class="six columns">
      <img src="http://lh6.ggpht.com/hxTUykDqF3vbhQuOHlgNU52bqAOIVVl95nVBIWJDruKH9H5IsKgLUXi54FMHPnp5CY4ZSxE3DJiQHZjlJVhg=s600" alt="" title="Votre chauffeur VTC à la gare de Toulon"/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh4.ggpht.com/cgJnvU0otCIyZkGLyk5hDW4veRbsdbDRvT7R2JaTYp0PjGix5PrT4KAzdtpfQiuVE2J_WqBM9hThUTBUTLb4mA=s600" alt="" title=""/>
    </div>
    <div class="six columns">
      <h2>Déplacez-vous à Toulon en chauffeur VTC</h2>
      <p>Vous souhaitez vous déplacer dans Toulon en transport <strong>haut de gamme</strong> adapté à vos besoins ? N'attendez plus pour réserver un trajet court dès 9 €.</p>
      <p>Par exemple, votre trajet <strong>rue Augustin Thierry - Eglise saint François de Paule</strong> est à partir de 9 € en <strong>départ immédiat</strong>.</p>
    </div>
  </div>

  <hr/>
    <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>
  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class='twitter-timeline' href='https://twitter.com/AlloCab_Toulon' data-widget-id='498759694895157248'>Tweets de @AlloCab_Toulon</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
