<style>

.cms .slideMarginTop{
  margin-top:0;
}

.cms .maxHeightReservation{
  max-height:34em;
}

.cms .slideshow{
  max-height:28em;
}

.cms .paddingTop0{
  padding-top:0em;
}

.cms .titleSlider{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:0;

}
.cms .titleSlider2{
  padding-left:0.5em;
  padding-right:0.5em;
  margin-top:0;
}

.cms .titleSlider3{
  padding-left:1.5em;
  padding-right:1.5em;
  margin-top:0;
}

.cms .orbit div.orbit-slide {
  max-height:90%;
}

.cms .titleReseauSociaux{
  margin-bottom:1em;
}


.cms figure {
    position: relative;
    margin: 0 auto; /* to center it */
    padding: 0 0 0 0;
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.cms figure .divInsideFigure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0;
}

.cms figure .figcptn {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.6); /* transparent background */
    color: #fff;
    color:white;
padding-top: 2em;
padding-bottom: 2em;
padding-left: 1.5em;
padding-right: 1.5em;
font-size:1.5em;
}

.cms .buttonToTop{
  background-color:#43AC6A;
  border-color:#368A54;
  padding-top:0.5em;
  padding-bottom: 1em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  font-weight: 400;
  line-height: normal;
  border:none;
}

.cms .FontButtonToTop{
  font-size:1.2em;
}

.cms .buttonToTop:hover{
background-color:#358753;
}
.cms .iconeChevronPadd{
margin-bottom:0.4em;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="twelve columns cms">
  <div class="row">
    <div class="twelve columns">
      <h1 class="text-center">Bonjour Toulouse, votre chauffeur privé est déjà là !</h1>
    </div>
  </div>
  <hr style="background:none repeat scroll 0% 0% transparent;"/>

  <div class="row">
    <div class="maxHeightReservation four columns">
      [WGT]new-fare|DIRECTION|berline|500[/WGT]
    </div>
    <div class="eight columns paddingTop0">


      <div id="slideshow" class=" slideshow slideMarginTop">
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/Q5Q2_5kEVZkwRreq9YkO7kfDVrSZ9jPX9bZmXyukzKnZvIDAJkI5zvPkpgjlflOF-XoYEVJYOGOwIlEthfjVV3k=s650" alt="Chauffeur privé Toulouse" title="Votre voiture avec chauffeur à Toulouse dès 9 € en départ immédiat">
                        <figcaption class="figcptn">Votre voiture avec chauffeur à Toulouse dès 9 € en départ immédiat</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>

                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh5.ggpht.com/O4xWkyQ-kpvbHJmdw-3FJqqHeL6eZihn6OVKFdQWAGl6pk_4agGKgTOrMAzbjzP5TYX2V40pAllTD1qqJZA3SA=s650" alt="Trajet aéroport Toulouse VTC" title="Vos déplacements en chauffeur privé pour l'aéroport de Toulouse dès 19 €">
                        <figcaption class="figcptn">Vos déplacements en chauffeur privé pour l'aéroport de Toulouse dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
                <div style='background:#ffffff'>
                  <center>
                    <figure >
                      <div class="divInsideFigure">
                        <img src="http://lh3.ggpht.com/uOKn_NbXtnfvP1xnFOah7fK8aUNfLMWlFD7u5XW-yiDFkgmV2wJLTnB-G1Bd2uNWhqUkRA9r_xWIw0AALTFxOg=s650" alt="Vos trajets gare en chauffeur privé" title="Un chauffeur privé pour rejoindre la gare dès 19 €">
                        <figcaption class="figcptn">Un chauffeur privé pour rejoindre la gare dès 19 €</figcaption>
                      </div>
                    </figure>
                  </center>
                </div>
      </div>
    </div>
  </div>

  <hr style="margin-top:0em"/>

  <div class="row">
    <div class="six columns">
      <h2>Votre chauffeur privé à Toulouse</h2>
      <p>Réservez un chauffeur VTC pour vous accompagner dans la ville de Toulouse dès <strong>9 €</strong> en <strong>départ immédiat</strong> et <strong>19 €</strong> pour une réservation effectuée <strong>à l'avance.</strong></p>
      <p>Choisissez le véhicule qui vous correspond parmi une <a href='/chauffeur-prive-vtc/gamme-vehicules'>large gamme</a>. Par exemple, si vous vous déplacez seul privilégiez la <strong>berline</strong> qui sera du plus grand confort. Si vous êtes <strong>en groupe</strong> ou en <strong>famille</strong>, nous vous conseillons le <strong>van 7 places.</strong></p>
      <p>Pour vos trajets aéroport Toulouse Blagnac réservez un véhicule avec chauffeur à partir de <strong>19 €</strong> en Classe Eco.</p>
      <p>Vous souhaitez vous <a href='/chauffeur-prive-vtc/difference-taxi'>déplacer autrement qu'en taxi ? </a> Réserver une voiture avec chauffeur en quelques clics.</p>
    </div>
    <div class="six columns">
      <img src="http://lh5.ggpht.com/lkrGlkqPt8mA2FuKUStg6H5GYx_8cQzYjcWTAI-ZQTsN53TLl23CBC3LtHRuPPg_K7LqXIqyN6JSLRinOftWCA=s600" alt="Chauffeur privé ville rose" title="Découvrez la ville de Toulouse en chauffeur privé"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/tkn43MjwSqBsZlTDz5MCt7avBIuwA7DfRq32iZxgsHOIePeo4Dl3m8jYxkq7N3XFwKHOOuZS5wuy3QdWS8dx_w=s600" alt="Chauffeur VTC pour l'aéroport" title="Rejoignez l'aéroport de Toulouse en VTC"/>
    </div>
    <div class="six columns">
      <h2>Votre voiture avec chauffeur vous conduit à l&#39;aéroport de Toulouse</h2>
      <p>Votre chauffeur privé vous conduit et vient vous chercher à l'aéroport de <strong>Toulouse Blagnac</strong> à partir de <strong>19 €</strong> en véhicule type Peugeot 508.</p>
      <p>Vous êtes plutôt branché Première Classe ? Réservez un chauffeur privé pour rejoindre l'aéroport en Mercedes Classe S <strong>dès 29 €.</strong></p>
      <p>A votre arrivée à l'aéroport, votre taxi privé vient vous chercher muni d'une <strong>pancarte de bienvenue à votre nom</strong> et <strong>porte vos bagages</strong> et sacs à mains.</p>
      <p>Il est également <strong>à votre écoute</strong> si vous souhaitez être <strong>conseillé</strong> sur les lieux à visiter, les <strong>coins incontournables</strong> et les meilleurs restaurants de <em>la ville rose</em>.</p>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="six columns">
      <h2>Vos déplacements gare assurés par votre chauffeur VTC</h2>
      <p>Votre chauffeur personnel vous conduit à <strong>la gare de Toulouse Matabiau</strong> à partir de <strong>19 €</strong> en réservation à l'avance.</p>
      <p>Si vous arrivez en train à Toulouse, votre chauffeur privé vous attend <strong>en tête de quai</strong> avec une <strong>pancarte à votre nom</strong> et vérifie avec vous l'itinéraire choisi.</p>
      <p>Votre trajet <strong>Toulouse - Gare de Toulouse Matabiau</strong> est à partir de <strong>19 €</strong> en Classe Eco.</p>
      <p>N'attendez plus pour réserver votre chauffeur privé !</p>
    </div>
    <div class="six columns">
      <img src="http://lh3.ggpht.com/4KBJhiTQj5_KjxTfemSCfUrc4QqxvKa5XbBkQfToFVmng4LYAbWOzAKyzo9NyffXHZG8WVElLImoMxANWAU0WA=s600" alt="un chauffeur VTC pour la gare" title="Votre chauffeur privé pour rejoindre la gare de Toulouse"/>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="six columns">
      <img src="http://lh3.ggpht.com/NlEYemEj-kIMD5g1Fxs55nK-iJ9NjNa-ncjqiBtL0sMbRHoILrt_0KLXMOakOs_EjXF-v7uAVIsjVTU4zu1ORQ=s600" alt="Tous vos trajets à Toulouse en chauffeur VTC" title="Déplacez-vous en voiture avec chauffeur dès 9 €"/>
    </div>
    <div class="six columns">
      <h2>Vos déplacements courts en chauffeur privé à Toulouse</h2>
      <p>Vous souhaitez vous déplacer dans Toulouse en chauffeur privé ? Réservez sans attendre un chauffeur Allocab <strong>dès 9 €</strong> pour tous vos trajets dans la ville.</p>
      <p>Par exemple, votre trajet <strong>Rue Jonas - Rue de Fenouillet</strong> est à partir de <strong>19 €</strong> en <strong>Classe Economique</strong> si vous réservez à l'avance.</p>
      <p>Que vous soyez vacancier ou <strong>Toulousain</strong>, profitez de chauffeur VTC pour vous déplacer dans des <strong>véhicules tout confort</strong> à Toulouse.</p>
    </div>
  </div>
  <hr/>
  <div class="text-center">
    <a href="#new-fare-widget-wrapper">
      <button class=" button success  buttonToTop">
        <div class="iconeChevronPadd"><i class="fa fa-chevron-up fa-2x"></i></div>
        <div class="FontButtonToTop">Retour au formulaire de réservation</div>
      </button>
    </a>
  </div>
  <hr/>
  <div class="row ">
    <div class="twelve columns">
      <div class="">
        <h2 class="titleReseauSociaux">Rejoignez la communauté Allocab sur les réseaux sociaux !</h2>
      </div>
      <div class="row">
        <div class="five columns">
          <a class='twitter-timeline' href='https://twitter.com/AlloCab_TLS' data-widget-id='498806654943518721'>Tweets de @AlloCab_TLS</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
        </div>
        <div class="five columns offset-by-two">
          <div class="fb-like-box" data-href="www.facebook.com/allocab" data-colorscheme="light" data-show-faces="true" data-width="375" data-header="true" data-stream="true" data-show-border="true"></div>
        </div>
      </div>
    </div>
  </div>

</div>
